Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra

update docs
  docs/api/browser-window.md
  docs/api/web-contents.md
Owners: none

Add optional `outputSize` to `opts` of `contents.capturePage()`
  docs/api/browser-window.md
  docs/api/web-contents.md
  shell/browser/api/electron_api_web_contents.cc
Owners: none

docs + test
  docs/api/browser-window.md
  docs/api/web-contents.md
  spec/api-browser-view-spec.ts
  spec/api-browser-window-spec.ts
Owners: none

restore an empty line
  shell/browser/api/electron_api_web_contents.cc
Owners: none

addressing the feedback: more tests and doc
  docs/api/browser-window.md
  spec/api-browser-view-spec.ts
  spec/api-browser-window-spec.ts
Owners: none

feedback for tests
  spec/api-browser-view-spec.ts
  spec/api-browser-window-spec.ts
Owners: none

update after feedback
  docs/api/browser-window.md
  docs/api/web-contents.md
Owners: none

remove copy-paste
  docs/api/browser-window.md
Owners: none

update...
  docs/api/browser-window.md
Owners: none

ci: reapply patches if PR base branch updates them (#49516)
  .github/workflows/build.yml
  .github/workflows/rerun-apply-patches.yml
Owners: @electron/wg-infra

fix: run toast creation on background thread (#49106)
  shell/browser/notifications/notification.cc
  shell/browser/notifications/notification.h
  shell/browser/notifications/win/windows_toast_notification.cc
  shell/browser/notifications/win/windows_toast_notification.h
Owners: none

refactor: simplify BaseWindow parent<->child association code
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  shell/browser/api/electron_api_browser_window.cc
Owners: none

docs: mark `noDeprecation` as optional instead
  docs/api/process.md
Owners: none

fix(patch-conflict): update mas_avoid_private_macos_api_usage context for constrainFrameRect method
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
Owners: @electron/patch-owners

fix(patch-conflict): update printing.patch for base::DictValue rename
  patches/chromium/printing.patch
Owners: @electron/patch-owners

fix(patch-conflict): update accessibility_ui patch for base::DictValue/ListValue rename
  patches/chromium/adjust_accessibility_ui_for_electron.patch
Owners: @electron/patch-owners

6625736: Rename DURABLE_STORAGE to PERSISTENT_STORAGE for consistency | https://chromium-review.googlesource.com/c/chromium/src/+/6625736
  shell/browser/special_storage_policy.cc
  shell/browser/special_storage_policy.h
  shell/common/gin_converters/content_converter.cc
Owners: none

chore: update patches
  patches/chromium/add_didinstallconditionalfeatures.patch
  patches/chromium/add_ui_scopedcliboardwriter_writeunsaferawdata.patch
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_expose_isolate_parameter_in_script_lifecycle_observers.patch
  patches/chromium/chore_partial_revert_of.patch
  patches/chromium/chore_patch_out_profile_methods.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/disable_hidden.patch
  patches/chromium/expose_setuseragent_on_networkcontext.patch
  patches/chromium/extend_apply_webpreferences.patch
  patches/chromium/feat_allow_embedders_to_add_observers_on_created_hunspell.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_expose_raw_response_headers_from_urlloader.patch
  patches/chromium/feat_separate_content_settings_callback_for_sync_and_async_clipboard.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/fix_os_crypt_async_cookie_encryption.patch
  patches/chromium/fix_properly_honor_printing_page_ranges.patch
  patches/chromium/fix_restore_original_resize_performance_on_macos.patch
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/gritsettings_resource_ids.patch
  patches/chromium/network_service_allow_remote_certificate_verification_logic.patch
  patches/chromium/notification_provenance.patch
  patches/chromium/osr_shared_texture_remove_keyed_mutex_on_win_dxgi.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/refactor_expose_file_system_access_blocklist.patch
  patches/chromium/refactor_patch_electron_permissiontypes_into_blink.patch
  patches/chromium/refactor_unfilter_unresponsive_events.patch
  patches/chromium/revert_partial_remove_unused_prehandlemouseevent.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/scroll_bounce_flag.patch
  patches/chromium/support_mixed_sandbox_with_zygote.patch
  patches/chromium/web_contents.patch
  patches/chromium/webview_fullscreen.patch
  patches/devtools_frontend/chore_expose_ui_to_allow_electron_to_set_dock_side.patch
Owners: @electron/patch-owners

test: fix flaky BrowserWindow test
  spec/api-browser-view-spec.ts
Owners: none

fix: improved as per review
  spec/api-browser-view-spec.ts
Owners: none

test: fix flaky BrowserWindow test
  spec/api-browser-window-spec.ts
Owners: none

fix: menu bar hiding on two setFullScreen(false)
  shell/browser/native_window_views.cc
Owners: none

test: add failing test for `setFullscreen(false)`
  spec/api-browser-window-spec.ts
Owners: none

fix: normalize utilityProcess exit code to uint32 on Windows
  shell/browser/api/electron_api_utility_process.cc
Owners: none

docs: correct type for `process.noDeprecation` (#49524)
  docs/api/process.md
Owners: none

test: update/fix Node.js disabled specs (#49467)
  patches/node/fix_crypto_tests_to_run_with_bssl.patch
  script/node-disabled-tests.json
Owners: @electron/patch-owners

fix: chrome://accessibility drift
  shell/browser/ui/webui/accessibility_ui.cc
  shell/browser/ui/webui/accessibility_ui.h
Owners: none

fix: use Downloads folder as default path for file dialogs
  docs/api/dialog.md
  shell/browser/ui/file_dialog_linux.cc
  shell/browser/ui/file_dialog_mac.mm
  shell/browser/ui/file_dialog_win.cc
Owners: none

refactor: simplify GetDefaultPath implementation
  shell/browser/ui/file_dialog_linux.cc
  shell/browser/ui/file_dialog_mac.mm
  shell/browser/ui/file_dialog_win.cc
Owners: none

fix: potential dangling pointer in api::Screen
  shell/browser/api/electron_api_screen.cc
  shell/browser/api/electron_api_screen.h
Owners: none

fixup after rebase
  shell/browser/api/electron_api_web_contents.cc
Owners: none

chore: update patches
  patches/chromium/add_electron_deps_to_license_credits_file.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/expose_setuseragent_on_networkcontext.patch
  patches/chromium/feat_allow_usage_of_sccontentsharingpicker_on_supported_platforms.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_enable_offscreen_rendering_with_viz_compositor.patch
  patches/chromium/feat_filter_out_non-shareable_windows_in_the_current_application_in.patch
  patches/chromium/feat_separate_content_settings_callback_for_sync_and_async_clipboard.patch
  patches/chromium/fix_adjust_headless_mode_handling_in_native_widget.patch
  patches/chromium/fix_os_crypt_async_cookie_encryption.patch
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
  patches/chromium/gritsettings_resource_ids.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/network_service_allow_remote_certificate_verification_logic.patch
  patches/chromium/refactor_patch_electron_permissiontypes_into_blink.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/scroll_bounce_flag.patch
Owners: @electron/patch-owners

Fix for user resizable transparent windows on win32
  shell/browser/native_window_views.cc
Owners: none

feat: native auto updater for MSIX on Windows
  filenames.gni
  lib/browser/api/auto-updater.ts
  lib/browser/api/auto-updater/auto-updater-msix.ts
  lib/browser/api/auto-updater/msix-update-win.ts
  shell/browser/api/electron_api_msix_updater.cc
  shell/browser/api/electron_api_msix_updater.h
  shell/common/node_bindings.cc
Owners: none

doc: added MSIX debug documentation
  docs/api/environment-variables.md
Owners: none

fix: allow downgrade with json release file and emit update-available
  lib/browser/api/auto-updater/auto-updater-msix.ts
Owners: none

test: msix auot-update tests
  filenames.auto.gni
  spec/api-autoupdater-msix-spec.ts
  spec/fixtures/api/autoupdater/msix/ElectronDevAppxManifest.xml
  spec/fixtures/api/autoupdater/msix/HelloMSIX_V1.msix
  spec/fixtures/api/autoupdater/msix/HelloMSIX_V2.msix
  spec/fixtures/api/autoupdater/msix/main.js
  spec/lib/msix-helpers.ts
Owners: none

doc: API documentation
  docs/api/auto-updater.md
Owners: none

test: add package version validation
  spec/api-autoupdater-msix-spec.ts
  spec/lib/msix-helpers.ts
Owners: none

fix: docs typo
  docs/api/auto-updater.md
Owners: none
