Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra

fix: visual artifacts while resizing on Windows (#49138)
  patches/chromium/.patches
  patches/chromium/viz_create_isbufferqueuesupportedandenabled.patch
  patches/chromium/viz_do_not_overallocate_surface_on_initial_render.patch
  patches/chromium/viz_fix_visual_artifacts_while_resizing_window_with_dcomp.patch
Owners: @electron/patch-owners

fix(patch-conflict): update code cache patch for PersistentCache refactor
  patches/chromium/feat_allow_code_cache_in_custom_schemes.patch
Owners: @electron/patch-owners

fix(patch-conflict): update dialog patch for RequestXdgDesktopPortal API
  patches/chromium/feat_add_support_for_missing_dialog_features_to_shell_dialogs.patch
Owners: @electron/patch-owners

fix(patch-conflict): remove reference to deleted AbortByPlaceholderLayout flag
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
Owners: @electron/patch-owners

fix(build): guard media_file_system_registry for ChromeOS only
  shell/browser/browser_process_impl.cc
  shell/browser/browser_process_impl.h
Owners: none

fix(build): update VideoPixelFormat API for SharedImageFormat
  shell/common/api/electron_api_shared_texture.cc
Owners: none

fix(build): extend profile methods patch for ShouldEnableXfaForms
  patches/chromium/.patches
  patches/chromium/chore_patch_out_profile_methods.patch
  patches/chromium/fix_linux_tray_id.patch
Owners: @electron/patch-owners

chore: remove patch that hasn't been backported
  patches/chromium/.patches
Owners: @electron/patch-owners

build: use WSL on Window for faster builds
  .github/workflows/pipeline-segment-electron-build.yml
Owners: @electron/wg-infra

see if we can install wsl with powershell
  .github/workflows/pipeline-segment-electron-build.yml
Owners: @electron/wg-infra

fixup
  .github/workflows/pipeline-segment-electron-build.yml
Owners: @electron/wg-infra

use wsl list verbose
  .github/workflows/pipeline-segment-electron-build.yml
Owners: @electron/wg-infra

Update introduction.md
  docs/tutorial/introduction.md
Owners: none

ci: log mocha retries in spec runner
  spec/index.js
Owners: none

fix(patch-update): include v8-cppgc.h for CppHeap complete type
  patches/node/refactor_attach_cppgc_heap_on_v8_isolate_creation.patch
Owners: @electron/patch-owners

chore: update patch hunk headers
  patches/node/api_remove_deprecated_getisolate.patch
Owners: @electron/patch-owners

fix(patch-conflict): update content_main_delegate.h context for IsInitFeatureListEarly
  patches/chromium/create_browser_v8_snapshot_file_name_fuse.patch
Owners: @electron/patch-owners

fix(build): move NativeAppWindowFrameViewMacClient before constructor
  shell/browser/native_window_mac.mm
Owners: none

chore: update patch hunk headers
  patches/chromium/blink_local_frame.patch
  patches/chromium/build_disable_thin_lto_mac.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_grandfather_in_electron_views_and_delegates.patch
  patches/chromium/expose_setuseragent_on_networkcontext.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_enable_offscreen_rendering_with_viz_compositor.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/load_v8_snapshot_in_browser_process.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/network_service_allow_remote_certificate_verification_logic.patch
  patches/chromium/notification_provenance.patch
  patches/chromium/revert_code_health_clean_up_stale_macwebcontentsocclusion.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/support_mixed_sandbox_with_zygote.patch
  patches/chromium/webview_fullscreen.patch
  patches/chromium/worker_context_will_destroy.patch
  patches/chromium/worker_feat_add_hook_to_notify_script_ready.patch
Owners: @electron/patch-owners

fix(patch-conflict): update create_browser_v8_snapshot_file_name_fuse context for IsInitFeatureListEarly
  patches/chromium/create_browser_v8_snapshot_file_name_fuse.patch
Owners: @electron/patch-owners

chore: update patch hunk headers
  patches/chromium/add_didinstallconditionalfeatures.patch
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/blink_local_frame.patch
  patches/chromium/build_add_electron_tracing_category.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_expose_isolate_parameter_in_script_lifecycle_observers.patch
  patches/chromium/chore_introduce_blocking_api_for_electron.patch
  patches/chromium/chore_patch_out_partition_attribute_dcheck_for_webviews.patch
  patches/chromium/extend_apply_webpreferences.patch
  patches/chromium/feat_add_support_for_embedder_snapshot_validation.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/fix_adjust_headless_mode_handling_in_native_widget.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_move_autopipsettingshelper_behind_branding_buildflag.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
  patches/chromium/fix_select_the_first_menu_item_when_opened_via_keyboard.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/gin_enable_disable_v8_platform.patch
  patches/chromium/load_v8_snapshot_in_browser_process.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/notification_provenance.patch
  patches/chromium/picture-in-picture.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/scroll_bounce_flag.patch
  patches/chromium/support_mixed_sandbox_with_zygote.patch
  patches/chromium/worker_context_will_destroy.patch
  patches/chromium/worker_feat_add_hook_to_notify_script_ready.patch
Owners: @electron/patch-owners

fix(patch-update): remove reverted IsInitFeatureListEarly from v8 snapshot patch
  patches/chromium/create_browser_v8_snapshot_file_name_fuse.patch
Owners: @electron/patch-owners

6171655: include single_thread_task_runner.h for complete type
  shell/common/gin_converters/osr_converter.cc
Owners: none

7224136: use CHROMIUM_GIT_REVISION directly instead of removed function
  shell/browser/ui/inspectable_web_contents.cc
Owners: none

fixup! 7224136: use CHROMIUM_GIT_REVISION directly instead of removed function
  BUILD.gn
Owners: none

fix(build): add missing include
  patches/chromium/feat_add_support_for_missing_dialog_features_to_shell_dialogs.patch
Owners: @electron/patch-owners

build: upgrade github-app-auth to 3.2.0
  package.json
  yarn.lock
Owners: none

build: use powershell for Electron build step (#49144)
  .github/actions/build-electron/action.yml
Owners: @electron/wg-infra

fix(build): adapt to string-view-ification change in windows jump_list.cc
  shell/browser/ui/win/jump_list.cc
Owners: none

chore: update libc++ filenames
  filenames.libcxx.gni
Owners: none

fixup! fix(build): add missing include
  patches/chromium/feat_add_support_for_missing_dialog_features_to_shell_dialogs.patch
Owners: @electron/patch-owners

fixup! fix(build): extend profile methods patch for ShouldEnableXfaForms
  patches/chromium/.patches
  patches/chromium/fix_linux_tray_id.patch
Owners: @electron/patch-owners

fixup! fix(build): guard media_file_system_registry for ChromeOS only
  shell/browser/browser_process_impl.cc
  shell/browser/browser_process_impl.h
Owners: none

build: upgrade github-app-auth to 3.2.0 (#49152)
  package.json
  yarn.lock
Owners: none

build: use @electron-ci/dev-root for package.json default
  package.json
  script/release/bin/publish-to-npm.ts
  yarn.lock
Owners: @electron/wg-releases

build: upgrade github-app-auth to 3.2.0 (#49152)
  package.json
  yarn.lock
Owners: none

build: upgrade github-app-auth to 3.2.0 (#49152)
  package.json
  yarn.lock
Owners: none

install ubuntu on WSL
  .github/workflows/pipeline-segment-electron-build.yml
Owners: @electron/wg-infra

fixup! fixup! fix(build): extend profile methods patch for ShouldEnableXfaForms
  patches/chromium/fix_linux_tray_id.patch
Owners: @electron/patch-owners

fixup install ubuntu
  .github/workflows/pipeline-segment-electron-build.yml
Owners: @electron/wg-infra
