Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

chore: update patch indices
  patches/v8/cherry-pick-4cf9311810b0.patch
Owners: @electron/patch-owners

chore: update patches
  patches/v8/cherry-pick-4cf9311810b0.patch
Owners: @electron/patch-owners

refactor: use `std::map::extract()` in `api::WebRequest` (#48929)
  shell/browser/api/electron_api_web_request.cc
Owners: none

refactor: use `std::map::extract()` in `api::WebRequest` (#48929)
  shell/browser/api/electron_api_web_request.cc
Owners: none

fix: crash on windows when UTF-8 is in path (#48944)
  patches/node/.patches
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/fix_ensure_traverseparent_bails_on_resource_path_exit.patch
  patches/node/fix_expose_readfilesync_override_for_modules.patch
  patches/node/src_use_cp_utf8_for_wide_file_names_on_win32.patch
Owners: @electron/patch-owners

fix: crash on windows when UTF-8 is in path (#48947)
  patches/node/.patches
  patches/node/fix_ensure_traverseparent_bails_on_resource_path_exit.patch
  patches/node/fix_expose_readfilesync_override_for_modules.patch
  patches/node/src_use_cp_utf8_for_wide_file_names_on_win32.patch
Owners: @electron/patch-owners

chore: cherry-pick 4cf9311 from v8 (#48951)
  patches/v8/.patches
  patches/v8/preserve_field_repr_in_property_array_extension.patch
Owners: @electron/patch-owners

chore: cherry-pick 4cf9311810b0 from v8 (#48950)
  patches/v8/.patches
  patches/v8/cherry-pick-4cf9311810b0.patch
Owners: @electron/patch-owners

chore: cherry-pick 4cf9311 from v8 (#48948)
  patches/v8/.patches
  patches/v8/preserve_field_repr_in_property_array_extension.patch
Owners: @electron/patch-owners

chore: cherry-pick 4cf9311810b0 from v8 (#48949)
  patches/v8/.patches
  patches/v8/cherry-pick-4cf9311810b0.patch
Owners: @electron/patch-owners

build: correct uploader copy for tar files
  script/lib/config.py
  script/release/uploaders/upload.py
Owners: @electron/wg-releases

build: correct uploader copy for tar files (#48953)
  script/lib/config.py
  script/release/uploaders/upload.py
Owners: @electron/wg-releases

build: correct uploader copy for tar files (#48953)
  script/lib/config.py
  script/release/uploaders/upload.py
Owners: @electron/wg-releases

fix: osr use correct screen info.
  docs/api/structures/web-preferences.md
  docs/breaking-changes.md
  patches/chromium/.patches
  patches/chromium/patch_osr_control_screen_info.patch
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/osr/osr_render_widget_host_view.cc
  shell/browser/osr/osr_render_widget_host_view.h
  shell/browser/osr/osr_web_contents_view.cc
  shell/browser/osr/osr_web_contents_view.h
  shell/common/options_switches.h
  spec/api-browser-window-spec.ts
Owners: @electron/wg-releases, @electron/patch-owners

build: limit workflow gh token permissions
  .github/workflows/archaeologist-dig.yml
  .github/workflows/build-git-cache.yml
  .github/workflows/build.yml
  .github/workflows/clean-src-cache.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/issue-opened.yml
  .github/workflows/issue-transferred.yml
  .github/workflows/issue-unlabeled.yml
  .github/workflows/linux-publish.yml
  .github/workflows/macos-publish.yml
  .github/workflows/pipeline-electron-build-and-test-and-nan.yml
  .github/workflows/pipeline-electron-build-and-test.yml
  .github/workflows/pipeline-electron-docs-only.yml
  .github/workflows/pipeline-electron-lint.yml
  .github/workflows/pipeline-segment-electron-build.yml
  .github/workflows/pipeline-segment-electron-gn-check.yml
  .github/workflows/pipeline-segment-electron-test.yml
  .github/workflows/pipeline-segment-node-nan-test.yml
  .github/workflows/pull-request-labeled.yml
  .github/workflows/semantic.yml
  .github/workflows/stable-prep-items.yml
  .github/workflows/stale.yml
  .github/workflows/windows-publish.yml
Owners: @electron/wg-infra

feedback
  .github/workflows/issue-opened.yml
  .github/workflows/issue-transferred.yml
Owners: none

src: conditionally disable source phase imports by default
  patches/node/.patches
  patches/node/feat_disable_js_source_phase_imports_by_default.patch
Owners: @electron/patch-owners

src: update locks to use DictionaryTemplate and other minor cleanups
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/src_use_cp_utf8_for_wide_file_names_on_win32.patch
Owners: @electron/patch-owners

chore: update patches
  patches/node/api_delete_deprecated_fields_on_v8_isolate.patch
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/build_add_gn_build_files.patch
  patches/node/build_enable_perfetto.patch
  patches/node/build_ensure_native_module_compilation_fails_if_not_using_a_new.patch
  patches/node/build_restore_clang_as_default_compiler_on_macos.patch
  patches/node/chore_allow_the_node_entrypoint_to_be_a_builtin_module.patch
  patches/node/chore_disable_deprecation_ftbfs_in_simdjson_header.patch
  patches/node/chore_expose_importmoduledynamically_and.patch
  patches/node/fix_add_default_values_for_variables_in_common_gypi.patch
  patches/node/fix_allow_disabling_fetch_in_renderer_and_worker_processes.patch
  patches/node/fix_cppgc_initializing_twice.patch
  patches/node/fix_crypto_tests_to_run_with_bssl.patch
  patches/node/fix_do_not_resolve_electron_entrypoints.patch
  patches/node/fix_expose_readfilesync_override_for_modules.patch
  patches/node/fix_expose_the_built-in_electron_module_via_the_esm_loader.patch
  patches/node/fix_lazyload_fs_in_esm_loaders_to_apply_asar_patches.patch
  patches/node/fix_remove_deprecated_errno_constants.patch
  patches/node/pass_all_globals_through_require.patch
  patches/node/refactor_attach_cppgc_heap_on_v8_isolate_creation.patch
  patches/node/src_use_cp_utf8_for_wide_file_names_on_win32.patch
  patches/node/support_v8_sandboxed_pointers.patch
  patches/node/test_formally_mark_some_tests_as_flaky.patch
Owners: @electron/patch-owners

deps: update simdjson to 4.0.7
  patches/node/chore_disable_deprecation_ftbfs_in_simdjson_header.patch
Owners: @electron/patch-owners

test: move sea tests into test/sea
  script/node-disabled-tests.json
Owners: none

src: add a default branch for module phase
  patches/node/chore_handle_support_for_import_defer_as_ns_and_import_defer.patch
Owners: @electron/patch-owners

fixup deps: update simdjson to 4.0.7a
  patches/node/chore_disable_deprecation_ftbfs_in_simdjson_header.patch
Owners: @electron/patch-owners

build: fix unnecessary patch
  patches/v8/.patches
  patches/v8/preserve_field_repr_in_property_array_extension.patch
Owners: @electron/patch-owners

test: add `view.getBounds|setBounds` tests (#48936)
  spec/api-view-spec.ts
Owners: none

test: add `view.getBounds|setBounds` tests (#48936)
  spec/api-view-spec.ts
Owners: none

src: conditionally disable source phase imports by default
  shell/app/node_main.cc
  shell/common/node_bindings.cc
Owners: none

build: fix unnecessary patch (#48957)
  patches/v8/.patches
  patches/v8/preserve_field_repr_in_property_array_extension.patch
Owners: @electron/patch-owners

module: handle null source from async loader hooks in sync hooks
  patches/node/fix_do_not_resolve_electron_entrypoints.patch
  patches/node/fix_expose_the_built-in_electron_module_via_the_esm_loader.patch
  patches/node/fix_lazyload_fs_in_esm_loaders_to_apply_asar_patches.patch
Owners: @electron/patch-owners

Rename debugging.md to debugging.mda
  docs/development/debugging.mda
Owners: none

feat: validate integrity of ASAR Integrity dictionary on macOS (#48587)
  filenames.gni
  shell/common/asar/archive_mac.mm
  shell/common/asar/integrity_digest.h
  shell/common/asar/integrity_digest.mm
Owners: none

feat: validate integrity of ASAR Integrity dictionary on macOS (#48587)
  filenames.gni
  shell/common/asar/archive_mac.mm
  shell/common/asar/integrity_digest.h
  shell/common/asar/integrity_digest.mm
Owners: none

build: limit workflow gh token permissions (#48237)
  .github/workflows/archaeologist-dig.yml
  .github/workflows/build-git-cache.yml
  .github/workflows/build.yml
  .github/workflows/clean-src-cache.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/issue-opened.yml
  .github/workflows/issue-transferred.yml
  .github/workflows/issue-unlabeled.yml
  .github/workflows/linux-publish.yml
  .github/workflows/macos-publish.yml
  .github/workflows/pipeline-electron-build-and-test-and-nan.yml
  .github/workflows/pipeline-electron-build-and-test.yml
  .github/workflows/pipeline-electron-docs-only.yml
  .github/workflows/pipeline-electron-lint.yml
  .github/workflows/pipeline-segment-electron-build.yml
  .github/workflows/pipeline-segment-electron-gn-check.yml
  .github/workflows/pipeline-segment-electron-test.yml
  .github/workflows/pipeline-segment-node-nan-test.yml
  .github/workflows/pull-request-labeled.yml
  .github/workflows/semantic.yml
  .github/workflows/stable-prep-items.yml
  .github/workflows/stale.yml
  .github/workflows/windows-publish.yml
Owners: @electron/wg-infra

build: limit workflow gh token permissions (#48237)
  .github/workflows/archaeologist-dig.yml
  .github/workflows/build-git-cache.yml
  .github/workflows/build.yml
  .github/workflows/clean-src-cache.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/issue-opened.yml
  .github/workflows/issue-transferred.yml
  .github/workflows/issue-unlabeled.yml
  .github/workflows/linux-publish.yml
  .github/workflows/macos-publish.yml
  .github/workflows/pipeline-electron-build-and-test-and-nan.yml
  .github/workflows/pipeline-electron-build-and-test.yml
  .github/workflows/pipeline-electron-docs-only.yml
  .github/workflows/pipeline-electron-lint.yml
  .github/workflows/pipeline-segment-electron-build.yml
  .github/workflows/pipeline-segment-electron-gn-check.yml
  .github/workflows/pipeline-segment-electron-test.yml
  .github/workflows/pipeline-segment-node-nan-test.yml
  .github/workflows/pull-request-labeled.yml
  .github/workflows/semantic.yml
  .github/workflows/stable-prep-items.yml
  .github/workflows/stale.yml
  .github/workflows/windows-publish.yml
Owners: @electron/wg-infra

chore: remove left over debugging
  spec/api-web-contents-spec.ts
Owners: none

more cleanup
  spec/api-web-contents-spec.ts
Owners: none

Revert "fix: enable wasm trap handlers in all Node.js processes (#48788)"
  shell/browser/electron_browser_main_parts.cc
  shell/common/v8_util.cc
  shell/common/v8_util.h
  shell/renderer/electron_renderer_client.cc
  shell/services/node/node_service.cc
Owners: none

fix: revert enabling WASM trap handlers in all Node.js processes (#48973)
  shell/browser/electron_browser_main_parts.cc
  shell/common/v8_util.cc
  shell/common/v8_util.h
  shell/renderer/electron_renderer_client.cc
  shell/services/node/node_service.cc
Owners: none

fix: revert enabling WASM trap handlers in all Node.js processes (#48973)
  shell/browser/electron_browser_main_parts.cc
  shell/common/v8_util.cc
  shell/common/v8_util.h
  shell/renderer/electron_renderer_client.cc
  shell/services/node/node_service.cc
Owners: none

fix: revert the parent window remained interactive after the modal window was opened
  shell/browser/native_window_views.cc
Owners: none

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra
