Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra

chore: cherry-pick e045399a1ecb from chromium (#49788)
  patches/chromium/.patches
  patches/chromium/cherry-pick-e045399a1ecb.patch
Owners: @electron/patch-owners

chore: fixup patches
  patches/node/.patches
  patches/node/api_promote_deprecation_of_v8_context_and_v8_object_api_methods.patch
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/build_add_gn_build_files.patch
  patches/node/build_enable_perfetto.patch
  patches/node/build_ensure_native_module_compilation_fails_if_not_using_a_new.patch
  patches/node/build_modify_js2c_py_to_allow_injection_of_original-fs_and_custom_embedder_js.patch
  patches/node/build_restore_clang_as_default_compiler_on_macos.patch
  patches/node/build_restore_macos_deployment_target_to_12_0.patch
  patches/node/chore_disable_deprecation_ftbfs_in_simdjson_header.patch
  patches/node/expose_get_builtin_module_function.patch
  patches/node/feat_disable_js_source_phase_imports_by_default.patch
  patches/node/fix_add_default_values_for_variables_in_common_gypi.patch
  patches/node/fix_allow_disabling_fetch_in_renderer_and_worker_processes.patch
  patches/node/fix_allow_passing_fileexists_fn_to_legacymainresolve.patch
  patches/node/fix_array_out-of-bounds_read_in_boyer-moore_search.patch
  patches/node/fix_avoid_external_memory_leak_on_invalid_tls_protocol_versions.patch
  patches/node/fix_cppgc_initializing_twice.patch
  patches/node/fix_crypto_tests_to_run_with_bssl.patch
  patches/node/fix_ensure_traverseparent_bails_on_resource_path_exit.patch
  patches/node/fix_expose_readfilesync_override_for_modules.patch
  patches/node/fix_expose_the_built-in_electron_module_via_the_esm_loader.patch
  patches/node/fix_handle_boringssl_and_openssl_incompatibilities.patch
  patches/node/fix_lazyload_fs_in_esm_loaders_to_apply_asar_patches.patch
  patches/node/fix_suppress_nodiscard_warning_for_copy_options_operator.patch
  patches/node/pass_all_globals_through_require.patch
  patches/node/refactor_attach_cppgc_heap_on_v8_isolate_creation.patch
  patches/node/src_handle_der_decoding_errors_from_system_certificates.patch
  patches/node/src_stop_using_v8_propertycallbackinfo_t_this.patch
  patches/node/support_v8_sandboxed_pointers.patch
  patches/node/test_formally_mark_some_tests_as_flaky.patch
  patches/node/test_make_buffer_sizes_32bit-aware_in.patch
Owners: @electron/patch-owners

chore: fixup patch indices
  patches/node/api_promote_deprecation_of_v8_context_and_v8_object_api_methods.patch
  patches/node/fix_crypto_tests_to_run_with_bssl.patch
  patches/node/support_v8_sandboxed_pointers.patch
Owners: @electron/patch-owners

src: fix off-thread cert loading in bundled cert mode
  script/node-disabled-tests.json
Owners: none

build: fix extraneous includes
  patches/node/fix_avoid_external_memory_leak_on_invalid_tls_protocol_versions.patch
  patches/node/fix_expose_readfilesync_override_for_modules.patch
Owners: @electron/patch-owners

fix: generate_config_gypi needs to generate valid JSON
  patches/node/.patches
  patches/node/fix_generate_config_gypi_needs_to_generate_valid_json.patch
Owners: @electron/patch-owners

doc: align Buffer.concat documentation with behavior
  patches/node/support_v8_sandboxed_pointers.patch
Owners: @electron/patch-owners

src: fix off-thread cert loading in bundled cert mode
  script/node-disabled-tests.json
Owners: none

fix: generate_config_gypi needs to generate valid JSON
  patches/node/.patches
  patches/node/fix_generate_config_gypi_needs_to_generate_valid_json.patch
Owners: @electron/patch-owners

chore: fixup patches
  patches/node/.patches
  patches/node/api_promote_deprecation_of_v8_context_and_v8_object_api_methods.patch
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/build_add_gn_build_files.patch
  patches/node/build_enable_perfetto.patch
  patches/node/build_ensure_native_module_compilation_fails_if_not_using_a_new.patch
  patches/node/build_modify_js2c_py_to_allow_injection_of_original-fs_and_custom_embedder_js.patch
  patches/node/build_restore_clang_as_default_compiler_on_macos.patch
  patches/node/build_restore_macos_deployment_target_to_12_0.patch
  patches/node/chore_disable_deprecation_ftbfs_in_simdjson_header.patch
  patches/node/expose_get_builtin_module_function.patch
  patches/node/feat_disable_js_source_phase_imports_by_default.patch
  patches/node/fix_add_default_values_for_variables_in_common_gypi.patch
  patches/node/fix_allow_disabling_fetch_in_renderer_and_worker_processes.patch
  patches/node/fix_allow_passing_fileexists_fn_to_legacymainresolve.patch
  patches/node/fix_array_out-of-bounds_read_in_boyer-moore_search.patch
  patches/node/fix_avoid_external_memory_leak_on_invalid_tls_protocol_versions.patch
  patches/node/fix_cppgc_initializing_twice.patch
  patches/node/fix_crypto_tests_to_run_with_bssl.patch
  patches/node/fix_ensure_traverseparent_bails_on_resource_path_exit.patch
  patches/node/fix_expose_readfilesync_override_for_modules.patch
  patches/node/fix_expose_the_built-in_electron_module_via_the_esm_loader.patch
  patches/node/fix_handle_boringssl_and_openssl_incompatibilities.patch
  patches/node/fix_lazyload_fs_in_esm_loaders_to_apply_asar_patches.patch
  patches/node/pass_all_globals_through_require.patch
  patches/node/refactor_attach_cppgc_heap_on_v8_isolate_creation.patch
  patches/node/src_handle_der_decoding_errors_from_system_certificates.patch
  patches/node/support_v8_sandboxed_pointers.patch
  patches/node/test_formally_mark_some_tests_as_flaky.patch
  patches/node/test_make_buffer_sizes_32bit-aware_in.patch
Owners: @electron/patch-owners

doc: align Buffer.concat documentation with behavior
  patches/node/support_v8_sandboxed_pointers.patch
Owners: @electron/patch-owners

chore: fixup patch indices
  patches/node/.patches
  patches/node/fix_crypto_tests_to_run_with_bssl.patch
Owners: @electron/patch-owners

build: fix extraneous includes
  patches/node/fix_avoid_external_memory_leak_on_invalid_tls_protocol_versions.patch
  patches/node/fix_expose_readfilesync_override_for_modules.patch
Owners: @electron/patch-owners

fix: InspectorFrontendHost override in embedded windows
  lib/renderer/api/context-bridge.ts
  lib/renderer/inspector.ts
  shell/renderer/api/electron_api_context_bridge.cc
Owners: none

chore: cherry-pick e045399a1ecb from chromium (#49792)
  patches/chromium/.patches
  patches/chromium/cherry-pick-e045399a1ecb.patch
Owners: @electron/patch-owners

feat: allow defaulting to printer default page size (#49523)
  docs/api/web-contents.md
  docs/api/webview-tag.md
  lib/browser/api/web-contents.ts
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/printing/printing_utils.cc
  shell/browser/printing/printing_utils.h
  spec/api-web-contents-spec.ts
Owners: none

feat: support Freedesktop Secret Service OSCrypt client
  BUILD.gn
  docs/api/cookies.md
  docs/api/safe-storage.md
  filenames.gni
  lib/browser/api/safe-storage.ts
  patches/chromium/fix_os_crypt_async_cookie_encryption.patch
  shell/browser/api/electron_api_safe_storage.cc
  shell/browser/api/electron_api_safe_storage.h
  shell/browser/browser.cc
  shell/browser/browser_process_impl.cc
  shell/browser/electron_browser_main_parts.cc
  shell/browser/net/network_context_service.cc
  shell/browser/net/network_context_service.h
  shell/browser/net/system_network_context_manager.cc
  spec/api-safe-storage-spec.ts
  spec/fixtures/api/safe-storage/decrypt-app/main.js
  spec/fixtures/api/safe-storage/encrypt-app/main.js
  spec/fixtures/crash-cases/safe-storage/index.js
  spec/fuses-spec.ts
Owners: @electron/patch-owners

refactor: reject when temporarily unavailable
  docs/api/safe-storage.md
  shell/browser/api/electron_api_safe_storage.cc
  spec/api-safe-storage-spec.ts
Owners: none

refactor: allow customizing freedesktop config
  docs/api/safe-storage.md
  patches/chromium/.patches
  patches/chromium/refactor_allow_customizing_config_in_freedesktopsecretkeyprovider.patch
  shell/browser/api/electron_api_safe_storage.cc
  shell/browser/api/electron_api_safe_storage.h
  shell/browser/browser_process_impl.cc
  spec/api-safe-storage-spec.ts
Owners: @electron/patch-owners

chore: feedback from review
  docs/api/safe-storage.md
  shell/browser/api/electron_api_safe_storage.cc
  shell/browser/api/electron_api_safe_storage.h
  shell/browser/browser.cc
  shell/browser/browser_process_impl.cc
  spec/api-safe-storage-spec.ts
Owners: none

docs: add more async impl info
  docs/api/safe-storage.md
  patches/chromium/.patches
  shell/browser/api/electron_api_safe_storage.cc
Owners: @electron/patch-owners

chore: rework to async interface
  docs/api/safe-storage.md
  lib/browser/api/safe-storage.ts
  shell/browser/api/electron_api_safe_storage.cc
  shell/browser/api/electron_api_safe_storage.h
  spec/api-safe-storage-spec.ts
  spec/fixtures/api/safe-storage/decrypt-app/main.js
  spec/fixtures/api/safe-storage/encrypt-app/main.js
  spec/fixtures/crash-cases/safe-storage/index.js
Owners: none

feat: support notification priority on Windows
  docs/api/notification.md
  shell/browser/notifications/notification.h
  shell/browser/notifications/win/windows_toast_notification.cc
  shell/browser/notifications/win/windows_toast_notification.h
Owners: none

chore: fix it harder
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
Owners: @electron/patch-owners

fix: excise abort_report_np usage in MAS
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
Owners: @electron/patch-owners

fix: osr use correct screen info.
  docs/api/structures/web-preferences.md
  docs/breaking-changes.md
  patches/chromium/.patches
  patches/chromium/patch_osr_control_screen_info.patch
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/osr/osr_render_widget_host_view.cc
  shell/browser/osr/osr_render_widget_host_view.h
  shell/browser/osr/osr_web_contents_view.cc
  shell/browser/osr/osr_web_contents_view.h
  shell/common/options_switches.h
  spec/api-browser-window-spec.ts
Owners: @electron/wg-releases, @electron/patch-owners

fix: 40-x-y types
  shell/browser/osr/osr_render_widget_host_view.h
Owners: none

Rename to `getOrCreateDevToolsTargetId`
  docs/api/web-contents.md
  shell/browser/api/electron_api_web_contents.cc
  spec/api-web-contents-spec.ts
Owners: none

fix: code-sign binaries for notification tests
  .github/workflows/pipeline-segment-electron-test.yml
  script/codesign/cleanup-identity.sh
  script/codesign/generate-identity.sh
  script/codesign/get-trusted-identity.sh
Owners: @electron/wg-infra

test: remove redundent feedURL test
  spec/api-auto-updater-spec.ts
  spec/lib/codesign-helpers.ts
Owners: none

fix(patch-conflict): update dom_storage_limits.patch for constant move to header
  patches/chromium/dom_storage_limits.patch
Owners: @electron/patch-owners

fix(patch-conflict): update headless mode handling patch for upstream refactor
  patches/chromium/fix_adjust_headless_mode_handling_in_native_widget.patch
Owners: @electron/patch-owners

fix(patch-conflict): update os_crypt cookie encryption patch for headless refactor
  patches/chromium/fix_os_crypt_async_cookie_encryption.patch
Owners: @electron/patch-owners

fix(patch-conflict): remove upstreamed LoAF sourceURL patch
  patches/chromium/.patches
  patches/chromium/loaf_add_feature_to_enable_sourceurl_for_all_protocols.patch
Owners: @electron/patch-owners

fix(patch-conflict): update MacWebContentsOcclusion revert for upstream simplification
  patches/chromium/revert_code_health_clean_up_stale_macwebcontentsocclusion.patch
Owners: @electron/patch-owners

fix(patch-conflict): update sqlite win32 exports rename for new sqlite version
  patches/sqlite/fix_rename_sqlite_win32_exports_to_avoid_conflicts_with_node_js.patch
Owners: @electron/patch-owners

fix(patch-conflict): update safestorage patch for V1 Keychain removal
  patches/chromium/feat_ensure_mas_builds_of_the_same_application_can_use_safestorage.patch
Owners: @electron/patch-owners

7535923: Rename ozone buildflags
  shell/browser/api/electron_api_desktop_capturer.cc
  shell/browser/native_window_views.cc
  shell/browser/native_window_views.h
Owners: none

chore: update patches (trivial only)
  patches/chromium/add_didinstallconditionalfeatures.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_expose_isolate_parameter_in_script_lifecycle_observers.patch
  patches/chromium/dom_storage_limits.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/fix_non-client_mouse_tracking_and_message_bubbling_on_windows.patch
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
  patches/chromium/gritsettings_resource_ids.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/notification_provenance.patch
  patches/chromium/revert_remove_the_allowaggressivethrottlingwithwebsocket_feature.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/support_mixed_sandbox_with_zygote.patch
  patches/chromium/webview_fullscreen.patch
  patches/perfetto/define_ssize_t_to_be_intptr_t_to_match_libuv.patch
Owners: @electron/patch-owners

7528398: [LNA] Rename PNA-named files to LNA-named files
  shell/browser/net/url_loader_network_observer.h
  shell/common/api/electron_api_url_loader.h
Owners: none
