Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra

re-export patch
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
Owners: @electron/patch-owners

Add a test for https://github.com/electron/electron/issues/50250
  spec/api-web-contents-spec.ts
  spec/fixtures/assets/white.webm
  spec/fixtures/pages/video-full-frame-black-background.html
Owners: none

feat: add nv12 osr format support. (#49799)
  docs/api/structures/web-preferences.md
  shell/browser/osr/osr_video_consumer.cc
  shell/common/gin_converters/osr_converter.cc
Owners: none

docs: fix misapplied suggestion
  docs/tutorial/fuses.md
Owners: none

fix: ensure WebContents::WasShown runs when window is shown
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/api/electron_api_browser_window.h
Owners: none

ci: test linux 64k
  .github/workflows/build.yml
  .github/workflows/pipeline-segment-electron-test-64k.yml
  script/qemu-init.sh
  script/run-qemu-64k.sh
Owners: @electron/wg-infra

patches: add chromium cdm renderer visibility patch
  BUILD.gn
  chromium_src/BUILD.gn
  patches/chromium/.patches
  patches/chromium/allow_electron_visibility_for_cdm_renderer.patch
  shell/app/electron_content_client.cc
  shell/renderer/electron_renderer_client.cc
  shell/renderer/electron_renderer_client.h
  shell/renderer/electron_sandboxed_renderer_client.cc
  shell/renderer/electron_sandboxed_renderer_client.h
Owners: @electron/patch-owners

fix: normalize sandbox flags for late no-sandbox switch
  shell/browser/electron_browser_client.cc
  shell/browser/web_contents_preferences.cc
  shell/common/api/electron_api_command_line.cc
Owners: none

docs: document Widevine CDM switches, build-tools args, and bundled WidevineCdm fallback path
  docs/api/command-line-switches.md
  docs/development/build-instructions-gn.md
Owners: none

patches: refresh cdm renderer visibility patch
  patches/chromium/allow_electron_visibility_for_cdm_renderer.patch
Owners: @electron/patch-owners

test: fix typecheck
  spec/api-notification-spec.ts
Owners: none

feat: expose Notification.getHistory() on Windows
  docs/api/notification.md
  lib/browser/api/notification.ts
  shell/browser/api/electron_api_notification.cc
  shell/browser/api/electron_api_notification.h
  shell/browser/notifications/win/windows_toast_notification.cc
  shell/browser/notifications/win/windows_toast_notification.h
  typings/internal-ambient.d.ts
Owners: none

chore: fixup patch indices
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/dom_storage_limits.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_expose_raw_response_headers_from_urlloader.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/revert_code_health_clean_up_stale_macwebcontentsocclusion.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/devtools_frontend/chore_expose_ui_to_allow_electron_to_set_dock_side.patch
Owners: @electron/patch-owners

7664509: Migrate ServiceWorkerInfo to ChildProcessId
  shell/browser/electron_api_sw_ipc_handler_impl.cc
  shell/browser/electron_api_sw_ipc_handler_impl.h
  shell/browser/electron_browser_client.cc
Owners: none

build: remove macos hittest workaround patch
  patches/chromium/.patches
  patches/chromium/build_partial_revert_mac_fullscreen_top_chrome_mouse_events.patch
  shell/browser/native_window_mac.mm
Owners: @electron/patch-owners

docs: fix markdown formatting in fuses.md (#50318)
  docs/tutorial/fuses.md
Owners: none

chore: disable errors we still need these
  lib/renderer/init.ts
  spec/asar-spec.ts
Owners: none

fix: correctly track BaseWindow::IsActive() on MacOS (#49460)
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
Owners: none

fix: ensure WebContents::WasShown runs when window is shown (#49421)
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/api/electron_api_browser_window.h
Owners: none

fix: always call the original implementation in swizzled mousedown implementations
  shell/browser/ui/cocoa/electron_ns_window.mm
Owners: none

chore: wordsmith non-maintainer dependency change bot message
  .github/workflows/non-maintainer-dependency-change.yml
Owners: none

chore: testing of desktopCapturer can run on arm
  spec/api-desktop-capturer-spec.ts
Owners: none

chore: update patches
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_os_crypt_async_cookie_encryption.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/webview_fullscreen.patch
Owners: @electron/patch-owners

ci: auto close PRs that do not fill out the required template
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pr-template-check.yml
Owners: none

chore: Respect HTTP(S) proxy env variable for Yarn (#50322)
  .yarnrc.yml
Owners: none

ci: auto close PRs that do not fill out the required template (#50348)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pr-template-check.yml
Owners: none

fix: always call the original impl in swizzled mousedown impls (#50096)
  shell/browser/ui/cocoa/electron_ns_window.mm
Owners: none

ci: only run auto close on PRs targeting main branch
  .github/workflows/pr-template-check.yml
Owners: none

ci: test linux 64k (#49961)
  .github/workflows/build.yml
  .github/workflows/pipeline-segment-electron-test-64k.yml
  script/qemu-init.sh
  script/run-qemu-64k.sh
Owners: @electron/wg-infra

docs: change postinstall lifecycle to changed from electron v42
  docs/tutorial/tutorial-2-first-app.md
Owners: none

ci: only run auto close on PRs targeting main branch (#50357)
  .github/workflows/pr-template-check.yml
Owners: none

ci: output build cache hit rate as GHA annotation
  script/build-stats.mjs
Owners: none

test: skip webFrameMain.copyVideoFrameAt on win32 CI due Chromium DCHECK
  spec/api-web-frame-main-spec.ts
Owners: none

fix: correct utility process exit code on Windows
  shell/browser/api/electron_api_utility_process.cc
Owners: none

fix: narrow HandleTermination and Shutdown to uint32_t, add tests
  shell/browser/api/electron_api_utility_process.cc
  shell/browser/api/electron_api_utility_process.h
  spec/api-utility-process-spec.ts
Owners: none

docs: update Notification support info
  docs/api/notification.md
Owners: none

fix: account for extraSize in aspect ratio min/max size clamping on macOS
  shell/browser/ui/cocoa/electron_ns_window_delegate.mm
Owners: none

fix: account for extraSize in aspect ratio min/max size clamping on macOS
  shell/browser/ui/cocoa/electron_ns_window_delegate.mm
Owners: none

ci: output build cache hit rate as GHA annotation (#50361)
  script/build-stats.mjs
Owners: none

ci: update actions to node24
  .github/actions/build-electron/action.yml
  .github/actions/checkout/action.yml
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra
