Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

add newline at end of file
  shell/browser/ui/views/linux_frame_layout.cc
Owners: none

chore: remove quiet period mention from PR template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

chore: update patches
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
Owners: @electron/patch-owners

build: add logging to notes generator
  script/release/notes/notes.ts
Owners: @electron/wg-releases

build: add logging to notes generator (#49300)
  script/release/notes/notes.ts
Owners: @electron/wg-releases

build: fixup release notes generation
  script/release/notes/notes.ts
Owners: @electron/wg-releases

chore: remove quiet period mention from PR template (#49298)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

fix(build): update VideoPixelFormat API for SharedImageFormat
  shell/common/api/electron_api_shared_texture.cc
Owners: none

fixup! fix(build): add missing include
  patches/chromium/feat_add_support_for_missing_dialog_features_to_shell_dialogs.patch
Owners: @electron/patch-owners

fix(build): adapt to string-view-ification change in windows jump_list.cc
  shell/browser/ui/win/jump_list.cc
Owners: none

chore: update libc++ filenames
  filenames.libcxx.gni
Owners: none

fix(build): add missing include
  patches/chromium/feat_add_support_for_missing_dialog_features_to_shell_dialogs.patch
Owners: @electron/patch-owners

fix(patch-conflict): update dialog patch for RequestXdgDesktopPortal API
  patches/chromium/feat_add_support_for_missing_dialog_features_to_shell_dialogs.patch
Owners: @electron/patch-owners

fix(patch-conflict): update code cache patch for PersistentCache refactor
  patches/chromium/feat_allow_code_cache_in_custom_schemes.patch
Owners: @electron/patch-owners

fix(build): extend profile methods patch for ShouldEnableXfaForms
  patches/chromium/chore_patch_out_profile_methods.patch
Owners: @electron/patch-owners

fix: drag regions in child windows (#49231)
  shell/browser/api/electron_api_web_contents.cc
Owners: none

Fix Crash in FullscreenController::EnterFullscreenModeInternal
  patches/chromium/fix_adapt_exclusive_access_for_electron_needs.patch
Owners: @electron/patch-owners

chore: update patches
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/chore_grandfather_in_electron_views_and_delegates.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/v8/.patches
  patches/v8/cherry-pick-e0052e7af9c9.patch
Owners: @electron/patch-owners

build: fixup release notes generation (#49302)
  script/release/notes/notes.ts
Owners: @electron/wg-releases

chore: remove patches/v8/cherry-pick-e0052e7af9c9.patch
  patches/v8/.patches
  patches/v8/cherry-pick-e0052e7af9c9.patch
Owners: @electron/patch-owners

test: remove outdated disabled test (#49196)
  spec/api-browser-window-spec.ts
Owners: none

docs: update `roundedCorners` documentation (#49195)
  docs/api/structures/base-window-options.md
Owners: none

fix: visual artifacts while resizing on Windows (#49191)
  patches/chromium/.patches
  patches/chromium/viz_create_isbufferqueuesupportedandenabled.patch
  patches/chromium/viz_fix_visual_artifacts_while_resizing_window_with_dcomp.patch
Owners: @electron/patch-owners

fix: drag regions in child windows
  shell/browser/api/electron_api_web_contents.cc
Owners: none

test: drag region tests
  package.json
  spec/api-browser-window-spec.ts
  spec/drag-region-spec.ts
  spec/fixtures/pages/draggable-page.html
  spec/fixtures/pages/iframe.html
  spec/fixtures/pages/webview.html
  yarn.lock
Owners: none

Emit messages as-is in testing builds
  shell/browser/ui/inspectable_web_contents.cc
Owners: none

fix: remove layer background
  shell/browser/api/electron_api_view.cc
Owners: none

fix: segfault race condition
  shell/browser/api/electron_api_view.cc
Owners: none

feat: allow View::SetBounds to animate
  docs/api/view.md
  shell/browser/api/electron_api_view.cc
  shell/browser/api/electron_api_view.h
Owners: none

fix: jumping on subsequent animations
  shell/browser/api/electron_api_view.cc
Owners: none

fix: support width/height animations
  shell/browser/api/electron_api_view.cc
Owners: none

refactor: update animate parameter format
  docs/api/view.md
  shell/browser/api/electron_api_view.cc
Owners: none

fix: missing private method in header
  shell/browser/api/electron_api_view.h
Owners: none

refactor: use gfx tween gin converter
  shell/browser/api/electron_api_view.cc
Owners: none

fix: do not set layer opacity
  shell/browser/api/electron_api_view.cc
Owners: none

fix: layer clips not being reset
  shell/browser/api/electron_api_view.cc
Owners: none

fix: return type
  shell/browser/api/electron_api_view.h
Owners: none

fix: layer cleanups causing flickering views
  shell/browser/api/electron_api_view.cc
Owners: none

chore: merge artifact
  shell/browser/api/electron_api_view.cc
Owners: none

refactor: move animate into options object
  docs/api/view.md
  shell/browser/api/electron_api_view.cc
Owners: none

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra
