Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra

debug memory on linux arm
  .github/actions/install-dependencies/action.yml
Owners: @electron/wg-infra

fixup install dugite for Windows
  .github/actions/install-dependencies/action.yml
Owners: @electron/wg-infra

test: disable yarn hardened mode except for linux x64
  .github/workflows/pipeline-electron-build-and-test-and-nan.yml
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

debug PDF reader errors on mac
  spec/api-web-contents-spec.ts
Owners: none

Lock pdfjs-dist to 4.2.67 to see if that fixes linux arm OOM
  spec/package.json
  yarn.lock
Owners: none

increase memory on linux arm runners
  .github/workflows/build.yml
Owners: @electron/wg-infra

see if hard coding YARN_ENABLE_HARDENED_MODE was the fix
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

Revert "try using spawnSync and shell true for calling PDF reader"
  spec/api-web-contents-spec.ts
Owners: none

Revert "test: use 4.x pdfjs-dist"
  spec/package.json
  yarn.lock
Owners: none

Reapply "test: use 4.x pdfjs-dist"
  spec/package.json
  yarn.lock
Owners: none

fixup better
  .github/actions/generate-types/action.yml
Owners: @electron/wg-infra

try smaller amount of memory
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

Revert "address occasional oom on linux arm dependency install"
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

disable retries on failing PDF test to try and narrow down the problem.
  spec/api-web-contents-spec.ts
Owners: none

try using spawnSync and shell true for calling PDF reader
  spec/api-web-contents-spec.ts
Owners: none

fixup installing spec dependencies outside of spec runner for linux-arm
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

use a fresh clone into tmp for archeologist digging the old sha
  .github/actions/generate-types/action.yml
Owners: @electron/wg-infra

cleanup
  .github/actions/generate-types/action.yml
  .github/actions/install-dependencies/action.yml
  .github/workflows/build.yml
  .github/workflows/pipeline-segment-electron-test.yml
  script/nan-spec-runner.js
  script/spec-runner.js
  spec/api-web-contents-spec.ts
Owners: @electron/wg-infra

speculative fix for linux arm out of memory error
  .yarn/releases/yarn-4.10.3.cjs
Owners: none

Add debugging back
  spec/api-web-contents-spec.ts
Owners: none

add debugging for printToPDF
  spec/api-web-contents-spec.ts
Owners: none

try longer timeout
  spec/api-web-contents-spec.ts
Owners: none

fixup for tmp location
  .github/actions/generate-types/action.yml
Owners: @electron/wg-infra

test: use 4.x pdfjs-dist
  spec/package.json
  yarn.lock
Owners: none

run yarn install outside of spec runner for linux-arm
  .github/workflows/pipeline-segment-electron-test.yml
  script/spec-runner.js
Owners: @electron/wg-infra

test: update timeout for printToPDF() with custom page sizes
  spec/api-web-contents-spec.ts
Owners: none

Revert "Add debugging back"
  spec/api-web-contents-spec.ts
Owners: none

address occasional oom on linux arm dependency install
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

update yarn.lock after rebase
  yarn.lock
Owners: none

add try/catch when parsing response from PDF reader
  spec/api-web-contents-spec.ts
Owners: none

build: roll Mantle and remove patch (#38437)
  DEPS
  patches/Mantle/.patches
  patches/Mantle/remove_mtlmanagedobjectadapter_h.patch
  patches/config.json
  patches/squirrel.mac/build_add_gn_config.patch
  patches/squirrel.mac/use_uttype_class_instead_of_deprecated_uttypeconformsto.patch
Owners: @electron/wg-upgrades, @electron/patch-owners

build: roll Mantle and remove patch (#38437)
  DEPS
  patches/Mantle/.patches
  patches/Mantle/remove_mtlmanagedobjectadapter_h.patch
  patches/config.json
  patches/squirrel.mac/build_add_gn_config.patch
  patches/squirrel.mac/use_uttype_class_instead_of_deprecated_uttypeconformsto.patch
Owners: @electron/wg-upgrades, @electron/patch-owners

fix: restore window's canHide property on macOS (#47970)
  shell/browser/browser_mac.mm
Owners: none

fix: restore window's canHide property on macOS (#47970)
  shell/browser/browser_mac.mm
Owners: none

chore: update patches
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
Owners: @electron/patch-owners

Make setFocusable only deactivate a window if focusable is false. Do not deactivate a window when setting focusable to true.
  shell/browser/native_window_views.cc
Owners: none

test: lock pdfjs-dist to 4.2.67
  spec/fixtures/api/pdf-reader.mjs
  spec/package.json
  yarn.lock
Owners: none

docs: explain how to load SF Symbols with `nativeImage`
  docs/api/native-image.md
Owners: none

docs(timelines): Correct v40.0.0 stable release date
  docs/tutorial/electron-timelines.md
Owners: none

docs: Update v40.0.0 stable date to 2026-Jan-13 based on Chromium schedule
  docs/tutorial/electron-timelines.md
Owners: none
