Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra

chore: cherry-pick 12f932985275 from chromium (#50173)
  patches/chromium/.patches
  patches/chromium/cherry-pick-12f932985275.patch
Owners: @electron/patch-owners

fix: validate USB device selection against filtered device list (#50159)
  shell/browser/usb/usb_chooser_controller.cc
  shell/browser/usb/usb_chooser_controller.h
Owners: none

chore: cherry-pick 03d405099043 from skia (#50167)
  patches/skia/.patches
  patches/skia/cherry-pick-03d405099043.patch
Owners: @electron/patch-owners

fix: strictly validate sender for internal IPC reply channels (#50160)
  lib/browser/ipc-main-internal-utils.ts
Owners: none

ci: add timeout to test step
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

fix: run webRequest handlers for URLs handled by ElectronURLLoaderFactory (#45915)
  shell/browser/electron_browser_context.cc
  shell/browser/electron_browser_context.h
  shell/browser/net/proxying_url_loader_factory.cc
  shell/browser/net/proxying_url_loader_factory.h
  shell/common/api/electron_api_url_loader.cc
  spec/api-browser-window-spec.ts
  spec/api-net-session-spec.ts
  spec/chromium-spec.ts
  spec/fixtures/pages/service-worker/service-worker-intercepted.js
Owners: none

fix: pass weak-ptr-bound callback to OnCommandsChanged Refs https://chromium-review.googlesource.com/c/chromium/src/+/7622614
  shell/browser/api/electron_api_global_shortcut.cc
  shell/browser/api/electron_api_global_shortcut.h
Owners: none

chore: add Tray to wrappable_pointer_tags.h patch
  patches/chromium/chore_add_electron_objects_to_wrappablepointertag.patch
Owners: @electron/patch-owners

refactor: migrate electron::api::tray to cppgc
  patches/chromium/chore_add_electron_objects_to_wrappablepointertag.patch
  shell/browser/api/electron_api_tray.cc
  shell/browser/api/electron_api_tray.h
Owners: @electron/patch-owners

fix: don't call `TaskDialogIndirect` with disabled parent windows (#50078)
  shell/browser/ui/message_box_win.cc
Owners: none

fix: add missing option to CSS corner smoothing property Refs https://chromium-review.googlesource.com/c/chromium/src/+/7646628
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
Owners: @electron/patch-owners

chore: backport running mac app icons from chromium
  patches/chromium/.patches
  patches/chromium/fix_mac_high_res_icons.patch
Owners: @electron/patch-owners

docs: update linux frameless window docs to account for hasShadow:false
  docs/tutorial/custom-window-styles.md
Owners: none

docs: add API history (G-I)
  CLAUDE.md
  docs/CLAUDE.md
  docs/api/global-shortcut.md
  docs/api/image-view.md
  docs/api/in-app-purchase.md
  docs/api/ipc-main.md
  docs/api/ipc-renderer.md
  filenames.auto.gni
Owners: none

docs: document Wayland frameless window shadow behaviour (#50193)
  docs/tutorial/custom-window-styles.md
Owners: none

feat: Add WebContents::Clone method
  docs/api/web-contents.md
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  spec/api-web-contents-spec.ts
Owners: none

docs: point pull requests guide to build tools
  docs/development/pull-requests.md
Owners: none

fix: prevent traffic light buttons flashing on deminiaturize
  shell/browser/native_window_mac.h
  shell/browser/native_window_mac.mm
  shell/browser/ui/cocoa/electron_ns_window_delegate.mm
Owners: none

chore: address feedback from review
  shell/browser/native_window_mac.h
  shell/browser/native_window_mac.mm
  shell/browser/ui/cocoa/electron_ns_window_delegate.mm
Owners: none

ci: add timeout to test step (#50186)
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

feat: make Chrome extensions work on custom protocols
  docs/api/app.md
  patches/chromium/.patches
  patches/chromium/feat_allow_enabling_extensions_on_all_protocols.patch
  patches/devtools_frontend/.patches
  patches/devtools_frontend/feat_allow_enabling_extension_panels_on_all_protocols.patch
  shell/browser/api/electron_api_app.cc
  shell/browser/api/electron_api_app.h
  shell/browser/electron_browser_client.cc
  shell/browser/ui/inspectable_web_contents.cc
  shell/common/options_switches.h
  shell/renderer/renderer_client_base.cc
  spec/api-app-spec.ts
  spec/api-web-request-spec.ts
  spec/extensions-spec.ts
  spec/fixtures/extensions/custom-protocol-panel/extension/devtools.html
  spec/fixtures/extensions/custom-protocol-panel/extension/devtools.js
  spec/fixtures/extensions/custom-protocol-panel/extension/manifest.json
  spec/fixtures/extensions/custom-protocol-panel/extension/panel.html
  spec/fixtures/extensions/custom-protocol-panel/main.js
  spec/fixtures/extensions/custom-protocol/extension/background.js
  spec/fixtures/extensions/custom-protocol/extension/content_script.js
  spec/fixtures/extensions/custom-protocol/extension/manifest.json
  spec/fixtures/extensions/custom-protocol/main.js
Owners: @electron/patch-owners

chore: remove upstreamed part from patch
  patches/chromium/feat_allow_enabling_extensions_on_all_protocols.patch
Owners: @electron/patch-owners

revert: fix(squirrel.mac): clean up old staged updates before downloading new update (#49365)
  patches/squirrel.mac/.patches
  patches/squirrel.mac/fix_clean_up_old_staged_updates_before_downloading_new_update.patch
  spec/api-autoupdater-darwin-spec.ts
Owners: @electron/patch-owners

fixup! refactor: migrate electron::api::tray to cppgc
  shell/browser/api/electron_api_tray.cc
Owners: none

revert: fix(squirrel.mac): clean up old staged updates before downloading new update (#49639)
  patches/squirrel.mac/.patches
  patches/squirrel.mac/fix_clean_up_old_staged_updates_before_downloading_new_update.patch
  spec/api-autoupdater-darwin-spec.ts
Owners: @electron/patch-owners

build(deps-dev): replace timers-browserify
  build/webpack/webpack.config.base.js
  lib/common/timers-shim.js
Owners: none

revert: fix(squirrel.mac): clean up old staged updates before downloading new update (#49638)
  patches/squirrel.mac/.patches
  patches/squirrel.mac/fix_clean_up_old_staged_updates_before_downloading_new_update.patch
  spec/api-autoupdater-darwin-spec.ts
Owners: @electron/patch-owners

revert: fix(squirrel.mac): clean up old staged updates before downloading new update (#49637)
  patches/squirrel.mac/.patches
  patches/squirrel.mac/fix_clean_up_old_staged_updates_before_downloading_new_update.patch
  spec/api-autoupdater-darwin-spec.ts
Owners: @electron/patch-owners

ci: add timeout to test step (#50186)
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

refactor: make Tray::menu_ a cppgc::Member<Menu>
  shell/browser/api/electron_api_tray.cc
  shell/browser/api/electron_api_tray.h
Owners: none

fix: prevent traffic light buttons flashing on deminiaturize (#50183)
  shell/browser/native_window_mac.h
  shell/browser/native_window_mac.mm
  shell/browser/ui/cocoa/electron_ns_window_delegate.mm
Owners: none

fix: preserve staged update dir when pruning orphaned update dirs on macOS
  patches/squirrel.mac/.patches
  patches/squirrel.mac/fix_clean_up_old_staged_updates_before_downloading_new_update.patch
  patches/squirrel.mac/fix_clean_up_orphaned_staged_updates_before_downloading_new_update.patch
  spec/api-autoupdater-darwin-spec.ts
  spec/fixtures/auto-update/update-race/index.js
  spec/fixtures/auto-update/update-race/package.json
  spec/fixtures/auto-update/update-triple-stack/index.js
  spec/fixtures/auto-update/update-triple-stack/package.json
Owners: @electron/patch-owners

ci: add timeout to test step (#50186)
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

ci: add timeout to test step (#50186)
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

refactor: move `electron::api::Tray` to cppgc (#50187)
  patches/chromium/chore_add_electron_objects_to_wrappablepointertag.patch
  shell/browser/api/electron_api_tray.cc
  shell/browser/api/electron_api_tray.h
Owners: @electron/patch-owners

chore: remove `remark-cli` from markdown linting (#50165)
  .remarkrc
  docs/development/coding-style.md
  package.json
  yarn.lock
Owners: none

fix: improved the appearance of shadows and borders on frameless windows on Wayland (#50007)
  chromium_src/BUILD.gn
  shell/browser/ui/electron_desktop_window_tree_host_linux.cc
  shell/browser/ui/views/client_frame_view_linux.cc
  shell/browser/ui/views/client_frame_view_linux.h
  shell/browser/ui/views/linux_frame_layout.cc
  shell/browser/ui/views/linux_frame_layout.h
  shell/browser/ui/views/opaque_frame_view.cc
  shell/browser/ui/views/opaque_frame_view.h
Owners: none

update shim from js to ts
  build/webpack/webpack.config.base.js
  lib/common/timers-shim.ts
Owners: none

remove timers-shim.js
  lib/common/timers-shim.js
Owners: none

style: make linter happy
  spec/fixtures/crash-cases/dialog-on-invalid-url/index.js
Owners: none
