Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra

chore: make device_parental_controls lazy
  shell/browser/browser_process_impl.cc
Owners: none

fix: osr use correct screen info.
  docs/api/structures/web-preferences.md
  docs/breaking-changes.md
  patches/chromium/.patches
  patches/chromium/patch_osr_control_screen_info.patch
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/osr/osr_render_widget_host_view.cc
  shell/browser/osr/osr_render_widget_host_view.h
  shell/browser/osr/osr_web_contents_view.cc
  shell/browser/osr/osr_web_contents_view.h
  shell/common/options_switches.h
  spec/api-browser-window-spec.ts
Owners: @electron/wg-releases, @electron/patch-owners

fix: revert os_crypt async cookie provider implementation (#49382)
  BUILD.gn
  patches/chromium/.patches
  patches/chromium/fix_os_crypt_async_cookie_encryption.patch
  shell/browser/browser_process_impl.cc
  shell/browser/net/network_context_service.cc
  shell/browser/net/network_context_service.h
Owners: @electron/patch-owners

docs: improve build-tools instructions (#49294)
  docs/development/build-instructions-gn.md
  docs/development/build-instructions-macos.md
  docs/development/source-code-directory-structure.md
Owners: none

docs: remove stale example and standardize `DevTools` capitalization (#49321)
  docs/api/app.md
  docs/api/command-line-switches.md
  docs/api/debugger.md
  docs/api/extensions-api.md
  docs/api/native-theme.md
  docs/api/session.md
  docs/api/web-contents.md
  docs/api/web-frame.md
Owners: none

feat: import shared texture supports p010le.
  docs/api/structures/shared-texture-import-texture-info.md
  shell/common/api/electron_api_shared_texture.cc
Owners: none

fix: make toplevel icon Wayland protocol work
  shell/browser/ui/electron_desktop_window_tree_host_linux.cc
  shell/browser/ui/electron_desktop_window_tree_host_linux.h
Owners: none

chore: update patch for 40-x-y
  patches/chromium/.patches
  patches/chromium/fix_os_crypt_async_cookie_encryption.patch
Owners: @electron/patch-owners

fix: lifetime issues
  shell/common/gin_helper/reply_channel.cc
  shell/common/gin_helper/reply_channel.h
Owners: none

chore: rm perisolatedata hook in favor of prefinalizer
  shell/common/gin_helper/reply_channel.cc
  shell/common/gin_helper/reply_channel.h
Owners: none

fix: make pointer lock work on Wayland
  patches/chromium/.patches
  patches/chromium/move_wayland_pointer_lock_overrides_to_common_code.patch
Owners: @electron/patch-owners

chore: cherry-pick 9722f06a26ed from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-9722f06a26ed.patch
Owners: @electron/patch-owners

chore: cherry-pick 978f2b8a73fd from v8
  patches/v8/.patches
  patches/v8/cherry-pick-978f2b8a73fd.patch
Owners: @electron/patch-owners

chore: cherry-pick 978f2b8a73fd from v8
  patches/v8/.patches
  patches/v8/cherry-pick-978f2b8a73fd.patch
Owners: @electron/patch-owners

fix setting background color for frameless csd windows
  shell/browser/native_window_views.cc
Owners: none

fix wco positioning nad sizing to match prod
  shell/browser/ui/views/opaque_frame_view.cc
Owners: none

chore: update patches
  patches/chromium/fix_os_crypt_async_cookie_encryption.patch
Owners: @electron/patch-owners

fix: restore WebContents visibility after failed fullscreen on macOS
  shell/browser/api/electron_api_browser_window.cc
Owners: none

fix: restore WebContents visibility after failed fullscreen on macOS
  shell/browser/api/electron_api_browser_window.cc
Owners: none

docs: fix yarn part of `tutorial-5-packaging` - adding electron forge
  docs/tutorial/tutorial-5-packaging.md
Owners: none

refactor: make `ReplyChannel` inherit from `gin::Wrappable` (#49339)
  patches/chromium/chore_add_electron_objects_to_wrappablepointertag.patch
  shell/common/gin_helper/reply_channel.cc
  shell/common/gin_helper/reply_channel.h
Owners: @electron/patch-owners

feat: allow showing a window without foregrounding it on macOS
  docs/api/base-window.md
  docs/api/browser-window.md
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/api/electron_api_browser_window.h
  shell/browser/native_window.h
  shell/browser/native_window_mac.h
  shell/browser/native_window_mac.mm
  shell/browser/native_window_views.cc
  shell/browser/native_window_views.h
Owners: none

docs: follow documentation style guide
  docs/api/base-window.md
  docs/api/browser-window.md
Owners: none

Update SECURITY.md to remove escalation section
  SECURITY.md
Owners: none

chore: update patches (#49399)
  patches/chromium/fix_os_crypt_async_cookie_encryption.patch
Owners: @electron/patch-owners

fix: warning: default arguments on virtual or override methods are prohibited [google-default-arguments]
  shell/browser/native_window.h
Owners: none

fix: restore AXDocument accessibility attribute for representedFilename on macOS
  shell/browser/ui/cocoa/electron_ns_window.mm
Owners: none

chore: fix unsafe buffer usage in browser_linux.cc
  shell/browser/browser_linux.cc
Owners: none

fix(macOS): prevent renderer freeze when fullscreen transition fails
  notes/fix-macos-fullscreen-freeze.md
  shell/browser/api/electron_api_browser_window.cc
Owners: none

fix: try clearing InspectableWebContents delegate earlier
  shell/browser/api/electron_api_web_contents.cc
Owners: none

docs: reorganize the comments for clarifying `webContents.setWindowOpenHandler` example
  docs/api/web-contents.md
Owners: none

chore: update patches
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/chore_allow_the_node_entrypoint_to_be_a_builtin_module.patch
  patches/node/fix_remove_deprecated_errno_constants.patch
  patches/node/fix_remove_fastapitypedarray_usage.patch
  patches/node/src_switch_from_get_setprototype_to_get_setprototypev2.patch
Owners: @electron/patch-owners

test,crypto: handle a few more BoringSSL tests
  patches/node/.patches
  patches/node/fix_crypto_tests_to_run_with_bssl.patch
  patches/node/fix_handle_boringssl_and_openssl_incompatibilities.patch
Owners: @electron/patch-owners

src: use CP_UTF8 for wide file names on win32
  patches/node/src_use_cp_utf8_for_wide_file_names_on_win32.patch
Owners: @electron/patch-owners

chore: fixup patch indices
  patches/chromium/fix_os_crypt_async_cookie_encryption.patch
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/build_enable_perfetto.patch
  patches/node/build_ensure_native_module_compilation_fails_if_not_using_a_new.patch
  patches/node/build_restore_clang_as_default_compiler_on_macos.patch
  patches/node/chore_allow_the_node_entrypoint_to_be_a_builtin_module.patch
  patches/node/chore_disable_deprecation_ftbfs_in_simdjson_header.patch
  patches/node/chore_expose_importmoduledynamically_and.patch
  patches/node/expose_get_builtin_module_function.patch
  patches/node/fix_add_default_values_for_variables_in_common_gypi.patch
  patches/node/fix_allow_disabling_fetch_in_renderer_and_worker_processes.patch
  patches/node/fix_allow_passing_fileexists_fn_to_legacymainresolve.patch
  patches/node/fix_avoid_external_memory_leak_on_invalid_tls_protocol_versions.patch
  patches/node/fix_do_not_resolve_electron_entrypoints.patch
  patches/node/fix_ensure_traverseparent_bails_on_resource_path_exit.patch
  patches/node/fix_expose_readfilesync_override_for_modules.patch
  patches/node/fix_expose_the_built-in_electron_module_via_the_esm_loader.patch
  patches/node/fix_lazyload_fs_in_esm_loaders_to_apply_asar_patches.patch
  patches/node/fix_suppress_nodiscard_warning_for_copy_options_operator.patch
  patches/node/lib_check_sharedarraybuffer_existence_in_fast-utf8-stream.patch
  patches/node/pass_all_globals_through_require.patch
  patches/node/refactor_allow_embedder_overriding_of_internal_fs_calls.patch
  patches/node/refactor_attach_cppgc_heap_on_v8_isolate_creation.patch
  patches/node/src_handle_der_decoding_errors_from_system_certificates.patch
  patches/node/support_v8_sandboxed_pointers.patch
  patches/node/test_formally_mark_some_tests_as_flaky.patch
Owners: @electron/patch-owners

chore: re-add accidentally removed sslv23 test
  script/node-disabled-tests.json
Owners: none

chore: fixup crypto patch rebase
  patches/node/fix_crypto_tests_to_run_with_bssl.patch
Owners: @electron/patch-owners

src: add internal binding for constructing SharedArrayBuffers
  patches/node/.patches
  patches/node/fix_expose_the_built-in_electron_module_via_the_esm_loader.patch
  patches/node/lib_check_sharedarraybuffer_existence_in_fast-utf8-stream.patch
Owners: @electron/patch-owners

chore: bump node in DEPS to v24.13.0
  DEPS
Owners: @electron/wg-upgrades

test: make buffer sizes 32bit-aware in test-internal-util-construct-sab
  patches/node/.patches
  patches/node/test_make_buffer_sizes_32bit-aware_in.patch
Owners: @electron/patch-owners
