Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

fix(patch-conflict): update picture-in-picture for gesture handling refactor
  patches/chromium/picture-in-picture.patch
Owners: @electron/patch-owners

7130938: Reland "Remove some dependencies from the custom_handlers component"
  patches/chromium/chore_disable_protocol_handler_dcheck.patch
Owners: @electron/patch-owners

chore: fixup patch indices
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/disable_hidden.patch
  patches/chromium/expose_setuseragent_on_networkcontext.patch
  patches/chromium/feat_allow_code_cache_in_custom_schemes.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/fix_move_autopipsettingshelper_behind_branding_buildflag.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/network_service_allow_remote_certificate_verification_logic.patch
  patches/chromium/picture-in-picture.patch
  patches/chromium/revert_code_health_clean_up_stale_macwebcontentsocclusion.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/scroll_bounce_flag.patch
  patches/devtools_frontend/chore_expose_ui_to_allow_electron_to_set_dock_side.patch
  patches/webrtc/fix_handle_pipewire_capturer_initialization_and_management.patch
Owners: @electron/patch-owners

7106405: [video pip] Fix gesture handling issues
  patches/chromium/picture-in-picture.patch
Owners: @electron/patch-owners

7139361: Rename PluginService's GetPlugins methods
  shell/browser/electron_plugin_info_host_impl.cc
Owners: none

test: fix macos webgl test | 7128438: Reland "Flip SwiftShader deprecation to launched." | https://chromium-review.googlesource.com/c/chromium/src/+/7128438
  spec/chromium-spec.ts
Owners: none

fix: update GetPlugins to GetPluginsAsync for API change
  shell/browser/electron_plugin_info_host_impl.cc
Owners: none

chore: update patch hunk headers
  patches/chromium/fix_move_autopipsettingshelper_behind_branding_buildflag.patch
Owners: @electron/patch-owners

test: update webgl test to skip on fallback adapters
  spec/chromium-spec.ts
Owners: none

Fixup spec runner to properly fail on linux when tests fail
  .github/workflows/pipeline-segment-electron-test.yml
  script/spec-runner.js
Owners: @electron/wg-infra

fix(patch-conflict): update picture-in-picture patch for gesture handling refactor
  patches/chromium/picture-in-picture.patch
Owners: @electron/patch-owners

fix(patch-conflict): update protocol handler patch for relaxed assertion
  patches/chromium/chore_disable_protocol_handler_dcheck.patch
Owners: @electron/patch-owners

chore: update patch hunk headers
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/disable_hidden.patch
  patches/chromium/expose_setuseragent_on_networkcontext.patch
  patches/chromium/feat_allow_code_cache_in_custom_schemes.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/fix_move_autopipsettingshelper_behind_branding_buildflag.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/network_service_allow_remote_certificate_verification_logic.patch
  patches/chromium/revert_code_health_clean_up_stale_macwebcontentsocclusion.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/scroll_bounce_flag.patch
  patches/devtools_frontend/chore_expose_ui_to_allow_electron_to_set_dock_side.patch
  patches/reclient-configs/fix_add_python_remote_wrapper.patch
  patches/webrtc/fix_handle_pipewire_capturer_initialization_and_management.patch
Owners: @electron/patch-owners

fix: update GetPlugins to GetPluginsAsync for API rename
  shell/browser/electron_plugin_info_host_impl.cc
Owners: none

fix(patch-conflict): wrap HideLiveCaptionDialogForGestureIfNecessary in #if 0
  patches/chromium/picture-in-picture.patch
Owners: @electron/patch-owners

chore: update patch hunk headers
  patches/chromium/fix_move_autopipsettingshelper_behind_branding_buildflag.patch
Owners: @electron/patch-owners

test: fixup dbus tests
  package.json
  spec/api-notification-dbus-spec.ts
  spec/api-power-monitor-spec.ts
  yarn.lock
Owners: none

test: convert shared-texture-spec from old done callback to async
  spec/api-shared-texture-spec.ts
Owners: none

Fixup spec runner to properly fail on linux when tests fail
  .github/workflows/pipeline-segment-electron-test.yml
  script/spec-runner.js
Owners: @electron/wg-infra

chore: bump chromium in DEPS to 144.0.7538.0
  DEPS
Owners: @electron/wg-upgrades

fix(patch-conflict): add printing_features.h include to printing.patch
  patches/chromium/printing.patch
Owners: @electron/patch-owners

fix(patch-conflict): update kStartToken comment in ProcessSingleton patch
  patches/chromium/feat_add_data_parameter_to_processsingleton.patch
Owners: @electron/patch-owners

fix(patch-conflict): update FullscreenInternalOption enum names
  patches/chromium/fix_adapt_exclusive_access_for_electron_needs.patch
Owners: @electron/patch-owners

fix(patch-conflict): merge PipScreenCaptureCoordinatorProxy with non-shareable window filtering
  patches/chromium/feat_allow_usage_of_sccontentsharingpicker_on_supported_platforms.patch
  patches/chromium/feat_filter_out_non-shareable_windows_in_the_current_application_in.patch
Owners: @electron/patch-owners

fix: add logging_settings.h include for LoggingDestination enum
  shell/common/logging.cc
Owners: none

fix: add file_path.h include for incomplete type error
  shell/browser/electron_browser_context.h
Owners: none

fix: delegate GetSize() and Resize() to WebContentsView
  shell/browser/osr/osr_web_contents_view.cc
  shell/browser/osr/osr_web_contents_view.h
Owners: none

fix: add OnUnconfirmedTapConvertedToTap override for gesture handling
  shell/browser/osr/osr_render_widget_host_view.h
Owners: none

fix: add force-refresh parameter to RequestCheckingOfText
  shell/renderer/api/electron_api_spell_check_client.cc
  shell/renderer/api/electron_api_spell_check_client.h
Owners: none

fix: update GetPluginsAsync to sync GetPlugins API
  shell/browser/electron_plugin_info_host_impl.cc
Owners: none

fix: update PluginService API for RefreshPlugins and RegisterInternalPlugin
  shell/browser/electron_browser_main_parts.cc
Owners: none

fix: add parent handle to GlobalAcceleratorListener::OnCommandsChanged
  shell/browser/api/electron_api_global_shortcut.cc
Owners: none

docs: separate initiator field sentences
  docs/api/web-contents.md
Owners: none

test: fixup shared texture spec
  spec/api-shared-texture-spec.ts
Owners: none

Revert "test: fixup dbus tests"
  package.json
  spec/api-notification-dbus-spec.ts
  spec/api-power-monitor-spec.ts
  yarn.lock
Owners: none

test: fixup dbus tests
  package.json
  spec/ambient.d.ts
  spec/api-notification-dbus-spec.ts
  spec/api-power-monitor-spec.ts
  spec/package.json
  yarn.lock
Owners: none

test: disable context menu spellcheck tests on linux
  spec/spellchecker-spec.ts
Owners: none

disable sharedTexture tests on platforms other than macOS arm64
  spec/api-shared-texture-spec.ts
Owners: none

merge hslShift and options, revert sizing logic
  docs/api/native-image.md
  shell/common/api/electron_api_native_image_mac.mm
Owners: none

docs: update string params
  docs/api/native-image.md
Owners: none

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra
