Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

7202164: Reland "Reland "Remove GenericScopedHandle:IsValid""
  patches/chromium/feat_configure_launch_options_for_service_process.patch
Owners: @electron/patch-owners

fixup BUILD.gn for lint
  BUILD.gn
Owners: none

advance deprecation of v8::ReturnValue<void>::Set(Local<S>).
  patches/nan/.patches
  patches/nan/chore_handle_deprecation_of_v8_returnvalue_void_set_local_s.patch
Owners: @electron/patch-owners

chore: mention quiet period in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

fix: remove trailing spaces
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

chore: mention quiet period in PR template (#49117)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

fixup advance deprecation of v8::ReturnValue<void>::Set(Local<S>)
  patches/nan/chore_handle_deprecation_of_v8_returnvalue_void_set_local_s.patch
Owners: @electron/patch-owners

chore: reclaim macOS disk space
  .github/actions/free-space-macos/action.yml
Owners: @electron/wg-infra

ci: add nightly macOS disk space cleanup workflow
  .github/workflows/macos-disk-cleanup.yml
Owners: none

ci: add nightly macOS disk space cleanup workflow (#49119)
  .github/workflows/macos-disk-cleanup.yml
Owners: none

fix: rename RUNNER_NAME to MATRIX_RUNNER in disk cleanup workflow
  .github/workflows/macos-disk-cleanup.yml
Owners: none

fix: rename RUNNER_NAME to MATRIX_RUNNER in disk cleanup workflow (#49120)
  .github/workflows/macos-disk-cleanup.yml
Owners: none

chore: reclaim macOS disk space (#49118)
  .github/actions/free-space-macos/action.yml
Owners: @electron/wg-infra

fix: gate brew commands in free-space-macos action
  .github/actions/free-space-macos/action.yml
Owners: @electron/wg-infra

build: gate brew commands in free-space-macos action (#49123)
  .github/actions/free-space-macos/action.yml
Owners: @electron/wg-infra

docs: clearer wording (performance common pitfalls)
  docs/tutorial/performance.md
Owners: none

fix: wrong cause and removed flag in cookie change listener
  docs/api/cookies.md
  docs/breaking-changes.md
  shell/browser/api/electron_api_cookies.cc
  spec/api-session-spec.ts
Owners: @electron/wg-releases

ci: add diagnostic step for Windows cache extraction
  .github/actions/restore-cache-azcopy/action.yml
Owners: @electron/wg-infra

fix: run toast creation on background thread (#49106)
  shell/browser/notifications/notification.cc
  shell/browser/notifications/notification.h
  shell/browser/notifications/win/windows_toast_notification.cc
  shell/browser/notifications/win/windows_toast_notification.h
Owners: none

fix: ensure graceful quit after autoUpdater.quitAndInstall on macOS
  shell/browser/auto_updater_mac.mm
Owners: none

fix: export zlib symbols for native addon support
  build/electron.def
Owners: none

refactor: rename View#getVisible() to View#isVisible()
  docs/api/view.md
  shell/browser/api/electron_api_view.cc
  spec/api-view-spec.ts
Owners: none

refactor: rename C++ method View::GetVisible to View::IsVisible
  shell/browser/api/electron_api_view.cc
  shell/browser/api/electron_api_view.h
Owners: none

chore: update patches
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
Owners: @electron/patch-owners

fix: visual artifacts while resizing on Windows
  patches/chromium/.patches
  patches/chromium/viz_create_isbufferqueuesupportedandenabled.patch
  patches/chromium/viz_do_not_overallocate_surface_on_initial_render.patch
  patches/chromium/viz_fix_visual_artifacts_while_resizing_window_with_dcomp.patch
Owners: @electron/patch-owners

chore: skip setting LPAC ACLs
  patches/chromium/.patches
  patches/chromium/chore_disable_set_appcontainer_acls_py.patch
Owners: @electron/patch-owners

Revert "chore: skip setting LPAC ACLs"
  patches/chromium/.patches
  patches/chromium/chore_disable_set_appcontainer_acls_py.patch
Owners: @electron/patch-owners

chore: revert Convert to UNSAFE_TODO in sandbox
  patches/chromium/.patches
  patches/chromium/revert_convert_to_unsafe_todo_in_sandbox.patch
Owners: @electron/patch-owners

chore: rm fix_export_zlib_symbols.patch in favor of gn argument
  build/args/all.gn
  patches/chromium/.patches
  patches/chromium/fix_export_zlib_symbols.patch
Owners: @electron/patch-owners

feat: implement layered tray icons on macOS using container views
  shell/browser/api/electron_api_tray.cc
  shell/browser/api/electron_api_tray.h
  shell/browser/api/electron_api_tray_mac.mm
  shell/browser/ui/tray_icon_cocoa.h
  shell/browser/ui/tray_icon_cocoa.mm
Owners: none

Revert "chore: revert Convert to UNSAFE_TODO in sandbox"
  patches/chromium/.patches
  patches/chromium/revert_convert_to_unsafe_todo_in_sandbox.patch
Owners: @electron/patch-owners

chore: Revert "Enable network sandbox by default on Windows"
  patches/chromium/.patches
  patches/chromium/revert_enable_network_sandbox_by_default_on_windows.patch
Owners: @electron/patch-owners

chore: fix build
  patches/chromium/.patches
  patches/chromium/zlib_build_fix_zlib_symbols_visible_on_windows.patch
Owners: @electron/patch-owners

fix: correct typo in node-spec.ts comment
  spec/node-spec.ts
Owners: none

docs: add cold-start deep link handling example
  docs/tutorial/launch-app-from-url-in-another-app.md
Owners: none

Enable network sandbox by default on Windows
  shell/browser/feature_list.cc
Owners: none

Revert "chore: Revert "Enable network sandbox by default on Windows""
  patches/chromium/.patches
  patches/chromium/revert_enable_network_sandbox_by_default_on_windows.patch
Owners: @electron/patch-owners

fixup! Enable network sandbox by default on Windows | https://chromium-review.googlesource.com/c/chromium/src/+/7204292
  shell/browser/feature_list.cc
Owners: none

fixup!: Correct flag name, add kLocalNetworkAccessChecks to all platforms
  shell/browser/feature_list.cc
Owners: none

build: use powershell for Electron build step
  .github/actions/build-electron/action.yml
Owners: @electron/wg-infra

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra
