Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra

build: use xz compression
  script/lib/util.py
  script/zip-symbols.py
Owners: none

docs(menu-item): clarify meaning of menuItem.icon when passed a string
  docs/api/menu-item.md
Owners: none

chore: fixup indices
  patches/boringssl/feat_expose_several_extra_cipher_functions.patch
  patches/devtools_frontend/chore_expose_ui_to_allow_electron_to_set_dock_side.patch
Owners: @electron/patch-owners

docs: fix v40 stable release date (#48889)
  docs/tutorial/electron-timelines.md
Owners: none

docs: fix v40 stable release date (#48889)
  docs/tutorial/electron-timelines.md
Owners: none

docs: clarify that unsandboxed iframes can trigger main frame navigation via target='_top'
  docs/api/web-contents.md
Owners: none

fix: use single quotes
  docs/api/native-image.md
Owners: none

fix: use single quotes
  docs/api/native-image.md
Owners: none

docs: clarify meaning of string value for menu item icon
  docs/api/menu-item.md
Owners: none

fix: format
  docs/api/menu-item.md
Owners: none

fix: wording
  docs/api/menu-item.md
Owners: none

chore: add datadog-ci as a dev dependency
  .github/workflows/pipeline-segment-electron-test.yml
  package.json
  yarn.lock
Owners: @electron/wg-infra

see what breaks with yarn hardened mode turned on
  .github/actions/install-dependencies/action.yml
  .github/workflows/pipeline-electron-build-and-test-and-nan.yml
  .github/workflows/pipeline-segment-electron-build.yml
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

docs: deprecate clipboard API access from renderer processes (#48877)
  docs/api/clipboard.md
  docs/breaking-changes.md
  lib/renderer/api/clipboard.ts
Owners: @electron/wg-releases

docs: deprecate clipboard API access from renderer processes (#48877)
  docs/api/clipboard.md
  docs/breaking-changes.md
  lib/renderer/api/clipboard.ts
Owners: @electron/wg-releases

feat: import shared texture supports nv12.
  docs/api/structures/shared-texture-import-texture-info.md
  shell/common/api/electron_api_shared_texture.cc
Owners: none

refactor: make api::WebRequest inherit from gin::Wrappable
  patches/chromium/chore_add_electron_objects_to_wrappablepointertag.patch
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_session.h
  shell/browser/api/electron_api_web_request.cc
  shell/browser/api/electron_api_web_request.h
  shell/browser/electron_browser_client.cc
Owners: @electron/patch-owners

refactor: make ProxyingWebSocket::web_request_ a cppgc::WeakPersistent<>
  shell/browser/net/proxying_websocket.h
Owners: none

refactor: use cppgc::WeakPersistent<> in ProxyingURLLoaderFactory
  shell/browser/net/proxying_url_loader_factory.h
Owners: none

refactor: make ProxyingURLLoaderFactory::web_request_ const
  shell/browser/net/proxying_url_loader_factory.cc
  shell/browser/net/proxying_url_loader_factory.h
Owners: none

refactor: ProxyingURLLoaderFactory takes a concrete api::WebRequest instead of a WebRequestAPI
  shell/browser/net/proxying_url_loader_factory.h
Owners: none

chore: fix doc shear
  shell/browser/api/electron_api_web_request.h
Owners: none

add a gin::WeakCellFactory to api::WebRequest
  shell/browser/api/electron_api_web_request.cc
  shell/browser/api/electron_api_web_request.h
Owners: none

refactor: use a gin::WeakCell for the bound WebRequest argument in HandleOnBeforeRequestResponseEvent()
  shell/browser/api/electron_api_web_request.cc
Owners: none

chore: update patches
  patches/chromium/chore_add_electron_objects_to_wrappablepointertag.patch
Owners: @electron/patch-owners

fixup add datadog-ci as a dev dependency
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

Revert "speculative fix for linux arm out of memory error"
  .yarn/releases/yarn-4.10.3.cjs
Owners: none

docs: fix docs for `app.isHardwareAccelerationEnabled()`
  docs/api/app.md
Owners: none

fix: pip patch
  patches/chromium/fix_move_autopipsettingshelper_behind_branding_buildflag.patch
  patches/chromium/picture-in-picture.patch
Owners: @electron/patch-owners

drop YARN_ENABLE_HARDENED_MODE env var
  .github/actions/install-dependencies/action.yml
  .github/workflows/pipeline-segment-electron-test.yml
  script/nan-spec-runner.js
Owners: @electron/wg-infra

refactor: make `api::WebRequest` inherit from `gin::Wrappable` (#48762)
  patches/chromium/chore_add_electron_objects_to_wrappablepointertag.patch
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_session.h
  shell/browser/api/electron_api_web_request.cc
  shell/browser/api/electron_api_web_request.h
  shell/browser/electron_browser_client.cc
  shell/browser/net/proxying_url_loader_factory.cc
  shell/browser/net/proxying_url_loader_factory.h
  shell/browser/net/proxying_websocket.h
Owners: @electron/patch-owners

refactor: make `api::WebRequest` inherit from `gin::Wrappable` (#48762)
  patches/chromium/chore_add_electron_objects_to_wrappablepointertag.patch
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_session.h
  shell/browser/api/electron_api_web_request.cc
  shell/browser/api/electron_api_web_request.h
  shell/browser/electron_browser_client.cc
  shell/browser/net/proxying_url_loader_factory.cc
  shell/browser/net/proxying_url_loader_factory.h
  shell/browser/net/proxying_websocket.h
Owners: @electron/patch-owners

fix: devtools crashing on Linux in detach mode
  shell/browser/ui/views/electron_views_delegate.cc
Owners: none

fix: Windows: Calling window.setFocusable(true) will no longer cause a window to lose focus (#45640)
  shell/browser/native_window_views.cc
Owners: none

fix: Windows: Calling window.setFocusable(true) will no longer cause a window to lose focus (#45640)
  shell/browser/native_window_views.cc
Owners: none

fix: crash on windows when UTF-8 is in path
  patches/node/.patches
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/fix_ensure_traverseparent_bails_on_resource_path_exit.patch
  patches/node/fix_expose_readfilesync_override_for_modules.patch
  patches/node/src_use_cp_utf8_for_wide_file_names_on_win32.patch
Owners: @electron/patch-owners

test: add yarn.lock file for nan
  patches/nan/.patches
  patches/nan/chore_add_yarnrc_yml_and_yarn_lock_file_to_use_yarn_v4.patch
  script/nan-spec-runner.js
Owners: @electron/patch-owners

refactor: use std::map::extract() in api::WebRequest
  shell/browser/api/electron_api_web_request.cc
Owners: none

build: use tar.xz compression
  script/lib/util.py
  script/zip-symbols.py
Owners: none

fix: menu bar hiding on two setFullScreen(false)
  shell/browser/native_window_views.cc
Owners: none
