Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra

chore: typo
  docs/api/view.md
Owners: none

refactor: move animate into options object
  docs/api/view.md
  shell/browser/api/electron_api_view.cc
Owners: none

spec: add view animation test
  spec/api-view-spec.ts
Owners: none

docs: update
  docs/api/view.md
Owners: none

build: cross compile windows on linux
  .github/actions/build-electron/action.yml
  .github/workflows/build.yml
  .github/workflows/pipeline-segment-electron-build.yml
  build/siso/main.star
  script/actions/move-artifacts.sh
Owners: @electron/wg-infra

add debugging to crash reporter specs.
  spec/api-crash-reporter-spec.ts
Owners: none

save source cache
  .github/actions/build-electron/action.yml
  .github/actions/restore-cache-aks/action.yml
Owners: @electron/wg-infra

Revert "save source cache"
  .github/actions/build-electron/action.yml
  .github/actions/restore-cache-aks/action.yml
Owners: @electron/wg-infra

chore: temporarily remove crashpad patches to see if they are the issue
  patches/chromium/.patches
  patches/chromium/crash_allow_setting_more_options.patch
  patches/chromium/crashpad_pid_check.patch
  patches/node/.patches
  patches/node/enable_crashpad_linux_node_processes.patch
Owners: @electron/patch-owners

debug crashpad failures
  .github/actions/build-electron/action.yml
  script/actions/move-artifacts.sh
Owners: @electron/wg-infra

Revert "debug crashpad failures"
  .github/actions/build-electron/action.yml
  script/actions/move-artifacts.sh
Owners: @electron/wg-infra

fix: clean up old staged updates before downloading new update
  patches/squirrel.mac/.patches
  patches/squirrel.mac/fix_clean_up_old_staged_updates_before_downloading_new_update.patch
  spec/api-autoupdater-darwin-spec.ts
Owners: @electron/patch-owners

chore: update patches for 40-x-y (#49513)
  patches/v8/.patches
  patches/v8/cherry-pick-dba49550b12d.patch
Owners: @electron/patch-owners

7502996: [DevTools] Add ability to toggle Chromium feature flags from DevTools
  shell/browser/ui/inspectable_web_contents.h
Owners: none

7456200: Vectorize StringImpl::CopyChars and EqualIgnoringASCIICase using Highway.
  BUILD.gn
Owners: none

7236627: spellcheck: supply full spelling marker info, incld. marker type
  shell/renderer/api/electron_api_spell_check_client.cc
  shell/renderer/api/electron_api_spell_check_client.h
Owners: none

ci: reapply patches if PR base branch updates them
  .github/workflows/build.yml
  .github/workflows/rerun-apply-patches.yml
Owners: @electron/wg-infra

refactor: use `gin::Wrappable` for `electron::api::Screen`
  patches/chromium/chore_add_electron_objects_to_wrappablepointertag.patch
  shell/browser/api/electron_api_screen.cc
  shell/browser/api/electron_api_screen.h
Owners: @electron/patch-owners

fix: prevent crash when GPU context unavailable in sharedTexture
  shell/common/api/electron_api_shared_texture.cc
Owners: none

Update introduction.md
  docs/tutorial/introduction.md
Owners: none

build: Run gh workflows only on e/e
  .github/workflows/audit-branch-ci.yml
  .github/workflows/branch-created.yml
  .github/workflows/build-git-cache.yml
  .github/workflows/build.yml
  .github/workflows/clean-src-cache.yml
  .github/workflows/linux-publish.yml
  .github/workflows/macos-disk-cleanup.yml
  .github/workflows/macos-publish.yml
  .github/workflows/scorecards.yml
  .github/workflows/stable-prep-items.yml
  .github/workflows/stale.yml
  .github/workflows/windows-publish.yml
Owners: @electron/wg-infra

refactor: simplify native window to base window lookup
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/native_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_mac.h
  shell/browser/native_window_mac.mm
  shell/browser/native_window_views.cc
  shell/browser/native_window_views.h
  shell/common/gin_helper/trackable_object.cc
  shell/common/gin_helper/trackable_object.h
Owners: none

chore: rm dependency on wtf::string from blink public headers
  patches/chromium/add_didinstallconditionalfeatures.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_expose_isolate_parameter_in_script_lifecycle_observers.patch
Owners: @electron/patch-owners

refactor: use `gin::Wrappable` for `electron::api::Screen` (#49506)
  patches/chromium/chore_add_electron_objects_to_wrappablepointertag.patch
  shell/browser/api/electron_api_screen.cc
  shell/browser/api/electron_api_screen.h
Owners: @electron/patch-owners

refactor: use `gin::Wrappable` for `electron::api::PowerMonitor`
  patches/chromium/chore_add_electron_objects_to_wrappablepointertag.patch
  shell/browser/api/electron_api_power_monitor.cc
  shell/browser/api/electron_api_power_monitor.h
Owners: @electron/patch-owners

chore: update patches
  patches/chromium/chore_add_electron_objects_to_wrappablepointertag.patch
Owners: @electron/patch-owners

refactor: use `gin::Wrappable` for `electron::api::PowerMonitor` (#49509)
  patches/chromium/chore_add_electron_objects_to_wrappablepointertag.patch
  shell/browser/api/electron_api_power_monitor.cc
  shell/browser/api/electron_api_power_monitor.h
Owners: @electron/patch-owners

fix: remove logging
  shell/common/api/electron_api_shared_texture.cc
Owners: none

fix: remove logging
  shell/common/api/electron_api_shared_texture.cc
Owners: none

7493995: Restore directive part of wasm-eval error message
  spec/chromium-spec.ts
Owners: none

docs: correct type for process.noDeprecation
  docs/api/process.md
Owners: none

docs: add type reference links in Menu and MenuItem API documentation (#49437)
  docs/api/menu-item.md
  docs/api/menu.md
Owners: none

refactor: simplify `NativeWindow`-to-`BaseWindow` lookup (#49520)
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/native_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_mac.h
  shell/browser/native_window_mac.mm
  shell/browser/native_window_views.cc
  shell/browser/native_window_views.h
  shell/common/gin_helper/trackable_object.cc
  shell/common/gin_helper/trackable_object.h
Owners: none

fix: ensure WebContents::WasShown runs when window is shown
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/api/electron_api_browser_window.h
Owners: none

test: update/fix Node.js disabled specs
  patches/node/fix_crypto_tests_to_run_with_bssl.patch
  script/node-disabled-tests.json
Owners: @electron/patch-owners

build: Run gh workflows only on e/e (#49521)
  .github/workflows/audit-branch-ci.yml
  .github/workflows/branch-created.yml
  .github/workflows/build-git-cache.yml
  .github/workflows/build.yml
  .github/workflows/clean-src-cache.yml
  .github/workflows/linux-publish.yml
  .github/workflows/macos-disk-cleanup.yml
  .github/workflows/macos-publish.yml
  .github/workflows/scorecards.yml
  .github/workflows/stable-prep-items.yml
  .github/workflows/stale.yml
  .github/workflows/windows-publish.yml
Owners: @electron/wg-infra

ci: add pipeline segment to run clang-tidy (#49072)
  .github/actions/build-electron/action.yml
  .github/workflows/build.yml
  .github/workflows/pipeline-electron-build-and-tidy-and-test-and-nan.yml
  .github/workflows/pipeline-electron-build-and-tidy-and-test.yml
  .github/workflows/pipeline-segment-electron-build.yml
  .github/workflows/pipeline-segment-electron-clang-tidy.yml
  script/run-clang-tidy.ts
Owners: @electron/wg-infra

feat: Add `getAccentColor` on Linux (#48027)
  docs/api/system-preferences.md
  shell/browser/api/electron_api_system_preferences.cc
  shell/browser/api/electron_api_system_preferences.h
  spec/api-system-preferences-spec.ts
Owners: none

revert one line
  docs/api/browser-window.md
Owners: none

update tests
  spec/api-browser-view-spec.ts
  spec/api-browser-window-spec.ts
Owners: none
