Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra

7138583: [Partitioned Popins Removal] IPC
  patches/chromium/can_create_window.patch
Owners: @electron/patch-owners

build: apply additional compression to dsym on upload (#48930)
  script/lib/util.py
  script/zip-symbols.py
Owners: none

build: apply additional compression to dsym on upload (#48930)
  script/lib/util.py
  script/zip-symbols.py
Owners: none

chore: fixup patch indices
  patches/chromium/add_didinstallconditionalfeatures.patch
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/blink_local_frame.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_expose_isolate_parameter_in_script_lifecycle_observers.patch
  patches/chromium/chore_grandfather_in_electron_views_and_delegates.patch
  patches/chromium/chore_partial_revert_of.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/extend_apply_webpreferences.patch
  patches/chromium/feat_add_support_for_missing_dialog_features_to_shell_dialogs.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_expose_raw_response_headers_from_urlloader.patch
  patches/chromium/feat_separate_content_settings_callback_for_sync_and_async_clipboard.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/gritsettings_resource_ids.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/printing.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/refactor_unfilter_unresponsive_events.patch
  patches/chromium/revert_partial_remove_unused_prehandlemouseevent.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/scroll_bounce_flag.patch
  patches/chromium/web_contents.patch
  patches/chromium/webview_fullscreen.patch
  patches/devtools_frontend/chore_expose_ui_to_allow_electron_to_set_dock_side.patch
Owners: @electron/patch-owners

7139794: Partially remove check for global handlers in plugin mime_type code
  shell/browser/electron_plugin_info_host_impl.cc
Owners: none

remove yarn-hardened-mode parameter
  .github/actions/install-dependencies/action.yml
  .github/workflows/build.yml
  .github/workflows/pipeline-electron-build-and-test-and-nan.yml
  .github/workflows/pipeline-segment-electron-build.yml
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

test: don't reinstall spec/node_modules via spec-runner
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

docs: clarify meaning of string value for menu item icon (#48919)
  docs/api/menu-item.md
Owners: none

docs: clarify meaning of string value for menu item icon (#48919)
  docs/api/menu-item.md
Owners: none

feat: add --disable-geolocation command-line flag for macOS (#45934)
  docs/api/command-line-switches.md
  shell/browser/api/electron_api_session.cc
  shell/browser/electron_browser_main_parts_mac.mm
  shell/browser/electron_permission_manager.cc
  shell/browser/electron_permission_manager.h
  spec/chromium-spec.ts
Owners: none

feat: add --disable-geolocation command-line flag for macOS (#45934)
  docs/api/command-line-switches.md
  shell/browser/api/electron_api_session.cc
  shell/browser/electron_browser_main_parts_mac.mm
  shell/browser/electron_permission_manager.cc
  shell/browser/electron_permission_manager.h
  spec/chromium-spec.ts
Owners: none

docs: explain how to load SF Symbols with `nativeImage` (#48908)
  docs/api/native-image.md
Owners: none

docs: explain how to load SF Symbols with `nativeImage` (#48908)
  docs/api/native-image.md
Owners: none

fixup test: don't reinstall spec/node_modules via spec-runner
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

fix: handle tar.xz files in uploaders, add to breaking changes
  docs/breaking-changes.md
  script/release/release.ts
  script/release/uploaders/upload.py
Owners: @electron/wg-releases

fix: crash on windows when UTF-8 is in path (#48898)
  patches/node/.patches
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/fix_ensure_traverseparent_bails_on_resource_path_exit.patch
  patches/node/fix_expose_readfilesync_override_for_modules.patch
  patches/node/src_use_cp_utf8_for_wide_file_names_on_win32.patch
Owners: @electron/patch-owners

fix: crash on windows when UTF-8 is in path (#48898)
  patches/node/.patches
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/fix_ensure_traverseparent_bails_on_resource_path_exit.patch
  patches/node/fix_expose_readfilesync_override_for_modules.patch
  patches/node/src_use_cp_utf8_for_wide_file_names_on_win32.patch
Owners: @electron/patch-owners

test: fix types in chromium-spec
  spec/chromium-spec.ts
Owners: none

fix: crash on windows when UTF-8 is in path
  patches/node/.patches
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/fix_ensure_traverseparent_bails_on_resource_path_exit.patch
  patches/node/fix_expose_readfilesync_override_for_modules.patch
  patches/node/src_use_cp_utf8_for_wide_file_names_on_win32.patch
Owners: @electron/patch-owners

docs: add additional file extension info
  docs/breaking-changes.md
Owners: @electron/wg-releases

docs: fix docs for `app.isHardwareAccelerationEnabled()` (#48925)
  docs/api/app.md
Owners: none

docs: fix docs for `app.isHardwareAccelerationEnabled()` (#48925)
  docs/api/app.md
Owners: none

fix: crash on windows when UTF-8 is in path
  patches/node/.patches
  patches/node/fix_ensure_traverseparent_bails_on_resource_path_exit.patch
  patches/node/fix_expose_readfilesync_override_for_modules.patch
  patches/node/src_use_cp_utf8_for_wide_file_names_on_win32.patch
Owners: @electron/patch-owners

fixup test: don't reinstall spec/node_modules via spec-runner
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

Reapply "speculative fix for linux arm out of memory error"
  .yarn/releases/yarn-4.10.3.cjs
Owners: none

fix(reland): allow disabling all `NSMenuItems` (#48795)
  lib/browser/api/menu.ts
  shell/browser/ui/cocoa/electron_menu_controller.mm
Owners: none

chore: cherry-pick 4cf9311 from v8
  patches/v8/.patches
  patches/v8/preserve_field_repr_in_property_array_extension.patch
Owners: @electron/patch-owners

chore: cherry-pick 4cf9311810b0 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-4cf9311810b0.patch
Owners: @electron/patch-owners

chore: cherry-pick 4cf9311810b0 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-4cf9311810b0.patch
Owners: @electron/patch-owners

chore: cherry-pick 4cf9311 from v8
  patches/v8/.patches
  patches/v8/preserve_field_repr_in_property_array_extension.patch
Owners: @electron/patch-owners

test: add view.getBounds|setBounds tests
  spec/api-view-spec.ts
Owners: none

test: fix types in chromium-spec (#48943)
  spec/chromium-spec.ts
Owners: none

test: fix types in chromium-spec (#48943)
  spec/chromium-spec.ts
Owners: none

fix: devtools crashing on Linux in detach mode (#48926)
  shell/browser/ui/views/electron_views_delegate.cc
Owners: none

Revert "fixup test: don't reinstall spec/node_modules via spec-runner"
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

Revert "fixup test: don't reinstall spec/node_modules via spec-runner"
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

Revert "test: don't reinstall spec/node_modules via spec-runner"
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

just don't do double yarn install for linux arm
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

fix: handle tar.xz files in uploaders, add to breaking changes (#48941)
  docs/breaking-changes.md
  script/release/release.ts
  script/release/uploaders/upload.py
Owners: @electron/wg-releases

fix: handle tar.xz files in uploaders, add to breaking changes (#48941)
  docs/breaking-changes.md
  script/release/release.ts
  script/release/uploaders/upload.py
Owners: @electron/wg-releases
