Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

try this
  .github/workflows/pipeline-segment-electron-build.yml
Owners: @electron/wg-infra

Upgrade Yarn to 4.12.0
  .yarn/releases/yarn-4.11.0.cjs
  .yarn/releases/yarn-4.12.0.cjs
  .yarnrc.yml
  DEPS
  package.json
  script/yarn.js
Owners: @electron/wg-upgrades

build: use @electron-ci/dev-root for package.json default (#49154)
  package.json
  script/release/bin/publish-to-npm.ts
  yarn.lock
Owners: @electron/wg-releases

fix: display PageUp and PageDown as plain text on macOS menu
  shell/browser/ui/cocoa/electron_menu_controller.mm
Owners: none

feat: add copyVideoFrameAt and saveVideoFrameAs Method on Webcontent
  docs/api/web-contents.md
  docs/api/web-frame-main.md
  lib/browser/api/web-contents.ts
  shell/browser/api/electron_api_web_frame_main.cc
  shell/browser/api/electron_api_web_frame_main.h
  spec/api-web-frame-main-spec.ts
Owners: none

fix: correct typo in node-spec.ts comment
  spec/node-spec.ts
Owners: none

chore: upgrade Yarn to 4.12.0
  .yarn/releases/yarn-4.11.0.cjs
  .yarn/releases/yarn-4.12.0.cjs
  .yarnrc.yml
  package.json
Owners: none

build: upgrade yarn to 4.12.0
  .yarn/releases/yarn-4.11.0.cjs
  .yarn/releases/yarn-4.12.0.cjs
  .yarnrc.yml
  DEPS
  package.json
  script/yarn.js
Owners: @electron/wg-upgrades

build: upgrade github-app-auth to 3.2.0 (#49161)
  package.json
  yarn.lock
Owners: none

build: upgrade github-app-auth to 3.2.0 (#49162)
  package.json
  yarn.lock
Owners: none

build: upgrade yarn to 4.12.0 (#49176)
  .yarn/releases/yarn-4.11.0.cjs
  .yarn/releases/yarn-4.12.0.cjs
  .yarnrc.yml
  DEPS
  package.json
  script/yarn.js
Owners: @electron/wg-upgrades

chore(patch-conflict): feat_filter_out_non-shareable_windows_in_the_current_application_in.patch
  patches/chromium/feat_filter_out_non-shareable_windows_in_the_current_application_in.patch
Owners: @electron/patch-owners

chore(patch-conflict): feat_add_support_for_missing_dialog_features_to_shell_dialogs.patch
  patches/chromium/feat_add_support_for_missing_dialog_features_to_shell_dialogs.patch
Owners: @electron/patch-owners

7228586: Migrate SystemMemoryInfo from ByteCount to ByteSize
  shell/common/api/electron_bindings.cc
Owners: none

7207583: GlobalRenderFrameHostId to ChildProcessId
  shell/browser/electron_permission_manager.cc
Owners: none

7205548: Remove uses of BodyAsStringCallbackDeprecated (extensions/)
  shell/browser/extensions/api/scripting/scripting_api.cc
Owners: none

build: update config to handle --translate-gender for pak files
  BUILD.gn
Owners: none

ci: disallow non-maintainer changes to Yarn files
  .github/workflows/non-maintainer-dependency-change.yml
Owners: none

fix: render PageUp/PageDown with macOS glyphs
  shell/browser/ui/cocoa/electron_menu_controller.mm
Owners: none

fix: visual artifacts while resizing on Windows
  patches/chromium/.patches
  patches/chromium/viz_create_isbufferqueuesupportedandenabled.patch
  patches/chromium/viz_fix_visual_artifacts_while_resizing_window_with_dcomp.patch
Owners: @electron/patch-owners

ci: disallow non-maintainer changes to Yarn files (#49186)
  .github/workflows/non-maintainer-dependency-change.yml
Owners: none

chore: update libc++ filenames
  filenames.libcxx.gni
Owners: none

chore: update patches (trivial only)
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/chore_grandfather_in_electron_views_and_delegates.patch
  patches/chromium/disable_hidden.patch
  patches/chromium/feat_allow_usage_of_sccontentsharingpicker_on_supported_platforms.patch
  patches/chromium/feat_configure_launch_options_for_service_process.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_enable_offscreen_rendering_with_viz_compositor.patch
  patches/chromium/fix_check_for_file_existence_before_setting_mtime.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_restore_original_resize_performance_on_macos.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/notification_provenance.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/revert_code_health_clean_up_stale_macwebcontentsocclusion.patch
  patches/chromium/revert_partial_remove_unused_prehandlemouseevent.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/support_mixed_sandbox_with_zygote.patch
Owners: @electron/patch-owners

chore(patch-conflict): feat_filter_out_non-shareable_windows_in_the_current_application_in.patch
  patches/chromium/feat_filter_out_non-shareable_windows_in_the_current_application_in.patch
Owners: @electron/patch-owners

build: drop dugite as a dependency
  package.json
  script/lib/utils.js
  script/lint.js
  script/release/notes/index.ts
  script/release/notes/notes.ts
  script/release/prepare-release.ts
  script/release/version-utils.ts
  spec/release-notes-spec.ts
  spec/version-bump-spec.ts
  yarn.lock
Owners: @electron/wg-releases

fixup! chore(patch-conflict): feat_add_support_for_missing_dialog_features_to_shell_dialogs.patch
  patches/chromium/feat_add_support_for_missing_dialog_features_to_shell_dialogs.patch
Owners: @electron/patch-owners

fixup! chore(patch-conflict): feat_filter_out_non-shareable_windows_in_the_current_application_in.patch
  patches/chromium/feat_allow_usage_of_sccontentsharingpicker_on_supported_platforms.patch
  patches/chromium/feat_filter_out_non-shareable_windows_in_the_current_application_in.patch
Owners: @electron/patch-owners

docs: update `roundedCorners` documentation
  docs/api/structures/base-window-options.md
Owners: none

test: remove outdated disabled test
  spec/api-browser-window-spec.ts
Owners: none

7239572: [OOPIF PDF] Enable OOPIF PDF by default on Windows/macOS/Linux
  shell/browser/electron_pdf_document_helper_client.cc
Owners: none

build: add angle patch dir
  patches/angle/.patches
  patches/config.json
Owners: @electron/patch-owners

chore: cherry-pick 95a32cb37edb from angle
  patches/angle/.patches
  patches/angle/cherry-pick-95a32cb37edb.patch
Owners: @electron/patch-owners

build: add angle patch dir
  patches/angle/.patches
  patches/config.json
Owners: @electron/patch-owners

chore: cherry-pick 95a32cb37edb from angle
  patches/angle/.patches
  patches/angle/cherry-pick-95a32cb37edb.patch
Owners: @electron/patch-owners

chore: update patches
  patches/angle/cherry-pick-95a32cb37edb.patch
Owners: @electron/patch-owners

chore: update patches
  patches/angle/.patches
  patches/angle/cherry-pick-95a32cb37edb.patch
Owners: @electron/patch-owners

chore: cherry-pick 95a32cb37edb from angle (#49201)
  patches/angle/.patches
  patches/angle/cherry-pick-95a32cb37edb.patch
  patches/config.json
Owners: @electron/patch-owners

fixup! chore(patch-conflict): feat_add_support_for_missing_dialog_features_to_shell_dialogs.patch
  patches/chromium/feat_add_support_for_missing_dialog_features_to_shell_dialogs.patch
Owners: @electron/patch-owners

build: drop dugite as a dependency (#49194)
  package.json
  script/lib/utils.js
  script/lint.js
  script/release/notes/index.ts
  script/release/notes/notes.ts
  script/release/prepare-release.ts
  script/release/version-utils.ts
  spec/release-notes-spec.ts
  spec/version-bump-spec.ts
  yarn.lock
Owners: @electron/wg-releases

fix window sizing and content sizing on Linux when CSD is in use
  shell/browser/native_window_views.cc
  shell/browser/native_window_views.h
  shell/browser/ui/electron_desktop_window_tree_host_linux.cc
  shell/browser/ui/electron_desktop_window_tree_host_linux.h
  shell/browser/ui/views/client_frame_view_linux.cc
  shell/browser/ui/views/client_frame_view_linux.h
  shell/browser/ui/views/frameless_view.cc
  shell/browser/ui/views/frameless_view.h
  shell/browser/ui/views/opaque_frame_view.h
Owners: none

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra
