Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra

refactor: use Object.values() instead of Object.keys() in stringifyValues() (#48741)
  lib/common/api/net-client-request.ts
Owners: none

docs: clarify BrowserWindow and App API support status on Wayland (#48740)
  docs/api/app.md
  docs/api/browser-window.md
Owners: none

docs: clarify BrowserWindow and App API support status on Wayland (#48740)
  docs/api/app.md
  docs/api/browser-window.md
Owners: none

Increase memory on linux arm runners
  .github/workflows/build.yml
Owners: @electron/wg-infra

debug memory on linux
  .github/actions/install-dependencies/action.yml
Owners: @electron/wg-infra

disable yarn hardened mode for nan.
  script/nan-spec-runner.js
Owners: none

fixup! fix: move app_name_ to the bottom of private: section
  patches/chromium/fix_linux_tray_id.patch
Owners: @electron/patch-owners

feat: add `sharedTexture` module
  BUILD.gn
  docs/api/shared-texture.md
  docs/api/structures/shared-texture-import-texture-info.md
  docs/api/structures/shared-texture-imported-subtle.md
  docs/api/structures/shared-texture-imported.md
  docs/api/structures/shared-texture-subtle.md
  docs/api/structures/shared-texture-sync-token.md
  docs/api/structures/shared-texture-transfer.md
  filenames.auto.gni
  filenames.gni
  lib/browser/api/module-list.ts
  lib/browser/api/shared-texture.ts
  lib/browser/ipc-main-internal-utils.ts
  lib/common/ipc-messages.ts
  lib/renderer/api/module-list.ts
  lib/renderer/api/shared-texture.ts
  lib/sandboxed_renderer/api/module-list.ts
  shell/browser/osr/osr_render_widget_host_view.cc
  shell/common/api/electron_api_shared_texture.cc
  shell/common/api/electron_api_shared_texture.h
  shell/common/gin_converters/gfx_converter.cc
  shell/common/node_bindings.cc
  spec/api-shared-texture-spec.ts
  spec/fixtures/api/shared-texture/common.js
  spec/fixtures/api/shared-texture/image.png
  spec/fixtures/api/shared-texture/managed/frame.html
  spec/fixtures/api/shared-texture/managed/index.html
  spec/fixtures/api/shared-texture/managed/preload.js
  spec/fixtures/api/shared-texture/managed/renderer.js
  spec/fixtures/api/shared-texture/osr.html
  spec/fixtures/api/shared-texture/subtle/index.html
  spec/fixtures/api/shared-texture/subtle/preload.js
  spec/fixtures/api/shared-texture/subtle/renderer.js
  typings/internal-ambient.d.ts
Owners: none

docs: enhance native file drag & drop tutorial with secure inbound handling and clear examples
  docs/images/From_Os_To_Electron.gif
  docs/tutorial/native-file-drag-drop.md
Owners: none

docs: add comprehensive guide on writing good issue reproductions
  docs/development/good-issue-reproduction.md
Owners: none

Strip trailing space for lint
  docs/api/menu.md
Owners: none

docs: add release timeline for Electron 40
  docs/tutorial/electron-timelines.md
Owners: none

docs: add comprehensive guide on writing good issue reproductions
  docs/development/good-issue-reproduction.md
Owners: none

fix: respect 'bigint' option for lstat(Sync) for asar wrapper
  lib/node/asar-fs-wrapper.ts
  spec/asar-spec.ts
Owners: none

fixup! fix: respect 'bigint' option for lstat(Sync) for asar wrapper
  lib/node/asar-fs-wrapper.ts
Owners: none

fix: release mouse buttons on focus loss on Wayland
  patches/chromium/.patches
  patches/chromium/fix_release_mouse_buttons_on_focus_loss_on_wayland.patch
Owners: @electron/patch-owners

test: add tests for passing layered images to tray
  spec/api-tray-spec.ts
Owners: none

docs: add release timeline for Electron 40 (#48751)
  docs/tutorial/electron-timelines.md
Owners: none

docs: introduce LayeredTrayImage type
  docs/api/structures/layered-tray-image.md
  docs/api/tray.md
  filenames.auto.gni
  spec/api-tray-spec.ts
Owners: none

docs: explain how to handle incoming drag and drop (#48718)
  docs/tutorial/native-file-drag-drop.md
Owners: none

docs: explain how to handle incoming drag and drop (#48718)
  docs/tutorial/native-file-drag-drop.md
Owners: none

fix: release mouse buttons on focus loss on Wayland (#48752)
  patches/chromium/.patches
  patches/chromium/fix_release_mouse_buttons_on_focus_loss_on_wayland.patch
Owners: @electron/patch-owners

fix: release mouse buttons on focus loss on Wayland (#48752)
  patches/chromium/.patches
  patches/chromium/fix_release_mouse_buttons_on_focus_loss_on_wayland.patch
Owners: @electron/patch-owners

fix: remove unnecessary .c_str()
  shell/browser/ui/tray_icon_linux.cc
Owners: none

fix: use string_view instead of string&
  patches/chromium/fix_linux_tray_id.patch
Owners: @electron/patch-owners

fix: use browser name as tray id
  patches/chromium/.patches
  patches/chromium/fix_linux_tray_id.patch
  shell/browser/ui/tray_icon_linux.cc
Owners: @electron/patch-owners

docs: note when to remove the patch
  patches/chromium/fix_linux_tray_id.patch
Owners: @electron/patch-owners

fix: move app_name_ to the bottom of private: section
  patches/chromium/fix_linux_tray_id.patch
Owners: @electron/patch-owners

fix: update patch
  patches/chromium/fix_linux_tray_id.patch
Owners: @electron/patch-owners

fix: move app_name_ to the bottom of private: section
  patches/chromium/fix_linux_tray_id.patch
Owners: @electron/patch-owners

fix: make linter happy
  patches/chromium/fix_linux_tray_id.patch
Owners: @electron/patch-owners

fix: use base's string utils to join strings
  patches/chromium/fix_linux_tray_id.patch
Owners: @electron/patch-owners

Revert "build: explicitly disable reclient"
  build/args/all.gn
Owners: none

chore: bump Node.js to 22.21.x
  .github/workflows/archaeologist-dig.yml
  .github/workflows/pipeline-segment-electron-build.yml
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

docs: introduce LayeredTrayImage type
  docs/api/structures/layered-tray-image.md
  docs/api/tray.md
  filenames.auto.gni
  spec/api-tray-spec.ts
Owners: none

docs: add docs for layered tray icons on macos
  docs/api/tray.md
Owners: none

test: add tests for passing layered images to tray
  spec/api-tray-spec.ts
Owners: none

feat: introduce layered tray icons on macos
  filenames.gni
  shell/browser/api/electron_api_tray.cc
  shell/browser/api/electron_api_tray.h
  shell/browser/api/electron_api_tray_mac.mm
Owners: none

7097498: Remove MSG_ROUTING_* constants from ipc_message.h
  patches/chromium/dom_storage_limits.patch
  shell/browser/electron_browser_client.cc
  shell/browser/net/proxying_url_loader_factory.h
  shell/browser/ui/inspectable_web_contents.cc
Owners: @electron/patch-owners

7090671: [//gpu] Remove unneeded GpuInfo methods
  shell/browser/api/gpu_info_enumerator.cc
  shell/browser/api/gpu_info_enumerator.h
Owners: none
