Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra

node-api: use WriteV2 in napi_get_value_string_utf16
  patches/node/.patches
  patches/node/node-api_use_writev2_in_napi_get_value_string_utf16.patch
Owners: @electron/patch-owners

src: migrate WriteOneByte to WriteOneByteV2
  patches/node/.patches
  patches/node/src_migrate_writeonebyte_to_writeonebytev2.patch
Owners: @electron/patch-owners

node-api: use WriteOneByteV2 in napi_get_value_string_latin1
  patches/node/.patches
  patches/node/node-api_use_writeonebytev2_in_napi_get_value_string_latin1.patch
Owners: @electron/patch-owners

chore: fixup patch indices
  patches/node/.patches
  patches/node/add_v8_taskpirority_to_foreground_task_runner_signature.patch
  patches/node/build_add_gn_build_files.patch
  patches/node/build_allow_unbundling_of_node_js_dependencies.patch
  patches/node/build_change_crdtp_protocoltypetraits_signatures_to_avoid_conflict.patch
  patches/node/build_compile_with_c_20_support.patch
  patches/node/build_enable_perfetto.patch
  patches/node/build_ensure_native_module_compilation_fails_if_not_using_a_new.patch
  patches/node/build_modify_js2c_py_to_allow_injection_of_original-fs_and_custom_embedder_js.patch
  patches/node/build_restore_clang_as_default_compiler_on_macos.patch
  patches/node/chore_add_createexternalizabletwobytestring_to_globals.patch
  patches/node/chore_allow_the_node_entrypoint_to_be_a_builtin_module.patch
  patches/node/chore_exclude_electron_node_folder_from_exit-time-destructors.patch
  patches/node/chore_expose_importmoduledynamically_and.patch
  patches/node/cli_move_--trace-atomics-wait_to_eol.patch
  patches/node/cli_remove_deprecated_v8_flag.patch
  patches/node/enable_crashpad_linux_node_processes.patch
  patches/node/expose_get_builtin_module_function.patch
  patches/node/fix_add_default_values_for_variables_in_common_gypi.patch
  patches/node/fix_adjust_wpt_and_webidl_tests_for_enabled_float16array.patch
  patches/node/fix_allow_passing_fileexists_fn_to_legacymainresolve.patch
  patches/node/fix_cppgc_initializing_twice.patch
  patches/node/fix_crypto_tests_to_run_with_bssl.patch
  patches/node/fix_do_not_resolve_electron_entrypoints.patch
  patches/node/fix_ensure_traverseparent_bails_on_resource_path_exit.patch
  patches/node/fix_expose_readfilesync_override_for_modules.patch
  patches/node/fix_expose_the_built-in_electron_module_via_the_esm_loader.patch
  patches/node/fix_handle_boringssl_and_openssl_incompatibilities.patch
  patches/node/fix_lazyload_fs_in_esm_loaders_to_apply_asar_patches.patch
  patches/node/fix_redefined_macos_sdk_header_symbols.patch
  patches/node/fix_remove_deprecated_errno_constants.patch
  patches/node/pass_all_globals_through_require.patch
  patches/node/refactor_allow_embedder_overriding_of_internal_fs_calls.patch
  patches/node/refactor_attach_cppgc_heap_on_v8_isolate_creation.patch
  patches/node/support_v8_sandboxed_pointers.patch
  patches/node/test_accomodate_v8_thenable_stack_trace_change_in_snapshot.patch
  patches/node/test_formally_mark_some_tests_as_flaky.patch
  patches/node/test_handle_explicit_resource_management_globals.patch
Owners: @electron/patch-owners

cli: remove --no-experimental-fetch flag
  patches/node/.patches
  patches/node/fix_allow_disabling_fetch_in_renderer_and_worker_processes.patch
Owners: @electron/patch-owners

fix: errant use of context->GetIsolate()
  patches/node/api_remove_deprecated_getisolate.patch
Owners: @electron/patch-owners

fix: tweak BoringSSL compat patch for new changes
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/fix_handle_boringssl_and_openssl_incompatibilities.patch
Owners: @electron/patch-owners

fixup! esm: fix module.exports export on CJS modules
  patches/node/fix_do_not_resolve_electron_entrypoints.patch
  patches/node/fix_expose_the_built-in_electron_module_via_the_esm_loader.patch
  patches/node/fix_lazyload_fs_in_esm_loaders_to_apply_asar_patches.patch
  patches/node/support_v8_sandboxed_pointers.patch
Owners: @electron/patch-owners

fix: add back missing isolate dtor declaration
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/refactor_attach_cppgc_heap_on_v8_isolate_creation.patch
Owners: @electron/patch-owners

esm: Source Phase Imports for WebAssembly
  patches/node/.patches
  patches/node/feat_allow_disabling_js_source_phase_imports.patch
  shell/common/node_bindings.cc
Owners: @electron/patch-owners

chore: bump @types/node to v24
  lib/browser/api/net-fetch.ts
  lib/browser/api/protocol.ts
  lib/browser/init.ts
  npm/package.json
  package.json
  spec/api-context-bridge-spec.ts
  spec/api-ipc-spec.ts
  yarn.lock
Owners: @electron/wg-releases

chore: fix const assignment in crypto test
  patches/node/fix_crypto_tests_to_run_with_bssl.patch
Owners: @electron/patch-owners

fixup! src: prepare for v8 sandboxing
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/support_v8_sandboxed_pointers.patch
Owners: @electron/patch-owners

fix: sandbox pointer patch issues
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/fix_allow_disabling_fetch_in_renderer_and_worker_processes.patch
  patches/node/refactor_attach_cppgc_heap_on_v8_isolate_creation.patch
  patches/node/support_v8_sandboxed_pointers.patch
Owners: @electron/patch-owners

chore: rework source phase import patch
  patches/node/.patches
  patches/node/feat_allow_disabling_js_source_phase_imports.patch
  patches/node/feat_disable_js_source_phase_imports_by_default.patch
  script/node-disabled-tests.json
  shell/common/node_bindings.cc
Owners: @electron/patch-owners

src: add percentage support to --max-old-space-size
  script/node-disabled-tests.json
Owners: none

chore: fixup crypto tests
  patches/node/fix_crypto_tests_to_run_with_bssl.patch
  patches/node/fix_handle_boringssl_and_openssl_incompatibilities.patch
Owners: @electron/patch-owners

chore: HostImportModuleWithPhaseDynamically todo
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/chore_expose_importmoduledynamically_and.patch
  shell/common/node_bindings.cc
Owners: @electron/patch-owners

fix: cjs esm failures
  patches/v8/.patches
  patches/v8/improve_module_linked_status_dchecks.patch
Owners: @electron/patch-owners

chore: remove deleted specs
  script/node-disabled-tests.json
Owners: none

src: use v8::ExternalMemoryAccounter
  patches/node/.patches
  patches/node/fix_avoid_external_memory_leak_on_invalid_tls_protocol_versions.patch
Owners: @electron/patch-owners

fix: v8::Object::Wrappable issues
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/refactor_attach_cppgc_heap_on_v8_isolate_creation.patch
Owners: @electron/patch-owners

chore: tweak sandboxed pr patch
  patches/node/support_v8_sandboxed_pointers.patch
Owners: @electron/patch-owners

fs: port SonicBoom module to fs module as FastUtf8Stream
  patches/node/.patches
  patches/node/fix_avoid_external_memory_leak_on_invalid_tls_protocol_versions.patch
  patches/node/lib_check_sharedarraybuffer_existence_in_fast-utf8-stream.patch
  shell/common/node_bindings.cc
Owners: @electron/patch-owners

fix: OPENSSL_secure_zalloc doesn't work in BoringSSL
  patches/node/support_v8_sandboxed_pointers.patch
Owners: @electron/patch-owners

test: disable parallel/test-os-checked-function
  script/node-disabled-tests.json
Owners: none

chore: fix accidental extra line
  patches/node/fix_lazyload_fs_in_esm_loaders_to_apply_asar_patches.patch
  patches/v8/.patches
  patches/v8/improve_module_linked_status_dchecks.patch
Owners: @electron/patch-owners

test: use WHATWG URL instead of url.parse
  spec/chromium-spec.ts
  spec/fixtures/pages/window-opener-targetOrigin.html
Owners: none

7017517: [defer-import-eval] Parse import defer syntax
  patches/node/.patches
  patches/node/chore_handle_support_for_import_defer_as_ns_and_import_defer.patch
Owners: @electron/patch-owners

7013355: [api] Remove deprecated PropertyCallbackInfo::Holder()
  patches/nan/.patches
  patches/nan/fix_remove_deprecated_propertycallbackinfo_holder.patch
Owners: @electron/patch-owners

chore: update patches
  patches/node/build_change_crdtp_protocoltypetraits_signatures_to_avoid_conflict.patch
  patches/node/build_enable_perfetto.patch
  patches/node/chore_allow_the_node_entrypoint_to_be_a_builtin_module.patch
  patches/node/chore_expose_importmoduledynamically_and.patch
  patches/node/cli_move_--trace-atomics-wait_to_eol.patch
  patches/node/cli_remove_deprecated_v8_flag.patch
  patches/node/fix_allow_passing_fileexists_fn_to_legacymainresolve.patch
  patches/node/fix_cppgc_initializing_twice.patch
  patches/node/fix_ensure_traverseparent_bails_on_resource_path_exit.patch
  patches/node/fix_expose_readfilesync_override_for_modules.patch
  patches/node/fix_expose_the_built-in_electron_module_via_the_esm_loader.patch
  patches/node/fix_handle_boringssl_and_openssl_incompatibilities.patch
  patches/node/fix_remove_deprecated_errno_constants.patch
  patches/node/fix_remove_fastapitypedarray_usage.patch
  patches/node/fix_remove_outdated_v8_flags_from_node_cc.patch
  patches/node/refactor_attach_cppgc_heap_on_v8_isolate_creation.patch
  patches/node/src_remove_dependency_on_wrapper-descriptor-based_cppheap.patch
  patches/node/src_stop_using_deprecated_fields_of_fastapicallbackoptions.patch
  patches/node/support_v8_sandboxed_pointers.patch
  patches/node/test_formally_mark_some_tests_as_flaky.patch
Owners: @electron/patch-owners

lib,src: refactor assert to load error source from memory
  patches/node/.patches
  patches/node/fix_assert_module_in_the_renderer_process.patch
Owners: @electron/patch-owners

src: add percentage support to --max-old-space-size
  script/node-disabled-tests.json
Owners: none

src: add percentage support to --max-old-space-size
  script/node-disabled-tests.json
Owners: none

lib,src: refactor assert to load error source from memory
  patches/node/.patches
  patches/node/fix_assert_module_in_the_renderer_process.patch
Owners: @electron/patch-owners

chore: update patches
  patches/node/build_change_crdtp_protocoltypetraits_signatures_to_avoid_conflict.patch
  patches/node/build_enable_perfetto.patch
  patches/node/chore_allow_the_node_entrypoint_to_be_a_builtin_module.patch
  patches/node/chore_expose_importmoduledynamically_and.patch
  patches/node/cli_move_--trace-atomics-wait_to_eol.patch
  patches/node/cli_remove_deprecated_v8_flag.patch
  patches/node/fix_allow_passing_fileexists_fn_to_legacymainresolve.patch
  patches/node/fix_cppgc_initializing_twice.patch
  patches/node/fix_ensure_traverseparent_bails_on_resource_path_exit.patch
  patches/node/fix_expose_readfilesync_override_for_modules.patch
  patches/node/fix_expose_the_built-in_electron_module_via_the_esm_loader.patch
  patches/node/fix_handle_boringssl_and_openssl_incompatibilities.patch
  patches/node/fix_remove_deprecated_errno_constants.patch
  patches/node/fix_remove_fastapitypedarray_usage.patch
  patches/node/fix_remove_outdated_v8_flags_from_node_cc.patch
  patches/node/refactor_attach_cppgc_heap_on_v8_isolate_creation.patch
  patches/node/src_remove_dependency_on_wrapper-descriptor-based_cppheap.patch
  patches/node/src_stop_using_deprecated_fields_of_fastapicallbackoptions.patch
  patches/node/support_v8_sandboxed_pointers.patch
  patches/node/test_formally_mark_some_tests_as_flaky.patch
Owners: @electron/patch-owners

docs: clarify BrowserWindow API support in Wayland
  docs/api/app.md
  docs/api/browser-window.md
Owners: none

typo fix
  docs/api/browser-window.md
Owners: none

refactor: use Object.values() instead of Object.keys() in stringifyValues
  lib/common/api/net-client-request.ts
Owners: none

fix: make linter happy
  docs/api/menu.md
Owners: none
