Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

formatting
  docs/tutorial/sandbox.md
  docs/tutorial/security.md
Owners: none

Updated according to feedback - adjusted sandbox.md
  docs/tutorial/sandbox.md
Owners: none

docs: security.md mark 'Enable process sandboxing' as active by default since electron 20
  docs/tutorial/security.md
Owners: none

Adjusted according to feedback
  docs/tutorial/security.md
Owners: none

docs: web-preferences.md - sandbox: mention default value and relation to nodeIntegration
  docs/api/structures/web-preferences.md
Owners: none

Implemented docs linting suggestions
  docs/tutorial/sandbox.md
  docs/tutorial/security.md
Owners: none

Fixed broken markup
  docs/tutorial/security.md
Owners: none

docs: docs/tutorial/sandbox.md - fixed typo
  docs/tutorial/sandbox.md
Owners: none

docs: security.md mark 'Enable process sandboxing' as active by defau… (#43247)
  docs/api/structures/web-preferences.md
  docs/tutorial/sandbox.md
  docs/tutorial/security.md
Owners: none

docs: security.md mark 'Enable process sandboxing' as active by defau… (#43247)
  docs/api/structures/web-preferences.md
  docs/tutorial/sandbox.md
  docs/tutorial/security.md
Owners: none

feat: add support for Apple MIE during compilation
  BUILD.gn
  buildflags/buildflags.gni
  docs/development/build-instructions-gn.md
Owners: none

chore: add MIE release note
  docs/release-notes/2025-10-24-macos-arm64-mte.md
Owners: none

esm: Source Phase Imports for WebAssembly
  patches/node/.patches
  patches/node/feat_allow_disabling_js_source_phase_imports.patch
  shell/common/node_bindings.cc
Owners: @electron/patch-owners

fixup! src: prepare for v8 sandboxing
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/support_v8_sandboxed_pointers.patch
Owners: @electron/patch-owners

cli: remove --no-experimental-fetch flag
  patches/node/.patches
  patches/node/fix_allow_disabling_fetch_in_renderer_and_worker_processes.patch
Owners: @electron/patch-owners

chore: fix const assignment in crypto test
  patches/node/fix_crypto_tests_to_run_with_bssl.patch
Owners: @electron/patch-owners

chore: bump @types/node to v24
  lib/browser/api/net-fetch.ts
  lib/browser/api/protocol.ts
  lib/browser/init.ts
  npm/package.json
  package.json
  spec/api-context-bridge-spec.ts
  spec/api-ipc-spec.ts
  yarn.lock
Owners: @electron/wg-releases

fix: sandbox pointer patch issues
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/fix_allow_disabling_fetch_in_renderer_and_worker_processes.patch
  patches/node/refactor_attach_cppgc_heap_on_v8_isolate_creation.patch
  patches/node/support_v8_sandboxed_pointers.patch
Owners: @electron/patch-owners

chore: rework source phase import patch
  patches/node/.patches
  patches/node/feat_allow_disabling_js_source_phase_imports.patch
  patches/node/feat_disable_js_source_phase_imports_by_default.patch
  shell/common/node_bindings.cc
Owners: @electron/patch-owners

src: add percentage support to --max-old-space-size
  script/node-disabled-tests.json
Owners: none

chore: fixup crypto tests
  patches/node/fix_crypto_tests_to_run_with_bssl.patch
  patches/node/fix_handle_boringssl_and_openssl_incompatibilities.patch
Owners: @electron/patch-owners

fix: cjs esm failures
  patches/v8/.patches
  patches/v8/improve_module_linked_status_dchecks.patch
Owners: @electron/patch-owners

chore: HostImportModuleWithPhaseDynamically todo
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/chore_expose_importmoduledynamically_and.patch
  shell/common/node_bindings.cc
Owners: @electron/patch-owners

fix: v8::Object::Wrappable issues
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/refactor_attach_cppgc_heap_on_v8_isolate_creation.patch
Owners: @electron/patch-owners

chore: remove deleted specs
  script/node-disabled-tests.json
Owners: none

fix: replace excessive use of 'any' types with proper TypeScript types
  lib/renderer/api/clipboard.ts
  lib/renderer/api/context-bridge.ts
  lib/renderer/api/ipc-renderer.ts
  lib/renderer/init.ts
  lib/renderer/ipc-native-setup.ts
  lib/renderer/ipc-renderer-internal-utils.ts
  lib/renderer/ipc-renderer-internal.ts
  lib/renderer/web-frame-init.ts
  lib/renderer/web-view/guest-view-internal.ts
  lib/renderer/web-view/web-view-attributes.ts
  lib/renderer/web-view/web-view-element.ts
  lib/renderer/web-view/web-view-impl.ts
  lib/sandboxed_renderer/preload.ts
  lib/utility/init.ts
  lib/utility/parent-port.ts
  typings/internal-electron.d.ts
  typings/internal-types.ts
Owners: none

chore: update add_didinstallconditionalfeatures.patch
  patches/chromium/add_didinstallconditionalfeatures.patch
Owners: @electron/patch-owners

chore: update allow_in-process_windows_to_have_different_web_prefs.patch
  patches/chromium/allow_in-process_windows_to_have_different_web_prefs.patch
Owners: @electron/patch-owners

chore: update allow_electron_to_depend_on_components_os_crypt_sync.patch
  patches/chromium/allow_electron_to_depend_on_components_os_crypt_sync.patch
Owners: @electron/patch-owners

chore: update patches
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_expose_isolate_parameter_in_script_lifecycle_observers.patch
  patches/chromium/chore_introduce_blocking_api_for_electron.patch
  patches/chromium/chore_partial_revert_of.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/feat_allow_code_cache_in_custom_schemes.patch
  patches/chromium/feat_configure_launch_options_for_service_process.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/gritsettings_resource_ids.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/osr_shared_texture_remove_keyed_mutex_on_win_dxgi.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/refactor_unfilter_unresponsive_events.patch
  patches/chromium/revert_partial_remove_unused_prehandlemouseevent.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/web_contents.patch
  patches/chromium/webview_fullscreen.patch
Owners: @electron/patch-owners

fix: correct postMessage types to use generic unknown type
  typings/internal-electron.d.ts
Owners: none

fix: crash on empty dialog extensions array on Windows (#48640)
  shell/browser/ui/file_dialog_win.cc
Owners: none

fix: crash on empty dialog extensions array on Windows (#48640)
  shell/browser/ui/file_dialog_win.cc
Owners: none

chore: update mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
Owners: @electron/patch-owners

chore: update add_didinstallconditionalfeatures.patch
  patches/chromium/add_didinstallconditionalfeatures.patch
Owners: @electron/patch-owners

chore: update printing.patch
  patches/chromium/printing.patch
Owners: @electron/patch-owners

chore: update allow_in-process_windows_to_have_different_web_prefs.patch
  patches/chromium/allow_in-process_windows_to_have_different_web_prefs.patch
Owners: @electron/patch-owners

chore: update chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
Owners: @electron/patch-owners

chore: update feat_ensure_mas_builds_of_the_same_application_can_use_safestorage.patch
  patches/chromium/feat_ensure_mas_builds_of_the_same_application_can_use_safestorage.patch
Owners: @electron/patch-owners

chore: update revert_cleanup_remove_feature_windelayspellcheckserviceinit.patch
  patches/chromium/revert_cleanup_remove_feature_windelayspellcheckserviceinit.patch
Owners: @electron/patch-owners

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra
