Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra

chore: update dependencies for Node 22 LTS
  npm/package.json
  package.json
Owners: @electron/wg-releases

chore: add note to keep patch that was upstreamed but reverted
  patches/chromium/fix_restore_original_resize_performance_on_macos.patch
Owners: @electron/patch-owners

cleanup
  shell/browser/native_window_views.cc
  shell/browser/ui/electron_desktop_window_tree_host_linux.cc
Owners: none

chore: update patches (trivial only)
  patches/chromium/can_create_window.patch
  patches/chromium/disable_hidden.patch
  patches/chromium/feat_expose_raw_response_headers_from_urlloader.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/revert_code_health_clean_up_stale_macwebcontentsocclusion.patch
  patches/chromium/revert_partial_remove_unused_prehandlemouseevent.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
Owners: @electron/patch-owners

chore(patch-conflict): keep patch after revert
  patches/chromium/fix_restore_original_resize_performance_on_macos.patch
Owners: @electron/patch-owners

7237910: Remove g_gtk_ui global
  patches/chromium/.patches
  patches/chromium/expose_gtk_ui_platform_field.patch
  shell/browser/ui/message_box_gtk.cc
Owners: @electron/patch-owners

7251900: Reland "Remove callback_helpers.h include from is_callback.h (try 5)"
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
Owners: @electron/patch-owners

7170174: [LNA] Retry requests for cached local resources
  shell/browser/net/url_loader_network_observer.h
  shell/common/api/electron_api_url_loader.h
Owners: none

fix: PDFs use OOPIF (behavior change)
  docs/breaking-changes.md
  spec/chromium-spec.ts
Owners: @electron/wg-releases

fixup! 7237910: Remove g_gtk_ui global
  shell/browser/ui/message_box_gtk.cc
Owners: none

fixup! 7251900: Reland "Remove callback_helpers.h include from is_callback.h (try 5)"
  shell/browser/certificate_manager_model.cc
Owners: none

fix: avoid startup crash when V8 sandbox is disabled
  patches/chromium/fix_harden_blink_scriptstate_maybefrom.patch
Owners: @electron/patch-owners

chore: update @electron dependencies to Node 22 LTS
  npm/package.json
  package.json
  yarn.lock
Owners: @electron/wg-releases

fix: net requests failing in utility process after network service restart
  shell/browser/electron_browser_client.cc
  shell/services/node/node_service.cc
Owners: none

fix: net requests failing in utility process after network service restart
  shell/browser/electron_browser_client.cc
  shell/browser/electron_browser_client.h
  shell/services/node/node_service.cc
Owners: none

refactor: change to nodeserviceclient
  shell/browser/api/electron_api_utility_process.cc
  shell/browser/api/electron_api_utility_process.h
  shell/browser/electron_browser_client.cc
  shell/browser/electron_browser_client.h
  shell/services/node/node_service.cc
  shell/services/node/public/mojom/node_service.mojom
Owners: none

feat: ensure host resolver
  shell/services/node/node_service.cc
  shell/services/node/node_service.h
Owners: none

fix: use GetRemote
  shell/services/node/node_service.cc
Owners: none

feat: native auto updater for MSIX on Windows
  filenames.gni
  lib/browser/api/auto-updater.ts
  lib/browser/api/auto-updater/auto-updater-msix.ts
  lib/browser/api/auto-updater/msix-update-win.ts
  shell/browser/api/electron_api_msix_updater.cc
  shell/browser/api/electron_api_msix_updater.h
  shell/common/node_bindings.cc
Owners: none

doc: added MSIX debug documentation
  docs/api/environment-variables.md
Owners: none

fix: `webRequest.onBeforeSendHeaders` not being able to modify reserved headers
  shell/browser/net/proxying_url_loader_factory.cc
  shell/common/api/electron_api_url_loader.cc
Owners: none

chore: add unit test for reserved header
  spec/api-web-request-spec.ts
Owners: none

refactor: use networkservice process gone event
  shell/browser/api/electron_api_utility_process.cc
  shell/browser/api/electron_api_utility_process.h
  shell/services/node/node_service.cc
  shell/services/node/node_service.h
  shell/services/node/public/mojom/node_service.mojom
Owners: none

fix: add miss headers
  shell/browser/api/electron_api_utility_process.cc
Owners: none

fix: compile
  shell/browser/api/electron_api_utility_process.cc
Owners: none

chore: add CLAUDE.md and Chromium Upgrade claude skill
  .claude/.gitignore
  .claude/settings.json
  .claude/skills/electron-chromium-upgrade/SKILL.md
  .claude/skills/electron-chromium-upgrade/references/patch-analysis.md
  .claude/skills/electron-chromium-upgrade/references/phase-one-commit-guidelines.md
  .claude/skills/electron-chromium-upgrade/references/phase-two-commit-guidelines.md
  CLAUDE.md
  script/lint.js
Owners: none

chore: update patch
  patches/chromium/patch_osr_control_screen_info.patch
Owners: @electron/patch-owners

fix: allow downgrade with json release file and emit update-available
  lib/browser/api/auto-updater/auto-updater-msix.ts
Owners: none

test: msix auot-update tests
  filenames.auto.gni
  spec/api-autoupdater-msix-spec.ts
  spec/fixtures/api/autoupdater/msix/ElectronDevAppxManifest.xml
  spec/fixtures/api/autoupdater/msix/HelloMSIX_V1.msix
  spec/fixtures/api/autoupdater/msix/HelloMSIX_V2.msix
  spec/fixtures/api/autoupdater/msix/main.js
  spec/lib/msix-helpers.ts
Owners: none

doc: API documentation
  docs/api/auto-updater.md
Owners: none

test: add package version validation
  spec/api-autoupdater-msix-spec.ts
  spec/lib/msix-helpers.ts
Owners: none

fix: drag regions in child windows
  shell/browser/api/electron_api_web_contents.cc
Owners: none

build: disallow non-maintainer changes to GitHub Actions workflows (#48038)
  .github/workflows/non-maintainer-dependency-change.yml
Owners: none

build: disallow non-maintainer changes to GitHub Actions workflows (#48038)
  .github/workflows/non-maintainer-dependency-change.yml
Owners: none

feat: implement two-finger swipe navigation support for macOS
  docs/api/structures/base-window-options.md
  filenames.gni
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_mac.h
  shell/browser/native_window_mac.mm
  shell/browser/ui/cocoa/electron_ns_window.h
  shell/browser/ui/cocoa/electron_ns_window.mm
  shell/browser/ui/cocoa/electron_ns_window_delegate.h
  shell/browser/ui/cocoa/electron_ns_window_delegate.mm
  shell/browser/ui/cocoa/history_overlay_controller.h
  shell/browser/ui/cocoa/history_overlay_controller.mm
  shell/browser/ui/cocoa/history_swiper.h
  shell/browser/ui/cocoa/history_swiper.mm
  shell/common/options_switches.h
  spec/api-browser-window-spec.ts
Owners: none

feat: simplify swipeToNavigate to emit events only
  docs/api/structures/base-window-options.md
  filenames.gni
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/native_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_mac.h
  shell/browser/native_window_mac.mm
  shell/browser/native_window_observer.h
  shell/browser/ui/cocoa/electron_ns_window.h
  shell/browser/ui/cocoa/electron_ns_window.mm
  shell/browser/ui/cocoa/electron_ns_window_delegate.h
  shell/browser/ui/cocoa/electron_ns_window_delegate.mm
  shell/browser/ui/cocoa/history_overlay_controller.h
  shell/browser/ui/cocoa/history_overlay_controller.mm
  shell/browser/ui/cocoa/history_swiper.h
  shell/browser/ui/cocoa/history_swiper.mm
  spec/api-browser-window-spec.ts
Owners: none

Update script/lint.js
  script/lint.js
Owners: none

fix: docs typo
  docs/api/auto-updater.md
Owners: none

fix: don't allow auto-updating when using appinstaller manifest
  lib/browser/api/auto-updater/auto-updater-msix.ts
Owners: none

chore: add CLAUDE.md and Chromium Upgrade claude skill (#49229)
  .claude/.gitignore
  .claude/settings.json
  .claude/skills/electron-chromium-upgrade/SKILL.md
  .claude/skills/electron-chromium-upgrade/references/patch-analysis.md
  .claude/skills/electron-chromium-upgrade/references/phase-one-commit-guidelines.md
  .claude/skills/electron-chromium-upgrade/references/phase-two-commit-guidelines.md
  CLAUDE.md
  script/lint.js
Owners: none
