Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra

fix: restore AXDocument accessibility attribute for representedFilename on macOS
  shell/browser/ui/cocoa/electron_ns_window.mm
Owners: none

fixup! refactor: remove non-static version of SendError()
  shell/common/gin_helper/reply_channel.cc
Owners: none

refactor: revert to previous are-we-shutting-down check
  shell/common/gin_helper/reply_channel.cc
Owners: none

build: update NMV to 145
  build/args/all.gn
Owners: none

fix: google-readability-casting warning about the uint32_t cast
  shell/common/gin_helper/trackable_object.cc
Owners: none

fix: modernize-use-equals-default warnings
  shell/browser/api/electron_api_global_shortcut.cc
  shell/browser/extensions/api/extension_action/extension_action_api.cc
  shell/renderer/extensions/electron_extensions_renderer_client.cc
Owners: none

fix: readability-redundant-member-init warning
  shell/browser/extensions/electron_extensions_api_client.cc
Owners: none

fix: modernize-make-unique warnings
  shell/browser/file_select_helper.cc
Owners: none

fix: modernize-use-emplace
  shell/browser/electron_permission_manager.cc
Owners: none

refactor: address code review feedback
  shell/browser/electron_permission_manager.cc
Owners: none

chore: remove accidentally-committed change
  patches/chromium/chore_add_electron_objects_to_wrappablepointertag.patch
Owners: @electron/patch-owners

Update docs/tutorial/code-signing.md
  docs/tutorial/code-signing.md
Owners: none

fix: provide explicit cookie encryption provider for cookie encryption (#49348)
  shell/browser/net/network_context_service.cc
  shell/browser/net/network_context_service.h
Owners: none

build: update NMV to 145 (#49349)
  build/args/all.gn
Owners: none

fix: clang-tidy warnings, pt. 1 (#49083)
  shell/browser/api/electron_api_global_shortcut.cc
  shell/browser/electron_permission_manager.cc
  shell/browser/extensions/api/extension_action/extension_action_api.cc
  shell/browser/extensions/electron_extensions_api_client.cc
  shell/browser/file_select_helper.cc
  shell/common/gin_helper/trackable_object.cc
  shell/renderer/extensions/electron_extensions_renderer_client.cc
Owners: none

feat: Developers tools for BaseWindow
  lib/browser/api/menu-item-roles.ts
  shell/browser/api/electron_api_web_contents.cc
Owners: none

build: update on-create-command for siso
  .devcontainer/on-create-command.sh
Owners: none

feat: suppress devtools console logging (#49292)
  shell/browser/ui/inspectable_web_contents.cc
  shell/browser/ui/inspectable_web_contents.h
Owners: none

Respect HTTP(S) proxy env variable for Yarn
  .yarnrc.yml
Owners: none

build: update on-create-command for siso (#49357)
  .devcontainer/on-create-command.sh
Owners: none

build: roll build-tools SHA to 4430e4a
  .github/actions/install-build-tools/action.yml
Owners: @electron/wg-infra

feat: support WebSocket authentication handling (#49064)
  shell/browser/api/electron_api_web_request.cc
  shell/browser/api/electron_api_web_request.h
  shell/browser/login_handler.cc
  shell/browser/login_handler.h
  shell/browser/net/proxying_websocket.cc
  shell/browser/net/proxying_websocket.h
  shell/browser/net/web_request_api_interface.h
  spec/api-web-request-spec.ts
Owners: none

test: fix flaky BrowserWindow test
  spec/api-browser-window-spec.ts
Owners: none

ci: check windows defender exclusions
  .github/actions/restore-cache-aks/action.yml
Owners: @electron/wg-infra

build: roll build-tools SHA to `4430e4a` (#49362)
  .github/actions/install-build-tools/action.yml
Owners: @electron/wg-infra

move check to separate step
  .github/actions/restore-cache-aks/action.yml
  .github/workflows/pipeline-segment-electron-build.yml
Owners: @electron/wg-infra

docs: improve wording for BaseWindow options
  docs/api/structures/base-window-options.md
Owners: none

refactor: use static SendError() instead of instantiating a temporary
  shell/browser/electron_api_ipc_handler_impl.cc
  shell/browser/electron_api_sw_ipc_handler_impl.cc
Owners: none

refactor: add static void ReplyChannel::SendError()
  shell/common/gin_helper/reply_channel.cc
  shell/common/gin_helper/reply_channel.h
Owners: none

refactor: remove non-static version of SendError()
  shell/common/gin_helper/reply_channel.cc
  shell/common/gin_helper/reply_channel.h
Owners: none

refactor: remove redundant callback-is-non-null checks
  shell/browser/electron_api_ipc_handler_impl.cc
  shell/browser/electron_api_sw_ipc_handler_impl.cc
  shell/common/gin_helper/reply_channel.cc
  shell/common/gin_helper/reply_channel.h
Owners: none

refactor: swap names of SendReply() and SendReplyImpl() for clarity
  shell/common/gin_helper/reply_channel.cc
  shell/common/gin_helper/reply_channel.h
Owners: none

fixup! refactor: remove non-static version of SendError()
  shell/common/gin_helper/reply_channel.cc
Owners: none

refactor: revert to previous are-we-shutting-down check
  shell/common/gin_helper/reply_channel.cc
Owners: none

chore: remove accidentally-committed change
  patches/chromium/chore_add_electron_objects_to_wrappablepointertag.patch
Owners: @electron/patch-owners

chore: add kElectronReplyChannel to chore_add_electron_objects_to_wrappablepointertag.patch
  patches/chromium/chore_add_electron_objects_to_wrappablepointertag.patch
Owners: @electron/patch-owners

fix: window freezes on macOS when failing to enter fullscreen
  shell/browser/api/electron_api_browser_window.cc
Owners: none

fix: apply enableBlinkFeatures to service worker renderers (issue #49277)
  shell/browser/electron_browser_client.cc
  shell/browser/session_preferences.cc
  shell/browser/session_preferences.h
  shell/browser/web_contents_preferences.cc
Owners: none

fix: support cookie encryption provider cross-platform
  BUILD.gn
  shell/browser/browser_process_impl.cc
Owners: none

fixup! refactor: revert to previous are-we-shutting-down check
  shell/common/gin_helper/reply_channel.cc
Owners: none
