Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra

Update notification-response.md
  docs/api/structures/notification-response.md
Owners: none

Update notification-action.md
  docs/api/structures/notification-action.md
Owners: none

fix: remove menu observer before destroying menu_controller_
  shell/browser/api/electron_api_menu_mac.mm
Owners: none

fix: resolves private inheritance conflict
  shell/browser/api/electron_api_menu.cc
  shell/browser/api/electron_api_menu.h
  shell/browser/api/electron_api_menu_mac.mm
Owners: none

fix: release lock before cleanup in singleton test
  spec/fixtures/api/singleton-userdata/main.js
Owners: none

refactor: type callback in internal `protocol.handle` code
  lib/browser/api/protocol.ts
Owners: none

refactor: fix incorrect callback usage in `product.handle`
  lib/browser/api/protocol.ts
Owners: none

refactor: don't log error just for unsigned code
  shell/common/mac/codesign_util.cc
Owners: none

fix: remove menu observer before destroying menu_controller_ (#49648)
  shell/browser/api/electron_api_menu.cc
  shell/browser/api/electron_api_menu.h
  shell/browser/api/electron_api_menu_mac.mm
Owners: none

docs: add Wayland note to `win.getPosition()` and `win.getBounds()` (#49632)
  docs/api/base-window.md
  docs/api/browser-window.md
Owners: none

ci: handle PRs with no checks in rerun apply patches (#49630)
  .github/workflows/rerun-apply-patches.yml
Owners: none

fix: include new cookie exclusion reason https://chromium-review.googlesource.com/c/chromium/src/+/7486527
  shell/browser/api/electron_api_cookies.cc
Owners: none

fix: enable libc++ ABI flag for trivially copyable std::vector<bool>
  patches/chromium/add_didinstallconditionalfeatures.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/build_make_libcxx_abi_unstable_false_for_electron.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_expose_isolate_parameter_in_script_lifecycle_observers.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_os_crypt_async_cookie_encryption.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/webview_fullscreen.patch
Owners: @electron/patch-owners

Revert "ci: use new case syntax in workflows (#49590)"
  .github/actions/build-electron/action.yml
  .github/workflows/pipeline-segment-electron-build.yml
  .github/workflows/pipeline-segment-electron-clang-tidy.yml
  .github/workflows/pipeline-segment-electron-gn-check.yml
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

fix: use `temp` directory for singleton test and clean up at end (#49604)
  spec/fixtures/api/singleton-userdata/main.js
Owners: none

revert(ci): use new case syntax in workflows (#49665)
  .github/actions/build-electron/action.yml
  .github/workflows/pipeline-segment-electron-build.yml
  .github/workflows/pipeline-segment-electron-clang-tidy.yml
  .github/workflows/pipeline-segment-electron-gn-check.yml
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

chore: address review feedback
  .github/actions/build-electron/action.yml
  .github/workflows/build.yml
Owners: @electron/wg-infra

feat: add deferral capability to `protocol.handle` callback
  lib/browser/api/protocol.ts
  shell/browser/net/proxying_url_loader_factory.cc
Owners: none

docs: document protocol deferral mechanism for `protocol.handle`
  docs/api/protocol.md
Owners: none

ci: use squash merge for apply patches workflow
  .github/workflows/apply-patches.yml
Owners: none

fix: default accelerator for role-based menu items (#49558)
  docs/api/menu-item.md
  lib/browser/api/menu-item-roles.ts
  lib/browser/api/menu-item.ts
  spec/api-menu-item-spec.ts
Owners: none

fixup! fix: base::Value::Dict -> base::DictValue https://chromium-review.googlesource.com/c/chromium/src/+/7513889
  shell/browser/ui/webui/accessibility_ui.cc
  shell/browser/ui/webui/accessibility_ui.h
Owners: none

ci: use squash merge for apply patches workflow (#49667)
  .github/workflows/apply-patches.yml
Owners: none

fix: correct include ordering in electron_api_native_image.cc
  shell/common/api/electron_api_native_image.cc
Owners: none

refactor: don't log error just for unsigned code (#49654)
  shell/common/mac/codesign_util.cc
Owners: none

fix: run Windows toast COM calls on dedicated STA thread
  shell/browser/notifications/win/windows_toast_notification.cc
Owners: none

refactor: initialize libgdk stubs before use in `platform_util:Beep`
  shell/common/platform_util_linux.cc
Owners: none

feat: use 1.0f as default for offscreen scale factor.
  docs/api/structures/web-preferences.md
  shell/browser/api/electron_api_web_contents.h
  shell/browser/osr/osr_render_widget_host_view.cc
  spec/api-browser-window-spec.ts
Owners: none

fix(native-window): prevent cursor flickering when setIgnoreMouseEvents forwards messages
  shell/browser/native_window_views.cc
  shell/browser/native_window_views.h
  shell/browser/native_window_views_win.cc
Owners: none

build: generate artifact attestions for released assets (#48239)
  .github/actions/build-electron/action.yml
  .github/workflows/linux-publish.yml
  .github/workflows/macos-publish.yml
  .github/workflows/pipeline-electron-lint.yml
  .github/workflows/pipeline-segment-electron-publish.yml
  .github/workflows/windows-publish.yml
  package.json
  script/copy-pipeline-segment-publish.js
  script/release/uploaders/upload.py
  yarn.lock
Owners: @electron/wg-infra, @electron/wg-releases

fix: osr use correct screen info.
  docs/api/structures/web-preferences.md
  docs/breaking-changes.md
  patches/chromium/.patches
  patches/chromium/patch_osr_control_screen_info.patch
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/osr/osr_render_widget_host_view.cc
  shell/browser/osr/osr_render_widget_host_view.h
  shell/browser/osr/osr_web_contents_view.cc
  shell/browser/osr/osr_web_contents_view.h
  shell/common/options_switches.h
  spec/api-browser-window-spec.ts
Owners: @electron/wg-releases, @electron/patch-owners

fix: spellcheck not working in tests https://chromium-review.googlesource.com/c/chromium/src/+/7452579
  spec/index.js
Owners: none

ci: fix ai-pr label commenting
  .github/workflows/pull-request-labeled.yml
Owners: none

fix: cookie test failing due to multiple rejection reasons https://chromium-review.googlesource.com/c/chromium/src/+/7506629
  spec/api-net-session-spec.ts
Owners: none

refactor: use ComPtr pattern for MSIX to avoid exception handling (#49645)
  BUILD.gn
  filenames.gni
  shell/browser/api/electron_api_msix_updater.cc
Owners: none

ci: fix ai-pr label commenting (#49685)
  .github/workflows/pull-request-labeled.yml
Owners: none

chore: update patches
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
Owners: @electron/patch-owners

feat: allow --experimental-inspector-network-resource node flag
  shell/common/node_bindings.cc
Owners: none

feat: add support for disclaiming utility processes
  docs/api/utility-process.md
  patches/chromium/feat_configure_launch_options_for_service_process.patch
  patches/chromium/feat_enable_passing_exit_code_on_service_process_crash.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  shell/browser/api/electron_api_utility_process.cc
  shell/browser/api/electron_api_utility_process.h
  spec/api-utility-process-spec.ts
Owners: @electron/patch-owners

chore: update patches
  patches/chromium/feat_configure_launch_options_for_service_process.patch
  patches/chromium/feat_enable_passing_exit_code_on_service_process_crash.patch
Owners: @electron/patch-owners
