Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

7103701: Remove IPC::PlatformFileForTransit.
  shell/renderer/electron_render_frame_observer.h
Owners: none

chore: update filenames.libcxx.gni
  filenames.libcxx.gni
Owners: none

Added Math Fingerprinting -- ELECTRON -- MUTHUKUMAR
  patches/chromium/added_canvas_noise_per_renderer.patch
  patches/v8/.patches
  patches/v8/added_math_fingerprinting_--_muthukumar.patch
Owners: @electron/patch-owners

chore: update .patches file after trop
  patches/chromium/.patches
Owners: @electron/patch-owners

chore: update patches after trop
  patches/chromium/.patches
Owners: @electron/patch-owners

fix: use app name as a part of tray id on Linux (#48675)
  patches/chromium/.patches
  patches/chromium/fix_linux_tray_id.patch
  shell/browser/ui/tray_icon_linux.cc
Owners: @electron/patch-owners

fix: use app name as a part of tray id on Linux (#48675)
  patches/chromium/.patches
  patches/chromium/fix_linux_tray_id.patch
  shell/browser/ui/tray_icon_linux.cc
Owners: @electron/patch-owners

fixup after merge
  shell/browser/api/electron_api_session.cc
Owners: none

build: apply additional compression on upload for large files
  script/lib/util.py
Owners: none

use obj-c name in NSImage constructor
  shell/common/api/electron_api_native_image_mac.mm
Owners: none

feat: add SF Symbol support to NativeImage::CreateFromNamedImage
  docs/api/native-image.md
  shell/common/api/electron_api_native_image_mac.mm
Owners: none

apply suggested simplification
  shell/common/api/electron_api_native_image_mac.mm
Owners: none

add test for named symbol image
  spec/api-native-image-spec.ts
Owners: none

fix: support NX cocoa prefix
  shell/common/api/electron_api_native_image_mac.mm
Owners: none

fix: draw smoothing round rect corner
  shell/renderer/electron_smooth_round_rect.cc
Owners: none

build: remove patch that landed in Chromium roll
  patches/chromium/.patches
  patches/chromium/fix_release_mouse_buttons_on_focus_loss_on_wayland.patch
Owners: @electron/patch-owners

build: remove patch that landed in Chromium roll (#48771)
  patches/chromium/.patches
  patches/chromium/fix_release_mouse_buttons_on_focus_loss_on_wayland.patch
Owners: @electron/patch-owners

build: remove patch that landed in Chromium roll (#48771)
  patches/chromium/.patches
  patches/chromium/fix_release_mouse_buttons_on_focus_loss_on_wayland.patch
Owners: @electron/patch-owners

feat: add SF Symbol support to NativeImage::CreateFromNamedImage (#48203)
  docs/api/native-image.md
  shell/common/api/electron_api_native_image_mac.mm
  spec/api-native-image-spec.ts
Owners: none

feat: add SF Symbol support to NativeImage::CreateFromNamedImage (#48203)
  docs/api/native-image.md
  shell/common/api/electron_api_native_image_mac.mm
  spec/api-native-image-spec.ts
Owners: none

Create c-cpp.yml
  .github/workflows/c-cpp.yml
Owners: none

refactor: remove base::AdaptCallbackForRepeating patch
  filenames.gni
  patches/chromium/.patches
  patches/chromium/refactor_restore_base_adaptcallbackforrepeating.patch
  shell/browser/api/electron_api_app.cc
  shell/browser/api/electron_api_menu_views.cc
  shell/common/callback_util.h
  shell/common/gin_converters/callback_converter.h
Owners: @electron/patch-owners

build: apply additional compression on upload (#48766)
  script/lib/util.py
Owners: none

build: apply additional compression on upload (#48766)
  script/lib/util.py
Owners: none

chore: update patches
  patches/chromium/.patches
  patches/chromium/add_didinstallconditionalfeatures.patch
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/allow_in-process_windows_to_have_different_web_prefs.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/build_gn.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_expose_isolate_parameter_in_script_lifecycle_observers.patch
  patches/chromium/chore_modify_chromium_handling_of_mouse_events.patch
  patches/chromium/chore_partial_revert_of.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/enable_reset_aspect_ratio.patch
  patches/chromium/expose_setuseragent_on_networkcontext.patch
  patches/chromium/extend_apply_webpreferences.patch
  patches/chromium/feat_configure_launch_options_for_service_process.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_enable_passing_exit_code_on_service_process_crash.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/fix_release_mouse_buttons_on_focus_loss_on_wayland.patch
  patches/chromium/fix_resolve_dynamic_background_material_update_issue_on_windows_11.patch
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/network_service_allow_remote_certificate_verification_logic.patch
  patches/chromium/notification_provenance.patch
  patches/chromium/osr_shared_texture_remove_keyed_mutex_on_win_dxgi.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/refactor_unfilter_unresponsive_events.patch
  patches/chromium/revert_code_health_clean_up_stale_macwebcontentsocclusion.patch
  patches/chromium/revert_partial_remove_unused_prehandlemouseevent.patch
  patches/chromium/scroll_bounce_flag.patch
  patches/chromium/support_mixed_sandbox_with_zygote.patch
  patches/chromium/web_contents.patch
  patches/chromium/webview_fullscreen.patch
  patches/chromium/worker_context_will_destroy.patch
  patches/chromium/worker_feat_add_hook_to_notify_script_ready.patch
Owners: @electron/patch-owners

7101838: [pathbuilder] Enforce immutable SkPath APIs globally
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
Owners: @electron/patch-owners

chore: e patches all
  patches/chromium/fix_release_mouse_buttons_on_focus_loss_on_wayland.patch
Owners: @electron/patch-owners

chore: fix patch shear in patches/chromium/.patches
  patches/chromium/.patches
Owners: @electron/patch-owners

chore: update filenames.libcxx.gni
  filenames.libcxx.gni
Owners: none

[pathbuilder] Enforce immutable SkPath APIs globally
  shell/browser/ui/views/win_icon_painter.cc
  shell/renderer/electron_smooth_round_rect.cc
Owners: none

refactor: remove unnecessary template type in EmitEvent()
  shell/common/gin_helper/event_emitter_caller.cc
  shell/common/gin_helper/event_emitter_caller.h
Owners: none

chore: update patches
  patches/chromium/.patches
  patches/chromium/fix_release_mouse_buttons_on_focus_loss_on_wayland.patch
Owners: @electron/patch-owners

Reduce service_worker_info.h includes in headers
  shell/browser/api/electron_api_service_worker_main.cc
Owners: none

Update macOS version support in README
  README.md
Owners: none

fix: draw smoothing round rect corner (#48769)
  shell/renderer/electron_smooth_round_rect.cc
Owners: none

fix: draw smoothing round rect corner (#48769)
  shell/renderer/electron_smooth_round_rect.cc
Owners: none

feat: add `sharedTexture` module.
  BUILD.gn
  docs/api/shared-texture.md
  docs/api/structures/shared-texture-import-texture-info.md
  docs/api/structures/shared-texture-imported-subtle.md
  docs/api/structures/shared-texture-imported.md
  docs/api/structures/shared-texture-subtle.md
  docs/api/structures/shared-texture-sync-token.md
  docs/api/structures/shared-texture-transfer.md
  filenames.auto.gni
  filenames.gni
  lib/browser/api/module-list.ts
  lib/browser/api/shared-texture.ts
  lib/browser/ipc-main-internal-utils.ts
  lib/common/ipc-messages.ts
  lib/renderer/api/module-list.ts
  lib/renderer/api/shared-texture.ts
  lib/sandboxed_renderer/api/module-list.ts
  shell/browser/osr/osr_render_widget_host_view.cc
  shell/common/api/electron_api_shared_texture.cc
  shell/common/api/electron_api_shared_texture.h
  shell/common/gin_converters/gfx_converter.cc
  shell/common/node_bindings.cc
  spec/api-shared-texture-spec.ts
  spec/fixtures/api/shared-texture/common.js
  spec/fixtures/api/shared-texture/image.png
  spec/fixtures/api/shared-texture/managed/frame.html
  spec/fixtures/api/shared-texture/managed/index.html
  spec/fixtures/api/shared-texture/managed/preload.js
  spec/fixtures/api/shared-texture/managed/renderer.js
  spec/fixtures/api/shared-texture/osr.html
  spec/fixtures/api/shared-texture/subtle/index.html
  spec/fixtures/api/shared-texture/subtle/preload.js
  spec/fixtures/api/shared-texture/subtle/renderer.js
  typings/internal-ambient.d.ts
Owners: none

chore: update patches
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_add_electron_objects_to_wrappablepointertag.patch
  patches/chromium/chore_partial_revert_of.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/feat_allow_code_cache_in_custom_schemes.patch
  patches/chromium/feat_configure_launch_options_for_service_process.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/fix_linux_tray_id.patch
  patches/chromium/fix_non-client_mouse_tracking_and_message_bubbling_on_windows.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/gritsettings_resource_ids.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/notification_provenance.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/refactor_unfilter_unresponsive_events.patch
  patches/chromium/resource_file_conflict.patch
  patches/chromium/revert_partial_remove_unused_prehandlemouseevent.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/support_mixed_sandbox_with_zygote.patch
  patches/chromium/web_contents.patch
  patches/chromium/webview_fullscreen.patch
Owners: @electron/patch-owners

build: roll EngFlow/reclient-configs to d3a4d5e
  DEPS
Owners: @electron/wg-upgrades

build: roll Mantle and remove patch
  DEPS
  patches/Mantle/.patches
  patches/Mantle/remove_mtlmanagedobjectadapter_h.patch
  patches/config.json
  patches/squirrel.mac/build_add_gn_config.patch
  patches/squirrel.mac/use_uttype_class_instead_of_deprecated_uttypeconformsto.patch
Owners: @electron/wg-upgrades, @electron/patch-owners

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra
