Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

fix: use github.sha for yarn cache key to avoid hashFiles() composite action bug
  .github/actions/install-dependencies/action.yml
Owners: @electron/wg-infra

Use --immutable-cache to allow native module builds
  .github/actions/install-dependencies/action.yml
Owners: @electron/wg-infra

test: remove already disabled nan tests from our disable list
  script/nan-spec-runner.js
Owners: none

docs: explain how to create transparent window using BaseWindow (#48921)
  docs/api/structures/base-window-options.md
Owners: none

fix: wait for devtools blur event in focus test to avoid race condition
  spec/api-web-contents-spec.ts
Owners: none

fix: wait for devtools blur event in focus test to avoid race condition
  spec/api-web-contents-spec.ts
Owners: none

fix allow native module builds in spec workspace
  script/spec-runner.js
Owners: none

test:rebuild native modules
  script/spec-runner.js
Owners: none

Revert "fix allow native module builds in spec workspace"
  script/spec-runner.js
Owners: none

Revert "Use --immutable-cache to allow native module builds"
  .github/actions/install-dependencies/action.yml
Owners: @electron/wg-infra

Revert "fix: use github.sha for yarn cache key to avoid hashFiles() composite action bug"
  .github/actions/install-dependencies/action.yml
Owners: @electron/wg-infra

test: fixup dbus tests
  package.json
  spec/ambient.d.ts
  spec/api-notification-dbus-spec.ts
  spec/api-power-monitor-spec.ts
  spec/package.json
  yarn.lock
Owners: none

test: disable context menu spellcheck tests on linux
  spec/spellchecker-spec.ts
Owners: none

test:rebuild native modules
  script/spec-runner.js
Owners: none

fix: wait for devtools blur event in focus test to avoid race condition
  spec/api-web-contents-spec.ts
Owners: none

fix: wait for devtools blur event in focus test to avoid race condition
  spec/api-web-contents-spec.ts
Owners: none

fix: wait for devtools blur event in focus test to avoid race condition
  spec/api-web-contents-spec.ts
Owners: none

test: disable context menu spellcheck tests on linux
  spec/spellchecker-spec.ts
Owners: none

test: fixup dbus tests
  package.json
  spec/ambient.d.ts
  spec/api-notification-dbus-spec.ts
  spec/api-power-monitor-spec.ts
  spec/package.json
  yarn.lock
Owners: none

test:rebuild native modules
  script/spec-runner.js
Owners: none

test: fixup spec runner to properly fail on linux when tests fail
  .github/workflows/pipeline-segment-electron-test.yml
  script/spec-runner.js
Owners: @electron/wg-infra

fix: wait for devtools blur event in focus test to avoid race condition
  spec/api-web-contents-spec.ts
Owners: none

ci: don't build yarn modules for linux arm
  .github/actions/install-dependencies/action.yml
Owners: @electron/wg-infra

fixup! fix: exception when reading system certificates via nodejs
  patches/node/.patches
Owners: @electron/patch-owners

chore: update patches
  patches/node/src_handle_der_decoding_errors_from_system_certificates.patch
Owners: @electron/patch-owners

docs: tutorial for windowStatePersistence
  docs/README.md
  docs/tutorial/window-state-persistence.md
Owners: none

docs: update linux build instructions (#49030)
  docs/development/build-instructions-linux.md
Owners: none

fix: `systemPreferences.getAccentColor` inverted color
  shell/browser/api/electron_api_system_preferences_win.cc
  spec/api-browser-window-spec.ts
Owners: none

fix: `systemPreferences.getAccentColor` inverted color
  shell/browser/api/electron_api_system_preferences_win.cc
  spec/api-browser-window-spec.ts
Owners: none

chore: update patch
  patches/devtools_frontend/fix_element_tree_flickering_with_node_inspection.patch
Owners: @electron/patch-owners

test: fixup test failures on linux (#49059)
  .github/workflows/pipeline-segment-electron-test.yml
  package.json
  script/spec-runner.js
  spec/ambient.d.ts
  spec/api-notification-dbus-spec.ts
  spec/api-power-monitor-spec.ts
  spec/api-web-contents-spec.ts
  spec/package.json
  spec/spellchecker-spec.ts
  yarn.lock
Owners: @electron/wg-infra

test: fixup test failures on linux
  .github/workflows/pipeline-segment-electron-test.yml
  package.json
  script/spec-runner.js
  spec/ambient.d.ts
  spec/api-notification-dbus-spec.ts
  spec/api-power-monitor-spec.ts
  spec/api-web-contents-spec.ts
  spec/package.json
  spec/spellchecker-spec.ts
  yarn.lock
Owners: @electron/wg-infra

test: fixup test failures on linux
  .github/workflows/pipeline-segment-electron-test.yml
  package.json
  script/spec-runner.js
  spec/ambient.d.ts
  spec/api-notification-dbus-spec.ts
  spec/api-power-monitor-spec.ts
  spec/api-web-contents-spec.ts
  spec/package.json
  spec/spellchecker-spec.ts
  yarn.lock
Owners: @electron/wg-infra

ci: use yarn workspace for workflow dependencies
  .github/workflows/audit-branch-ci.yml
  .github/workflows/issue-opened.yml
  .github/workflows/package.json
  package.json
  script/lint.js
  yarn.lock
Owners: none

fix(patch-conflict): update printing.patch for new include order
  patches/chromium/printing.patch
Owners: @electron/patch-owners

fix(patch-conflict): update ProcessSingleton patch for kStartToken type change
  patches/chromium/feat_add_data_parameter_to_processsingleton.patch
Owners: @electron/patch-owners

fix(patch-conflict): update exclusive_access patch for enum rename
  patches/chromium/fix_adapt_exclusive_access_for_electron_needs.patch
Owners: @electron/patch-owners

fix(patch-conflict): update ScreenCaptureKitDevice patches for PiP coordinator
  patches/chromium/feat_allow_usage_of_sccontentsharingpicker_on_supported_platforms.patch
  patches/chromium/feat_filter_out_non-shareable_windows_in_the_current_application_in.patch
Owners: @electron/patch-owners

7173024: move LoggingSettings to base/logging/logging_settings.h
  shell/common/logging.cc
Owners: none

7159184: add missing base/files/file_path.h include
  shell/browser/electron_browser_context.h
Owners: none

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra
