Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra

feat: add WebSocket support for custom protocols via protocol.handle
  shell/browser/api/electron_api_protocol.cc
  shell/browser/api/electron_api_protocol.h
  shell/browser/electron_browser_client.cc
  shell/browser/net/proxying_websocket.cc
  shell/browser/net/proxying_websocket.h
  shell/common/options_switches.h
  shell/renderer/renderer_client_base.cc
  spec/index.js
  spec/websocket-protocol-spec.ts
Owners: none

feat: add WebSocket support for custom protocols via protocol.handle
  shell/browser/api/electron_api_protocol.cc
  shell/browser/api/electron_api_protocol.h
  shell/browser/electron_browser_client.cc
  shell/browser/net/proxying_websocket.cc
  shell/browser/net/proxying_websocket.h
  shell/common/options_switches.h
  shell/renderer/renderer_client_base.cc
  spec/index.js
  spec/websocket-protocol-spec.ts
Owners: none

chore: add "I have built and tested this PR" box to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

docs: add jsign and Azure Trusted Signing support to code signing tutorial
  docs/tutorial/code-signing.md
Owners: none

revert: use deprectated setAllowedFileTypes in macOS dialogs
  shell/browser/ui/file_dialog_mac.mm
Owners: none

fix: osr use correct screen info.
  docs/api/structures/web-preferences.md
  docs/breaking-changes.md
  patches/chromium/.patches
  patches/chromium/patch_osr_control_screen_info.patch
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/osr/osr_render_widget_host_view.cc
  shell/browser/osr/osr_render_widget_host_view.h
  shell/browser/osr/osr_web_contents_view.cc
  shell/browser/osr/osr_web_contents_view.h
  shell/common/options_switches.h
  spec/api-browser-window-spec.ts
Owners: @electron/wg-releases, @electron/patch-owners

docs: add type reference links in Menu and MenuItem API documentation
  docs/api/menu-item.md
  docs/api/menu.md
Owners: none

docs: add guide for debugging preload scripts in VS Code (#30470)
  docs/tutorial/debugging-vscode.md
Owners: none

fix: add electron and browser conditions to ESM loader
  patches/node/.patches
  patches/node/chore_add_electron_and_browser_conditions.patch
Owners: @electron/patch-owners

feat: default save dialogs to Downloads or Home folder
  docs/api/dialog.md
  shell/browser/ui/file_dialog_linux.cc
  shell/browser/ui/file_dialog_mac.mm
  shell/browser/ui/file_dialog_win.cc
Owners: none

docs: fix `webContents.hostWebContents` types (#49424)
  docs/api/web-contents.md
Owners: none

7454865: Add timeouts to content API for CopyFromSurface
  patches/node/src_refactor_module_wrap_cc_to_update_fixedarray_get_params.patch
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/osr/osr_render_widget_host_view.cc
  shell/browser/osr/osr_render_widget_host_view.h
Owners: @electron/patch-owners

build: try removing zero-fill sandbox patch component
  patches/node/api_delete_deprecated_fields_on_v8_isolate.patch
  patches/node/api_promote_deprecation_of_v8_context_and_v8_object_api_methods.patch
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/refactor_attach_cppgc_heap_on_v8_isolate_creation.patch
  patches/node/support_v8_sandboxed_pointers.patch
Owners: @electron/patch-owners

docs: document WebDriver command line arguments (electron#31769)
  docs/tutorial/automated-testing.md
Owners: none

WebContentsView tests
  spec/api-web-contents-view-spec.ts
Owners: none

fix: allow capturing owned windows in desktopCapturer (Issue #49448)
  patches/webrtc/.patches
  patches/webrtc/fix_window_capture_utils.patch
Owners: @electron/patch-owners

fix
  spec/api-web-contents-view-spec.ts
Owners: none

build: try removing zero-fill sandbox patch component (#49452)
  patches/node/api_delete_deprecated_fields_on_v8_isolate.patch
  patches/node/api_promote_deprecation_of_v8_context_and_v8_object_api_methods.patch
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/refactor_attach_cppgc_heap_on_v8_isolate_creation.patch
  patches/node/support_v8_sandboxed_pointers.patch
Owners: @electron/patch-owners

fix: frameless modal window does not respect given size on macOS
  shell/browser/native_window_mac.mm
  spec/api-browser-window-spec.ts
Owners: none

fix selection bug in macos
  shell/browser/ui/tray_icon_cocoa.mm
Owners: none

feat: import shared texture supports p010le (#49272)
  docs/api/structures/shared-texture-import-texture-info.md
  shell/common/api/electron_api_shared_texture.cc
Owners: none

fix: correctly set IsActive() in BaseWindow on MacOS
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
Owners: none

fix
  spec/api-web-contents-view-spec.ts
Owners: none

macOS: add helper to write text to Find pasteboard
  shell/browser/ui/cocoa/find_pasteboard_mac.mm
  shell/browser/ui/tray_icon_cocoa.mm
Owners: none

ci: detect patch needs update error with problem matcher (#49405)
  .github/actions/checkout/action.yml
  .github/problem-matchers/patch-conflict.json
Owners: @electron/wg-infra

fix: move printer default size calculation to print_task_runner
  shell/browser/api/electron_api_web_contents.cc
Owners: none

docs: improve docs about usePrinterDefaultPageSize behavior
  docs/api/web-contents.md
  docs/api/webview-tag.md
  lib/browser/api/web-contents.ts
Owners: none

chore:remove zero-fill sandbox patch component
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/fix_remove_fastapitypedarray_usage.patch
  patches/node/fix_replace_deprecated_setprototype.patch
  patches/node/refactor_attach_cppgc_heap_on_v8_isolate_creation.patch
  patches/node/src_switch_from_get_setprototype_to_get_setprototypev2.patch
  patches/node/support_v8_sandboxed_pointers.patch
Owners: @electron/patch-owners

build: roll build-tools SHA to 4430e4a
  .github/actions/install-build-tools/action.yml
Owners: @electron/wg-infra

fix: avoid duplicate calls in electron_api_web_contents
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
Owners: none

chore: update patches
  patches/chromium/add_didinstallconditionalfeatures.patch
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/blink_local_frame.patch
  patches/chromium/build_add_electron_tracing_category.patch
  patches/chromium/build_allow_electron_mojom_interfaces_to_depend_on_blink.patch
  patches/chromium/build_disable_thin_lto_mac.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/build_gn.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_expose_isolate_parameter_in_script_lifecycle_observers.patch
  patches/chromium/chore_grandfather_in_electron_views_and_delegates.patch
  patches/chromium/disable_compositor_recycling.patch
  patches/chromium/disable_hidden.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_expose_documentloader_setdefersloading_on_webdocumentloader.patch
  patches/chromium/feat_separate_content_settings_callback_for_sync_and_async_clipboard.patch
  patches/chromium/fix_check_for_file_existence_before_setting_mtime.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
  patches/chromium/fix_select_the_first_menu_item_when_opened_via_keyboard.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/gritsettings_resource_ids.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/notification_provenance.patch
  patches/chromium/port_autofill_colors_to_the_color_pipeline.patch
  patches/chromium/refactor_patch_electron_permissiontypes_into_blink.patch
  patches/chromium/revert_code_health_clean_up_stale_macwebcontentsocclusion.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/scroll_bounce_flag.patch
  patches/chromium/support_mixed_sandbox_with_zygote.patch
  patches/chromium/webview_fullscreen.patch
Owners: @electron/patch-owners

chore: remove stray import
  shell/browser/ui/file_dialog_mac.mm
Owners: none

fixup! chore:remove zero-fill sandbox patch component
  patches/node/.patches
  patches/node/remove_obsolete_noarraybufferzerofillscope.patch
  patches/node/src_prepare_for_v8_sandboxing.patch
Owners: @electron/patch-owners

fix: potential devtools crash on empty
  lib/renderer/inspector.ts
  shell/renderer/api/electron_api_context_bridge.cc
Owners: none

revert: use deprecated `setAllowedFileTypes` in macOS dialogs (#49444)
  shell/browser/ui/file_dialog_mac.mm
Owners: none

fix: return early from beep on linux if there is no default gdk display
  shell/common/platform_util_linux.cc
Owners: none

docs: Update shell.md: Document that shell.trashItem requires backslashes
  docs/api/shell.md
Owners: none

chore: fixup patch indices
  patches/chromium/add_didinstallconditionalfeatures.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_expose_isolate_parameter_in_script_lifecycle_observers.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_os_crypt_async_cookie_encryption.patch
  patches/chromium/notification_provenance.patch
  patches/chromium/support_mixed_sandbox_with_zygote.patch
Owners: @electron/patch-owners

ci: trigger website docs update on release published (#49429)
  .github/workflows/update-website-docs.yml
Owners: none

fix: second argument to shell.writeShortcutLink is optional
  shell/common/api/electron_api_shell.cc
  spec/api-shell-spec.ts
Owners: none
