Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

[video pip] Enable video picture-in-picture controls update
  patches/chromium/fix_move_autopipsettingshelper_behind_branding_buildflag.patch
  patches/chromium/picture-in-picture.patch
Owners: @electron/patch-owners

fixup! [api] Remove deprecated PropertyCallbackInfo::Holder()
  patches/nan/fix_remove_deprecated_propertycallbackinfo_holder.patch
Owners: @electron/patch-owners

updated docs
  docs/api/app.md
  docs/api/browser-window.md
Owners: none

wrapping
  docs/api/app.md
  docs/api/browser-window.md
Owners: none

build: update to yarn v4
  .gitignore
  .yarn/releases/yarn-4.9.4.cjs
  .yarnrc.yml
  package.json
  script/lint.js
  spec/fixtures/native-addon/echo/package.json
  spec/fixtures/native-addon/external-ab/package.json
  spec/fixtures/native-addon/is-valid-window/.gitignore
  spec/fixtures/native-addon/is-valid-window/README.md
  spec/fixtures/native-addon/is-valid-window/binding.gyp
  spec/fixtures/native-addon/is-valid-window/lib/is-valid-window.js
  spec/fixtures/native-addon/is-valid-window/package.json
  spec/fixtures/native-addon/is-valid-window/src/impl.h
  spec/fixtures/native-addon/is-valid-window/src/impl_darwin.mm
  spec/fixtures/native-addon/is-valid-window/src/impl_posix.cc
  spec/fixtures/native-addon/is-valid-window/src/impl_win.cc
  spec/fixtures/native-addon/is-valid-window/src/main.cc
  spec/fixtures/native-addon/osr-gpu/package.json
  spec/fixtures/native-addon/uv-dlopen/package.json
  spec/is-valid-window/package.json
  spec/package.json
  spec/yarn.lock
Owners: none

fix spec runner
  script/spec-runner.js
Owners: none

build: complete migration
  .github/actions/install-dependencies/action.yml
  .yarn/releases/yarn-4.10.3.cjs
  .yarn/releases/yarn-4.9.4.cjs
  .yarnrc.yml
  DEPS
  package.json
  script/nan-spec-runner.js
  script/spec-runner.js
  script/yarn.js
Owners: @electron/wg-infra, @electron/wg-upgrades

build: switch to --immutable
  .github/actions/generate-types/action.yml
  .github/actions/install-dependencies/action.yml
  .github/workflows/pipeline-electron-lint.yml
  DEPS
  script/spec-runner.js
Owners: @electron/wg-infra, @electron/wg-upgrades

todo: remove npx
  .github/actions/checkout/action.yml
  filenames.libcxx.gni
  script/codesign/generate-identity.sh
  script/release/bin/publish-to-npm.ts
Owners: @electron/wg-infra, @electron/wg-releases

chore: use yarn directly
  .github/actions/build-electron/action.yml
  .github/actions/install-dependencies/action.yml
  .github/workflows/pipeline-electron-docs-only.yml
  .github/workflows/pipeline-electron-lint.yml
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

wat
  .github/actions/generate-types/action.yml
  .github/actions/install-dependencies/action.yml
Owners: @electron/wg-infra

use script to invoke yarn
  .github/actions/build-electron/action.yml
  .github/actions/generate-types/action.yml
  .github/actions/install-dependencies/action.yml
  .github/workflows/pipeline-electron-docs-only.yml
  .github/workflows/pipeline-electron-lint.yml
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

chore: update yarn lock after rebase
  yarn.lock
Owners: none

fixup
  .github/actions/install-dependencies/action.yml
Owners: @electron/wg-infra

fixup
  .github/actions/install-dependencies/action.yml
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

Update filenames.libcxx.gni
  filenames.libcxx.gni
Owners: none

fixup lint
  script/lint.js
Owners: none

fixup generate types to work with yarn 4
  .github/actions/generate-types/action.yml
Owners: @electron/wg-infra

fixup generate types better
  .github/actions/generate-types/action.yml
Owners: @electron/wg-infra

fixup
  .github/actions/generate-types/action.yml
Owners: @electron/wg-infra

chore:make yarn.js executable
  .github/actions/build-electron/action.yml
  .github/actions/generate-types/action.yml
  .github/actions/install-dependencies/action.yml
  .github/workflows/pipeline-electron-docs-only.yml
  .github/workflows/pipeline-electron-lint.yml
  .github/workflows/pipeline-segment-electron-test.yml
  script/yarn.js
Owners: @electron/wg-infra

Increase Node.js memory limit (needed for linux arm)
  .github/actions/install-dependencies/action.yml
Owners: @electron/wg-infra

fixup nan-spec runner
  script/nan-spec-runner.js
Owners: none

explictly use yarn.js
  .github/actions/build-electron/action.yml
  .github/actions/generate-types/action.yml
  .github/actions/install-dependencies/action.yml
  .github/workflows/pipeline-electron-docs-only.yml
  .github/workflows/pipeline-electron-lint.yml
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

Explictly specify node-gyp build for native-addons
  spec/fixtures/native-addon/echo/package.json
  spec/fixtures/native-addon/is-valid-window/package.json
  spec/fixtures/native-addon/osr-gpu/package.json
  spec/fixtures/native-addon/uv-dlopen/package.json
Owners: none

fixup generate-types
  .github/actions/generate-types/action.yml
Owners: @electron/wg-infra

fixup datadog reporting.
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

fixup generate-types
  .github/actions/generate-types/action.yml
Owners: @electron/wg-infra

chore: don't use immutable on generate-types
  .github/actions/generate-types/action.yml
Owners: @electron/wg-infra

fixup for datadog
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

try using YARN_ENABLE_IMMUTABLE_INSTALLS for generate-types
  .github/actions/generate-types/action.yml
Owners: @electron/wg-infra

chore: update yarn.lock after rebase
  yarn.lock
Owners: none

chore: update patches
  patches/chromium/inspectorpageagent_provisional_frame_speculative_fix.patch
Owners: @electron/patch-owners

chore: update .patches
  patches/chromium/.patches
Owners: @electron/patch-owners

fixup! chore: update patches
  patches/chromium/.patches
Owners: @electron/patch-owners

fixup Explictly specify node-gyp build for native-addons
  spec/fixtures/native-addon/external-ab/package.json
Owners: none

add more memory for yarn install on linux-arm
  .github/actions/install-dependencies/action.yml
Owners: @electron/wg-infra

test: migrate from dbus-native to dbus-ts
  package.json
  spec/ambient.d.ts
  spec/api-notification-dbus-spec.ts
  spec/api-power-monitor-spec.ts
  spec/package.json
  yarn.lock
Owners: none

debug memory on linux arm
  .github/actions/install-dependencies/action.yml
Owners: @electron/wg-infra

refactor: use Object.values() instead of Object.keys() in stringifyValues() (#48741)
  lib/common/api/net-client-request.ts
Owners: none

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra
