Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

chore: fix indentation
  .github/workflows/pull-request-labeled.yml
Owners: none

feat: add clipboard privacy options
  docs/api/clipboard.md
  shell/common/api/electron_api_clipboard.cc
  shell/common/api/electron_api_clipboard.h
Owners: none

7509043: update WebSpellingMarker type for API change
  shell/renderer/api/electron_api_spell_check_client.cc
  shell/renderer/api/electron_api_spell_check_client.h
Owners: none

7498491: update process_id to use OriginatingProcess type
  shell/browser/api/electron_api_utility_process.cc
  shell/browser/electron_browser_client.cc
  shell/browser/electron_browser_context.cc
  shell/browser/net/system_network_context_manager.cc
Owners: none

fix: zoomFactor in overrideBrowserWindowOptions no effect
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents_view.cc
  shell/browser/notifications/win/windows_toast_notification.h
  shell/browser/web_contents_preferences.cc
  shell/browser/web_contents_preferences.h
Owners: none

fix: zoomFactor in overrideBrowserWindowOptions no effect
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/web_contents_preferences.cc
  shell/browser/web_contents_preferences.h
Owners: none

chore: testable version
  .github/workflows/branch-created.yml
Owners: none

ci: calculate dates for release board automation
  .github/workflows/branch-created.yml
Owners: none

fix: replace deprecated `url.parse()` with WHATWG URL API in default_app
  default_app/main.ts
Owners: none

refactor: use WHATWG URL instead of url.parse
  default_app/main.ts
  lib/common/api/net-client-request.ts
  spec/fixtures/pages/window-opener-targetOrigin.html
Owners: none

refactor: address PathProvider TODO
  filenames.gni
  shell/app/electron_main_delegate.cc
  shell/common/electron_paths.cc
  shell/common/electron_paths.h
Owners: none

build(dev-deps): bump @electron/lint-roller to 3.2.0 (#49565)
  package.json
  yarn.lock
Owners: none

fix: apply default accelerator for role-based menu items
  docs/api/menu-item.md
  lib/browser/api/menu-item-roles.ts
  lib/browser/api/menu-item.ts
  spec/api-menu-item-spec.ts
Owners: none

chore: fixup patch description
  patches/chromium/dump_syms.patch
Owners: @electron/patch-owners

ci: rework reapply patches (#49552)
  .github/workflows/apply-patches.yml
  .github/workflows/build.yml
  .github/workflows/rerun-apply-patches.yml
Owners: @electron/wg-infra

ci: add workflow for commenting with new 'ai-pr' label (#49564)
  .github/workflows/pull-request-labeled.yml
Owners: none

docs: `app.getGPUInfo()` may reject
  docs/api/app.md
Owners: none

feat: allow SF Symbols to be customised
  docs/api/native-image.md
  shell/common/api/electron_api_native_image_mac.mm
Owners: none

feat: add nativeImage.createMenuSymbol and restore default values
  docs/api/native-image.md
  shell/common/api/electron_api_native_image.cc
  shell/common/api/electron_api_native_image.h
  shell/common/api/electron_api_native_image_mac.mm
  spec/api-native-image-spec.ts
Owners: none

merge hslShift and options, revert sizing logic
  docs/api/native-image.md
  shell/common/api/electron_api_native_image_mac.mm
Owners: none

docs: update string params
  docs/api/native-image.md
Owners: none

spec: add test for symbol options
  spec/api-native-image-spec.ts
Owners: none

fix: use apple's sizing logic
  shell/common/api/electron_api_native_image_mac.mm
Owners: none

adjust sizing for wider symbols
  shell/common/api/electron_api_native_image_mac.mm
Owners: none

docs: update default symbol values
  docs/api/native-image.md
Owners: none

chore: deprecate hslShift array argument
  docs/breaking-changes.md
  shell/common/api/electron_api_native_image_mac.mm
Owners: @electron/wg-releases

ci: rework reapply patches (#49552)
  .github/workflows/apply-patches.yml
  .github/workflows/build.yml
  .github/workflows/rerun-apply-patches.yml
Owners: @electron/wg-infra

ci: rework reapply patches (#49552)
  .github/workflows/apply-patches.yml
  .github/workflows/build.yml
  .github/workflows/rerun-apply-patches.yml
Owners: @electron/wg-infra

feat: msix auto-updater (#49230)
  docs/api/auto-updater.md
  docs/api/environment-variables.md
  docs/api/process.md
  filenames.auto.gni
  filenames.gni
  lib/browser/api/auto-updater.ts
  lib/browser/api/auto-updater/auto-updater-msix.ts
  lib/browser/api/auto-updater/auto-updater-win.ts
  lib/browser/api/auto-updater/msix-update-win.ts
  shell/browser/api/electron_api_msix_updater.cc
  shell/browser/api/electron_api_msix_updater.h
  shell/common/node_bindings.cc
  spec/api-autoupdater-msix-spec.ts
  spec/fixtures/api/autoupdater/msix/ElectronDevAppxManifest.xml
  spec/fixtures/api/autoupdater/msix/HelloMSIX_V1.msix
  spec/fixtures/api/autoupdater/msix/HelloMSIX_V2.msix
  spec/fixtures/api/autoupdater/msix/MSIXDevCert.cer
  spec/fixtures/api/autoupdater/msix/install_test_cert.ps1
  spec/fixtures/api/autoupdater/msix/main.js
  spec/lib/msix-helpers.ts
Owners: none

fix: user resizable transparent windows on win32
  shell/browser/native_window_views.cc
  spec/api-browser-window-spec.ts
Owners: none

build(dev-deps): bump @electron/lint-roller to 3.2.0 (#49565)
  package.json
  yarn.lock
Owners: none

ci: rework reapply patches (#49552)
  .github/workflows/apply-patches.yml
  .github/workflows/build.yml
  .github/workflows/rerun-apply-patches.yml
Owners: @electron/wg-infra

fix: macOS menu item accelerators when item disabled (#49553)
  shell/browser/ui/cocoa/electron_menu_controller.mm
Owners: none

fix: duplicate fullscreen macOS menu item
  shell/browser/mac/electron_application_delegate.mm
  shell/browser/ui/cocoa/electron_menu_controller.mm
Owners: none

test: update tests to avoid flakiness on CI
  spec/api-browser-view-spec.ts
  spec/api-browser-window-spec.ts
Owners: none

fix: issues with xdg activation on Linux (#49499)
  shell/common/platform_util_linux.cc
Owners: none

feat: support samply profiler for packaged apps on macOS
  filenames.gni
  patches/chromium/.patches
  patches/chromium/feat_support_passing_embedder_machrendezvous_ports_to_child.patch
  shell/app/electron_library_main.mm
  shell/app/electron_main_delegate_mac.mm
  shell/browser/electron_browser_client.cc
  shell/browser/electron_browser_client.h
  shell/browser/electron_browser_main_parts.cc
  shell/browser/mac/samply_profiler_service.h
  shell/browser/mac/samply_profiler_service.mm
  shell/common/mac/samply_profiler_client.h
  shell/common/mac/samply_profiler_client.mm
  shell/common/mac/samply_profiler_types.h
Owners: @electron/patch-owners

ci: rework reapply patches (#49589)
  .github/workflows/apply-patches.yml
  .github/workflows/build.yml
  .github/workflows/rerun-apply-patches.yml
Owners: @electron/wg-infra

ci: use new case synta in workflows
  .github/actions/build-electron/action.yml
  .github/workflows/pipeline-segment-electron-build.yml
  .github/workflows/pipeline-segment-electron-clang-tidy.yml
  .github/workflows/pipeline-segment-electron-gn-check.yml
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

ci: rework reapply patches (#49582)
  .github/workflows/apply-patches.yml
  .github/workflows/build.yml
  .github/workflows/rerun-apply-patches.yml
Owners: @electron/wg-infra

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra
