Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra

7534194: Convert some functions in ui::Clipboard to async
  shell/common/api/electron_api_clipboard.cc
Owners: none

7544580: [DevTools] Add command to restart Chrome to DevTools UI bindings
  shell/browser/ui/inspectable_web_contents.h
Owners: none

chore: incorporate learnings into claude skill
  .claude/skills/electron-chromium-upgrade/SKILL.md
  .claude/skills/electron-chromium-upgrade/references/patch-analysis.md
  .claude/skills/electron-chromium-upgrade/references/phase-one-commit-guidelines.md
  .claude/skills/electron-chromium-upgrade/references/phase-two-commit-guidelines.md
Owners: none

feat: add nv12 osr output format.
  docs/api/structures/web-preferences.md
  shell/browser/osr/osr_video_consumer.cc
Owners: none

feat: add nv12 osr output format.
  shell/browser/osr/osr_video_consumer.cc
  shell/common/gin_converters/osr_converter.cc
Owners: none

fix: rgbaf16 shared texture remove keyed mutex.
  docs/api/structures/shared-texture-handle.md
  patches/chromium/osr_shared_texture_remove_keyed_mutex_on_win_dxgi.patch
Owners: @electron/patch-owners

fix: rgbaf16 patch.
  docs/api/structures/shared-texture-handle.md
Owners: none

fix: missing shared texture docs
  shell/common/api/shared_texture/README.md
Owners: none

chore: push_back => emplace_back
  shell/browser/api/electron_api_safe_storage.cc
  shell/browser/api/electron_api_safe_storage.h
Owners: none

chore: fix merge conflict in .patches (remove upstreamed LoAF entry)
  patches/chromium/.patches
Owners: @electron/patch-owners

chore: remove upstreamed cherry-pick-e045399a1ecb patch
  patches/chromium/.patches
  patches/chromium/cherry-pick-e045399a1ecb.patch
Owners: @electron/patch-owners

chore: update patches (trivial only)
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/build_allow_electron_mojom_interfaces_to_depend_on_blink.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_add_electron_deps_to_gitignores.patch
  patches/chromium/chore_patch_out_profile_methods.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/custom_protocols_plzserviceworker.patch
  patches/chromium/extend_apply_webpreferences.patch
  patches/chromium/feat_allow_code_cache_in_custom_schemes.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_separate_content_settings_callback_for_sync_and_async_clipboard.patch
  patches/chromium/fix_check_for_file_existence_before_setting_mtime.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_os_crypt_async_cookie_encryption.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/osr_shared_texture_remove_keyed_mutex_on_win_dxgi.patch
  patches/chromium/refactor_patch_electron_permissiontypes_into_blink.patch
  patches/chromium/resource_file_conflict.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/webview_fullscreen.patch
  patches/devtools_frontend/chore_expose_ui_to_allow_electron_to_set_dock_side.patch
Owners: @electron/patch-owners

build: remove *.star files
  .github/actions/install-build-tools/action.yml
  build/siso/backend.star
  build/siso/main.star
Owners: @electron/wg-infra

fixup! 7534194: Convert some functions in ui::Clipboard to async
  shell/common/api/electron_api_clipboard.cc
Owners: none

test: MAS for private API usage
  spec/mas-spec.ts
Owners: none

chore: fixup patches
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
Owners: @electron/patch-owners

fix: make pointer lock work on Wayland
  patches/chromium/.patches
  patches/chromium/move_wayland_pointer_lock_overrides_to_common_code.patch
Owners: @electron/patch-owners

fix(patch): occlusion simplification upstream
  patches/chromium/revert_code_health_clean_up_stale_macwebcontentsocclusion.patch
Owners: @electron/patch-owners

fix(patch): constant moved to header
  patches/chromium/dom_storage_limits.patch
Owners: @electron/patch-owners

chore: remove upstreamed patches
  patches/chromium/.patches
  patches/chromium/cherry-pick-e045399a1ecb.patch
  patches/chromium/loaf_add_feature_to_enable_sourceurl_for_all_protocols.patch
Owners: @electron/patch-owners

fix(patch): V1 Keychain removal
  patches/chromium/feat_ensure_mas_builds_of_the_same_application_can_use_safestorage.patch
Owners: @electron/patch-owners

7535923: Rename ozone buildflags
  shell/browser/api/electron_api_desktop_capturer.cc
  shell/browser/native_window_views.cc
  shell/browser/native_window_views.h
Owners: none

7528398: [LNA] Rename PNA-named files to LNA-named files
  shell/browser/net/url_loader_network_observer.h
  shell/common/api/electron_api_url_loader.h
Owners: none

chore: update patches (trivial only)
  patches/chromium/add_didinstallconditionalfeatures.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_expose_isolate_parameter_in_script_lifecycle_observers.patch
  patches/chromium/dom_storage_limits.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/fix_non-client_mouse_tracking_and_message_bubbling_on_windows.patch
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
  patches/chromium/gritsettings_resource_ids.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/notification_provenance.patch
  patches/chromium/revert_remove_the_allowaggressivethrottlingwithwebsocket_feature.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/support_mixed_sandbox_with_zygote.patch
  patches/chromium/webview_fullscreen.patch
  patches/perfetto/define_ssize_t_to_be_intptr_t_to_match_libuv.patch
Owners: @electron/patch-owners

7534194: Convert some functions in ui::Clipboard to async
  shell/common/api/electron_api_clipboard.cc
Owners: none

7544580: [DevTools] Add command to restart Chrome to DevTools UI bindings
  shell/browser/ui/inspectable_web_contents.h
Owners: none

chore: update patches (trivial only)
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/build_allow_electron_mojom_interfaces_to_depend_on_blink.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_add_electron_deps_to_gitignores.patch
  patches/chromium/chore_patch_out_profile_methods.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/custom_protocols_plzserviceworker.patch
  patches/chromium/extend_apply_webpreferences.patch
  patches/chromium/feat_allow_code_cache_in_custom_schemes.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_separate_content_settings_callback_for_sync_and_async_clipboard.patch
  patches/chromium/fix_check_for_file_existence_before_setting_mtime.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/osr_shared_texture_remove_keyed_mutex_on_win_dxgi.patch
  patches/chromium/refactor_patch_electron_permissiontypes_into_blink.patch
  patches/chromium/resource_file_conflict.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/webview_fullscreen.patch
  patches/devtools_frontend/chore_expose_ui_to_allow_electron_to_set_dock_side.patch
Owners: @electron/patch-owners

chore: incorporate learnings into claude skill
  .claude/skills/electron-chromium-upgrade/SKILL.md
  .claude/skills/electron-chromium-upgrade/references/patch-analysis.md
  .claude/skills/electron-chromium-upgrade/references/phase-one-commit-guidelines.md
  .claude/skills/electron-chromium-upgrade/references/phase-two-commit-guidelines.md
Owners: none

style: remove errant new line from `StartLoadingOrDefer`
  shell/browser/net/proxying_url_loader_factory.cc
Owners: none

test: add test for new protocol deferral mechanism
  spec/api-protocol-spec.ts
Owners: none

docs: add PR Notes section requirement to CLAUDE.md
  CLAUDE.md
Owners: none

fix: implement keychain item deletion in MAS safeStorage migration
  patches/chromium/feat_ensure_mas_builds_of_the_same_application_can_use_safestorage.patch
Owners: @electron/patch-owners

fix: draggable region position with docked DevTools
  shell/browser/api/electron_api_web_contents_view.cc
  shell/browser/ui/inspectable_web_contents_view.h
Owners: none

chore: update patches after rebase
  patches/chromium/.patches
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/node/api_promote_deprecation_of_v8_context_and_v8_object_api_methods.patch
Owners: @electron/patch-owners

chore: use relative links from docs/ to files outside of docs/
  docs/api/shared-texture.md
  docs/api/web-contents.md
  docs/development/build-instructions-gn.md
  docs/development/creating-api.md
  docs/development/pull-requests.md
  docs/development/source-code-directory-structure.md
  docs/tutorial/fuses.md
  docs/tutorial/offscreen-rendering.md
  docs/tutorial/security.md
  docs/tutorial/support.md
  package.json
Owners: none

chore: update patches
  patches/chromium/.patches
  patches/chromium/cherry-pick-e045399a1ecb.patch
Owners: @electron/patch-owners

feat: allow --experimental-inspector-network-resource node flag
  shell/common/node_bindings.cc
Owners: none

fix: frameless window resize in MAS builds
  patches/chromium/fix_adjust_headless_mode_handling_in_native_widget.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
Owners: @electron/patch-owners

fix: update DBus signal signature for XDG GlobalShortcuts portal
  patches/chromium/.patches
  patches/chromium/fix_update_dbus_signal_signature_for_xdg_globalshortcuts_portal.patch
Owners: @electron/patch-owners

build: roll sysroots
  script/sysroots.json
Owners: none
