Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra

Revert "fix: fix SQRLShipItRequest.JSONKeyPathsByPropertyKey mappings"
  patches/squirrel.mac/.patches
  patches/squirrel.mac/fix_add_explicit_json_property_mappings_for_mantle_2_x_compatibility.patch
Owners: @electron/patch-owners

fix: uaf in non-client hittest during view teardown
  shell/browser/api/electron_api_web_contents_view.cc
  shell/browser/ui/inspectable_web_contents.cc
  spec/api-app-spec.ts
  spec/fixtures/api/relaunch-hidden-titlebar/main.js
Owners: none

patches: add chromium cdm renderer visibility patch
  BUILD.gn
  chromium_src/BUILD.gn
  patches/chromium/.patches
  patches/chromium/allow_electron_visibility_for_cdm_renderer.patch
  shell/app/electron_content_client.cc
  shell/renderer/electron_renderer_client.cc
  shell/renderer/electron_renderer_client.h
  shell/renderer/electron_sandboxed_renderer_client.cc
  shell/renderer/electron_sandboxed_renderer_client.h
Owners: @electron/patch-owners

docs: document Widevine CDM switches, build-tools args, and bundled WidevineCdm fallback path
  docs/api/command-line-switches.md
  docs/development/build-instructions-gn.md
Owners: none

fix: normalize sandbox flags for late no-sandbox switch
  shell/browser/electron_browser_client.cc
  shell/browser/web_contents_preferences.cc
  shell/common/api/electron_api_command_line.cc
Owners: none

fix: validate USB device selection against filtered device list (#50002)
  shell/browser/usb/usb_chooser_controller.cc
  shell/browser/usb/usb_chooser_controller.h
Owners: none

chore: remove applescript from trash
  shell/browser/ui/cocoa/electron_bundle_mover.mm
Owners: none

chore: update crash spec
  spec/api-app-spec.ts
  spec/fixtures/api/relaunch-hidden-titlebar/main.js
  spec/fixtures/crash-cases/frameless-windows-close/index.js
Owners: none

feat: add nativeTheme.shouldDifferentiateWithoutColor on macOS
  docs/api/native-theme.md
  shell/browser/api/electron_api_native_theme.cc
  shell/browser/api/electron_api_native_theme.h
  shell/browser/api/electron_api_native_theme_mac.mm
  spec/api-native-theme-spec.ts
Owners: none

fix: better shortcut registration and app icon matching on Wayland (#49988)
  default_app/main.ts
  lib/browser/init.ts
  patches/chromium/.patches
  patches/chromium/fix_pass_trigger_for_global_shortcuts_on_wayland.patch
  patches/chromium/fix_set_correct_app_id_on_linux.patch
  shell/browser/api/electron_api_global_shortcut.cc
Owners: @electron/patch-owners

fix: prevent use-after-free in PowerMonitor via dangling OS callbacks
  lib/browser/api/power-monitor.ts
  shell/browser/api/electron_api_power_monitor.cc
  shell/browser/api/electron_api_power_monitor.h
  shell/browser/api/electron_api_power_monitor_mac.mm
  shell/browser/api/electron_api_power_monitor_win.cc
Owners: none

fix: FTBFS when printing is disabled
  shell/browser/api/electron_api_web_contents.cc
Owners: none

fix: uaf in non-client hittest during view teardown (#50042)
  shell/browser/api/electron_api_web_contents_view.cc
  shell/browser/ui/inspectable_web_contents.cc
  spec/fixtures/crash-cases/frameless-windows-close/index.js
Owners: none

try this
  script/qemu-init.sh
Owners: none

Fix linter error
  spec/api-native-theme-spec.ts
Owners: none

chore: fixup .patches after trop
  patches/chromium/.patches
Owners: @electron/patch-owners

chore: update patches
  patches/chromium/blink_local_frame.patch
  patches/chromium/can_create_window.patch
  patches/chromium/feat_add_set_theme_source_to_allow_apps_to.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_enable_offscreen_rendering_with_viz_compositor.patch
  patches/chromium/fix_disabling_background_throttling_in_compositor.patch
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
  patches/chromium/refactor_expose_hostimportmoduledynamically_and.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
Owners: @electron/patch-owners

test: unsign tests requiring no signed app
  .github/workflows/pipeline-segment-electron-test.yml
  spec/api-autoupdater-darwin-spec.ts
  spec/lib/codesign-helpers.ts
Owners: @electron/wg-infra

fix: pulseaudio stream and icon names
  patches/chromium/.patches
  patches/chromium/fix_pulseaudio_stream_and_icon_names.patch
Owners: @electron/patch-owners

chore: update patches
  patches/chromium/fix_pulseaudio_stream_and_icon_names.patch
Owners: @electron/patch-owners

fix: build with application_info.h only on Linux
  patches/chromium/fix_pulseaudio_stream_and_icon_names.patch
Owners: @electron/patch-owners

refactor: update GetXdgAppId() calls to use .value_or()
  patches/chromium/fix_pulseaudio_stream_and_icon_names.patch
Owners: @electron/patch-owners

chore: update patches
  patches/chromium/.patches
Owners: @electron/patch-owners

fix: fallback to opaque URL when needed inside dialog callback
  lib/browser/api/web-contents.ts
Owners: none

fix: use requesting frame origin instead of top-level URL for permissions
  docs/api/session.md
  docs/api/structures/permission-request.md
  shell/browser/electron_permission_manager.cc
  shell/browser/hid/hid_chooser_controller.cc
  shell/browser/serial/electron_serial_delegate.cc
  shell/browser/serial/serial_chooser_controller.cc
  shell/browser/usb/usb_chooser_controller.cc
  shell/browser/web_contents_permission_helper.cc
  spec/api-session-spec.ts
  spec/chromium-spec.ts
Owners: none

chore: remove applescript from trash (#50044)
  shell/browser/ui/cocoa/electron_bundle_mover.mm
Owners: none

fix: use proper quoting for exe paths and args on Windows
  filenames.gni
  shell/browser/browser_win.cc
  shell/browser/relauncher_win.cc
  shell/common/command_line_util_win.cc
  shell/common/command_line_util_win.h
Owners: none

fix: dispatch ALT+SPACE keydown to renderer on Windows
  shell/browser/ui/win/electron_desktop_window_tree_host_win.cc
  shell/browser/ui/win/electron_desktop_window_tree_host_win.h
  spec/api-browser-window-spec.ts
  spec/fixtures/pages/keydown-alt-space.html
Owners: none

docs: correct lazy electron download breaking change to 42 (#50031)
  docs/breaking-changes.md
Owners: @electron/wg-releases

fix: specs in release build due to electron_common_testing module
  spec/api-net-spec.ts
  spec/lib/spec-helpers.ts
  spec/logging-spec.ts
Owners: none

build: fix code-signing for MacOS x64 tests (#50058)
  .github/workflows/pipeline-segment-electron-test.yml
  script/codesign/cleanup-identity.sh
  script/codesign/generate-identity.sh
  script/codesign/get-trusted-identity.sh
  spec/api-auto-updater-spec.ts
  spec/api-autoupdater-darwin-spec.ts
  spec/fixtures/auto-update/initial/index.js
  spec/lib/codesign-helpers.ts
Owners: @electron/wg-infra

fix: use proper quoting for exe paths and args on Windows (#50016)
  filenames.gni
  shell/browser/browser_win.cc
  shell/browser/relauncher_win.cc
  shell/common/command_line_util_win.cc
  shell/common/command_line_util_win.h
Owners: none

chore: update patches
  patches/chromium/can_create_window.patch
  patches/chromium/webview_fullscreen.patch
Owners: @electron/patch-owners

fix: InspectorFrontendHost override in embedded windows
  lib/renderer/api/context-bridge.ts
  lib/renderer/inspector.ts
  shell/renderer/api/electron_api_context_bridge.cc
Owners: none

build: fix lint
  shell/browser/notifications/mac/cocoa_notification.mm
  shell/browser/notifications/mac/notification_presenter_mac.h
Owners: none

build: update config to handle --translate-gender for pak files
  BUILD.gn
Owners: none

Use NotificationImageRetainer pattern from //chrome
  BUILD.gn
  shell/browser/notifications/mac/cocoa_notification.h
  shell/browser/notifications/mac/cocoa_notification.mm
  shell/browser/notifications/mac/notification_presenter_mac.h
  shell/browser/notifications/mac/notification_presenter_mac.mm
Owners: none

fix: FTBFS when printing is disabled (#50056)
  shell/browser/api/electron_api_web_contents.cc
Owners: none

fix: don't call `TaskDialogIndirect` with disabled parent windows
  shell/browser/ui/message_box_win.cc
Owners: none

fixup! fix: fix SQRLShipItRequest.JSONKeyPathsByPropertyKey mappings
  patches/squirrel.mac/.patches
Owners: @electron/patch-owners
