Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

7159368: update PluginService API for sync GetPlugins
  shell/browser/electron_browser_main_parts.cc
  shell/browser/electron_plugin_info_host_impl.cc
  shell/browser/electron_plugin_info_host_impl.h
Owners: none

7126479: add ShouldForceRefreshTextCheckService parameter to SpellCheckClient
  shell/renderer/api/electron_api_spell_check_client.cc
  shell/renderer/api/electron_api_spell_check_client.h
Owners: none

7083663: remove fingerprinting_protection_ruleset_service override
  shell/browser/browser_process_impl.cc
  shell/browser/browser_process_impl.h
Owners: none

7155287: implement WebContentsView::GetSize and Resize
  shell/browser/osr/osr_web_contents_view.cc
  shell/browser/osr/osr_web_contents_view.h
Owners: none

7184238: add OnUnconfirmedTapConvertedToTap override
  shell/browser/osr/osr_render_widget_host_view.h
Owners: none

5871484: add widget parameter to OnCommandsChanged
  shell/browser/api/electron_api_global_shortcut.cc
Owners: none

7142359: use safe span operations in ProcessSingleton patch
  patches/chromium/feat_add_data_parameter_to_processsingleton.patch
Owners: @electron/patch-owners

fix: `systemPreferences.getAccentColor` inverted color (#49067)
  shell/browser/api/electron_api_system_preferences_win.cc
  spec/api-browser-window-spec.ts
Owners: none

fix: reduce visual artifacts while resizing on Windows
  patches/chromium/.patches
  patches/chromium/viz_fix_visual_artifacts_due_to_resizing_root_render_pass_with_dcomp.patch
Owners: @electron/patch-owners

fix: don't overwrite "Show hidden files" setting on Linux/GTK
  docs/api/dialog.md
  patches/chromium/feat_add_support_for_missing_dialog_features_to_shell_dialogs.patch
Owners: @electron/patch-owners

fix: osr use correct screen info.
  docs/api/structures/web-preferences.md
  docs/breaking-changes.md
  patches/chromium/.patches
  patches/chromium/patch_osr_control_screen_info.patch
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/osr/osr_render_widget_host_view.cc
  shell/browser/osr/osr_render_widget_host_view.h
  shell/browser/osr/osr_web_contents_view.cc
  shell/browser/osr/osr_web_contents_view.h
  shell/common/options_switches.h
  spec/api-browser-window-spec.ts
Owners: @electron/wg-releases, @electron/patch-owners

test: fixup test failures on linux (#49069)
  .github/workflows/pipeline-segment-electron-test.yml
  package.json
  script/spec-runner.js
  spec/ambient.d.ts
  spec/api-notification-dbus-spec.ts
  spec/api-power-monitor-spec.ts
  spec/api-web-contents-spec.ts
  spec/package.json
  spec/spellchecker-spec.ts
  yarn.lock
Owners: @electron/wg-infra

docs: Clarify that menus use non-native styles (#45033)
  docs/api/menu.md
Owners: none

test: remove already disabled nan tests from our disable list (#49050)
  script/nan-spec-runner.js
Owners: none

test: fixup test failures on linux (#49068)
  .github/workflows/pipeline-segment-electron-test.yml
  package.json
  script/spec-runner.js
  spec/ambient.d.ts
  spec/api-notification-dbus-spec.ts
  spec/api-power-monitor-spec.ts
  spec/api-web-contents-spec.ts
  spec/package.json
  spec/spellchecker-spec.ts
  yarn.lock
Owners: @electron/wg-infra

docs: tutorial for windowStatePersistence
  docs/README.md
  docs/tutorial/window-state-persistence.md
Owners: none

fix: `systemPreferences.getAccentColor` inverted color (#49066)
  shell/browser/api/electron_api_system_preferences_win.cc
  spec/api-browser-window-spec.ts
Owners: none

ci: ignore Dependabot workflow failures in audit
  .github/workflows/audit-branch-ci.yml
Owners: none

ci: ignore Dependabot workflow failures in audit (#49080)
  .github/workflows/audit-branch-ci.yml
Owners: none

Add Rep-ilktron to quick-start documentation
  docs/fiddles/quick-start/Rep-ilktron
Owners: none

fix: ensure menu-did-close is emitted for application menus
  shell/browser/api/electron_api_menu_mac.mm
  shell/browser/ui/cocoa/electron_menu_controller.h
  shell/browser/ui/cocoa/electron_menu_controller.mm
Owners: none

fix: reduce visual artifacts while resizing on Windows (#49076)
  patches/chromium/.patches
  patches/chromium/viz_fix_visual_artifacts_due_to_resizing_root_render_pass_with_dcomp.patch
Owners: @electron/patch-owners

ci: don't build yarn modules for linux arm (#49031)
  .github/actions/install-dependencies/action.yml
Owners: @electron/wg-infra

ci: use yarn workspace for workflow dependencies (#48246)
  .github/workflows/audit-branch-ci.yml
  .github/workflows/issue-opened.yml
  .github/workflows/package.json
  package.json
  script/lint.js
  yarn.lock
Owners: none

fix: crash when attempting to resolve modules during process exit
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/fix_ensure_traverseparent_bails_on_resource_path_exit.patch
  patches/node/fix_expose_readfilesync_override_for_modules.patch
  patches/node/src_use_cp_utf8_for_wide_file_names_on_win32.patch
Owners: @electron/patch-owners

fix: ensure `menu-did-close` is emitted for application menus (#49075)
  shell/browser/api/electron_api_menu_mac.mm
  shell/browser/ui/cocoa/electron_menu_controller.h
  shell/browser/ui/cocoa/electron_menu_controller.mm
Owners: none

feat: support WebSocket authentication handling
  shell/browser/api/electron_api_web_request.cc
  shell/browser/api/electron_api_web_request.h
  shell/browser/login_handler.cc
  shell/browser/login_handler.h
  shell/browser/net/proxying_websocket.cc
  shell/browser/net/proxying_websocket.h
  shell/browser/net/web_request_api_interface.h
  spec/api-web-request-spec.ts
Owners: none

chore: make linter happy
  shell/browser/api/electron_api_web_request.h
Owners: none

chore: make linter happy
  shell/browser/api/electron_api_web_request.h
Owners: none

feat: support WebSocket authentication handling
  shell/browser/api/electron_api_web_request.cc
  shell/browser/api/electron_api_web_request.h
  shell/browser/login_handler.cc
  shell/browser/login_handler.h
  shell/browser/net/proxying_websocket.cc
  shell/browser/net/proxying_websocket.h
  shell/browser/net/web_request_api_interface.h
  spec/api-web-request-spec.ts
Owners: none

ci: fix import in issue opened workflow
  .github/workflows/issue-opened.yml
Owners: none

ci: fix import in issue opened workflow (#49095)
  .github/workflows/issue-opened.yml
Owners: none

chore: fix build
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/fix_ensure_traverseparent_bails_on_resource_path_exit.patch
  patches/node/fix_expose_readfilesync_override_for_modules.patch
  patches/node/src_use_cp_utf8_for_wide_file_names_on_win32.patch
Owners: @electron/patch-owners

ci: use clang problem matcher with nan spec runner
  .github/workflows/pipeline-segment-node-nan-test.yml
Owners: @electron/wg-infra

ci: use clang problem matcher with nan spec runner (#49096)
  .github/workflows/pipeline-segment-node-nan-test.yml
Owners: @electron/wg-infra

fix: crash when attempting to resolve modules during process exit (#49090)
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/fix_ensure_traverseparent_bails_on_resource_path_exit.patch
  patches/node/fix_expose_readfilesync_override_for_modules.patch
  patches/node/src_use_cp_utf8_for_wide_file_names_on_win32.patch
Owners: @electron/patch-owners

fix: restore feat_add_support_for_missing_dialog_features_to_shell_dialogs.patch
  patches/chromium/feat_add_support_for_missing_dialog_features_to_shell_dialogs.patch
Owners: @electron/patch-owners

docs: deprecate showHiddenFiles property in dialogs on Linux
  docs/api/dialog.md
  docs/breaking-changes.md
Owners: @electron/wg-releases

test: add checks for virtual display creation
  spec/api-browser-window-spec.ts
Owners: none

fix: run toast creation on background thread
  shell/browser/notifications/notification.cc
  shell/browser/notifications/notification.h
  shell/browser/notifications/win/windows_toast_notification.cc
  shell/browser/notifications/win/windows_toast_notification.h
Owners: none

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra
