Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

docs: security.md use runnable examples for permissions and csp (#43248)
  docs/api/session.md
  docs/tutorial/security.md
Owners: none

docs: security.md use runnable examples for permissions and csp (#43248)
  docs/api/session.md
  docs/tutorial/security.md
Owners: none

chore: Fixup after merge
  shell/browser/api/electron_api_session.cc
  shell/browser/electron_permission_manager.cc
Owners: none

ci: use `<sup>` in release notes generator
  script/release/notes/notes.ts
Owners: @electron/wg-releases

fix: update patch
  patches/chromium/fix_linux_tray_id.patch
Owners: @electron/patch-owners

refactor: skip span decls that don't add new info
  shell/browser/net/asar/asar_url_loader.cc
  shell/common/api/electron_api_url_loader.cc
  shell/common/extensions/electron_extensions_api_provider.cc
  shell/renderer/api/electron_api_web_frame.cc
Owners: none

docs: remove inaccurate EOL deprecation process
  docs/tutorial/electron-timelines.md
Owners: none

ci: use `<sup>` in release notes generator (#48690)
  script/release/notes/notes.ts
Owners: @electron/wg-releases

ci: use `<sup>` in release notes generator (#48690)
  script/release/notes/notes.ts
Owners: @electron/wg-releases

test: fix failing spec
  spec/api-web-frame-main-spec.ts
Owners: none

chore: upgrade pdfjs-dist in spec
  spec/api-web-contents-spec.ts
  spec/fixtures/api/pdf-reader.mjs
  spec/package.json
  spec/yarn.lock
Owners: none

feat: Focus DevTools when breakpoint is triggered (#46386)
  shell/browser/ui/inspectable_web_contents.cc
  shell/browser/ui/inspectable_web_contents_view.cc
  shell/browser/ui/inspectable_web_contents_view.h
  spec/api-web-contents-spec.ts
Owners: none

feat: Focus DevTools when breakpoint is triggered (#46386)
  shell/browser/ui/inspectable_web_contents.cc
  shell/browser/ui/inspectable_web_contents_view.cc
  shell/browser/ui/inspectable_web_contents_view.h
  spec/api-web-contents-spec.ts
Owners: none

perf: avoid double map lookup in Menu.prototype._shouldCommandIdWorkWhenHidden
  lib/browser/api/menu.ts
Owners: none

fix: make linter happy
  patches/chromium/fix_linux_tray_id.patch
Owners: @electron/patch-owners

fix: use correct signal variable in nan-spec-runner install check (#48639)
  script/nan-spec-runner.js
Owners: none

fix: use correct signal variable in nan-spec-runner install check (#48639)
  script/nan-spec-runner.js
Owners: none

fix: allow disabling all `NSMenuItems` (#48598)
  lib/browser/api/menu.ts
  shell/browser/ui/cocoa/electron_menu_controller.mm
Owners: none

fix: allow disabling all `NSMenuItems` (#48598)
  lib/browser/api/menu.ts
  shell/browser/ui/cocoa/electron_menu_controller.mm
Owners: none

7079895: Allow full screen reentry when full screen parameters changed
  patches/chromium/add_electron_deps_to_license_credits_file.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/expose_setuseragent_on_networkcontext.patch
  patches/chromium/feat_allow_code_cache_in_custom_schemes.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_enable_offscreen_rendering_with_viz_compositor.patch
  patches/chromium/fix_adapt_exclusive_access_for_electron_needs.patch
  patches/chromium/fix_select_the_first_menu_item_when_opened_via_keyboard.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/gritsettings_resource_ids.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/network_service_allow_remote_certificate_verification_logic.patch
  patches/chromium/revert_cleanup_remove_feature_windelayspellcheckserviceinit.patch
  patches/chromium/revert_code_health_clean_up_stale_macwebcontentsocclusion.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/webview_fullscreen.patch
Owners: @electron/patch-owners

docs: add caveats for Electron PipeWire implementation
  docs/api/desktop-capturer.md
Owners: none

docs: add caveats for Electron PipeWire implementation (#48242)
  docs/api/desktop-capturer.md
Owners: none

docs: add caveats for Electron PipeWire implementation (#48242)
  docs/api/desktop-capturer.md
Owners: none

docs: remove inaccurate EOL deprecation process (#48696)
  docs/tutorial/electron-timelines.md
Owners: none

docs: remove inaccurate EOL deprecation process (#48696)
  docs/tutorial/electron-timelines.md
Owners: none

build: bump NMV to 143 for Electron 40
  build/args/all.gn
Owners: none

docs: add release timeline for Electron 40 (#48663)
  docs/tutorial/electron-timelines.md
Owners: none

docs: add release timeline for Electron 40 (#48663)
  docs/tutorial/electron-timelines.md
Owners: none

docs: add details on handling file drag-and-drop into Electron apps
  docs/images/From_Os_To_Electron.gif
  docs/tutorial/native-file-drag-drop.md
  yarn.lock
Owners: none

docs: use relative link for `OffscreenSharedTexture`
  docs/breaking-changes.md
Owners: @electron/wg-releases

docs: explain how to handle incoming drag and drop
  docs/tutorial/native-file-drag-drop.md
Owners: none

build: bump NMV to 143 for Electron 40 (#48714)
  build/args/all.gn
Owners: none

build: bump NMV to 143 for Electron 40 (#48714)
  build/args/all.gn
Owners: none

docs: use relative link for `OffscreenSharedTexture` (#48717)
  docs/breaking-changes.md
Owners: @electron/wg-releases

docs: use relative link for `OffscreenSharedTexture` (#48717)
  docs/breaking-changes.md
Owners: @electron/wg-releases

chore: fixup patch indices
  patches/chromium/blink_local_frame.patch
  patches/chromium/build_allow_electron_mojom_interfaces_to_depend_on_blink.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/chore_expose_isolate_parameter_in_script_lifecycle_observers.patch
  patches/chromium/chore_grandfather_in_electron_views_and_delegates.patch
  patches/chromium/custom_protocols_plzserviceworker.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_separate_content_settings_callback_for_sync_and_async_clipboard.patch
  patches/chromium/fix_check_for_file_existence_before_setting_mtime.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_export_zlib_symbols.patch
  patches/chromium/fix_harden_blink_scriptstate_maybefrom.patch
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/refactor_patch_electron_permissiontypes_into_blink.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
Owners: @electron/patch-owners

7088768: Reland "download reclient only for chromeos by default"
  DEPS
Owners: @electron/wg-upgrades

chore: update patches
  patches/node/.patches
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/build_change_crdtp_protocoltypetraits_signatures_to_avoid_conflict.patch
  patches/node/build_enable_perfetto.patch
  patches/node/chore_allow_the_node_entrypoint_to_be_a_builtin_module.patch
  patches/node/chore_expose_importmoduledynamically_and.patch
  patches/node/cli_move_--trace-atomics-wait_to_eol.patch
  patches/node/cli_remove_deprecated_v8_flag.patch
  patches/node/fix_allow_passing_fileexists_fn_to_legacymainresolve.patch
  patches/node/fix_assert_module_in_the_renderer_process.patch
  patches/node/fix_cppgc_initializing_twice.patch
  patches/node/fix_ensure_traverseparent_bails_on_resource_path_exit.patch
  patches/node/fix_expose_readfilesync_override_for_modules.patch
  patches/node/fix_expose_the_built-in_electron_module_via_the_esm_loader.patch
  patches/node/fix_handle_boringssl_and_openssl_incompatibilities.patch
  patches/node/fix_remove_deprecated_errno_constants.patch
  patches/node/fix_remove_fastapitypedarray_usage.patch
  patches/node/fix_remove_outdated_v8_flags_from_node_cc.patch
  patches/node/fix_replace_deprecated_setprototype.patch
  patches/node/refactor_attach_cppgc_heap_on_v8_isolate_creation.patch
  patches/node/src_remove_dependency_on_wrapper-descriptor-based_cppheap.patch
  patches/node/src_stop_using_deprecated_fields_of_fastapicallbackoptions.patch
  patches/node/src_switch_from_get_setprototype_to_get_setprototypev2.patch
  patches/node/support_v8_sandboxed_pointers.patch
  patches/node/test_formally_mark_some_tests_as_flaky.patch
Owners: @electron/patch-owners

Revert "7088768: Reland "download reclient only for chromeos by default""
  DEPS
Owners: @electron/wg-upgrades

build: explicitly disable reclient
  build/args/all.gn
Owners: none

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra
