Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

fix(patch-update): patch out GLIC Summarize in pdf_extension_util
  patches/chromium/chore_patch_out_profile_methods.patch
Owners: @electron/patch-owners

chore: update patches (trivial only)
  patches/chromium/add_didinstallconditionalfeatures.patch
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_expose_isolate_parameter_in_script_lifecycle_observers.patch
  patches/chromium/extend_apply_webpreferences.patch
  patches/chromium/feat_allow_code_cache_in_custom_schemes.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_expose_documentloader_setdefersloading_on_webdocumentloader.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/refactor_expose_hostimportmoduledynamically_and.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
Owners: @electron/patch-owners

fix: user resizable transparent windows on win32
  shell/browser/native_window_views.cc
  spec/api-browser-window-spec.ts
Owners: none

fix: exit orphaned zygote on invalid IPC socket instead of spinning
  patches/chromium/.patches
  patches/chromium/fix_zygote_spinloop_on_invalid_ipc_socket.patch
Owners: @electron/patch-owners

Add HTML and JS for browser interface in usage info
  docs/api/structures/shared-dictionary-usage-info.md
Owners: none

chore: update patches
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/allow_setting_secondary_label_via_simplemenumodel.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/build_partial_revert_mac_fullscreen_top_chrome_mouse_events.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_partial_revert_of.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/extend_apply_webpreferences.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/fix_adjust_headless_mode_handling_in_native_widget.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_move_autopipsettingshelper_behind_branding_buildflag.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/fix_select_the_first_menu_item_when_opened_via_keyboard.patch
  patches/chromium/gritsettings_resource_ids.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/picture-in-picture.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/refactor_unfilter_unresponsive_events.patch
  patches/chromium/render_widget_host_view_mac.patch
  patches/chromium/revert_code_health_clean_up_stale_macwebcontentsocclusion.patch
  patches/chromium/revert_partial_remove_unused_prehandlemouseevent.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/web_contents.patch
  patches/chromium/webview_fullscreen.patch
Owners: @electron/patch-owners

Add connection cost monitor API to net module
  docs/api/net.md
  filenames.gni
  lib/browser/api/net.ts
  patches/chromium/chore_add_electron_objects_to_wrappablepointertag.patch
  shell/browser/api/electron_api_connection_cost_monitor.cc
  shell/browser/api/electron_api_connection_cost_monitor.h
  shell/common/node_bindings.cc
  typings/internal-ambient.d.ts
Owners: @electron/patch-owners

chore: restore historical window icons size
  patches/chromium/fix_add_support_for_skipping_first_2_no-op_refreshes_in_thumb_cap.patch
  spec/api-desktop-capturer-spec.ts
Owners: @electron/patch-owners

test: ensure desktopCapturer window icons test fails if source not found
  spec/api-desktop-capturer-spec.ts
Owners: none

docs: document `DeferredResponse` sentinel
  docs/api/protocol.md
Owners: none

docs: align wording on `DeferredResponse`.
  docs/api/protocol.md
Owners: none

docs: fix usage of `DeferredResponse`
  docs/api/protocol.md
Owners: none

feat: implement `DeferredResponse` class to replace `null` return value
  lib/browser/api/protocol.ts
  shell/browser/api/electron_api_protocol.cc
  shell/browser/api/electron_api_protocol.h
  shell/browser/net/proxying_url_loader_factory.cc
Owners: none

refactor: type callback in internal `protocol.handle` code
  lib/browser/api/protocol.ts
Owners: none

docs: document protocol deferral mechanism for `protocol.handle`
  docs/api/protocol.md
Owners: none

refactor: fix incorrect callback usage in `product.handle`
  lib/browser/api/protocol.ts
Owners: none

docs: fix usage of `DeferredResponse`
  docs/api/protocol.md
Owners: none

test: add test for new protocol deferral mechanism
  spec/api-protocol-spec.ts
Owners: none

docs: document `DeferredResponse` sentinel
  docs/api/protocol.md
Owners: none

style: remove errant new line from `StartLoadingOrDefer`
  shell/browser/net/proxying_url_loader_factory.cc
Owners: none

docs: align wording on `DeferredResponse`.
  docs/api/protocol.md
Owners: none

feat: add deferral capability to `protocol.handle` callback
  lib/browser/api/protocol.ts
  shell/browser/net/proxying_url_loader_factory.cc
Owners: none

feat: implement `DeferredResponse` class to replace `null` return value
  lib/browser/api/protocol.ts
  shell/browser/api/electron_api_protocol.cc
  shell/browser/api/electron_api_protocol.h
  shell/browser/net/proxying_url_loader_factory.cc
Owners: none

fix: add explicit JSON property mappings for SQRLShipItRequest model
  patches/squirrel.mac/.patches
  patches/squirrel.mac/fix_add_explicit_json_property_mappings_for_shipit_request_model.patch
Owners: @electron/patch-owners

feat: add `ELECTRON_INSTALL_` env vars
  docs/breaking-changes.md
  docs/tutorial/installation.md
  npm/install.js
Owners: @electron/wg-releases

test: add failing test for `setFullscreen(false)`
  spec/api-browser-window-spec.ts
Owners: none

fix: menu bar hiding on two setFullScreen(false)
  shell/browser/native_window_views.cc
Owners: none

fix(mac): deliver Universal Links when NSUserActivity.userInfo is nil
  shell/browser/mac/electron_application_delegate.mm
Owners: none

fix(styles): add missing dot prefix to .hero-icon.loop-3 CSS selector
  default_app/styles.css
Owners: none

lib: prefer call() over apply() if argument list is not array
  patches/node/pass_all_globals_through_require.patch
Owners: @electron/patch-owners

build,deps: replace cjs-module-lexer with merve
  patches/chromium/build_allow_electron_to_use_exec_script.patch
  patches/node/build_add_gn_build_files.patch
  patches/node/build_allow_unbundling_of_node_js_dependencies.patch
  patches/node/build_modify_js2c_py_to_allow_injection_of_original-fs_and_custom_embedder_js.patch
  patches/node/chore_exclude_electron_node_folder_from_exit-time-destructors.patch
  patches/node/fix_handle_boringssl_and_openssl_incompatibilities.patch
  patches/node/fix_redefined_macos_sdk_header_symbols.patch
Owners: @electron/patch-owners

test: use fixture directories for sea tests
  script/node-disabled-tests.json
Owners: none

src: throw RangeError on failed ArrayBuffer BackingStore allocation
  patches/node/support_v8_sandboxed_pointers.patch
Owners: @electron/patch-owners

Check if the input file exists before hashing and print the message that file doesnot exists or is not a regular file.
  build/checksum_header.py
Owners: none

fix: return early to prevent crashing in Metal on `nil` events
  patches/angle/.patches
  patches/angle/fix_return_early_from_commandbuffer_seteventimpl_if_the_event_is.patch
  patches/config.json
Owners: @electron/patch-owners

fix: delete temporary blink* globals after restoring Blink implementations
  lib/node/init.ts
  lib/worker/init.ts
Owners: none

docs: add PR labeling guidance to CLAUDE.md
  CLAUDE.md
Owners: none

chore: remove unused commandLineSwitches flag
  shell/browser/web_contents_preferences.cc
  shell/browser/web_contents_preferences.h
Owners: none

fix: use destination context when wrapping VideoFrame in contextBridge
  shell/renderer/api/electron_api_context_bridge.cc
  spec/api-context-bridge-spec.ts
Owners: none

fix: bind offscreen paint callback to child WebContents
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/osr/osr_web_contents_view.cc
  shell/browser/osr/osr_web_contents_view.h
Owners: none

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra
