Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra

chore: format
  shell/browser/mac/electron_application_delegate.mm
Owners: none

fix: use setter's creation context when proxying setter in OverrideGlobalPropertyFromIsolatedWorld
  shell/renderer/api/electron_api_context_bridge.cc
Owners: none

chore: fixup patch indices
  patches/node/api_delete_deprecated_fields_on_v8_isolate.patch
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/build_add_gn_build_files.patch
  patches/node/build_enable_perfetto.patch
  patches/node/build_ensure_native_module_compilation_fails_if_not_using_a_new.patch
  patches/node/build_restore_clang_as_default_compiler_on_macos.patch
  patches/node/build_restore_macos_deployment_target_to_12_0.patch
  patches/node/expose_get_builtin_module_function.patch
  patches/node/feat_disable_js_source_phase_imports_by_default.patch
  patches/node/fix_add_default_values_for_variables_in_common_gypi.patch
  patches/node/fix_allow_disabling_fetch_in_renderer_and_worker_processes.patch
  patches/node/fix_allow_passing_fileexists_fn_to_legacymainresolve.patch
  patches/node/fix_cppgc_initializing_twice.patch
  patches/node/fix_crypto_tests_to_run_with_bssl.patch
  patches/node/fix_do_not_resolve_electron_entrypoints.patch
  patches/node/fix_ensure_traverseparent_bails_on_resource_path_exit.patch
  patches/node/fix_expose_readfilesync_override_for_modules.patch
  patches/node/fix_expose_the_built-in_electron_module_via_the_esm_loader.patch
  patches/node/fix_handle_boringssl_and_openssl_incompatibilities.patch
  patches/node/fix_lazyload_fs_in_esm_loaders_to_apply_asar_patches.patch
  patches/node/refactor_attach_cppgc_heap_on_v8_isolate_creation.patch
  patches/node/support_v8_sandboxed_pointers.patch
  patches/node/test_accomodate_v8_thenable_stack_trace_change_in_snapshot.patch
  patches/node/test_formally_mark_some_tests_as_flaky.patch
Owners: @electron/patch-owners

fix: authenticate curl requests to googlesource in lint workflow
  .github/workflows/pipeline-electron-lint.yml
Owners: @electron/wg-infra

refactor: change patching approach for avoiding `nil` Metal events
  patches/angle/.patches
  patches/angle/fix_ensure_no_nil_events_are_inserted_into_mpendingsignalevents.patch
  patches/angle/fix_return_early_from_commandbuffer_seteventimpl_if_the_event_is.patch
Owners: @electron/patch-owners

fix: validate USB device selection against filtered device list
  shell/browser/usb/usb_chooser_controller.cc
  shell/browser/usb/usb_chooser_controller.h
Owners: none

fix: potential UAF in OnDownloadPathGenerated
  shell/browser/electron_download_manager_delegate.cc
Owners: none

fix: deliver Universal Links when NSUserActivity.userInfo is nil (#49986)
  shell/browser/mac/electron_application_delegate.mm
Owners: none

use chromium csd strategy for frameless windows
  chromium_src/BUILD.gn
  shell/browser/ui/electron_desktop_window_tree_host_linux.cc
  shell/browser/ui/views/client_frame_view_linux.cc
  shell/browser/ui/views/client_frame_view_linux.h
  shell/browser/ui/views/linux_frame_layout.cc
  shell/browser/ui/views/linux_frame_layout.h
  shell/browser/ui/views/opaque_frame_view.cc
  shell/browser/ui/views/opaque_frame_view.h
Owners: none

fix: potential UAF in `OnDownloadPathGenerated` (#50003)
  shell/browser/electron_download_manager_delegate.cc
Owners: none

chore: remove unused `commandLineSwitches` flag (#49993)
  shell/browser/web_contents_preferences.cc
  shell/browser/web_contents_preferences.h
Owners: none

7603876: Remove OriginatingProcess and RendererProcess overloads
  shell/browser/api/electron_api_utility_process.cc
  shell/browser/electron_browser_context.cc
  shell/browser/net/system_network_context_manager.cc
Owners: none

7596126: Clean up StoragePartitionImpl bucket data deletion.
  docs/api/session.md
  docs/breaking-changes.md
  shell/browser/api/electron_api_session.cc
  spec/api-session-spec.ts
  spec/ts-smoke/electron/main.ts
Owners: @electron/wg-releases

docs: add PR labeling guidance to CLAUDE.md (#49992)
  CLAUDE.md
Owners: none

fix: use setter's creation context when proxying setter in OverrideGlobalPropertyFromIsolatedWorld (#49990)
  shell/renderer/api/electron_api_context_bridge.cc
Owners: none

fix: use destination context when wrapping VideoFrame in contextBridge (#49997)
  shell/renderer/api/electron_api_context_bridge.cc
  spec/api-context-bridge-spec.ts
Owners: none

fix: bind offscreen paint callback to child `WebContents` (#49998)
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/osr/osr_web_contents_view.cc
  shell/browser/osr/osr_web_contents_view.h
Owners: none

build: authenticate curl requests to googlesource in lint workflow (#50001)
  .github/workflows/pipeline-electron-lint.yml
Owners: @electron/wg-infra

fix: revert "build: roll Mantle and remove patch" (#49978)
  DEPS
  patches/Mantle/.patches
  patches/Mantle/remove_mtlmanagedobjectadapter_h.patch
  patches/config.json
  patches/squirrel.mac/build_add_gn_config.patch
  patches/squirrel.mac/use_uttype_class_instead_of_deprecated_uttypeconformsto.patch
Owners: @electron/wg-upgrades, @electron/patch-owners

feat: show toast dismissal reason on Windows (#49913)
  docs/api/notification.md
  shell/browser/api/electron_api_notification.cc
  shell/browser/api/electron_api_notification.h
  shell/browser/notifications/notification.cc
  shell/browser/notifications/notification.h
  shell/browser/notifications/notification_delegate.h
  shell/browser/notifications/platform_notification_service.cc
  shell/browser/notifications/win/windows_toast_notification.cc
Owners: none

feat: add macOS-only api to determine if app is currently active (#49622)
  docs/api/app.md
  shell/browser/api/electron_api_app.cc
  shell/browser/browser.h
  shell/browser/browser_mac.mm
  spec/api-app-spec.ts
Owners: none

docs: correct lazy electron download breaking change to 42
  docs/breaking-changes.md
Owners: @electron/wg-releases

fix: prevent use-after-free in permission request callbacks
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/electron_permission_manager.cc
  shell/browser/electron_permission_manager.h
Owners: none

fix(patch): ENABLE_GLIC guard removed upstream
  patches/chromium/chore_patch_out_profile_methods.patch
Owners: @electron/patch-owners

fix(patch): Win32 API :: scope qualifiers
  patches/chromium/fix_remove_caption-removing_style_call.patch
Owners: @electron/patch-owners

chore: update patches (trivial only)
  patches/chromium/add_didinstallconditionalfeatures.patch
  patches/chromium/blink_local_frame.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_expose_isolate_parameter_in_script_lifecycle_observers.patch
  patches/chromium/chore_modify_chromium_handling_of_mouse_events.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/enable_reset_aspect_ratio.patch
  patches/chromium/expose_gtk_ui_platform_field.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_expose_documentloader_setdefersloading_on_webdocumentloader.patch
  patches/chromium/fix_aspect_ratio_with_max_size.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_resolve_dynamic_background_material_update_issue_on_windows_11.patch
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
  patches/chromium/gritsettings_resource_ids.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/revert_code_health_clean_up_stale_macwebcontentsocclusion.patch
  patches/chromium/revert_remove_the_allowaggressivethrottlingwithwebsocket_feature.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/webview_fullscreen.patch
  patches/chromium/worker_context_will_destroy.patch
  patches/chromium/worker_feat_add_hook_to_notify_script_ready.patch
Owners: @electron/patch-owners

docs: add skip-and-recreate warning to chromium upgrade skill
  .claude/skills/electron-chromium-upgrade/SKILL.md
Owners: none

fix(styles): add missing dot prefix to .hero-icon.loop-3 CSS selector (#49950)
  default_app/styles.css
Owners: none

feat: allow showing a window without foregrounding it on macOS
  docs/api/base-window.md
  docs/api/browser-window.md
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/api/electron_api_browser_window.h
  shell/browser/native_window.h
  shell/browser/native_window_mac.h
  shell/browser/native_window_mac.mm
  shell/browser/native_window_views.cc
  shell/browser/native_window_views.h
Owners: none

docs: follow documentation style guide
  docs/api/base-window.md
  docs/api/browser-window.md
Owners: none

chore: add tests
  spec/api-desktop-capturer-spec.ts
Owners: none

style: add patch body to mantle v2 fix patch
  patches/squirrel.mac/fix_add_explicit_json_property_mappings_for_shipit_request_model.patch
Owners: @electron/patch-owners

run as builduser
  script/qemu-init.sh
Owners: none

chore: update patches
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/chore_patch_out_profile_methods.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/feat_expose_raw_response_headers_from_urlloader.patch
  patches/chromium/fix_non-client_mouse_tracking_and_message_bubbling_on_windows.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/revert_code_health_clean_up_stale_macwebcontentsocclusion.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
Owners: @electron/patch-owners

fix: prevent use-after-free in permission request callbacks (#50032)
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/electron_permission_manager.cc
  shell/browser/electron_permission_manager.h
Owners: none

fix: add explicit JSON property mappings for `SQRLShipItRequest` model (#49980)
  patches/squirrel.mac/.patches
  patches/squirrel.mac/fix_add_explicit_json_property_mappings_for_shipit_request_model.patch
Owners: @electron/patch-owners

fix: fix SQRLShipItRequest.JSONKeyPathsByPropertyKey mappings
  patches/squirrel.mac/.patches
  patches/squirrel.mac/fix_add_explicit_json_property_mappings_for_mantle_2_x_compatibility.patch
Owners: @electron/patch-owners

fix: code-sign binaries for notification tests
  .github/workflows/pipeline-segment-electron-test.yml
  script/codesign/cleanup-identity.sh
  script/codesign/generate-identity.sh
  script/codesign/get-trusted-identity.sh
Owners: @electron/wg-infra

test: remove redundent feedURL test
  spec/api-auto-updater-spec.ts
  spec/lib/codesign-helpers.ts
Owners: none

test: move squirrel feed tests to api-autoupdater
  spec/api-autoupdater-darwin-spec.ts
  spec/fixtures/auto-update/initial/index.js
Owners: none
