Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

feat: ready-to-show event on webContents
  docs/api/web-contents-view.md
  docs/api/web-contents.md
  docs/breaking-changes.md
  shell/browser/api/electron_api_web_contents_view.cc
  spec/api-web-contents-view-spec.ts
  spec/visibility-state-spec.ts
Owners: @electron/wg-releases

docs: note webdriver-added cli switches in tests
  docs/tutorial/automated-testing.md
Owners: none

docs: recommend subdir for app files in userData
  docs/api/app.md
Owners: none

docs: correct offline cache directory guidance
  docs/tutorial/installation.md
Owners: none

docs: clarify window.open feature parsing limits
  docs/api/window-open.md
Owners: none

docs: clarify window.open feature parsing limits
  docs/api/window-open.md
Owners: none

docs: adjust docs as per PR comment
  docs/api/command-line-switches.md
Owners: none

docs: add breaking-changes entry and update getBitmap docs
  docs/api/native-image.md
  docs/breaking-changes.md
Owners: @electron/wg-releases

fix: test failures
  spec/chromium-spec.ts
Owners: none

docs: fix framerate limit when osr with shared texture (#49705)
  docs/api/web-contents.md
  docs/tutorial/offscreen-rendering.md
Owners: none

fix: update label/sublabel/icon in macOS item on open
  docs/api/menu-item.md
  lib/browser/api/menu-item.ts
  lib/browser/api/menu.ts
  shell/browser/api/electron_api_menu.cc
  shell/browser/api/electron_api_menu.h
  shell/browser/ui/cocoa/electron_menu_controller.mm
  shell/browser/ui/electron_menu_model.cc
  shell/browser/ui/electron_menu_model.h
  typings/internal-electron.d.ts
Owners: none

build: fixup build attestation
  script/release/uploaders/upload.py
Owners: @electron/wg-releases

chore: fixup sandboxed pointers patch
  patches/node/support_v8_sandboxed_pointers.patch
Owners: @electron/patch-owners

build: try removing zero-fill sandbox patch component (#49452)
  patches/node/api_delete_deprecated_fields_on_v8_isolate.patch
  patches/node/api_promote_deprecation_of_v8_context_and_v8_object_api_methods.patch
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/refactor_attach_cppgc_heap_on_v8_isolate_creation.patch
  patches/node/support_v8_sandboxed_pointers.patch
Owners: @electron/patch-owners

chore: fixup patch indices
  patches/node/api_delete_deprecated_fields_on_v8_isolate.patch
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/build_enable_perfetto.patch
  patches/node/build_ensure_native_module_compilation_fails_if_not_using_a_new.patch
  patches/node/build_restore_clang_as_default_compiler_on_macos.patch
  patches/node/chore_allow_the_node_entrypoint_to_be_a_builtin_module.patch
  patches/node/chore_disable_deprecation_ftbfs_in_simdjson_header.patch
  patches/node/chore_expose_importmoduledynamically_and.patch
  patches/node/expose_get_builtin_module_function.patch
  patches/node/fix_add_default_values_for_variables_in_common_gypi.patch
  patches/node/fix_allow_disabling_fetch_in_renderer_and_worker_processes.patch
  patches/node/fix_allow_passing_fileexists_fn_to_legacymainresolve.patch
  patches/node/fix_avoid_external_memory_leak_on_invalid_tls_protocol_versions.patch
  patches/node/fix_do_not_resolve_electron_entrypoints.patch
  patches/node/fix_ensure_traverseparent_bails_on_resource_path_exit.patch
  patches/node/fix_expose_readfilesync_override_for_modules.patch
  patches/node/fix_expose_the_built-in_electron_module_via_the_esm_loader.patch
  patches/node/fix_lazyload_fs_in_esm_loaders_to_apply_asar_patches.patch
  patches/node/fix_remove_deprecated_errno_constants.patch
  patches/node/lib_check_sharedarraybuffer_existence_in_fast-utf8-stream.patch
  patches/node/pass_all_globals_through_require.patch
  patches/node/refactor_allow_embedder_overriding_of_internal_fs_calls.patch
  patches/node/refactor_attach_cppgc_heap_on_v8_isolate_creation.patch
  patches/node/src_handle_der_decoding_errors_from_system_certificates.patch
  patches/node/support_v8_sandboxed_pointers.patch
  patches/node/test_formally_mark_some_tests_as_flaky.patch
Owners: @electron/patch-owners

test,crypto: handle a few more BoringSSL tests
  patches/node/.patches
  patches/node/fix_crypto_tests_to_run_with_bssl.patch
  patches/node/fix_handle_boringssl_and_openssl_incompatibilities.patch
Owners: @electron/patch-owners

chore: fixup crypto patch rebase
  patches/node/fix_crypto_tests_to_run_with_bssl.patch
Owners: @electron/patch-owners

src: use CP_UTF8 for wide file names on win32
  patches/node/src_use_cp_utf8_for_wide_file_names_on_win32.patch
Owners: @electron/patch-owners

test: make buffer sizes 32bit-aware in test-internal-util-construct-sab
  patches/node/.patches
  patches/node/test_make_buffer_sizes_32bit-aware_in.patch
Owners: @electron/patch-owners

chore: re-add accidentally removed sslv23 test
  script/node-disabled-tests.json
Owners: none

tls: route callback exceptions through error handlers
  script/node-disabled-tests.json
Owners: none

src: add internal binding for constructing SharedArrayBuffers
  patches/node/.patches
  patches/node/lib_check_sharedarraybuffer_existence_in_fast-utf8-stream.patch
Owners: @electron/patch-owners

chore: fixup after rebase
  patches/node/.patches
  patches/node/build_restore_macos_deployment_target_to_12_0.patch
  patches/v8/.patches
  patches/v8/cherry-pick-4508b5dfb26e.patch
Owners: @electron/patch-owners

build: fixup build attestation (#49730)
  script/release/uploaders/upload.py
Owners: @electron/wg-releases

chore: verify commit signing before pushing
  .github/PULL_REQUEST_TEMPLATE.md
  .husky/pre-push
  docs/development/pull-requests.md
  package.json
  script/check-signed-commits.js
Owners: none

build: fixup attestation for release assets
  script/release/uploaders/upload.py
Owners: @electron/wg-releases

Feat: support getDevToolsId() on WebContents
  docs/api/web-contents.md
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  spec/api-web-contents-spec.ts
Owners: none

remove unnecessary checks for client frame
  shell/browser/native_window_views.cc
Owners: none

fix: Enable CoreAudio Tap API for Audio Capture (🍏 macOS)
  shell/browser/resources/mac/Info.plist
Owners: none

fix: addressed markdown issue which caused pre-commit hook failure
  docs/tutorial/menus.md
Owners: none

fix: updated docs to cover `desktopCapturer` nuances with macOS
  docs/api/desktop-capturer.md
  docs/breaking-changes.md
Owners: @electron/wg-releases

docs: fix typos across documentation
  docs/api/app.md
  docs/api/base-window.md
  docs/api/browser-window.md
  docs/api/client-request.md
  docs/api/clipboard.md
  docs/api/command-line-switches.md
  docs/api/corner-smoothing-css.md
  docs/api/dialog.md
  docs/api/incoming-message.md
  docs/api/menu.md
  docs/api/native-theme.md
  docs/api/process.md
  docs/api/session.md
  docs/api/structures/display.md
  docs/api/structures/notification-action.md
  docs/api/structures/web-preferences.md
  docs/api/web-contents.md
  docs/breaking-changes.md
  docs/development/build-instructions-macos.md
  docs/development/debugging-on-windows.md
  docs/development/source-code-directory-structure.md
  docs/development/testing.md
  docs/glossary.md
  docs/tutorial/code-signing.md
  docs/why-electron.md
Owners: @electron/wg-releases

docs: fix typos across tutorial documentation
  docs/tutorial/asar-archives.md
  docs/tutorial/asar-integrity.md
  docs/tutorial/automated-testing.md
  docs/tutorial/code-signing.md
  docs/tutorial/custom-title-bar.md
  docs/tutorial/custom-window-interactions.md
  docs/tutorial/dark-mode.md
  docs/tutorial/ipc.md
  docs/tutorial/keyboard-shortcuts.md
  docs/tutorial/launch-app-from-url-in-another-app.md
  docs/tutorial/mac-app-store-submission-guide.md
  docs/tutorial/macos-dock.md
  docs/tutorial/native-code-and-electron-cpp-linux.md
  docs/tutorial/native-code-and-electron-cpp-win32.md
  docs/tutorial/native-code-and-electron-swift-macos.md
  docs/tutorial/offscreen-rendering.md
  docs/tutorial/performance.md
  docs/tutorial/process-model.md
  docs/tutorial/security.md
  docs/tutorial/testing-on-headless-ci.md
  docs/tutorial/updates.md
  docs/tutorial/using-native-node-modules.md
  docs/tutorial/windows-arm.md
  docs/tutorial/windows-store-guide.md
Owners: none

docs: link unlinked type references in API documentation (#49651)
  docs/api/menu.md
  docs/api/shared-texture.md
Owners: none

fix: show error code on linux moveToTrash failure
  shell/common/platform_util_linux.cc
Owners: none

Generate artifact attestation for generated artifacts
  .github/actions/build-electron/action.yml
  .github/workflows/build.yml
Owners: @electron/wg-infra

patches: add chromium cdm renderer visibility patch
  BUILD.gn
  chromium_src/BUILD.gn
  patches/chromium/.patches
  patches/chromium/allow_electron_visibility_for_cdm_renderer.patch
  shell/app/electron_content_client.cc
  shell/renderer/electron_renderer_client.cc
  shell/renderer/electron_renderer_client.h
  shell/renderer/electron_sandboxed_renderer_client.cc
  shell/renderer/electron_sandboxed_renderer_client.h
Owners: @electron/patch-owners

fix: normalize sandbox flags for late no-sandbox switch
  shell/browser/electron_browser_client.cc
  shell/browser/web_contents_preferences.cc
  shell/common/api/electron_api_command_line.cc
Owners: none

fix: address upstream Chromium shift to enable `CoreAudio Tap API` for audio capture used in electron's `desktopCapturer` (🍏 macOS). (#49717)
  docs/api/desktop-capturer.md
  docs/breaking-changes.md
  docs/tutorial/menus.md
  shell/browser/resources/mac/Info.plist
Owners: @electron/wg-releases

fix: revoke Read access after removing file via FileSystemAccess API (#49620)
  shell/browser/file_system_access/file_system_access_permission_context.cc
  shell/browser/file_system_access/file_system_access_permission_context.h
Owners: none

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra
