Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

fix: fix Windows MSIX release build errors (#49613)
  BUILD.gn
  filenames.gni
  shell/browser/api/electron_api_msix_updater.cc
Owners: none

fix: fix Windows MSIX release build errors (#49613)
  BUILD.gn
  filenames.gni
  shell/browser/api/electron_api_msix_updater.cc
Owners: none

fix: fix Windows MSIX release build errors (#49613)
  BUILD.gn
  filenames.gni
  shell/browser/api/electron_api_msix_updater.cc
Owners: none

fix: handle out of order recording errors in skia graphite (#49609)
  patches/chromium/.patches
  patches/chromium/graphite_handle_out_of_order_recording_errors.patch
  patches/config.json
  patches/skia/.patches
  patches/skia/graphite_add_insertstatus_koutoforderrecording.patch
Owners: @electron/patch-owners

docs: `app.getGPUInfo()` may reject (#49580)
  docs/api/app.md
Owners: none

build(dev-deps): bump @electron/lint-roller to 3.2.0 (#49588)
  package.json
  yarn.lock
Owners: none

fix: Handle out of order recording errors in skia graphite
  patches/chromium/.patches
  patches/chromium/graphite_handle_out_of_order_recording_errors.patch
Owners: @electron/patch-owners

chore: fixup patches
  patches/chromium/graphite_handle_out_of_order_recording_errors.patch
  patches/skia/graphite_add_insertstatus_koutoforderrecording.patch
Owners: @electron/patch-owners

fix: handle out of order recording errors in skia graphite (#49608)
  patches/chromium/.patches
  patches/chromium/graphite_handle_out_of_order_recording_errors.patch
Owners: @electron/patch-owners

chore: fix .patches file
  patches/chromium/.patches
Owners: @electron/patch-owners

fix: implement feedback
  docs/api/native-image.md
  shell/common/api/electron_api_native_image.cc
  spec/api-native-image-spec.ts
  spec/fixtures/assets/colorspace-p3.png
  spec/fixtures/assets/colorspace-srgb.png
Owners: none

fix: apply default accelerator for role-based menu items
  docs/api/menu-item.md
  lib/browser/api/menu-item-roles.ts
  lib/browser/api/menu-item.ts
  spec/api-menu-item-spec.ts
Owners: none

Revert "fix: fix Windows MSIX release build errors (#49613)"
  BUILD.gn
  filenames.gni
  shell/browser/api/electron_api_msix_updater.cc
Owners: none

chore: e patches all (trivial only)
  patches/chromium/patch_osr_control_screen_info.patch
Owners: @electron/patch-owners

fix: revoke Read access after removing file via FileSystemAccess API
  shell/browser/file_system_access/file_system_access_permission_context.cc
  shell/browser/file_system_access/file_system_access_permission_context.h
Owners: none

chore: cherry-pick 94c314c8d814 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-94c314c8d814.patch
Owners: @electron/patch-owners

chore: update patches
  patches/chromium/.patches
  patches/chromium/cherry-pick-94c314c8d814.patch
Owners: @electron/patch-owners

chore: limit outputSize to max size of captured area
  docs/api/browser-window.md
  docs/api/web-contents.md
  shell/browser/api/electron_api_web_contents.cc
  spec/api-browser-view-spec.ts
  spec/api-browser-window-spec.ts
Owners: none

refactor: use WRL ComPtr pattern for MSIX to avoid exception handling
  shell/browser/api/electron_api_msix_updater.cc
Owners: none

fix: menu state in macOS dock menus (#49574)
  shell/browser/mac/electron_application_delegate.mm
  shell/browser/ui/cocoa/electron_menu_controller.h
  shell/browser/ui/cocoa/electron_menu_controller.mm
Owners: none

build: import correct packages
  shell/browser/api/electron_api_msix_updater.cc
Owners: none

build: consolidate IPackage declarations
  shell/browser/api/electron_api_msix_updater.cc
Owners: none

chore: bump chromium in DEPS to 146.0.7663.0
  DEPS
Owners: @electron/wg-upgrades

refactor: use IPackageManager/IPackageManager5/IPackageManager9 and IPackage/IPackage2/IPackage4/IPackage6 interfaces as needed for different API methods.
  shell/browser/api/electron_api_msix_updater.cc
Owners: none

fix: gc crash
  shell/browser/ui/cocoa/electron_menu_controller.mm
Owners: none

ci: handle PRs with no checks in rerun apply patches
  .github/workflows/rerun-apply-patches.yml
Owners: none

fix: possible crash in FileSystem API
  shell/browser/file_system_access/file_system_access_permission_context.cc
Owners: none

fix: alt-space should route through system-context-menu
  shell/browser/ui/win/electron_desktop_window_tree_host_win.cc
  shell/browser/ui/win/electron_desktop_window_tree_host_win.h
Owners: none

docs: add Wayland note to win.getPosition()
  docs/api/base-window.md
  docs/api/browser-window.md
Owners: none

fix: wrong cause and removed flag in cookie change listener (#49103)
  docs/api/cookies.md
  docs/breaking-changes.md
  shell/browser/api/electron_api_cookies.cc
  spec/api-session-spec.ts
Owners: @electron/wg-releases

ci: use new case synta in workflows
  .github/actions/build-electron/action.yml
  .github/workflows/pipeline-segment-electron-build.yml
  .github/workflows/pipeline-segment-electron-clang-tidy.yml
  .github/workflows/pipeline-segment-electron-gn-check.yml
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

build: remove Core Graphics private macOS APIs on MAS
  patches/chromium/fix_adjust_headless_mode_handling_in_native_widget.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
Owners: @electron/patch-owners

fix: possible crash in FileSystem API (#49578)
  shell/browser/file_system_access/file_system_access_permission_context.cc
Owners: none

test: address feedback and use scaleFactor to verify sizes
  spec/api-browser-view-spec.ts
  spec/api-browser-window-spec.ts
Owners: none

fix(squirrel.mac): clean up old staged updates before downloading new update (#49365)
  patches/squirrel.mac/.patches
  patches/squirrel.mac/fix_clean_up_old_staged_updates_before_downloading_new_update.patch
  spec/api-autoupdater-darwin-spec.ts
Owners: @electron/patch-owners

fix: alt-space should route through 'system-context-menu' (#49619)
  shell/browser/ui/win/electron_desktop_window_tree_host_win.cc
  shell/browser/ui/win/electron_desktop_window_tree_host_win.h
Owners: none

chore: add "I have built and tested this PR" box to PR template (#49434)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

ci: use new case syntax in workflows (#49590)
  .github/actions/build-electron/action.yml
  .github/workflows/pipeline-segment-electron-build.yml
  .github/workflows/pipeline-segment-electron-clang-tidy.yml
  .github/workflows/pipeline-segment-electron-gn-check.yml
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

build: remove Core Graphics private macOS APIs on MAS (#49633)
  patches/chromium/fix_adjust_headless_mode_handling_in_native_widget.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
Owners: @electron/patch-owners

build: generate artifact attestions for released assets
  .github/actions/build-electron/action.yml
  .github/workflows/build.yml
  .github/workflows/linux-publish.yml
  .github/workflows/macos-publish.yml
  .github/workflows/pipeline-electron-lint.yml
  .github/workflows/pipeline-segment-electron-publish.yml
  .github/workflows/windows-publish.yml
  package.json
  script/copy-pipeline-segment-publish.js
  script/release/uploaders/upload.py
  yarn.lock
Owners: @electron/wg-infra, @electron/wg-releases

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra
