Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

fixup! fix: fix SQRLShipItRequest.JSONKeyPathsByPropertyKey mappings
  patches/squirrel.mac/.patches
Owners: @electron/patch-owners

fixup! fix: fix SQRLShipItRequest.JSONKeyPathsByPropertyKey mappings
  patches/squirrel.mac/.patches
Owners: @electron/patch-owners

test: also sign on arm64
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

fix: add error handling for scheduling notification
  shell/browser/notifications/mac/cocoa_notification.mm
Owners: none

docs: add details to breaking changes
  docs/breaking-changes.md
Owners: @electron/wg-releases

test: also sign on arm64
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

fix: add error handling for scheduling notification
  shell/browser/notifications/mac/cocoa_notification.mm
Owners: none

docs: add details to breaking changes
  docs/breaking-changes.md
Owners: @electron/wg-releases

feat: Add WebContents::Clone method
  docs/api/web-contents.md
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  spec/api-web-contents-spec.ts
Owners: none

docs: clarify breaking change details
  docs/breaking-changes.md
Owners: @electron/wg-releases

docs: add details for notifications tutorial and API documentation
  docs/api/notification.md
  docs/tutorial/notifications.md
Owners: none

ci: calculate dates for release board automation
  .github/workflows/branch-created.yml
Owners: none

fix: move binding into respective tests
  spec/api-net-spec.ts
Owners: none

docs: add more api history (C-D) (#49510)
  docs/api/clipboard.md
  docs/api/content-tracing.md
  docs/api/crash-reporter.md
  docs/api/desktop-capturer.md
  docs/api/dialog.md
Owners: none

fix: avoid redundant `page-favicon-updated` events on `setBounds` (#49464)
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
Owners: none

feat: capture JS stack trace on renderer OOM
  filenames.gni
  shell/renderer/electron_renderer_client.cc
  shell/renderer/electron_sandboxed_renderer_client.cc
  shell/renderer/oom_stack_trace.cc
  shell/renderer/oom_stack_trace.h
  shell/renderer/renderer_client_base.cc
  shell/renderer/renderer_client_base.h
  spec/fixtures/apps/oom-stack-trace/main.js
  spec/fixtures/apps/oom-stack-trace/package.json
  spec/oom-stack-trace-spec.ts
Owners: none

Update shell/renderer/oom_stack_trace.cc
  shell/renderer/oom_stack_trace.cc
Owners: none

Update shell/renderer/oom_stack_trace.cc
  shell/renderer/oom_stack_trace.cc
Owners: none

test: add crash reporter test for OOM JS stack trace
  shell/renderer/oom_stack_trace.cc
  spec/api-crash-reporter-spec.ts
Owners: none

fix: prevent use-after-free in PowerMonitor via dangling OS callbacks (#50045)
  lib/browser/api/power-monitor.ts
  shell/browser/api/electron_api_power_monitor.cc
  shell/browser/api/electron_api_power_monitor.h
  shell/browser/api/electron_api_power_monitor_mac.mm
  shell/browser/api/electron_api_power_monitor_win.cc
Owners: none

docs: cleanup desktop-capturer doc after chromium audio capture additions
  docs/api/desktop-capturer.md
Owners: none

Revert "fix: updated Alt detection to explicitly exclude AltGraph/AltGr (#49778)"
  shell/browser/ui/views/root_view.cc
  spec/api-browser-window-spec.ts
Owners: none

docs: remove release schedule in favor of https://releases.electronjs.org/schedule
  docs/tutorial/electron-timelines.md
Owners: none

fix: Wayland crash in GetCursorScreenPoint()
  shell/browser/api/electron_api_screen.cc
Owners: none

docs: document that getCursorScreenPoint() needs a Window on Wayland
  docs/api/screen.md
Owners: none

refactor: rename x11_util to ozone_util
  BUILD.gn
  shell/browser/api/electron_api_screen.cc
  shell/browser/linux/ozone_util.cc
  shell/browser/linux/ozone_util.h
  shell/browser/linux/x11_util.h
  shell/browser/native_window_views.cc
  shell/browser/ui/electron_desktop_window_tree_host_linux.cc
  shell/browser/ui/gtk/menu_util.cc
  shell/browser/ui/views/linux_frame_layout.cc
  shell/browser/ui/views/linux_frame_layout.h
Owners: none

refactor: add ozone_util::IsWayland()
  shell/browser/linux/ozone_util.cc
  shell/browser/linux/ozone_util.h
Owners: none

refactor: apply the must-have-window test only on Wayland, not X11
  shell/browser/api/electron_api_screen.cc
Owners: none

fix: lint formatting in oom_stack_trace.cc
  shell/renderer/oom_stack_trace.cc
Owners: none

fix: respect 'bigint' option for lstat(Sync) for asar wrapper
  lib/node/asar-fs-wrapper.ts
  spec/asar-spec.ts
Owners: none

feat: make Chrome extensions work on custom protocols
  docs/api/app.md
  patches/chromium/.patches
  patches/chromium/feat_allow_enabling_extensions_on_all_protocols.patch
  patches/devtools_frontend/.patches
  patches/devtools_frontend/feat_allow_enabling_extension_panels_on_all_protocols.patch
  shell/browser/api/electron_api_app.cc
  shell/browser/api/electron_api_app.h
  shell/browser/electron_browser_client.cc
  shell/browser/ui/inspectable_web_contents.cc
  shell/common/options_switches.h
  shell/renderer/renderer_client_base.cc
  spec/api-app-spec.ts
  spec/api-web-request-spec.ts
  spec/extensions-spec.ts
  spec/fixtures/extensions/custom-protocol-panel/extension/devtools.html
  spec/fixtures/extensions/custom-protocol-panel/extension/devtools.js
  spec/fixtures/extensions/custom-protocol-panel/extension/manifest.json
  spec/fixtures/extensions/custom-protocol-panel/extension/panel.html
  spec/fixtures/extensions/custom-protocol-panel/main.js
  spec/fixtures/extensions/custom-protocol/extension/background.js
  spec/fixtures/extensions/custom-protocol/extension/content_script.js
  spec/fixtures/extensions/custom-protocol/extension/manifest.json
  spec/fixtures/extensions/custom-protocol/main.js
Owners: @electron/patch-owners

feat: add custom `id` property to Notification API (macOS only)
  docs/api/notification.md
  shell/browser/api/electron_api_notification.cc
  shell/browser/api/electron_api_notification.h
  shell/browser/notifications/mac/cocoa_notification.mm
  spec/api-notification-spec.ts
Owners: none

feat: implements cold COM activation (#49919)
  docs/api/notification.md
  docs/api/structures/activation-arguments.md
  lib/browser/api/notification.ts
  shell/browser/api/electron_api_notification.cc
  shell/browser/api/electron_api_notification.h
  shell/browser/notifications/win/windows_toast_activator.cc
  shell/browser/notifications/win/windows_toast_activator.h
  typings/internal-ambient.d.ts
Owners: none

fix: always call the original implementation in swizzled mousedown implementations
  shell/browser/ui/cocoa/electron_ns_window.mm
Owners: none

Apply suggestions from code review
  docs/api/desktop-capturer.md
Owners: none

feat: add `groupId` property to Notification API (macOS). Notifications with the same groupId will be visually grouped together in Notification Center
  docs/api/notification.md
  shell/browser/api/electron_api_notification.cc
  shell/browser/api/electron_api_notification.h
  shell/browser/notifications/mac/cocoa_notification.mm
  shell/browser/notifications/notification.h
  spec/api-notification-spec.ts
Owners: none

fix: specs in release build due to electron_common_testing module (#50070)
  spec/api-net-spec.ts
  spec/lib/spec-helpers.ts
  spec/logging-spec.ts
Owners: none

feat: add static methods `getHistory`, `remove`, `removeAll` to Notification (macOS)
  docs/api/notification.md
  docs/api/structures/notification-history-info.md
  lib/browser/api/notification.ts
  shell/browser/api/electron_api_notification.cc
  shell/browser/api/electron_api_notification.h
  shell/browser/notifications/mac/notification_presenter_mac.h
  shell/browser/notifications/mac/notification_presenter_mac.mm
  shell/browser/notifications/notification.cc
  shell/browser/notifications/notification.h
  shell/browser/notifications/notification_presenter.cc
  shell/browser/notifications/notification_presenter.h
  spec/api-notification-spec.ts
  typings/internal-ambient.d.ts
Owners: none

test: fix flaky mac dock & autofill tests
  spec/api-app-spec.ts
  spec/autofill-spec.ts
Owners: none

fix: add null checks for the parent widget before calling IsVisible()
  shell/browser/ui/autofill_popup.cc
  shell/browser/ui/views/autofill_popup_view.cc
Owners: none

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra
