Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra

chore: remove macos hittest workaround patch (#50330)
  patches/chromium/.patches
  patches/chromium/build_partial_revert_mac_fullscreen_top_chrome_mouse_events.patch
  shell/browser/native_window_mac.mm
Owners: @electron/patch-owners

chore: e patches all (trivial only)
  patches/chromium/.patches
  patches/chromium/patch_osr_control_screen_info.patch
Owners: @electron/patch-owners

ci: don't run auto close for certain circumstances
  .github/workflows/pr-template-check.yml
Owners: none

feat: add block-no-verify PreToolUse hook to .claude/settings.json
  .claude/settings.json
Owners: none

docs: remove postinstall lifecycle warning
  docs/tutorial/tutorial-2-first-app.md
Owners: none

ci: don't run auto close for certain circumstances (#50372)
  .github/workflows/pr-template-check.yml
Owners: none

ci: allow alternate PR descriptions for dependabot
  .github/workflows/pr-template-check.yml
Owners: none

fix: handle aria-setsize="-1" correctly to prevent VoiceOver reading UINT64_MAX
  patches/chromium/.patches
  patches/chromium/fix_handle_aria-setsize_-1_in_all_getsetsize_return_paths.patch
Owners: @electron/patch-owners

feat: support notification priority on Windows (#50225)
  docs/api/notification.md
  shell/browser/notifications/notification.h
  shell/browser/notifications/win/windows_toast_notification.cc
  shell/browser/notifications/win/windows_toast_notification.h
Owners: none

chore: wordsmith non-maintainer dependency change bot message (#50345)
  .github/workflows/non-maintainer-dependency-change.yml
Owners: none

fix: correct utility process exit code on Windows (#50256)
  shell/browser/api/electron_api_utility_process.cc
  shell/browser/api/electron_api_utility_process.h
  spec/api-utility-process-spec.ts
Owners: none

ci: upload object change stats to Datadog
  .github/actions/build-electron/action.yml
  script/build-stats.mjs
  script/lib/utils.js
  script/lint-roller-chromium-changes.mjs
Owners: @electron/wg-infra

ci: bump actions/upload-artifact version
  .github/actions/build-electron/action.yml
Owners: @electron/wg-infra
