Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

build: set cookie in codespace
  .devcontainer/on-create-command.sh
Owners: none

[InputVizard] Fix missing touch cancel in InputTransferHandlerAndroid using InputEventSource
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
Owners: none

chore: update patches
  patches/angle/.patches
  patches/angle/cherry-pick-95a32cb37edb.patch
  patches/chromium/add_didinstallconditionalfeatures.patch
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_add_electron_deps_to_gitignores.patch
  patches/chromium/chore_expose_isolate_parameter_in_script_lifecycle_observers.patch
  patches/chromium/disable_hidden.patch
  patches/chromium/extend_apply_webpreferences.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_restore_original_resize_performance_on_macos.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/gritsettings_resource_ids.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/port_autofill_colors_to_the_color_pipeline.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/render_widget_host_view_mac.patch
  patches/chromium/revert_code_health_clean_up_stale_macwebcontentsocclusion.patch
  patches/chromium/revert_partial_remove_unused_prehandlemouseevent.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/webview_fullscreen.patch
  patches/config.json
Owners: @electron/patch-owners

fix: add async macos key provider
  BUILD.gn
  shell/browser/browser_process_impl.cc
Owners: none

refactor: add static `ReplyChannel::SendError()` helper (#49338)
  shell/browser/electron_api_ipc_handler_impl.cc
  shell/browser/electron_api_sw_ipc_handler_impl.cc
  shell/common/gin_helper/reply_channel.cc
  shell/common/gin_helper/reply_channel.h
Owners: none

docs: add SYSTEM_DEFAULT page size option to print method
  docs/api/web-contents.md
Owners: none

docs: update pageSize options in print method to include SYSTEM_DEFAULT
  docs/api/webview-tag.md
Owners: none

fix: add support for SYSTEM_DEFAULT page size in print method
  lib/browser/api/web-contents.ts
Owners: none

fix: add option to use system default media size in print method
  shell/browser/api/electron_api_web_contents.cc
Owners: none

fix: add useSystemDefaultMediaSize option to WebContentsPrintOptions
  typings/internal-electron.d.ts
Owners: none

fix: add additional key providers
  shell/browser/browser_process_impl.cc
Owners: none

fix: fix cookie encryption provider loading on Windows and Linux (#49371)
  BUILD.gn
  shell/browser/browser_process_impl.cc
Owners: none

Reduce stack memory consumption in BytecodeGenerator
  patches/v8/.patches
  patches/v8/reduce_stack_memory_consumption_in_bytecodegenerator.patch
  patches/v8/runtime_correcting_setprototypeproperties.patch
  patches/v8/runtime_setprototypeproperties_handling_of.patch
Owners: @electron/patch-owners

fix: improved patch and followed suggestion
  spec/api-browser-window-spec.ts
Owners: none

fix: improved as per review
  spec/api-browser-view-spec.ts
Owners: none

build: roll build-image to a82b87d
  .devcontainer/docker-compose.yml
  .github/workflows/build-git-cache.yml
  .github/workflows/build.yml
  .github/workflows/linux-publish.yml
  .github/workflows/macos-publish.yml
  .github/workflows/windows-publish.yml
Owners: @electron/wg-infra

fix: reduce stack memory consumption in BytecodeGenerator (#49360)
  patches/v8/.patches
  patches/v8/reduce_stack_memory_consumption_in_bytecodegenerator.patch
  patches/v8/runtime_correcting_setprototypeproperties.patch
  patches/v8/runtime_setprototypeproperties_handling_of.patch
Owners: @electron/patch-owners

build: roll build-image to `a82b87d` (#49377)
  .devcontainer/docker-compose.yml
  .github/workflows/build-git-cache.yml
  .github/workflows/build.yml
  .github/workflows/linux-publish.yml
  .github/workflows/macos-publish.yml
  .github/workflows/windows-publish.yml
Owners: @electron/wg-infra

feat: support WebSocket authentication handling (#49065)
  shell/browser/api/electron_api_web_request.cc
  shell/browser/api/electron_api_web_request.h
  shell/browser/login_handler.cc
  shell/browser/login_handler.h
  shell/browser/net/proxying_websocket.cc
  shell/browser/net/proxying_websocket.h
  shell/browser/net/web_request_api_interface.h
  spec/api-web-request-spec.ts
Owners: none

fix: avoid startup crash when V8 sandbox is disabled
  patches/chromium/fix_harden_blink_scriptstate_maybefrom.patch
Owners: @electron/patch-owners

chore: update patch
  patches/chromium/fix_harden_blink_scriptstate_maybefrom.patch
Owners: @electron/patch-owners

7264893: update postMessage tests for file: origin serialization change
  spec/chromium-spec.ts
Owners: none

refactor: make ReplyChannel inherit from gin::Wrappable
  shell/common/gin_helper/reply_channel.cc
  shell/common/gin_helper/reply_channel.h
Owners: none

chore: add kElectronReplyChannel to chore_add_electron_objects_to_wrappablepointertag.patch
  patches/chromium/chore_add_electron_objects_to_wrappablepointertag.patch
Owners: @electron/patch-owners

fix: add functionality to query printer's default paper size in print method
  shell/browser/api/electron_api_web_contents.cc
Owners: none

docs: update the example of `webContents.setWindowOpenHandler` to clarify `background-tab` disposition cases
  docs/api/web-contents.md
Owners: none

7362759: Migrate various base::Contains() to contains() in ui | https://chromium-review.googlesource.com/c/chromium/src/+/7362759
  patches/chromium/command-ismediakey.patch
Owners: @electron/patch-owners

7366867: Store property info in CSSParserLocalContext for random()
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
Owners: @electron/patch-owners

7411324: url: Mark deprecated functions as UNSAFE_BUFFER_USAGE
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
Owners: @electron/patch-owners

7277406: Exclude PiP from getDisplayMedia picker thumbnails
  shell/browser/api/electron_api_desktop_capturer.cc
Owners: none

fixup! 7253489: activity_reporter: Create stub module owned by browser_process
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  shell/browser/browser_process_impl.cc
  shell/browser/browser_process_impl.h
Owners: @electron/patch-owners

7368549: Reland "Use native rollup"
  .github/actions/fix-sync/action.yml
  .github/workflows/archaeologist-dig.yml
Owners: @electron/wg-infra

7269504: Update histograms to use the updated MediaStreamRequestResult enum
  shell/browser/electron_browser_context.cc
Owners: none

7404514: Create device parental controls delegate
  shell/browser/browser_process_impl.cc
  shell/browser/browser_process_impl.h
Owners: none

7253489: activity_reporter: Create stub module owned by browser_process
  shell/browser/browser_process_impl.cc
  shell/browser/browser_process_impl.h
Owners: none

4803165: Enable suppressing input event dispatch while paint-holding.
  shell/browser/feature_list.cc
Owners: none

Revert "fix: provide explicit cookie encryption provider for cookie encryption (#49348)"
  shell/browser/net/network_context_service.cc
  shell/browser/net/network_context_service.h
Owners: none

Revert "fix: fix cookie encryption provider loading on Windows and Linux (#49371)"
  BUILD.gn
  shell/browser/browser_process_impl.cc
Owners: none

revert: 6996667: Reland "Port net::CookieCryptoDelegate to os_crypt async" | https://chromium-review.googlesource.com/c/chromium/src/+/6996667
  patches/chromium/.patches
  patches/chromium/fix_os_crypt_async_cookie_encryption.patch
Owners: @electron/patch-owners

fix: use gin::PerIsolateData::DisposeObserver
  shell/common/gin_helper/reply_channel.cc
  shell/common/gin_helper/reply_channel.h
Owners: none

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra
