Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra

feat: enable resetting accent color (#48853)
  docs/api/base-window.md
  docs/api/browser-window.md
  shell/browser/api/electron_api_base_window.cc
  spec/api-browser-window-spec.ts
Owners: none

refactor: Session::NetLog() returns a NetLog*
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_session.h
Owners: none

refactor: FromPath(base::FilePath&, gin::Arguments*) returns a Session*
  shell/browser/api/electron_api_session.cc
Owners: none

docs: remove electronegativity (#48878)
  docs/tutorial/security.md
Owners: none

docs: remove electronegativity (#48878)
  docs/tutorial/security.md
Owners: none

refactor: use gin_helper's `gin::Wrappable`-to-`v8::Local` converter (#48885)
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_session.h
Owners: none

refactor: use gin_helper's `gin::Wrappable`-to-`v8::Local` converter (#48885)
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_session.h
Owners: none

fix: pdf spec
  spec/fixtures/api/pdf-reader.mjs
Owners: none

chore: delay load pdfjs-dist for pdf spec
  spec/fixtures/api/pdf-reader.mjs
Owners: none

chore: fixup patch indices
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/feat_allow_code_cache_in_custom_schemes.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
Owners: @electron/patch-owners

chore: delay load pdfjs-dist for pdf spec (#48888)
  spec/fixtures/api/pdf-reader.mjs
Owners: none

chore: delay load pdfjs-dist for pdf spec (#48888)
  spec/fixtures/api/pdf-reader.mjs
Owners: none

Create c-cpp.unlock
  .github/workflows/c-cpp.yml
Owners: none

build: remove track `SSL_ERROR_ZERO_RETURN` explicitly patch (#48875)
  patches/boringssl/.patches
  patches/boringssl/revert_track_ssl_error_zero_return_explicitly.patch
Owners: @electron/patch-owners

build: remove track `SSL_ERROR_ZERO_RETURN` explicitly patch (#48875)
  patches/boringssl/.patches
  patches/boringssl/revert_track_ssl_error_zero_return_explicitly.patch
Owners: @electron/patch-owners

7131867: Remove GenericScopedHandle::IsValid in favor of is_valid
  patches/chromium/process_singleton.patch
Owners: @electron/patch-owners

7078879: [video pip] Remove old controls
  patches/chromium/picture-in-picture.patch
Owners: @electron/patch-owners

chore: fixup patch indices
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_grandfather_in_electron_views_and_delegates.patch
  patches/chromium/feat_add_data_parameter_to_processsingleton.patch
  patches/chromium/feat_allow_code_cache_in_custom_schemes.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_linux_tray_id.patch
  patches/chromium/fix_move_autopipsettingshelper_behind_branding_buildflag.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/webview_fullscreen.patch
Owners: @electron/patch-owners

ci: exclude top-level docs files from full CI (#48872)
  .github/workflows/build.yml
Owners: @electron/wg-infra

ci: exclude top-level docs files from full CI (#48872)
  .github/workflows/build.yml
Owners: @electron/wg-infra

test: webRequest handlers when loading browser windows
  spec/api-browser-window-spec.ts
Owners: none

fix: continue to run ProxyingURLLoaderFactory for intercepted protocols
  shell/browser/net/proxying_url_loader_factory.cc
  shell/browser/net/proxying_url_loader_factory.h
Owners: none

fix: wrap special URL loaders factories with ProxyingURLLoaderFactory
  shell/browser/electron_browser_context.cc
  shell/browser/electron_browser_context.h
  shell/common/api/electron_api_url_loader.cc
Owners: none

test: webRequest handlers when using net.fetch
  spec/api-net-session-spec.ts
Owners: none

refactor: remove redundant intercepted protocol handling
  shell/common/api/electron_api_url_loader.cc
Owners: none

7128138: Add a pref to enable Secure DNS 'automatic mode with DoH fallback'.
  shell/browser/api/electron_api_app.cc
  shell/browser/net/system_network_context_manager.cc
Owners: none

build: switch to --immutable
  .github/actions/generate-types/action.yml
  .github/actions/install-dependencies/action.yml
  .github/workflows/pipeline-electron-lint.yml
  DEPS
  script/spec-runner.js
Owners: @electron/wg-infra, @electron/wg-upgrades

build: update to yarn v4
  .gitignore
  .yarn/releases/yarn-4.9.4.cjs
  .yarnrc.yml
  package.json
  script/lint.js
  spec/fixtures/native-addon/echo/package.json
  spec/fixtures/native-addon/external-ab/package.json
  spec/fixtures/native-addon/is-valid-window/.gitignore
  spec/fixtures/native-addon/is-valid-window/README.md
  spec/fixtures/native-addon/is-valid-window/binding.gyp
  spec/fixtures/native-addon/is-valid-window/lib/is-valid-window.js
  spec/fixtures/native-addon/is-valid-window/package.json
  spec/fixtures/native-addon/is-valid-window/src/impl.h
  spec/fixtures/native-addon/is-valid-window/src/impl_darwin.mm
  spec/fixtures/native-addon/is-valid-window/src/impl_posix.cc
  spec/fixtures/native-addon/is-valid-window/src/impl_win.cc
  spec/fixtures/native-addon/is-valid-window/src/main.cc
  spec/fixtures/native-addon/osr-gpu/package.json
  spec/fixtures/native-addon/uv-dlopen/package.json
  spec/is-valid-window/package.json
  spec/package.json
  spec/yarn.lock
Owners: none

fix spec runner
  script/spec-runner.js
Owners: none

build: complete migration
  .github/actions/install-dependencies/action.yml
  .yarn/releases/yarn-4.10.3.cjs
  .yarn/releases/yarn-4.9.4.cjs
  .yarnrc.yml
  DEPS
  package.json
  script/nan-spec-runner.js
  script/spec-runner.js
  script/yarn.js
Owners: @electron/wg-infra, @electron/wg-upgrades

wat
  .github/actions/generate-types/action.yml
  .github/actions/install-dependencies/action.yml
Owners: @electron/wg-infra

todo: remove npx
  .github/actions/checkout/action.yml
  filenames.libcxx.gni
  script/codesign/generate-identity.sh
  script/release/bin/publish-to-npm.ts
Owners: @electron/wg-infra, @electron/wg-releases

chore: use yarn directly
  .github/actions/build-electron/action.yml
  .github/actions/install-dependencies/action.yml
  .github/workflows/pipeline-electron-docs-only.yml
  .github/workflows/pipeline-electron-lint.yml
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

fixup
  .github/actions/generate-types/action.yml
Owners: @electron/wg-infra

chore: update yarn lock after rebase
  yarn.lock
Owners: none

fixup generate-types
  .github/actions/generate-types/action.yml
Owners: @electron/wg-infra

chore: don't use immutable on generate-types
  .github/actions/generate-types/action.yml
Owners: @electron/wg-infra

fixup generate types to work with yarn 4
  .github/actions/generate-types/action.yml
Owners: @electron/wg-infra

use script to invoke yarn
  .github/actions/build-electron/action.yml
  .github/actions/generate-types/action.yml
  .github/actions/install-dependencies/action.yml
  .github/workflows/pipeline-electron-docs-only.yml
  .github/workflows/pipeline-electron-lint.yml
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

fixup lint
  script/lint.js
Owners: none
