Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

chore: update patch
  patches/chromium/fix_harden_blink_scriptstate_maybefrom.patch
Owners: @electron/patch-owners

build: use @electron-ci/dev-root for package.json default
  package.json
  script/release/bin/publish-to-npm.ts
  yarn.lock
Owners: @electron/wg-releases

feat: import shared texture supports p010le.
  docs/api/structures/shared-texture-import-texture-info.md
  shell/common/api/electron_api_shared_texture.cc
Owners: none

refactor: have `GetXdgAppId()` return a `std::optional<std::string>` (#49318)
  default_app/main.ts
  lib/browser/init.ts
  shell/browser/native_window_views.cc
  shell/browser/notifications/linux/libnotify_notification.cc
  shell/common/platform_util.h
  shell/common/platform_util_linux.cc
Owners: none

fix: pulseaudio stream and icon names
  patches/chromium/.patches
  patches/chromium/fix_pulseaudio_stream_and_icon_names.patch
Owners: @electron/patch-owners

refactor: update GetXdgAppId() calls to use .value_or()
  patches/chromium/fix_pulseaudio_stream_and_icon_names.patch
Owners: @electron/patch-owners

add breaking changes script doc
  docs/breaking-changes.md
Owners: @electron/wg-releases

add binary download step to install instructions
  docs/tutorial/installation.md
Owners: none

respect no binary env var
  npm/index.js
Owners: @electron/wg-releases

adjust sizing for wider symbols
  shell/common/api/electron_api_native_image_mac.mm
Owners: none

update macos build version
  docs/development/build-instructions-macos.md
Owners: none

docs: document `ELECTRON_SKIP_BINARY_DOWNLOAD` (#49320)
  docs/api/environment-variables.md
Owners: none

build: use @electron-ci/dev-root for package.json default (#49329)
  package.json
  script/release/bin/publish-to-npm.ts
  yarn.lock
Owners: @electron/wg-releases

Update docs/development/build-instructions-gn.md
  docs/development/build-instructions-gn.md
Owners: none

chore: disable color output for clang-tidy in CI
  script/run-clang-tidy.ts
Owners: none

chore: small QoL improvements to run-clang-tidy.ts
  script/run-clang-tidy.ts
Owners: none

chore: add --fix option to script/run-clang-tidy.ts
  script/run-clang-tidy.ts
Owners: none

refactor: added space in docs
  docs/api/web-contents.md
Owners: none

build: use @electron-ci/dev-root for package.json default (#49326)
  package.json
  script/release/bin/publish-to-npm.ts
  yarn.lock
Owners: @electron/wg-releases

fix: make toplevel icon Wayland protocol work
  shell/browser/ui/electron_desktop_window_tree_host_linux.cc
  shell/browser/ui/electron_desktop_window_tree_host_linux.h
Owners: none

fix: osr use correct screen info.
  docs/api/structures/web-preferences.md
  docs/breaking-changes.md
  patches/chromium/.patches
  patches/chromium/patch_osr_control_screen_info.patch
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/osr/osr_render_widget_host_view.cc
  shell/browser/osr/osr_render_widget_host_view.h
  shell/browser/osr/osr_web_contents_view.cc
  shell/browser/osr/osr_web_contents_view.h
  shell/common/options_switches.h
  spec/api-browser-window-spec.ts
Owners: @electron/wg-releases, @electron/patch-owners

Update and rename SECURITY.md to SECURITrY.md
  SECURITrY.md
Owners: none

Update electronVOLKANTRversioning.md
  docs/tutorial/electron-versioning.md
Owners: none

refactor: add static void ReplyChannel::SendError()
  shell/common/gin_helper/reply_channel.cc
  shell/common/gin_helper/reply_channel.h
Owners: none

refactor: use static SendError() instead of instantiating a temporary
  shell/browser/electron_api_ipc_handler_impl.cc
  shell/browser/electron_api_sw_ipc_handler_impl.cc
Owners: none

refactor: remove non-static version of SendError()
  shell/common/gin_helper/reply_channel.cc
  shell/common/gin_helper/reply_channel.h
Owners: none

refactor: remove redundant callback-is-non-null checks
  shell/browser/electron_api_ipc_handler_impl.cc
  shell/browser/electron_api_sw_ipc_handler_impl.cc
  shell/common/gin_helper/reply_channel.cc
  shell/common/gin_helper/reply_channel.h
Owners: none

refactor: swap names of SendReply() and SendReplyImpl() for clarity
  shell/common/gin_helper/reply_channel.cc
  shell/common/gin_helper/reply_channel.h
Owners: none

chore: update patches
  patches/angle/.patches
  patches/angle/cherry-pick-95a32cb37edb.patch
  patches/chromium/add_didinstallconditionalfeatures.patch
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_add_electron_deps_to_gitignores.patch
  patches/chromium/chore_expose_isolate_parameter_in_script_lifecycle_observers.patch
  patches/chromium/disable_hidden.patch
  patches/chromium/extend_apply_webpreferences.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_restore_original_resize_performance_on_macos.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/gritsettings_resource_ids.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/port_autofill_colors_to_the_color_pipeline.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/render_widget_host_view_mac.patch
  patches/chromium/revert_code_health_clean_up_stale_macwebcontentsocclusion.patch
  patches/chromium/revert_partial_remove_unused_prehandlemouseevent.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/webview_fullscreen.patch
  patches/config.json
Owners: @electron/patch-owners

refactor: make ReplyChannel inherit from gin::Wrappable
  shell/common/gin_helper/reply_channel.cc
  shell/common/gin_helper/reply_channel.h
Owners: none

chore: add kElectronReplyChannel to chore_add_electron_objects_to_wrappablepointertag.patch
  patches/chromium/chore_add_electron_objects_to_wrappablepointertag.patch
Owners: @electron/patch-owners

chore: add kElectronReplyChannel to chore_add_electron_objects_to_wrappablepointertag.patch
  patches/chromium/chore_add_electron_objects_to_wrappablepointertag.patch
Owners: @electron/patch-owners

docs: add a few API history fragments
  docs/api/auto-updater.md
  docs/api/share-menu.md
  docs/api/shell.md
Owners: none

manual fixes
  docs/api/auto-updater.md
  docs/breaking-changes.md
  docs/development/style-guide.md
Owners: @electron/wg-releases

chore: improvements to script/run-clang-tidy.ts (#49335)
  script/run-clang-tidy.ts
Owners: none

fix: provide explicit cookie encryption provider
  shell/browser/net/network_context_service.cc
  shell/browser/net/network_context_service.h
Owners: none

ci: add pipeline segment to run clang-tidy
  .github/actions/build-electron/action.yml
  .github/workflows/build.yml
  .github/workflows/pipeline-electron-build-and-tidy-and-test-and-nan.yml
  .github/workflows/pipeline-electron-build-and-tidy-and-test.yml
  .github/workflows/pipeline-segment-electron-build.yml
  .github/workflows/pipeline-segment-electron-clang-tidy.yml
Owners: @electron/wg-infra

chore: set -header-filter='' for clang-tidy
  script/run-clang-tidy.ts
Owners: none

chore: remove stakeholders mention from PR template (#49317)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

docs: add jsign instructions for Azure Trusted Signing on Linux/macOS
  docs/tutorial/code-signing.md
Owners: none

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra
