Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra

fix: comments
  shell/browser/notifications/win/windows_toast_notification.cc
Owners: none

fix: export zlib symbols for native addon support
  build/electron.def
Owners: none

Add missing utility function to electron.def
  build/electron.def
Owners: none

cleanup: update WebFrame documentation and deprecate standalone netLog module
  docs/api/web-frame.md
  lib/browser/api/net-log.ts
  lib/renderer/api/web-frame.ts
Owners: none

fix: layer clips not being reset
  shell/browser/api/electron_api_view.cc
Owners: none

fix: remove layer background
  shell/browser/api/electron_api_view.cc
Owners: none

fix: support width/height animations
  shell/browser/api/electron_api_view.cc
Owners: none

fix: jumping on subsequent animations
  shell/browser/api/electron_api_view.cc
Owners: none

fix: segfault race condition
  shell/browser/api/electron_api_view.cc
Owners: none

feat: allow View::SetBounds to animate
  docs/api/view.md
  shell/browser/api/electron_api_view.cc
  shell/browser/api/electron_api_view.h
Owners: none

fix: layer cleanups causing flickering views
  shell/browser/api/electron_api_view.cc
Owners: none

fix: return type
  shell/browser/api/electron_api_view.h
Owners: none

fix: do not set layer opacity
  shell/browser/api/electron_api_view.cc
Owners: none

refactor: move animate into options object
  docs/api/view.md
  shell/browser/api/electron_api_view.cc
Owners: none

chore: typo
  docs/api/view.md
Owners: none

fix: missing private method in header
  shell/browser/api/electron_api_view.h
Owners: none

docs: update
  docs/api/view.md
Owners: none

refactor: update animate parameter format
  docs/api/view.md
  shell/browser/api/electron_api_view.cc
Owners: none

chore: merge artifact
  shell/browser/api/electron_api_view.cc
Owners: none

refactor: use gfx tween gin converter
  shell/browser/api/electron_api_view.cc
Owners: none

feat: add type="module" support for webview preload scripts
  lib/browser/guest-view-manager.ts
  lib/renderer/init.ts
  lib/renderer/web-view/web-view-attributes.ts
  lib/renderer/web-view/web-view-constants.ts
  lib/renderer/web-view/web-view-element.ts
  spec/fixtures/pages/webview-type-module.html
  spec/fixtures/preload-module.js
  spec/webview-spec.ts
Owners: @electron/wg-security

docs: Update shell.md: Document that shell.trashItem requires backslashes
  docs/api/shell.md
Owners: none

docs: add generics for context bridge expose APIs
  docs/api/context-bridge.md
Owners: none

Pass PipScreenCaptureCoordinatorProxy to ScreenCaptureKitDeviceMac
  patches/chromium/feat_allow_usage_of_sccontentsharingpicker_on_supported_platforms.patch
  patches/chromium/feat_filter_out_non-shareable_windows_in_the_current_application_in.patch
Owners: @electron/patch-owners

7155287: implement WebContentsView::GetSize and Resize
  shell/browser/osr/osr_web_contents_view.cc
  shell/browser/osr/osr_web_contents_view.h
Owners: none

Move logging::LoggingSettings to base/logging/logging_settings.h
  shell/common/logging.cc
Owners: none

7142359: Spanification of process_singleton_posix.cc
  patches/chromium/feat_add_data_parameter_to_processsingleton.patch
Owners: @electron/patch-owners

7083663: remove fingerprinting_protection_ruleset_service override
  shell/browser/browser_process_impl.cc
  shell/browser/browser_process_impl.h
Owners: none

7184238: add OnUnconfirmedTapConvertedToTap override
  shell/browser/osr/osr_render_widget_host_view.h
Owners: none

7126479: add ShouldForceRefreshTextCheckService parameter to SpellCheckClient
  shell/renderer/api/electron_api_spell_check_client.cc
  shell/renderer/api/electron_api_spell_check_client.h
Owners: none

7159184: add missing base/files/file_path.h include
  shell/browser/electron_browser_context.h
Owners: none

7159368: update PluginService API for sync GetPlugins
  shell/browser/electron_browser_main_parts.cc
  shell/browser/electron_plugin_info_host_impl.cc
  shell/browser/electron_plugin_info_host_impl.h
Owners: none

7143586: add widget parameter to OnCommandsChanged
  shell/browser/api/electron_api_global_shortcut.cc
Owners: none

chore: update filenames.libcxx.gni
  filenames.libcxx.gni
Owners: none

chore: update patches
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_expose_isolate_parameter_in_script_lifecycle_observers.patch
  patches/chromium/chore_grandfather_in_electron_views_and_delegates.patch
  patches/chromium/chore_partial_revert_of.patch
  patches/chromium/chore_patch_out_partition_attribute_dcheck_for_webviews.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/custom_protocols_plzserviceworker.patch
  patches/chromium/expose_setuseragent_on_networkcontext.patch
  patches/chromium/feat_add_set_theme_source_to_allow_apps_to.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_expose_documentloader_setdefersloading_on_webdocumentloader.patch
  patches/chromium/feat_separate_content_settings_callback_for_sync_and_async_clipboard.patch
  patches/chromium/fix_check_for_file_existence_before_setting_mtime.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/network_service_allow_remote_certificate_verification_logic.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/refactor_unfilter_unresponsive_events.patch
  patches/chromium/revert_partial_remove_unused_prehandlemouseevent.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/web_contents.patch
  patches/chromium/webview_fullscreen.patch
  patches/ffmpeg/link_with_loader_path.patch
Owners: @electron/patch-owners

7189232: Add support for UnownedUserData in GlobalFeatures
  shell/browser/browser_process_impl.cc
  shell/browser/browser_process_impl.h
Owners: none

chore: update patches
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_partial_revert_of.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/desktop_media_list.patch
  patches/chromium/expose_setuseragent_on_networkcontext.patch
  patches/chromium/feat_configure_launch_options_for_service_process.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_enable_offscreen_rendering_with_viz_compositor.patch
  patches/chromium/fix_add_support_for_skipping_first_2_no-op_refreshes_in_thumb_cap.patch
  patches/chromium/fix_adjust_headless_mode_handling_in_native_widget.patch
  patches/chromium/fix_disabling_background_throttling_in_compositor.patch
  patches/chromium/fix_move_autopipsettingshelper_behind_branding_buildflag.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/network_service_allow_remote_certificate_verification_logic.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/refactor_expose_file_system_access_blocklist.patch
  patches/chromium/refactor_unfilter_unresponsive_events.patch
  patches/chromium/revert_partial_remove_unused_prehandlemouseevent.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/web_contents.patch
  patches/chromium/webview_fullscreen.patch
Owners: @electron/patch-owners

fixup Add support for UnownedUserData in GlobalFeatures
  BUILD.gn
Owners: none

7165650: Remove ResourceContext
  shell/browser/certificate_manager_model.cc
Owners: none

Refactor: Use std::u16string for extension load error messages
  shell/browser/extensions/electron_extension_loader.cc
Owners: none
