Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

build: add header for SetStackDumpFirstChanceCallback in renderer client
  shell/renderer/electron_renderer_client.cc
Owners: none

build: add header for SetStackDumpFirstChanceCallback in renderer client (#48978)
  shell/renderer/electron_renderer_client.cc
Owners: none

build: add header for SetStackDumpFirstChanceCallback in renderer client (#48978)
  shell/renderer/electron_renderer_client.cc
Owners: none

docs: remove outdated Electronegativity reference
  docs/tutorial/security.md
Owners: none

chore: cherry-pick 9fcb46c from v8
  patches/v8/.patches
  patches/v8/merged_maglev_fix_left_over_register_allocations_from_regalloc.patch
Owners: @electron/patch-owners

chore: cherry-pick 9fcb46c from v8
  patches/v8/.patches
  patches/v8/merged_maglev_fix_left_over_register_allocations_from_regalloc.patch
Owners: @electron/patch-owners

fix: handle empty event scenario in ipc callbacks
  shell/browser/electron_api_ipc_handler_impl.cc
  shell/browser/electron_api_sw_ipc_handler_impl.cc
Owners: none

chore: cherry-pick 9fcb46c from v8 (#48984)
  patches/v8/.patches
  patches/v8/merged_maglev_fix_left_over_register_allocations_from_regalloc.patch
Owners: @electron/patch-owners

fix: prevent node environment leak in same-origin iframes
  shell/renderer/electron_renderer_client.cc
  shell/renderer/electron_renderer_client.h
  spec/api-subframe-spec.ts
  spec/fixtures/sub-frames/same-origin-frame.html
  spec/fixtures/sub-frames/same-origin-parent.html
Owners: none

docs: add release notes for issue #47648 memory leak fix
  release-notes-47648.md
Owners: none

chore: remove unnecessary release notes file
  release-notes-47648.md
Owners: none

build: upgrade to latest yarn version
  .yarn/releases/yarn-4.10.3.cjs
  .yarn/releases/yarn-4.11.0.cjs
  .yarnrc.yml
  DEPS
  package.json
  script/yarn.js
Owners: @electron/wg-upgrades

Revert "src: conditionally disable source phase imports by default"
  shell/app/node_main.cc
  shell/common/node_bindings.cc
Owners: none

src: allow disabling JS source phase imports
  patches/node/.patches
  patches/node/feat_disable_js_source_phase_imports_by_default.patch
Owners: @electron/patch-owners

fix: handle empty event scenario in ipc callbacks (#48987)
  shell/browser/electron_api_ipc_handler_impl.cc
  shell/browser/electron_api_sw_ipc_handler_impl.cc
Owners: none

chore: fixup types after yarn v4 migration
  lib/browser/api/net-fetch.ts
  lib/browser/api/protocol.ts
  lib/browser/init.ts
  spec/api-context-bridge-spec.ts
  spec/api-ipc-spec.ts
Owners: none

Fix typos in some files
  shell/browser/extensions/electron_extension_loader.h
Owners: none

Add comprehensive Linux dependencies documentation
  docs/tutorial/linux-dependencies.md
Owners: none

docs: add Linux dependencies documentation (improve details and troubleshooting)
  docs/tutorial/linux-dependencies.md
Owners: none

feat: allow SF Symbols to be customised
  docs/api/native-image.md
  shell/common/api/electron_api_native_image_mac.mm
Owners: none

spec: add test for symbol options
  spec/api-native-image-spec.ts
Owners: none

feat: add nativeImage.createMenuSymbol and restore default values
  docs/api/native-image.md
  shell/common/api/electron_api_native_image.cc
  shell/common/api/electron_api_native_image.h
  shell/common/api/electron_api_native_image_mac.mm
  spec/api-native-image-spec.ts
Owners: none

fix: use apple's sizing logic
  shell/common/api/electron_api_native_image_mac.mm
Owners: none

docs: update default symbol values
  docs/api/native-image.md
Owners: none

Delete docs/tutorial/linux-dependencies.md
  docs/tutorial/linux-dependencies.md
Owners: none

fix: abort more descriptively for beforeunload
  docs/api/browser-window.md
  docs/api/web-contents.md
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  spec/api-web-contents-spec.ts
Owners: none

chore: update nan yarn.lock patch
  patches/nan/chore_add_yarnrc_yml_and_yarn_lock_file_to_use_yarn_v4.patch
Owners: @electron/patch-owners

chore: cherry-pick 62af07e96173 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-62af07e96173.patch
Owners: @electron/patch-owners

chore: cherry-pick 62af07e96173 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-62af07e96173.patch
Owners: @electron/patch-owners

chore: cherry-pick 62af07e96173 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-62af07e96173.patch
Owners: @electron/patch-owners

chore: cherry-pick 62af07e96173 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-62af07e96173.patch
Owners: @electron/patch-owners

fix: abort more descriptively for beforeunload (#48960)
  docs/api/browser-window.md
  docs/api/web-contents.md
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  spec/api-web-contents-spec.ts
Owners: none

chore: update patches
  patches/v8/.patches
  patches/v8/preserve_field_repr_in_property_array_extension.patch
  patches/v8/turboshaft_avoid_introducing_too_many_variables.patch
Owners: @electron/patch-owners

chore: update patches
  patches/v8/cherry-pick-62af07e96173.patch
Owners: @electron/patch-owners

fix: add ASAR support for Node.js fs.cp methods
  lib/node/asar-fs-wrapper.ts
Owners: none

Refactor: Remove Unnecessary & Dead Code to Reduce Codebase Size by ~30%
  build/run-node.py
  default_app/default_app.ts
  default_app/main.ts
  default_app/preload.ts
  lib/browser/init.ts
  lib/browser/rpc-server.ts
  lib/common/init.ts
  lib/renderer/init.ts
  npm/install.js
  script/check-symlinks.js
  script/doc-only-change.js
  script/generate-deps-hash.js
  script/lint.js
Owners: @electron/wg-security, @electron/wg-releases

test: move to macos-14-large (needed for Intel)
  .github/workflows/build.yml
Owners: @electron/wg-infra

chore: cherry-pick 62af07e96173 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-62af07e96173.patch
Owners: @electron/patch-owners

test: move to macos-14-large (needed for Intel)
  .github/workflows/build.yml
Owners: @electron/wg-infra

chore: cherry-pick 62af07e96173 from v8 (#49009)
  .github/workflows/build.yml
  patches/v8/.patches
  patches/v8/cherry-pick-62af07e96173.patch
Owners: @electron/wg-infra, @electron/patch-owners

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra
