Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

ci: rework reapply patches (#49581)
  .github/workflows/apply-patches.yml
  .github/workflows/build.yml
  .github/workflows/rerun-apply-patches.yml
Owners: @electron/wg-infra

fix: menu state in macOS dock menus
  shell/browser/mac/electron_application_delegate.mm
  shell/browser/ui/cocoa/electron_menu_controller.h
  shell/browser/ui/cocoa/electron_menu_controller.mm
Owners: none

fix: possible crash in FileSystem API
  shell/browser/file_system_access/file_system_access_permission_context.cc
Owners: none

fix: duplicate fullscreen macOS menu item (#49074)
  shell/browser/mac/electron_application_delegate.mm
  shell/browser/ui/cocoa/electron_menu_controller.mm
Owners: none

refactor: address PathProvider TODO (#49563)
  filenames.gni
  shell/app/electron_main_delegate.cc
  shell/common/electron_paths.cc
  shell/common/electron_paths.h
Owners: none

fix: fix MSIX release build
  shell/browser/api/electron_api_msix_updater.cc
Owners: none

fix: create directory for singleton test in `temp` instead of `home`
  spec/fixtures/api/singleton-userdata/main.js
Owners: none

fix: remove directory for singleton test at test end
  spec/fixtures/api/singleton-userdata/main.js
Owners: none

feat: Allow `View.setBounds` to animate (#48812)
  docs/api/view.md
  shell/browser/api/electron_api_view.cc
  shell/browser/api/electron_api_view.h
  spec/api-view-spec.ts
Owners: none

refactor: avoid extraneous declarations in singleton test
  spec/fixtures/api/singleton-userdata/main.js
Owners: none

docs: add jsign instructions for Azure Trusted Signing on Linux/macOS (#49345)
  docs/tutorial/code-signing.md
Owners: none

5710330: Add crash keys to debug NativeWidgetMacNSWindowBorderlessFrame exception | https://chromium-review.googlesource.com/c/chromium/src/+/5710330
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
Owners: @electron/patch-owners

chore: update patches
  patches/node/fix_crypto_tests_to_run_with_bssl.patch
Owners: @electron/patch-owners

fix: add C++/WinRT headers
  BUILD.gn
Owners: none

chore: use relative links from docs/ to files outside of docs/
  docs/api/shared-texture.md
  docs/api/web-contents.md
  docs/development/build-instructions-gn.md
  docs/development/creating-api.md
  docs/development/pull-requests.md
  docs/development/source-code-directory-structure.md
  docs/tutorial/fuses.md
  docs/tutorial/offscreen-rendering.md
  docs/tutorial/security.md
  docs/tutorial/support.md
  package.json
Owners: none

refactor: reintroduce `userDataFolder` declaration in singleton test
  spec/fixtures/api/singleton-userdata/main.js
Owners: none

build: modify include paths
  BUILD.gn
  shell/browser/api/electron_api_msix_updater.cc
Owners: none

fix: compile msix as seperate source set
  BUILD.gn
  filenames.gni
Owners: none

fix: menu bar hiding on two setFullScreen(false)
  shell/browser/native_window_views.cc
Owners: none

fix: Handle out of order recording errors in skia graphite
  patches/chromium/.patches
  patches/chromium/graphite_handle_out_of_order_recording_errors.patch
Owners: @electron/patch-owners

fix: handle out of order recording errors in skia graphite
  patches/chromium/.patches
  patches/chromium/graphite_handle_out_of_order_recording_errors.patch
  patches/config.json
  patches/skia/.patches
  patches/skia/graphite_add_insertstatus_koutoforderrecording.patch
Owners: @electron/patch-owners

fix: use Downloads folder as default path for file dialogs
  docs/api/dialog.md
  shell/browser/ui/file_dialog_linux.cc
  shell/browser/ui/file_dialog_mac.mm
  shell/browser/ui/file_dialog_win.cc
Owners: none

refactor: simplify GetDefaultPath implementation
  shell/browser/ui/file_dialog_linux.cc
  shell/browser/ui/file_dialog_mac.mm
  shell/browser/ui/file_dialog_win.cc
Owners: none

refactor: extract GetDefaultPath to electron_paths
  shell/browser/ui/file_dialog_linux.cc
  shell/browser/ui/file_dialog_mac.mm
  shell/browser/ui/file_dialog_win.cc
  shell/common/electron_paths.cc
  shell/common/electron_paths.h
Owners: none

refactor: move cleanup before app exit in singleton test
  spec/fixtures/api/singleton-userdata/main.js
Owners: none

style: add missing semicolon
  spec/fixtures/api/singleton-userdata/main.js
Owners: none

refactor: remove unused includes from file dialog files
  shell/browser/ui/file_dialog_linux.cc
  shell/browser/ui/file_dialog_mac.mm
  shell/browser/ui/file_dialog_win.cc
Owners: none

refactor: set the user data path after pre-test cleanup in singleton test
  spec/fixtures/api/singleton-userdata/main.js
Owners: none

build: add additional needed deps for msix
  BUILD.gn
Owners: none

fix(patch-conflict): update accessibility_ui for string_view API change
  patches/chromium/adjust_accessibility_ui_for_electron.patch
Owners: @electron/patch-owners

fix(patch-conflict): update service process launch options for sandbox API refactor
  patches/chromium/feat_configure_launch_options_for_service_process.patch
Owners: @electron/patch-owners

fix(patch-conflict): update MAS safestorage for keychain API refactor
  patches/chromium/feat_ensure_mas_builds_of_the_same_application_can_use_safestorage.patch
Owners: @electron/patch-owners

build: modify include paths
  BUILD.gn
  shell/browser/api/electron_api_msix_updater.cc
Owners: none

fix: fix MSIX release build
  shell/browser/api/electron_api_msix_updater.cc
Owners: none

fix: add C++/WinRT headers
  BUILD.gn
Owners: none

build: add additional needed deps for msix
  BUILD.gn
Owners: none

fix: compile msix as seperate source set
  BUILD.gn
  filenames.gni
Owners: none

fix: remove address-bar-related flag from `loadURL` calls
  shell/browser/api/electron_api_web_contents.cc
Owners: none

refactor: fall back to address-bar flag when loading debug URLs
  shell/browser/api/electron_api_web_contents.cc
Owners: none

fix: fix Windows MSIX release build errors (#49613)
  BUILD.gn
  filenames.gni
  shell/browser/api/electron_api_msix_updater.cc
Owners: none

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra
