Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

chore: cherry-pick d5b0cb2acffe from v8
  patches/v8/.patches
  patches/v8/cherry-pick-d5b0cb2acffe.patch
Owners: @electron/patch-owners

chore: cherry-pick d5b0cb2acffe from v8
  patches/v8/.patches
  patches/v8/cherry-pick-d5b0cb2acffe.patch
Owners: @electron/patch-owners

chore: update patch
  patches/skia/cherry-pick-7911bee5d90e.patch
Owners: @electron/patch-owners

chore: cherry-pick 248acd90d9a3 from skia
  patches/skia/.patches
  patches/skia/cherry-pick-248acd90d9a3.patch
Owners: @electron/patch-owners

chore: update patch
  patches/skia/cherry-pick-7911bee5d90e.patch
Owners: @electron/patch-owners

refactor: migrate electron::api::GlobalShortcut to cppgc
  patches/chromium/chore_add_electron_objects_to_wrappablepointertag.patch
  shell/browser/api/electron_api_global_shortcut.cc
  shell/browser/api/electron_api_global_shortcut.h
Owners: @electron/patch-owners

refactor: lazy-create electron::api::GlobalShortcut
  lib/browser/api/global-shortcut.ts
  shell/browser/api/electron_api_global_shortcut.cc
  shell/browser/api/electron_api_global_shortcut.h
  typings/internal-ambient.d.ts
Owners: none

chore: update patches
  patches/v8/cherry-pick-d5b0cb2acffe.patch
Owners: @electron/patch-owners

chore: update patches
  patches/v8/cherry-pick-d5b0cb2acffe.patch
Owners: @electron/patch-owners

chore: update patches
  patches/v8/cherry-pick-d5b0cb2acffe.patch
Owners: @electron/patch-owners

chore: fix the dumbest comma, patch
  patches/config.json
  patches/skia/cherry-pick-248acd90d9a3.patch
Owners: @electron/patch-owners

ci: upload patch conflict fix as artifact in apply-patches
  .github/workflows/apply-patches.yml
  CLAUDE.md
Owners: none

ci: update actions/cache to 5.0.3 (#50222)
  .github/actions/checkout/action.yml
  .github/actions/install-dependencies/action.yml
Owners: @electron/wg-infra

ci: update actions/checkout to v6.0.2 (#50223)
  .github/workflows/archaeologist-dig.yml
  .github/workflows/build-git-cache.yml
  .github/workflows/build.yml
  .github/workflows/linux-publish.yml
  .github/workflows/macos-publish.yml
  .github/workflows/pipeline-electron-docs-only.yml
  .github/workflows/pipeline-electron-lint.yml
  .github/workflows/pipeline-segment-electron-build.yml
  .github/workflows/pipeline-segment-electron-gn-check.yml
  .github/workflows/pipeline-segment-electron-publish.yml
  .github/workflows/pipeline-segment-electron-test.yml
  .github/workflows/pipeline-segment-node-nan-test.yml
  .github/workflows/scorecards.yml
  .github/workflows/windows-publish.yml
Owners: @electron/wg-infra

build(deps-dev): replace timers-browserify (#50203)
  build/webpack/webpack.config.base.js
  lib/common/timers-shim.ts
  package.json
  yarn.lock
Owners: none

build: add patch conflict resolution workflow with CI artifacts (#50235)
  .github/workflows/apply-patches.yml
  CLAUDE.md
Owners: none

chore: cherry-pick d5b0cb2acffe from v8 (#50231)
  patches/v8/.patches
  patches/v8/cherry-pick-d5b0cb2acffe.patch
Owners: @electron/patch-owners

chore: cherry-pick 7911bee5d90e from skia (#50230)
  patches/skia/.patches
  patches/skia/cherry-pick-7911bee5d90e.patch
Owners: @electron/patch-owners

chore: cherry-pick 7911bee5d90e from skia (#50229)
  patches/skia/.patches
  patches/skia/cherry-pick-7911bee5d90e.patch
Owners: @electron/patch-owners

chore: cherry-pick d5b0cb2acffe from v8 (#50232)
  patches/v8/.patches
  patches/v8/cherry-pick-d5b0cb2acffe.patch
Owners: @electron/patch-owners

chore: cherry-pick 248acd90d9a3 from skia (#50234)
  patches/config.json
  patches/skia/.patches
  patches/skia/cherry-pick-248acd90d9a3.patch
Owners: @electron/patch-owners

chore: cherry-pick d5b0cb2acffe from v8 (#50233)
  patches/v8/.patches
  patches/v8/cherry-pick-d5b0cb2acffe.patch
Owners: @electron/patch-owners

feat: add accessible labels for macOS menus
  docs/api/menu-item.md
  lib/browser/api/menu-item.ts
  lib/browser/api/menu.ts
  shell/browser/api/electron_api_menu.cc
  shell/browser/api/electron_api_menu.h
  shell/browser/ui/cocoa/electron_menu_controller.mm
  shell/browser/ui/electron_menu_model.cc
  shell/browser/ui/electron_menu_model.h
  typings/internal-electron.d.ts
Owners: none

fix: wire `MenuItem` accessible label for runtime state changes
  lib/browser/api/menu.ts
  shell/browser/api/electron_api_menu.cc
  shell/browser/api/electron_api_menu.h
  shell/browser/ui/cocoa/electron_menu_controller.mm
  shell/browser/ui/electron_menu_model.cc
  shell/browser/ui/electron_menu_model.h
  typings/internal-electron.d.ts
Owners: none

fix: remove insert-time tracking of accessible menu item labels
  lib/browser/api/menu.ts
  shell/browser/api/electron_api_menu.cc
  shell/browser/api/electron_api_menu.h
  shell/browser/ui/electron_menu_model.cc
  shell/browser/ui/electron_menu_model.h
  typings/internal-electron.d.ts
Owners: none

fix: don't set empty accessible menu item labels
  shell/browser/ui/cocoa/electron_menu_controller.mm
Owners: none

fix: use Downloads folder as default path for file dialogs
  docs/api/dialog.md
  docs/breaking-changes.md
  shell/browser/ui/file_dialog_linux.cc
  shell/browser/ui/file_dialog_mac.mm
  shell/browser/ui/file_dialog_win.cc
  shell/common/electron_paths.cc
  shell/common/electron_paths.h
Owners: @electron/wg-releases

chore: improve breaking change description
  docs/breaking-changes.md
Owners: @electron/wg-releases

feat: expose zoom mode API for per-tab zoom control
  docs/api/structures/web-preferences.md
  docs/api/web-contents.md
  lib/browser/api/web-contents.ts
  lib/common/web-view-methods.ts
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/web_contents_zoom_controller.cc
  shell/browser/web_contents_zoom_controller.h
  shell/common/options_switches.h
  spec/api-web-contents-spec.ts
Owners: none

fix: replace XXXXX placeholder with actual PR number in API history blocks
  docs/api/web-contents.md
Owners: none

style: fix clang-format whitespace alignment
  shell/browser/api/electron_api_web_contents.cc
Owners: none

docs: add further disposition description
  docs/api/web-contents.md
Owners: none

chore: update patches
  patches/v8/.patches
  patches/v8/cherry-pick-d5b0cb2acffe.patch
Owners: @electron/patch-owners

fixup
  script/qemu-init.sh
  script/run-qemu-64k.sh
Owners: none

chore: update WrappablePointerTag patch Refs https://chromium-review.googlesource.com/c/chromium/src/+/7641766
  patches/chromium/chore_add_electron_objects_to_wrappablepointertag.patch
Owners: @electron/patch-owners

chore: update custom protocol patch for removed code Refs https://chromium-review.googlesource.com/c/chromium/src/+/7653454
  patches/chromium/custom_protocols_plzserviceworker.patch
Owners: @electron/patch-owners

chore: update patches
  patches/chromium/add_didinstallconditionalfeatures.patch
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/blink_local_frame.patch
  patches/chromium/boringssl_build_gn.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/build_partial_revert_mac_fullscreen_top_chrome_mouse_events.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_expose_isolate_parameter_in_script_lifecycle_observers.patch
  patches/chromium/chore_grandfather_in_electron_views_and_delegates.patch
  patches/chromium/chore_partial_revert_of.patch
  patches/chromium/chore_patch_out_partition_attribute_dcheck_for_webviews.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/disable_hidden.patch
  patches/chromium/extend_apply_webpreferences.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/fix_adjust_headless_mode_handling_in_native_widget.patch
  patches/chromium/fix_media_key_usage_with_globalshortcuts.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/fix_restore_original_resize_performance_on_macos.patch
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/notification_provenance.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/refactor_expose_hostimportmoduledynamically_and.patch
  patches/chromium/refactor_unfilter_unresponsive_events.patch
  patches/chromium/revert_code_health_clean_up_stale_macwebcontentsocclusion.patch
  patches/chromium/revert_partial_remove_unused_prehandlemouseevent.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/scroll_bounce_flag.patch
  patches/chromium/support_mixed_sandbox_with_zygote.patch
  patches/chromium/web_contents.patch
  patches/chromium/webview_fullscreen.patch
  patches/devtools_frontend/chore_expose_ui_to_allow_electron_to_set_dock_side.patch
Owners: @electron/patch-owners

speed improvements
  script/run-qemu-64k.sh
Owners: none

try actually running a test spec
  script/qemu-init.sh
Owners: none

fix: cleanup removed CHILD_PLUGIN code Refs https://chromium-review.googlesource.com/c/chromium/src/+/7653455
  shell/app/electron_main_delegate_mac.mm
  shell/browser/api/electron_api_app.cc
  shell/browser/api/electron_api_utility_process.cc
  shell/browser/electron_browser_client.cc
  shell/common/mac/main_application_bundle.mm
Owners: none

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra
