Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra

7586673: Update logic for showing pdf summarize button
  patches/chromium/chore_patch_out_profile_methods.patch
Owners: @electron/patch-owners

Update breaking changes documentation
  docs/breaking-changes.md
Owners: @electron/wg-releases

chore: make linter happy
  shell/common/api/electron_api_testing.cc
Owners: none

fix: correct typo in node-spec.ts comment
  spec/node-spec.ts
Owners: none

fix: avoid duplicate calls in electron_api_web_contents
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
Owners: none

fix: prevent duplicate page-favicon-updated events and add regression test
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
Owners: none

Style: fix lint errors
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
Owners: none

build: exit upload with error code if github upload fails
  script/release/uploaders/upload.py
Owners: @electron/wg-releases

fix: don't overwrite "Show hidden files" setting on Linux/GTK
  docs/api/dialog.md
Owners: none

docs: deprecate showHiddenFiles property in dialogs on Linux
  docs/api/dialog.md
  docs/breaking-changes.md
Owners: @electron/wg-releases

docs: mark Electron 42 as the removal date for this feature
  docs/breaking-changes.md
Owners: @electron/wg-releases

build: fix Chromium roll linting merge base determination in CI
  script/lint-roller-chromium-changes.mjs
Owners: none

chore: fix lint
  shell/browser/api/electron_api_app.cc
Owners: none

fix: potential std::stoi crash in Windows Toasts
  shell/browser/notifications/win/windows_toast_activator.cc
Owners: none

7582039: [Extensions] Use dependency injection for ManifestHandlerRegistry
  shell/common/extensions/electron_extensions_api_provider.cc
  shell/common/extensions/electron_extensions_api_provider.h
Owners: none

chore: update patches (trivial only)
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_add_electron_deps_to_gitignores.patch
  patches/chromium/chore_modify_chromium_handling_of_mouse_events.patch
  patches/chromium/chore_partial_revert_of.patch
  patches/chromium/chore_patch_out_partition_attribute_dcheck_for_webviews.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/disable_compositor_recycling.patch
  patches/chromium/enable_reset_aspect_ratio.patch
  patches/chromium/expose_setuseragent_on_networkcontext.patch
  patches/chromium/extend_apply_webpreferences.patch
  patches/chromium/feat_add_support_for_missing_dialog_features_to_shell_dialogs.patch
  patches/chromium/feat_allow_code_cache_in_custom_schemes.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_enable_offscreen_rendering_with_viz_compositor.patch
  patches/chromium/feat_expose_documentloader_setdefersloading_on_webdocumentloader.patch
  patches/chromium/feat_expose_raw_response_headers_from_urlloader.patch
  patches/chromium/fix_adjust_headless_mode_handling_in_native_widget.patch
  patches/chromium/fix_check_for_file_existence_before_setting_mtime.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_disabling_background_throttling_in_compositor.patch
  patches/chromium/fix_multiple_scopedpumpmessagesinprivatemodes_instances.patch
  patches/chromium/fix_non-client_mouse_tracking_and_message_bubbling_on_windows.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/fix_resolve_dynamic_background_material_update_issue_on_windows_11.patch
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/network_service_allow_remote_certificate_verification_logic.patch
  patches/chromium/notification_provenance.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/refactor_unfilter_unresponsive_events.patch
  patches/chromium/resource_file_conflict.patch
  patches/chromium/revert_partial_remove_unused_prehandlemouseevent.patch
  patches/chromium/revert_remove_the_allowaggressivethrottlingwithwebsocket_feature.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/support_mixed_sandbox_with_zygote.patch
  patches/chromium/web_contents.patch
  patches/chromium/webview_fullscreen.patch
Owners: @electron/patch-owners

7582477: spanification: migrate base::ReadUnicodeCharacter usage to string_view
  shell/renderer/api/electron_api_spell_check_client.cc
Owners: none

chore: update patches (trivial only)
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_modify_chromium_handling_of_mouse_events.patch
  patches/chromium/chore_partial_revert_of.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/enable_reset_aspect_ratio.patch
  patches/chromium/feat_add_support_for_missing_dialog_features_to_shell_dialogs.patch
  patches/chromium/feat_allow_code_cache_in_custom_schemes.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_expose_raw_response_headers_from_urlloader.patch
  patches/chromium/fix_adjust_headless_mode_handling_in_native_widget.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/fix_resolve_dynamic_background_material_update_issue_on_windows_11.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/osr_shared_texture_remove_keyed_mutex_on_win_dxgi.patch
  patches/chromium/port_autofill_colors_to_the_color_pipeline.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/refactor_unfilter_unresponsive_events.patch
  patches/chromium/revert_code_health_clean_up_stale_macwebcontentsocclusion.patch
  patches/chromium/revert_partial_remove_unused_prehandlemouseevent.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/web_contents.patch
  patches/chromium/webview_fullscreen.patch
Owners: @electron/patch-owners

lib: prefer call() over apply() if argument list is not array
  patches/node/pass_all_globals_through_require.patch
Owners: @electron/patch-owners

feat: add macOS-only api to determine if app is currently active
  docs/api/app.md
  shell/browser/api/electron_api_app.cc
  shell/browser/browser.h
  shell/browser/browser_mac.mm
Owners: none

fix: ensure we hide app after showing in test
  spec/api-app-spec.ts
Owners: none

docs: simplify isActive api description
  docs/api/app.md
Owners: none

test: add unit test for app.isActive api
  spec/api-app-spec.ts
Owners: none

refactor: simplify BaseWindow parent<->child association code
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  shell/browser/api/electron_api_browser_window.cc
Owners: none

refactor: replace std::to_string() with base::NumberToString()
  shell/browser/api/electron_api_msix_updater.cc
  shell/browser/api/electron_api_web_contents.cc
  shell/common/node_bindings.cc
Owners: none

chore: fixup patch indices
  patches/node/api_delete_deprecated_fields_on_v8_isolate.patch
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/build_add_gn_build_files.patch
  patches/node/build_enable_perfetto.patch
  patches/node/build_ensure_native_module_compilation_fails_if_not_using_a_new.patch
  patches/node/build_restore_clang_as_default_compiler_on_macos.patch
  patches/node/build_restore_macos_deployment_target_to_12_0.patch
  patches/node/expose_get_builtin_module_function.patch
  patches/node/feat_disable_js_source_phase_imports_by_default.patch
  patches/node/fix_add_default_values_for_variables_in_common_gypi.patch
  patches/node/fix_add_externalpointertypetag_to_v8_external_api_calls.patch
  patches/node/fix_allow_disabling_fetch_in_renderer_and_worker_processes.patch
  patches/node/fix_allow_passing_fileexists_fn_to_legacymainresolve.patch
  patches/node/fix_cppgc_initializing_twice.patch
  patches/node/fix_crypto_tests_to_run_with_bssl.patch
  patches/node/fix_do_not_resolve_electron_entrypoints.patch
  patches/node/fix_ensure_traverseparent_bails_on_resource_path_exit.patch
  patches/node/fix_expose_readfilesync_override_for_modules.patch
  patches/node/fix_expose_the_built-in_electron_module_via_the_esm_loader.patch
  patches/node/fix_handle_boringssl_and_openssl_incompatibilities.patch
  patches/node/fix_lazyload_fs_in_esm_loaders_to_apply_asar_patches.patch
  patches/node/refactor_attach_cppgc_heap_on_v8_isolate_creation.patch
  patches/node/src_stop_using_v8_propertycallbackinfo_t_this.patch
  patches/node/support_v8_sandboxed_pointers.patch
  patches/node/test_accomodate_v8_thenable_stack_trace_change_in_snapshot.patch
  patches/node/test_formally_mark_some_tests_as_flaky.patch
Owners: @electron/patch-owners

build,deps: replace cjs-module-lexer with merve
  patches/chromium/build_allow_electron_to_use_exec_script.patch
  patches/node/build_add_gn_build_files.patch
  patches/node/build_allow_unbundling_of_node_js_dependencies.patch
  patches/node/build_modify_js2c_py_to_allow_injection_of_original-fs_and_custom_embedder_js.patch
  patches/node/chore_exclude_electron_node_folder_from_exit-time-destructors.patch
  patches/node/fix_handle_boringssl_and_openssl_incompatibilities.patch
  patches/node/fix_redefined_macos_sdk_header_symbols.patch
Owners: @electron/patch-owners

7590029: Remove 5 unused deprecated sync methods in ui::Clipboard
  shell/common/api/electron_api_clipboard.cc
Owners: none

refactor: remove unnecessary local variable from BaseWindow::GetParentWindow()
  shell/browser/api/electron_api_base_window.cc
Owners: none

test: use fixture directories for sea tests
  script/node-disabled-tests.json
Owners: none

7599553: [rust png] Chromium: Update `png` to version `0.18.1`.
  spec/api-native-image-spec.ts
Owners: none

test: fixup clipboard tests to properly handle urls
  spec/api-clipboard-spec.ts
Owners: none

fix: code review feedack
  shell/browser/api/electron_api_notification.cc
  shell/browser/notifications/win/windows_toast_activator.cc
Owners: none

fixup "7599553: [rust png] Chromium: Update `png` to version `0.18.1`."
  spec/api-native-image-spec.ts
Owners: none

src: throw RangeError on failed ArrayBuffer BackingStore allocation
  patches/node/support_v8_sandboxed_pointers.patch
Owners: @electron/patch-owners

fix: update label/sublabel/icon in macOS item on open
  docs/api/menu-item.md
  lib/browser/api/menu-item.ts
  lib/browser/api/menu.ts
  shell/browser/api/electron_api_menu.cc
  shell/browser/api/electron_api_menu.h
  shell/browser/ui/cocoa/electron_menu_controller.mm
  shell/browser/ui/electron_menu_model.cc
  shell/browser/ui/electron_menu_model.h
  typings/internal-electron.d.ts
Owners: none

chore: update patches (trivial only)
  patches/chromium/build_disable_thin_lto_mac.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_partial_revert_of.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_enable_offscreen_rendering_with_viz_compositor.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/gritsettings_resource_ids.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/refactor_unfilter_unresponsive_events.patch
  patches/chromium/revert_code_health_clean_up_stale_macwebcontentsocclusion.patch
  patches/chromium/revert_partial_remove_unused_prehandlemouseevent.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/web_contents.patch
  patches/chromium/webview_fullscreen.patch
Owners: @electron/patch-owners

7607719: Refactor predictors GN targets and clean up LCPP unittest params
  chromium_src/BUILD.gn
Owners: none

chore: update patches
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/chore_patch_out_profile_methods.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/feat_expose_raw_response_headers_from_urlloader.patch
  patches/chromium/fix_non-client_mouse_tracking_and_message_bubbling_on_windows.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
Owners: @electron/patch-owners

fix(patch-conflict): adapt MacWebContentsOcclusion for version check removal
  patches/chromium/revert_code_health_clean_up_stale_macwebcontentsocclusion.patch
Owners: @electron/patch-owners
