Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

docs: document Widevine CDM switches, build-tools args, and bundled WidevineCdm fallback path
  docs/api/command-line-switches.md
  docs/development/build-instructions-gn.md
Owners: none

cleanup
  shell/browser/native_window_views.cc
  shell/browser/native_window_views.h
  shell/browser/ui/views/frameless_view.cc
Owners: none

chore: restore historical window icons size
  patches/chromium/fix_add_support_for_skipping_first_2_no-op_refreshes_in_thumb_cap.patch
  spec/api-desktop-capturer-spec.ts
Owners: @electron/patch-owners

set id-token for attestation
  .github/workflows/pipeline-electron-build-and-test-and-nan.yml
  .github/workflows/pipeline-electron-build-and-test.yml
  .github/workflows/pipeline-electron-build-and-tidy-and-test-and-nan.yml
  .github/workflows/pipeline-electron-build-and-tidy-and-test.yml
  .github/workflows/pipeline-segment-electron-build.yml
Owners: @electron/wg-infra

Updated Alt detection to explicitly exclude AltGraph/AltGr
  shell/browser/ui/views/root_view.cc
  spec/api-browser-window-spec.ts
Owners: none

chore: simplify test
  spec/chromium-spec.ts
Owners: none

fix: tests on Windows and Linux
  spec/chromium-spec.ts
Owners: none

Add artifact-metadata permission for attestation
  .github/workflows/linux-publish.yml
  .github/workflows/macos-publish.yml
  .github/workflows/pipeline-segment-electron-publish.yml
  .github/workflows/windows-publish.yml
  script/copy-pipeline-segment-publish.js
Owners: @electron/wg-infra

add permissions for testing attestations
  .github/workflows/build.yml
  .github/workflows/pipeline-electron-build-and-test-and-nan.yml
  .github/workflows/pipeline-electron-build-and-test.yml
  .github/workflows/pipeline-electron-build-and-tidy-and-test-and-nan.yml
  .github/workflows/pipeline-electron-build-and-tidy-and-test.yml
  .github/workflows/pipeline-segment-electron-build.yml
Owners: @electron/wg-infra

fix:
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  spec/chromium-spec.ts
Owners: none

docs: add release note for WebContents permission UAF fix
  notes/fix-webcontents-permission-uaf.md
Owners: none

Use NotificationImageRetainer pattern from //chrome
  BUILD.gn
  shell/browser/notifications/mac/cocoa_notification.h
  shell/browser/notifications/mac/cocoa_notification.mm
  shell/browser/notifications/mac/notification_presenter_mac.h
  shell/browser/notifications/mac/notification_presenter_mac.mm
Owners: none

build: fix lint
  shell/browser/notifications/mac/cocoa_notification.mm
  shell/browser/notifications/mac/notification_presenter_mac.h
Owners: none

build: update config to handle --translate-gender for pak files
  BUILD.gn
Owners: none

Revert "add permissions for testing attestations"
  .github/workflows/build.yml
  .github/workflows/pipeline-electron-build-and-test-and-nan.yml
  .github/workflows/pipeline-electron-build-and-test.yml
  .github/workflows/pipeline-electron-build-and-tidy-and-test-and-nan.yml
  .github/workflows/pipeline-electron-build-and-tidy-and-test.yml
  .github/workflows/pipeline-segment-electron-build.yml
Owners: @electron/wg-infra

Revert "set id-token for attestation"
  .github/workflows/pipeline-electron-build-and-test-and-nan.yml
  .github/workflows/pipeline-electron-build-and-test.yml
  .github/workflows/pipeline-electron-build-and-tidy-and-test-and-nan.yml
  .github/workflows/pipeline-electron-build-and-tidy-and-test.yml
  .github/workflows/pipeline-segment-electron-build.yml
Owners: @electron/wg-infra

Revert "Generate artifact attestation for generated artifacts"
  .github/actions/build-electron/action.yml
  .github/workflows/build.yml
Owners: @electron/wg-infra

fix: code-sign binaries for notification tests
  .github/workflows/pipeline-segment-electron-test.yml
  script/codesign/cleanup-identity.sh
  script/codesign/generate-identity.sh
  script/codesign/get-trusted-identity.sh
  shell/browser/notifications/mac/cocoa_notification.mm
Owners: @electron/wg-infra

ci: add markdownlint problem matcher
  .github/problem-matchers/markdownlint.json
  .github/workflows/pipeline-electron-lint.yml
Owners: @electron/wg-infra

build(dev-deps): update micromark-core-commonmark to 2.0.3
  yarn.lock
Owners: none

chore(tidy): rename ".patch.patch" to ".patch"
  patches/chromium/.patches
  patches/chromium/mas_avoid_private_macos_api_usage.patch
Owners: @electron/patch-owners

fix: restore MAS patch-outs
  patches/chromium/fix_adjust_headless_mode_handling_in_native_widget.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
Owners: @electron/patch-owners

fixup! 7508687: use ChildProcessId for file permission APIs
  shell/browser/api/electron_api_web_contents.cc
Owners: none

docs: fix typos across documentation (#49734)
  docs/api/app.md
  docs/api/base-window.md
  docs/api/browser-window.md
  docs/api/client-request.md
  docs/api/clipboard.md
  docs/api/command-line-switches.md
  docs/api/corner-smoothing-css.md
  docs/api/dialog.md
  docs/api/incoming-message.md
  docs/api/menu.md
  docs/api/native-theme.md
  docs/api/process.md
  docs/api/session.md
  docs/api/structures/display.md
  docs/api/structures/notification-action.md
  docs/api/structures/web-preferences.md
  docs/api/web-contents.md
  docs/breaking-changes.md
  docs/development/build-instructions-macos.md
  docs/development/debugging-on-windows.md
  docs/development/source-code-directory-structure.md
  docs/development/testing.md
  docs/glossary.md
  docs/tutorial/code-signing.md
  docs/why-electron.md
Owners: @electron/wg-releases

build(dev-deps): update micromark-core-commonmark to 2.0.3 (#49749)
  yarn.lock
Owners: none

ci: add markdownlint problem matcher (#49751)
  .github/problem-matchers/markdownlint.json
  .github/workflows/pipeline-electron-lint.yml
Owners: @electron/wg-infra

build: fixup attestation for release assets (#49732)
  .github/workflows/linux-publish.yml
  .github/workflows/macos-publish.yml
  .github/workflows/pipeline-segment-electron-publish.yml
  .github/workflows/windows-publish.yml
  script/copy-pipeline-segment-publish.js
  script/release/uploaders/upload.py
Owners: @electron/wg-infra, @electron/wg-releases

build: fixup attestation for release assets (#49732)
  .github/workflows/linux-publish.yml
  .github/workflows/macos-publish.yml
  .github/workflows/pipeline-segment-electron-publish.yml
  .github/workflows/windows-publish.yml
  script/copy-pipeline-segment-publish.js
  script/release/uploaders/upload.py
Owners: @electron/wg-infra, @electron/wg-releases

build: fixup attestation for release assets (#49732)
  .github/workflows/linux-publish.yml
  .github/workflows/macos-publish.yml
  .github/workflows/pipeline-segment-electron-publish.yml
  .github/workflows/windows-publish.yml
  script/copy-pipeline-segment-publish.js
  script/release/uploaders/upload.py
Owners: @electron/wg-infra, @electron/wg-releases

feat: add support for disclaiming utility processes (#49695)
  docs/api/utility-process.md
  patches/chromium/feat_configure_launch_options_for_service_process.patch
  patches/chromium/feat_enable_passing_exit_code_on_service_process_crash.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  shell/browser/api/electron_api_utility_process.cc
  shell/browser/api/electron_api_utility_process.h
  spec/api-utility-process-spec.ts
Owners: @electron/patch-owners

feat: add support for `long-animation-frame` script attribution (#49706)
  docs/api/command-line-switches.md
  patches/chromium/.patches
  patches/chromium/loaf_add_feature_to_enable_sourceurl_for_all_protocols.patch
  spec/chromium-spec.ts
  spec/fixtures/chromium/long-animation-frame.html
Owners: @electron/patch-owners

chore: update publish workflow
  .github/workflows/pipeline-segment-electron-publish.yml
Owners: @electron/wg-infra

chore: update publish workflow
  .github/workflows/pipeline-segment-electron-publish.yml
Owners: @electron/wg-infra

build: fixup attestation for release assets (#49732)
  .github/workflows/linux-publish.yml
  .github/workflows/macos-publish.yml
  .github/workflows/pipeline-segment-electron-publish.yml
  .github/workflows/windows-publish.yml
  script/copy-pipeline-segment-publish.js
  script/release/uploaders/upload.py
Owners: @electron/wg-infra, @electron/wg-releases

build: generate artifact attestions for released assets (#48239)
  .github/actions/build-electron/action.yml
  .github/workflows/linux-publish.yml
  .github/workflows/macos-publish.yml
  .github/workflows/pipeline-electron-lint.yml
  .github/workflows/pipeline-segment-electron-publish.yml
  .github/workflows/windows-publish.yml
  package.json
  script/copy-pipeline-segment-publish.js
  script/release/uploaders/upload.py
  yarn.lock
Owners: @electron/wg-infra, @electron/wg-releases

chore: update publish workflow
  .github/workflows/pipeline-segment-electron-publish.yml
Owners: @electron/wg-infra

ci: fixup build stats upload on Windows
  .github/actions/build-electron/action.yml
Owners: @electron/wg-infra

fixup! fix(patch-conflict): update MAS safestorage for keychain API refactor
  patches/chromium/feat_ensure_mas_builds_of_the_same_application_can_use_safestorage.patch
Owners: @electron/patch-owners

chore: add note about parallel upstream change
  shell/app/electron_main_delegate.cc
Owners: none

fixup! Merge remote-tracking branch 'origin/main' into roller/chromium/main
  patches/chromium/.patches
  patches/chromium/loaf_add_feature_to_enable_sourceurl_for_all_protocols.patch
Owners: @electron/patch-owners

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra
