Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

chore: fixup patch indices
  patches/chromium/fix_os_crypt_async_cookie_encryption.patch
  patches/node/api_delete_deprecated_fields_on_v8_isolate.patch
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/fix_remove_deprecated_errno_constants.patch
  patches/node/refactor_attach_cppgc_heap_on_v8_isolate_creation.patch
  patches/node/support_v8_sandboxed_pointers.patch
Owners: @electron/patch-owners

chore: fixup sandboxed pointers patch
  patches/node/support_v8_sandboxed_pointers.patch
Owners: @electron/patch-owners

tls: route callback exceptions through error handlers
  script/node-disabled-tests.json
Owners: none

ci: detect patch needs update error with problem matcher
  .github/actions/checkout/action.yml
  .github/problem-matchers/patch-conflict.json
Owners: @electron/wg-infra

fix: warning: default arguments on virtual or override methods (#49398)
  shell/browser/native_window.h
Owners: none

chore: set -header-filter='' for clang-tidy
  script/run-clang-tidy.ts
Owners: none

ci: add pipeline segment to run clang-tidy
  .github/actions/build-electron/action.yml
  .github/workflows/build.yml
  .github/workflows/pipeline-electron-build-and-tidy-and-test-and-nan.yml
  .github/workflows/pipeline-electron-build-and-tidy-and-test.yml
  .github/workflows/pipeline-segment-electron-build.yml
  .github/workflows/pipeline-segment-electron-clang-tidy.yml
Owners: @electron/wg-infra

docs: update print method options to include useSystemDefaultMediaSize for better printer compatibility
  docs/api/web-contents.md
  docs/api/webview-tag.md
  typings/internal-electron.d.ts
Owners: none

fix: ensure deviceName is set when using system default media size in print method
  lib/browser/api/web-contents.ts
Owners: none

fix: improve error handling for printer capabilities and streamline media size selection in print method
  shell/browser/api/electron_api_web_contents.cc
Owners: none

docs: rename useSystemDefaultMediaSize to usePrinterDefaultPageSize
  docs/api/web-contents.md
  docs/api/webview-tag.md
  lib/browser/api/web-contents.ts
  shell/browser/api/electron_api_web_contents.cc
Owners: none

ci: detect patch needs update error with problem matcher (#49405)
  .github/actions/checkout/action.yml
  .github/problem-matchers/patch-conflict.json
Owners: @electron/wg-infra

fix: frameless modal window does not respect given size on macOS
  shell/browser/native_window_mac.mm
  spec/api-browser-window-spec.ts
Owners: none

fix: make toplevel icon Wayland protocol work (#49290)
  shell/browser/ui/electron_desktop_window_tree_host_linux.cc
  shell/browser/ui/electron_desktop_window_tree_host_linux.h
Owners: none

fix: restore AXDocument accessibility attribute for representedFilename on macOS (#49346)
  shell/browser/ui/cocoa/electron_ns_window.mm
Owners: none

refactor: added prefix for NodeJS modules
  lib/browser/api/app.ts
  lib/browser/api/auto-updater/auto-updater-win.ts
  lib/browser/api/auto-updater/squirrel-update-win.ts
  lib/browser/api/base-window.ts
  lib/browser/api/in-app-purchase.ts
  lib/browser/api/message-channel.ts
  lib/browser/api/net-fetch.ts
  lib/browser/api/power-monitor.ts
  lib/browser/api/protocol.ts
  lib/browser/api/screen.ts
  lib/browser/api/share-menu.ts
  lib/browser/api/shared-texture.ts
  lib/browser/api/touch-bar.ts
  lib/browser/api/utility-process.ts
  lib/browser/api/view.ts
  lib/browser/api/web-contents.ts
  lib/browser/devtools.ts
  lib/browser/init.ts
  lib/browser/ipc-main-impl.ts
  lib/browser/message-port-main.ts
  lib/browser/rpc-server.ts
  lib/common/api/net-client-request.ts
  lib/common/init.ts
  lib/node/asar-fs-wrapper.ts
  lib/preload_realm/init.ts
  lib/renderer/api/ipc-renderer.ts
  lib/renderer/init.ts
  lib/renderer/ipc-renderer-internal.ts
  lib/sandboxed_renderer/init.ts
  lib/sandboxed_renderer/pre-init.ts
  lib/sandboxed_renderer/preload.ts
  lib/utility/init.ts
  lib/utility/parent-port.ts
  lib/worker/init.ts
Owners: @electron/wg-security

fix: MAS rejection for private APIs
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
Owners: @electron/patch-owners

fix: ensure WebContents::WasShown runs when window is shown
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/api/electron_api_browser_window.h
Owners: none

7078551: [wasm] Refactor caching API
  patches/node/src_refactor_wasmstreaming_finish_to_accept_a_callback.patch
Owners: @electron/patch-owners

chore: update patch hunk headers
  patches/chromium/add_didinstallconditionalfeatures.patch
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_expose_isolate_parameter_in_script_lifecycle_observers.patch
  patches/chromium/chore_patch_out_profile_methods.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/disable_compositor_recycling.patch
  patches/chromium/disable_hidden.patch
  patches/chromium/export_gin_v8platform_pageallocator_for_usage_outside_of_the_gin.patch
  patches/chromium/feat_allow_embedders_to_add_observers_on_created_hunspell.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_enable_offscreen_rendering_with_viz_compositor.patch
  patches/chromium/feat_separate_content_settings_callback_for_sync_and_async_clipboard.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/fix_os_crypt_async_cookie_encryption.patch
  patches/chromium/fix_restore_original_resize_performance_on_macos.patch
  patches/chromium/gritsettings_resource_ids.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/osr_shared_texture_remove_keyed_mutex_on_win_dxgi.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/refactor_patch_electron_permissiontypes_into_blink.patch
  patches/chromium/revert_partial_remove_unused_prehandlemouseevent.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
Owners: @electron/patch-owners

7141498: [api] Remove unused context parameter from FixedArray::Get
  patches/node/.patches
  patches/node/src_refactor_module_wrap_cc_to_update_fixedarray_get_params.patch
Owners: @electron/patch-owners

chore: fixup sandboxed pointers patch
  patches/node/fix_remove_fastapitypedarray_usage.patch
  patches/node/src_switch_from_get_setprototype_to_get_setprototypev2.patch
  patches/node/support_v8_sandboxed_pointers.patch
Owners: @electron/patch-owners

chore: fixup v8 sandbox pointers node patch
  patches/node/fix_remove_fastapitypedarray_usage.patch
  patches/node/src_switch_from_get_setprototype_to_get_setprototypev2.patch
  patches/node/support_v8_sandboxed_pointers.patch
Owners: @electron/patch-owners

feat: native auto updater for MSIX on Windows
  filenames.gni
  lib/browser/api/auto-updater.ts
  lib/browser/api/auto-updater/auto-updater-msix.ts
  lib/browser/api/auto-updater/msix-update-win.ts
  shell/browser/api/electron_api_msix_updater.cc
  shell/browser/api/electron_api_msix_updater.h
  shell/common/node_bindings.cc
Owners: none

doc: added MSIX debug documentation
  docs/api/environment-variables.md
Owners: none

fix: allow downgrade with json release file and emit update-available
  lib/browser/api/auto-updater/auto-updater-msix.ts
Owners: none

test: msix auot-update tests
  filenames.auto.gni
  spec/api-autoupdater-msix-spec.ts
  spec/fixtures/api/autoupdater/msix/ElectronDevAppxManifest.xml
  spec/fixtures/api/autoupdater/msix/HelloMSIX_V1.msix
  spec/fixtures/api/autoupdater/msix/HelloMSIX_V2.msix
  spec/fixtures/api/autoupdater/msix/main.js
  spec/lib/msix-helpers.ts
Owners: none

doc: API documentation
  docs/api/auto-updater.md
Owners: none

test: add package version validation
  spec/api-autoupdater-msix-spec.ts
  spec/lib/msix-helpers.ts
Owners: none

fix: docs typo
  docs/api/auto-updater.md
Owners: none

fix: don't allow auto-updating when using appinstaller manifest
  lib/browser/api/auto-updater/auto-updater-msix.ts
Owners: none

tls: route callback exceptions through error handlers
  script/node-disabled-tests.json
Owners: none

fix: try clearing `InspectableWebContents` delegate earlier (#49406)
  shell/browser/api/electron_api_web_contents.cc
Owners: none

docs: fix `webContents.hostWebContents` types
  docs/api/web-contents.md
Owners: none

feat: add focusOnNavigation webPreference
  docs/api/structures/web-preferences.md
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/web_contents_preferences.cc
  shell/browser/web_contents_preferences.h
  shell/common/options_switches.h
  spec/api-web-contents-spec.ts
Owners: none

Fix for user resizable transparent windows on win32
  shell/browser/native_window_views.cc
Owners: none

ci: trigger website docs update on release published
  .github/workflows/update-website-docs.yml
Owners: none

fix: explicit support for package types in macOS open dialog filters
  shell/browser/ui/file_dialog_mac.mm
Owners: none

Allow Renderer's DNS cache cleanup using Session#clearHostResolverCache() #49258
  shell/browser/api/electron_api_session.cc
  spec/dns-cache-fix-spec.ts
Owners: none

fix: MAS rejection for private APIs (#49391)
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
Owners: @electron/patch-owners

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra
