Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

build: disallow non-maintainer changes to GitHub Actions workflows (#49233)
  .github/workflows/non-maintainer-dependency-change.yml
Owners: none

build: disallow non-maintainer changes to GitHub Actions workflows (#49232)
  .github/workflows/non-maintainer-dependency-change.yml
Owners: none

fix: `webRequest.onBeforeSendHeaders` not being able to modify reserved headers (#49226)
  shell/browser/net/proxying_url_loader_factory.cc
  shell/common/api/electron_api_url_loader.cc
  spec/api-web-request-spec.ts
Owners: none

docs: add Playwright version warning to automated testing guide
  docs/tutorial/automated-testing.md
Owners: none

feat: add swipe gesture events for macOS
  docs/api/structures/base-window-options.md
  shell/browser/native_window_mac.h
  shell/browser/native_window_mac.mm
  shell/browser/ui/cocoa/electron_ns_window.mm
  shell/browser/ui/cocoa/electron_ns_window_delegate.h
  shell/common/options_switches.h
  spec/api-browser-window-spec.ts
Owners: none

Update launch-app-from-url-in-another-app.md
  docs/tutorial/launch-app-from-url-in-another-app.md
Owners: none

docs: update Playwright automated testing guide for 1.57+
  docs/tutorial/automated-testing.md
Owners: none

chore: bump chromium in DEPS to 145.0.7588.0
  DEPS
Owners: @electron/wg-upgrades

fix(patch-conflict): update scroll_bounce_flag for split overscroll methods
  patches/chromium/scroll_bounce_flag.patch
Owners: @electron/patch-owners

Fix AXError handling in accessibility Swift example
  docs/tutorial/accessibility.md
Owners: none

fix(patch-conflict): remove duplicate GEOLOCATION_APPROXIMATE case
  patches/chromium/refactor_patch_electron_permissiontypes_into_blink.patch
Owners: @electron/patch-owners

fix(patch-conflict): update permission patches for new permission types
  patches/chromium/feat_separate_content_settings_callback_for_sync_and_async_clipboard.patch
  patches/chromium/refactor_patch_electron_permissiontypes_into_blink.patch
Owners: @electron/patch-owners

fix(patch-conflict): update exclusive_access patch context
  patches/chromium/fix_adapt_exclusive_access_for_electron_needs.patch
Owners: @electron/patch-owners

chore: update libcxx filenames for new headers
  filenames.libcxx.gni
Owners: none

fix(patch): update reclient-configs patch to use new file mode
  patches/reclient-configs/fix_add_python_remote_wrapper.patch
Owners: @electron/patch-owners

fix(patch-conflict): update memory query fallback for new function signature
  patches/chromium/fix_add_macos_memory_query_fallback_to_avoid_crash.patch
Owners: @electron/patch-owners

fix(patch-conflict): update screen capture kit non-shareable filter
  patches/chromium/feat_filter_out_non-shareable_windows_in_the_current_application_in.patch
Owners: @electron/patch-owners

fix(patch-conflict): update corner smoothing CSS property id position
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
Owners: @electron/patch-owners

7254577: use explicit WebElement constructor
  shell/renderer/printing/print_render_frame_helper_delegate.cc
Owners: none

7240487: remove second param from RegisterWebSafeIsolatedScheme
  shell/browser/browser_process_impl.cc
Owners: none

7254070: add ip_address_space param to OnLocalNetworkAccessPermissionRequired
  shell/browser/net/url_loader_network_observer.h
  shell/common/api/electron_api_url_loader.h
Owners: none

7260483: add LOCAL_NETWORK, LOOPBACK_NETWORK permission type cases
  shell/common/gin_converters/content_converter.cc
Owners: none

chore: add missing SingleThreadTaskRunner include
  shell/browser/ui/cocoa/electron_ns_window_delegate.mm
Owners: none

fix: suppress nodiscard warning in node_file.cc
  patches/chromium/fix_add_macos_memory_query_fallback_to_avoid_crash.patch
  patches/chromium/refactor_patch_electron_permissiontypes_into_blink.patch
  patches/node/.patches
  patches/node/fix_suppress_nodiscard_warning_for_copy_options_operator.patch
Owners: @electron/patch-owners

fix(patch): update memory fallback return type to ByteSize
  patches/chromium/fix_add_macos_memory_query_fallback_to_avoid_crash.patch
Owners: @electron/patch-owners

7229082: update CopyFromSurface to use CopyFromSurfaceResult
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/osr/osr_render_widget_host_view.cc
  shell/browser/osr/osr_render_widget_host_view.h
Owners: none

7256335: remove override from CreateGlobalFeaturesForTesting
  shell/browser/browser_process_impl.h
Owners: none

7136679: add spelling_markers param to RequestCheckingOfText
  shell/renderer/api/electron_api_spell_check_client.cc
  shell/renderer/api/electron_api_spell_check_client.h
Owners: none

chore: update patch hunk headers
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
Owners: @electron/patch-owners

chore: update patch hunk headers
  patches/chromium/expose_gtk_ui_platform_field.patch
Owners: @electron/patch-owners

7264893: update postMessage tests for file: origin serialization change
  spec/chromium-spec.ts
Owners: none

fix: add paths to custom scheme URLs in protocol tests
  spec/api-protocol-spec.ts
Owners: none

chore: update patch
  patches/chromium/fix_harden_blink_scriptstate_maybefrom.patch
Owners: @electron/patch-owners

chore: update patches (trivial only)
  patches/chromium/revert_remove_the_allowaggressivethrottlingwithwebsocket_feature.patch
Owners: @electron/patch-owners

Fix calculation of newViewBounds.y for vertical proportion
  lib/browser/api/browser-view.ts
Owners: none

Update comments
  shell/browser/api/electron_api_web_contents.cc
Owners: none

chore: update accelerator.patch
  patches/chromium/accelerator.patch
Owners: @electron/patch-owners

chore: update patches (trivial only)
  patches/chromium/accelerator.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_grandfather_in_electron_views_and_delegates.patch
  patches/chromium/chore_patch_out_partition_attribute_dcheck_for_webviews.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/fix_move_autopipsettingshelper_behind_branding_buildflag.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/notification_provenance.patch
  patches/chromium/picture-in-picture.patch
  patches/chromium/port_autofill_colors_to_the_color_pipeline.patch
  patches/chromium/refactor_expose_file_system_access_blocklist.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/support_mixed_sandbox_with_zygote.patch
  patches/chromium/webview_fullscreen.patch
  patches/chromium/worker_context_will_destroy.patch
  patches/chromium/worker_feat_add_hook_to_notify_script_ready.patch
Owners: @electron/patch-owners

chore: node ./script/gen-libc++-filenames.js
  filenames.libcxx.gni
Owners: none

feat: `WebContents` extends `EventEmitter`
  lib/browser/api/web-contents.ts
Owners: none

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra
