Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

test: correct conditional secure heap flags test
  patches/node/.patches
  patches/node/test_correct_conditional_secure_heap_flags_test.patch
Owners: @electron/patch-owners

Style: fix lint errors
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
Owners: none

docs: add a few API history fragments (#49340)
  docs/api/auto-updater.md
  docs/api/share-menu.md
  docs/api/shell.md
  docs/breaking-changes.md
  docs/development/style-guide.md
Owners: @electron/wg-releases

docs: clearer wording (performance common pitfalls)
  docs/tutorial/performance.md
Owners: none

docs: document that `shell.trashItem` requires backslashes (#49038)
  docs/api/shell.md
Owners: none

docs: clearer wording performance common pitfalls (#45308)
  docs/tutorial/performance.md
Owners: none

fix: avoid startup crash when V8 sandbox is disabled
  patches/chromium/fix_harden_blink_scriptstate_maybefrom.patch
Owners: @electron/patch-owners

chore: update patch
  patches/chromium/fix_harden_blink_scriptstate_maybefrom.patch
Owners: @electron/patch-owners

docs: revert type links in Menu return types to fix parser
  docs/api/menu.md
Owners: none

fix: return early from platform_util::Beep() on Linux if there is no default GDK display (#49442)
  shell/common/platform_util_linux.cc
Owners: none

7402162: Refactor app shims to call ContentMain
  patches/chromium/.patches
  patches/chromium/create_browser_v8_snapshot_file_name_fuse.patch
  patches/chromium/load_v8_snapshot_in_browser_process.patch
  shell/app/electron_main_delegate.cc
  shell/app/electron_main_delegate.h
Owners: @electron/patch-owners

7454282: Add master key management for HTTP Cache Encryption
  patches/chromium/fix_os_crypt_async_cookie_encryption.patch
Owners: @electron/patch-owners

chore: cherry-pick dba49550b12d from v8
  patches/v8/.patches
  patches/v8/cherry-pick-dba49550b12d.patch
Owners: @electron/patch-owners

chore: cherry-pick dba49550b12d from v8
  patches/v8/.patches
  patches/v8/cherry-pick-dba49550b12d.patch
Owners: @electron/patch-owners

chore: cherry-pick dba49550b12d from v8
  patches/v8/.patches
  patches/v8/cherry-pick-dba49550b12d.patch
Owners: @electron/patch-owners

7414864: Pass CSSParserLocalContext down to CSSMathExpressionNodeParser
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
Owners: @electron/patch-owners

chore: update patches
  patches/devtools_frontend/chore_expose_ui_to_allow_electron_to_set_dock_side.patch
Owners: @electron/patch-owners

7490440: Reland "Delete unused base::Contains()"
  patches/chromium/feat_allow_code_cache_in_custom_schemes.patch
  shell/browser/api/electron_api_protocol.cc
  shell/browser/hid/hid_chooser_controller.cc
  shell/browser/native_window.cc
  shell/browser/printing/print_view_manager_electron.cc
  shell/browser/serial/serial_chooser_controller.cc
  shell/common/api/electron_bindings.cc
  shell/common/platform_util_linux.cc
  shell/renderer/electron_renderer_client.cc
Owners: @electron/patch-owners

7460969: Move child_process_id.h to common
  shell/browser/badging/badge_manager.h
Owners: none

chore: update patch
  patches/v8/cherry-pick-dba49550b12d.patch
Owners: @electron/patch-owners

chore: confirm patch
  patches/v8/.patches
  patches/v8/cherry-pick-dba49550b12d.patch
Owners: @electron/patch-owners

fix: potential devtools crash on empty (#49468)
  lib/renderer/inspector.ts
  shell/renderer/api/electron_api_context_bridge.cc
Owners: none

test: fix version color output when running prebuilt Electron
  script/spec-runner.js
Owners: none

7474608: [api] Remove deprecated v8::PropertyCallbackInfo<T>::This()
  patches/nan/.patches
  patches/nan/chore_handle_removal_of_v8_propertycallbackinfo_t_this.patch
  patches/node/.patches
  patches/node/src_stop_using_v8_propertycallbackinfo_t_this.patch
Owners: @electron/patch-owners

7461067: [Viz] Rename kPreferGpuMemoryBuffer
  shell/browser/osr/osr_video_consumer.cc
Owners: none

7487174: Remove GLHelper
  shell/browser/osr/osr_render_widget_host_view.cc
Owners: none

7457538: Set timeout from multi source page context fetcher
  shell/browser/api/electron_api_web_contents.cc
Owners: none

fix: wrong cause and removed flag in cookie change listener
  docs/api/cookies.md
  docs/breaking-changes.md
  shell/browser/api/electron_api_cookies.cc
  spec/api-session-spec.ts
Owners: @electron/wg-releases

test: fix version color output when running prebuilt Electron (#49491)
  script/spec-runner.js
Owners: none

refactor: PowerSaveBlocker subclasses gin::Wrappable
  shell/browser/api/electron_api_power_save_blocker.cc
  shell/browser/api/electron_api_power_save_blocker.h
Owners: none

chore: update chore_add_electron_objects_to_wrappablepointertag.patch
  patches/chromium/chore_add_electron_objects_to_wrappablepointertag.patch
Owners: @electron/patch-owners

fix: offscreen rendering with correct screen info. (#48730)
  docs/api/structures/web-preferences.md
  docs/breaking-changes.md
  patches/chromium/.patches
  patches/chromium/patch_osr_control_screen_info.patch
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/osr/osr_render_widget_host_view.cc
  shell/browser/osr/osr_render_widget_host_view.h
  shell/browser/osr/osr_web_contents_view.cc
  shell/browser/osr/osr_web_contents_view.h
  shell/common/options_switches.h
  spec/api-browser-window-spec.ts
Owners: @electron/wg-releases, @electron/patch-owners

chore: e patches all
  patches/chromium/chore_add_electron_objects_to_wrappablepointertag.patch
Owners: @electron/patch-owners

chore: fixup sandboxed pointers patch
  patches/node/fix_remove_fastapitypedarray_usage.patch
  patches/node/support_v8_sandboxed_pointers.patch
Owners: @electron/patch-owners

chore: update patches
  patches/node/chore_allow_the_node_entrypoint_to_be_a_builtin_module.patch
  patches/node/fix_remove_deprecated_errno_constants.patch
  patches/node/fix_remove_fastapitypedarray_usage.patch
Owners: @electron/patch-owners

tls: route callback exceptions through error handlers
  script/node-disabled-tests.json
Owners: none

chore:remove zero-fill sandbox patch component
  patches/node/fix_remove_fastapitypedarray_usage.patch
  patches/node/refactor_attach_cppgc_heap_on_v8_isolate_creation.patch
  patches/node/support_v8_sandboxed_pointers.patch
Owners: @electron/patch-owners

test: correct conditional secure heap flags test
  patches/node/.patches
  patches/node/test_correct_conditional_secure_heap_flags_test.patch
Owners: @electron/patch-owners

fixup! chore:remove zero-fill sandbox patch component
  patches/node/.patches
  patches/node/remove_obsolete_noarraybufferzerofillscope.patch
  patches/node/src_prepare_for_v8_sandboxing.patch
Owners: @electron/patch-owners

chore: cherry-pick dba49550b12d from v8 (#49487)
  patches/v8/.patches
  patches/v8/cherry-pick-dba49550b12d.patch
Owners: @electron/patch-owners

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra
