Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

docs: update the example of `webContents.setWindowOpenHandler` to cla… (#49379)
  docs/api/web-contents.md
Owners: none

fix: ensure visibility state observers are notified when background throttling is disabled
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
Owners: @electron/patch-owners

fix: maintain topmost Z-order for Kiosk windows on Windows
  shell/browser/native_window_views.cc
  shell/browser/native_window_views_win.cc
Owners: none

test: fix esm issue in node-spec-runner (#50289)
  script/node-spec-runner.js
Owners: none

fix: restore sdk_inputs cross-toolchain deps for macOS
  patches/chromium/.patches
  patches/chromium/fix_restore_sdk_inputs_cross-toolchain_deps_for_macos.patch
Owners: @electron/patch-owners

ci: ignore test timeouts in audit (#50259)
  .github/workflows/audit-branch-ci.yml
Owners: none

more debug
  spec/api-autoupdater-darwin-spec.ts
Owners: none

fix: user resizable transparent windows on win32 (#49428)
  shell/browser/native_window_views.cc
  spec/api-browser-window-spec.ts
Owners: none

fix: apply chromium patch for SharedArrayBuffer support
  patches/chromium/.patches
  patches/chromium/blink_cloneable_message.patch
Owners: @electron/patch-owners

fix: allow SharedArrayBuffer transfer over IPC
  shell/common/v8_util.cc
Owners: none

test: add SharedArrayBuffer IPC reproduction test
  spec/reproduce_50291.spec.ts
Owners: none

fix: restore `sdk_inputs` cross-toolchain deps for macOS (#50297)
  patches/chromium/.patches
  patches/chromium/fix_restore_sdk_inputs_cross-toolchain_deps_for_macos.patch
Owners: @electron/patch-owners

feat: add id and groupId options to macOS notifications (#50097)
  docs/api/notification.md
  shell/browser/api/electron_api_notification.cc
  shell/browser/api/electron_api_notification.h
  shell/browser/notifications/mac/cocoa_notification.mm
  shell/browser/notifications/notification.h
  spec/api-notification-spec.ts
Owners: none

fixup tsconfig and packager bump
  spec/asar-integrity-spec.ts
  spec/index.js
  spec/package.json
  spec/tsconfig.json
  tsconfig.spec.json
  yarn.lock
Owners: none

dedupe semver
  yarn.lock
Owners: none

ci: update test timeout to 60 minutes
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

add tweaks
  package.json
  spec/ts-smoke/tsconfig.json
  spec/tsconfig.json
  tsconfig.json
  yarn.lock
Owners: none

feat: add static methods `getHistory`, `remove`, `removeAll` to Notification (macOS)
  docs/api/notification.md
  docs/api/structures/notification-history-info.md
  lib/browser/api/notification.ts
  shell/browser/api/electron_api_notification.cc
  shell/browser/api/electron_api_notification.h
  shell/browser/notifications/mac/notification_presenter_mac.h
  shell/browser/notifications/mac/notification_presenter_mac.mm
  shell/browser/notifications/notification.cc
  shell/browser/notifications/notification.h
  shell/browser/notifications/notification_presenter.cc
  shell/browser/notifications/notification_presenter.h
  spec/api-notification-spec.ts
  typings/internal-ambient.d.ts
Owners: none

feat: add groupId support for remove (removeGroup)
  docs/api/notification.md
  lib/browser/api/notification.ts
  shell/browser/api/electron_api_notification.cc
  shell/browser/api/electron_api_notification.h
  shell/browser/notifications/mac/notification_presenter_mac.h
  shell/browser/notifications/mac/notification_presenter_mac.mm
  shell/browser/notifications/notification_presenter.cc
  shell/browser/notifications/notification_presenter.h
  spec/api-notification-spec.ts
  typings/internal-ambient.d.ts
Owners: none

chore: add missing timers-shim.ts to filenames.auto.gni
  filenames.auto.gni
Owners: none

chore: fixup patch indices
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/custom_protocols_plzserviceworker.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_enable_offscreen_rendering_with_viz_compositor.patch
  patches/chromium/fix_adjust_headless_mode_handling_in_native_widget.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_disabling_background_throttling_in_compositor.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/render_widget_host_view_mac.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/webview_fullscreen.patch
Owners: @electron/patch-owners

chore: fixup patch indices
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/custom_protocols_plzserviceworker.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/notification_provenance.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/support_mixed_sandbox_with_zygote.patch
Owners: @electron/patch-owners

chore: add missing timers-shim.ts to filenames.auto.gni (#50311)
  filenames.auto.gni
Owners: none

fix: handle unparseable frame URL in dialog handler
  lib/browser/api/web-contents.ts
Owners: none

chore: fixup patch indices
  patches/chromium/blink_local_frame.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/custom_protocols_plzserviceworker.patch
  patches/chromium/dom_storage_limits.patch
  patches/chromium/feat_configure_launch_options_for_service_process.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_enable_passing_exit_code_on_service_process_crash.patch
  patches/chromium/feat_expose_raw_response_headers_from_urlloader.patch
  patches/chromium/feat_separate_content_settings_callback_for_sync_and_async_clipboard.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
  patches/chromium/refactor_patch_electron_permissiontypes_into_blink.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/webview_fullscreen.patch
Owners: @electron/patch-owners

ci: update test timeout to 60 minutes (#50305)
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

7666125: Migrate ServiceWorkerContext to ChildProcessId
  shell/browser/api/electron_api_service_worker_context.cc
  shell/browser/api/electron_api_service_worker_context.h
Owners: none

ci: add functionality for programmatic add/remove needs-signed-commits label
  .github/workflows/build.yml
  .github/workflows/pull-request-opened-synchronized.yml
Owners: @electron/wg-infra

add new line to pull-request-opened-synchronized
  .github/workflows/pull-request-opened-synchronized.yml
Owners: none

docs: fix markdown formatting in fuses.md
  docs/tutorial/fuses.md
Owners: none

refactor: replace CHILD_PLUGIN with CHILD_EMBEDDER_FIRST on macOS
  BUILD.gn
  patches/chromium/.patches
  patches/chromium/feat_restore_macos_child_plugin_process.patch
  shell/app/electron_main_delegate_mac.mm
  shell/browser/api/electron_api_app.cc
  shell/browser/api/electron_api_utility_process.cc
  shell/browser/electron_browser_client.cc
  shell/browser/electron_browser_client.h
  shell/browser/electron_child_process_host_flags.h
  shell/common/mac/main_application_bundle.mm
Owners: @electron/patch-owners

perf: use base::flat_map in GlobalShortcut
  shell/browser/api/electron_api_global_shortcut.h
Owners: none

refactor: replace `CHILD_PLUGIN` with `CHILD_EMBEDDER_FIRST` on macOS (#50278)
  BUILD.gn
  patches/chromium/.patches
  patches/chromium/feat_restore_macos_child_plugin_process.patch
  shell/app/electron_main_delegate_mac.mm
  shell/browser/api/electron_api_app.cc
  shell/browser/api/electron_api_utility_process.cc
  shell/browser/electron_browser_client.cc
  shell/browser/electron_browser_client.h
  shell/browser/electron_child_process_host_flags.h
  shell/common/mac/main_application_bundle.mm
Owners: @electron/patch-owners

feat,refactor: rework getHistory, return Notification objects
  docs/api/notification.md
  docs/api/structures/notification-history-info.md
  shell/browser/api/electron_api_notification.cc
  shell/browser/notifications/mac/cocoa_notification.h
  shell/browser/notifications/mac/cocoa_notification.mm
  shell/browser/notifications/notification.h
  spec/api-notification-spec.ts
  typings/internal-ambient.d.ts
Owners: none

Respect HTTP(S) proxy env variable for Yarn
  .yarnrc.yml
Owners: none

docs: apply suggestions from code review
  docs/tutorial/fuses.md
Owners: none

fix: frameless modal window does not respect given size on macOS
  shell/browser/native_window_mac.mm
  spec/api-browser-window-spec.ts
Owners: none

feat: add `Notification.getHistory()` static method (macOS)
  docs/api/notification.md
  lib/browser/api/notification.ts
  shell/browser/api/electron_api_notification.cc
  shell/browser/api/electron_api_notification.h
  shell/browser/notifications/mac/cocoa_notification.h
  shell/browser/notifications/mac/cocoa_notification.mm
  shell/browser/notifications/mac/notification_presenter_mac.h
  shell/browser/notifications/mac/notification_presenter_mac.mm
  shell/browser/notifications/notification.cc
  shell/browser/notifications/notification.h
  shell/browser/notifications/notification_presenter.cc
  shell/browser/notifications/notification_presenter.h
  spec/api-notification-spec.ts
  typings/internal-ambient.d.ts
Owners: none

fix: correct utility process exit code on Windows
  shell/browser/api/electron_api_utility_process.cc
Owners: none

fix: narrow HandleTermination and Shutdown to uint32_t, add tests
  shell/browser/api/electron_api_utility_process.cc
  shell/browser/api/electron_api_utility_process.h
  spec/api-utility-process-spec.ts
Owners: none

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra
