Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

fixup patches/node/api_remove_deprecated_getisolate.patch
  patches/node/api_remove_deprecated_getisolate.patch
Owners: @electron/patch-owners

feat: add `sharedTexture` module
  BUILD.gn
  docs/api/shared-texture.md
  docs/api/structures/shared-texture-import-texture-info.md
  docs/api/structures/shared-texture-imported-subtle.md
  docs/api/structures/shared-texture-imported.md
  docs/api/structures/shared-texture-subtle.md
  docs/api/structures/shared-texture-sync-token.md
  docs/api/structures/shared-texture-transfer.md
  filenames.auto.gni
  filenames.gni
  lib/browser/api/module-list.ts
  lib/browser/api/shared-texture.ts
  lib/browser/ipc-main-internal-utils.ts
  lib/common/ipc-messages.ts
  lib/renderer/api/module-list.ts
  lib/renderer/api/shared-texture.ts
  lib/sandboxed_renderer/api/module-list.ts
  shell/browser/osr/osr_render_widget_host_view.cc
  shell/common/api/electron_api_shared_texture.cc
  shell/common/api/electron_api_shared_texture.h
  shell/common/gin_converters/gfx_converter.cc
  shell/common/node_bindings.cc
  spec/api-shared-texture-spec.ts
  spec/fixtures/api/shared-texture/common.js
  spec/fixtures/api/shared-texture/image.png
  spec/fixtures/api/shared-texture/managed/frame.html
  spec/fixtures/api/shared-texture/managed/index.html
  spec/fixtures/api/shared-texture/managed/preload.js
  spec/fixtures/api/shared-texture/managed/renderer.js
  spec/fixtures/api/shared-texture/osr.html
  spec/fixtures/api/shared-texture/subtle/index.html
  spec/fixtures/api/shared-texture/subtle/preload.js
  spec/fixtures/api/shared-texture/subtle/renderer.js
  typings/internal-ambient.d.ts
Owners: none

refactor: remove redundant map lookups in `browser/api/menu.ts` (#48706)
  lib/browser/api/menu.ts
Owners: none

refactor: remove redundant map lookups in `browser/api/menu.ts` (#48706)
  lib/browser/api/menu.ts
Owners: none

fix: osr use correct screen info.
  patches/chromium/.patches
  patches/chromium/patch_osr_control_screen_info.patch
  shell/browser/osr/osr_render_widget_host_view.cc
  shell/browser/osr/osr_render_widget_host_view.h
  spec/api-browser-window-spec.ts
Owners: @electron/patch-owners

src: add percentage support to --max-old-space-size
  script/node-disabled-tests.json
Owners: none

ci: set PR triage status when CI action required
  .github/workflows/check-suite-completed.yml
Owners: none

docs: add comprehensive example demonstrating safe file drag and drop handling in Electron apps
  docs/images/From_Os_To_Electron.gif
  docs/tutorial/native-file-drag-drop.md
Owners: none

chore: fixup crypto patch
  patches/node/fix_handle_boringssl_and_openssl_incompatibilities.patch
Owners: @electron/patch-owners

chore: fixup crypto test patch
  patches/node/fix_crypto_tests_to_run_with_bssl.patch
  patches/node/fix_handle_boringssl_and_openssl_incompatibilities.patch
Owners: @electron/patch-owners

chore: upgrade Node.js to v24.10.0
  DEPS
Owners: @electron/wg-upgrades

lib,src: refactor assert to load error source from memory
  patches/node/.patches
  patches/node/fix_assert_module_in_the_renderer_process.patch
Owners: @electron/patch-owners

esm: fix module.exports export on CJS modules
  patches/node/fix_expose_the_built-in_electron_module_via_the_esm_loader.patch
Owners: @electron/patch-owners

esm: Source Phase Imports for WebAssembly
  patches/node/chore_expose_importmoduledynamically_and.patch
Owners: @electron/patch-owners

chore: fixup lazyload fs patch
  patches/node/fix_lazyload_fs_in_esm_loaders_to_apply_asar_patches.patch
Owners: @electron/patch-owners

src: prepare for v8 sandboxing
  patches/node/support_v8_sandboxed_pointers.patch
Owners: @electron/patch-owners

module: remove --experimental-default-type
  patches/node/fix_do_not_resolve_electron_entrypoints.patch
Owners: @electron/patch-owners

src: stop using deprecated fields of v8::FastApiCallbackOptions
  patches/node/.patches
  patches/node/src_stop_using_deprecated_fields_of_fastapicallbackoptions.patch
Owners: @electron/patch-owners

src: remove dependency on wrapper-descriptor-based CppHeap
  patches/node/.patches
  patches/node/src_remove_dependency_on_wrapper-descriptor-based_cppheap.patch
Owners: @electron/patch-owners

src: do not use soon-to-be-deprecated V8 API
  patches/node/.patches
  patches/node/src_do_not_use_soon-to-be-deprecated_v8_api.patch
Owners: @electron/patch-owners

src: add source location to v8::TaskRunner
  patches/node/.patches
  patches/node/fix_add_source_location_for_v8_task_runner.patch
Owners: @electron/patch-owners

test: update v8-stats test for V8 12.6
  patches/node/.patches
  patches/node/test_update_v8-stats_test_for_v8_12_6.patch
Owners: @electron/patch-owners

src: replace uses of FastApiTypedArray
  patches/node/.patches
  patches/node/fix_remove_fastapitypedarray_usage.patch
Owners: @electron/patch-owners

esm: unflag --experimental-wasm-modules
  patches/node/.patches
  patches/node/fix_remove_outdated_v8_flags_from_node_cc.patch
Owners: @electron/patch-owners

src,test: unregister the isolate after disposal and before freeing
  patches/node/refactor_attach_cppgc_heap_on_v8_isolate_creation.patch
Owners: @electron/patch-owners

test: adapt assert tests to stack trace changes
  patches/node/.patches
  patches/node/test_use_static_method_names_in_call_stacks.patch
Owners: @electron/patch-owners

src: use cppgc to manage ContextifyContext
  patches/node/.patches
  patches/node/fix_task_starvation_in_inspector_context_test.patch
Owners: @electron/patch-owners

module: integrate TypeScript into compile cache
  patches/node/fix_expose_readfilesync_override_for_modules.patch
Owners: @electron/patch-owners

src: switch from `Get/SetPrototype` to `Get/SetPrototypeV2`
  patches/node/.patches
  patches/node/src_switch_from_get_setprototype_to_get_setprototypev2.patch
Owners: @electron/patch-owners

deps: update ada to 3.2.7
  patches/node/.patches
  patches/node/chore_add_missing_include_of_iterator.patch
Owners: @electron/patch-owners

src: make minor cleanups in encoding_binding.cc
  patches/node/api_remove_deprecated_getisolate.patch
Owners: @electron/patch-owners

src: simplify string_bytes with views
  patches/node/.patches
  patches/node/src_simplify_string_bytes_with_views.patch
Owners: @electron/patch-owners

src: use non-deprecated Get/SetPrototype methods
  patches/node/.patches
  patches/node/fix_replace_deprecated_setprototype.patch
Owners: @electron/patch-owners

src: improve utf8 string generation performance
  patches/node/.patches
  patches/node/src_improve_utf8_string_generation_performance.patch
Owners: @electron/patch-owners

src: refactor WriteUCS2 and remove flags argument
  patches/node/.patches
  patches/node/src_refactor_writeucs2_and_remove_flags_argument.patch
Owners: @electron/patch-owners

src: use non-deprecated WriteUtf8V2() method
  patches/node/.patches
  patches/node/src_use_non-deprecated_writeutf8v2_method.patch
Owners: @electron/patch-owners

src: use String::WriteV2() in TwoByteValue
  patches/node/.patches
  patches/node/src_use_string_writev2_in_twobytevalue.patch
Owners: @electron/patch-owners

src: use non-deprecated Utf8LengthV2() method
  patches/node/.patches
  patches/node/src_use_non-deprecated_utf8lengthv2_method.patch
Owners: @electron/patch-owners

src: avoid copy by using std::views::keys
  patches/node/api_remove_deprecated_getisolate.patch
Owners: @electron/patch-owners

fs: introduce dirent\.parentPath
  lib/node/asar-fs-wrapper.ts
Owners: none

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra
