Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

fix: don't allow auto-updating when using appinstaller manifest
  lib/browser/api/auto-updater/auto-updater-msix.ts
Owners: none

fix: getPackageInfo interface implementation
  docs/api/auto-updater.md
  docs/api/structures/package-info.md
  lib/browser/api/auto-updater/auto-updater-win.ts
Owners: none

fix: review feedback, add comment
  lib/browser/api/auto-updater.ts
Owners: none

fix: missed filename commit
  filenames.auto.gni
Owners: none

fix: install test cert on demand
  spec/api-autoupdater-msix-spec.ts
  spec/fixtures/api/autoupdater/msix/MSIXDevCert.cer
  spec/fixtures/api/autoupdater/msix/install_test_cert.ps1
  spec/lib/msix-helpers.ts
Owners: none

fix: time stamp mismatch in tests
  spec/api-autoupdater-msix-spec.ts
Owners: none

fix: feedback - rename to MSIXPackageInfo
  docs/api/auto-updater.md
  docs/api/structures/msix-package-info.md
  lib/browser/api/auto-updater/auto-updater-win.ts
Owners: none

fix: update and reference windowsStore property
  docs/api/auto-updater.md
  docs/api/process.md
Owners: none

fix: remove getPackagInfo from public API
  docs/api/auto-updater.md
  docs/api/structures/msix-package-info.md
  filenames.auto.gni
Owners: none

put back patch
  patches/chromium/.patches
  patches/chromium/crash_allow_setting_more_options.patch
Owners: @electron/patch-owners

fix: potential dangling pointer in api::Screen (#49536)
  shell/browser/api/electron_api_screen.cc
  shell/browser/api/electron_api_screen.h
Owners: none

7000847: add type tag to v8::External for gin_helper function templates
  shell/common/gin_helper/function_template.cc
  shell/common/gin_helper/function_template.h
Owners: none

fix(patch-update): extend V8 Object API deprecation patch for Node.js
  patches/node/api_promote_deprecation_of_v8_context_and_v8_object_api_methods.patch
Owners: @electron/patch-owners

7000847: add type tag to v8::External calls in shared_texture
  shell/common/api/electron_api_shared_texture.cc
Owners: none

7508687: use ChildProcessId for file permission APIs
  shell/browser/api/electron_api_web_contents.cc
Owners: none

7000847: add type tag to v8::External calls in callback and osr_converter
  shell/common/gin_converters/osr_converter.cc
  shell/common/gin_helper/callback.cc
Owners: none

fixup! 7087956: [api] Promote deprecation of v8::Context and v8::Object API methods
  patches/node/api_promote_deprecation_of_v8_context_and_v8_object_api_methods.patch
Owners: @electron/patch-owners

fix: do checks earlier with throwable javascript error
  shell/common/api/electron_api_shared_texture.cc
Owners: none

test: remove split dependency
  spec/api-app-spec.ts
  spec/package.json
  yarn.lock
Owners: none

test: fix flaky `BrowserWindow` test (#49364)
  spec/api-browser-window-spec.ts
Owners: none

ci: rework reapply patches
  .github/workflows/apply-patches.yml
  .github/workflows/build.yml
  .github/workflows/rerun-apply-patches.yml
Owners: @electron/wg-infra

docs: add jsign instructions for Azure Trusted Signing on Linux/macOS
  docs/tutorial/code-signing.md
Owners: none

fix: macOS menu item acceerators when item disabled
  shell/browser/ui/cocoa/electron_menu_controller.mm
Owners: none

test: remove split dependency (#49551)
  spec/api-app-spec.ts
  spec/package.json
  yarn.lock
Owners: none

docs: add clickable jsign link for Azure Trusted Signing
  docs/tutorial/code-signing.md
Owners: none

fix: apply default accelerator for role-based menu items
  docs/api/menu-item.md
  lib/browser/api/menu-item-roles.ts
  lib/browser/api/menu-item.ts
  spec/api-menu-item-spec.ts
Owners: none

fix: chrome://accessibility drift (#49547)
  shell/browser/ui/webui/accessibility_ui.cc
  shell/browser/ui/webui/accessibility_ui.h
Owners: none

fix: restore 128x128 window icons for desktopCapturer on macOS
  patches/chromium/fix_add_support_for_skipping_first_2_no-op_refreshes_in_thumb_cap.patch
Owners: @electron/patch-owners

refactor: address PathProvider TODO
  filenames.gni
  shell/app/electron_main_delegate.cc
  shell/common/electron_paths.cc
  shell/common/electron_paths.h
Owners: none

fix: type error bcause of removed API
  lib/browser/api/auto-updater/auto-updater-win.ts
Owners: none

test: fix flaky `BrowserView` test (#49316)
  spec/api-browser-view-spec.ts
Owners: none

add workflow for commenting with new 'ai-pr' label
  .github/workflows/pull-request-labeled.yml
Owners: none

Update .github/workflows/pull-request-labeled.yml
  .github/workflows/pull-request-labeled.yml
Owners: none

add pr autoclose
  .github/workflows/pull-request-labeled.yml
Owners: none

replace with specific secret
  .github/workflows/pull-request-labeled.yml
Owners: none

specify repo
  .github/workflows/pull-request-labeled.yml
Owners: none

add did as prefix as events had already happened by the time they're emitted
  docs/api/base-window.md
  docs/api/browser-window.md
  shell/browser/api/electron_api_base_window.cc
Owners: none

update wording of comment
  .github/workflows/pull-request-labeled.yml
Owners: none

build(dev-deps): bump @electron/lint-roller to 3.2.0
  package.json
  yarn.lock
Owners: none

chore: use GH app token
  .github/workflows/pull-request-labeled.yml
Owners: none

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra
