Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra

Revert "fixup! 7508687: use ChildProcessId for file permission APIs"
  shell/browser/api/electron_api_web_contents.cc
Owners: none

fixup! fix(patch-conflict): update MAS safestorage for keychain API refactor
  patches/chromium/feat_ensure_mas_builds_of_the_same_application_can_use_safestorage.patch
Owners: @electron/patch-owners

test: drag region tests (#49266)
  package.json
  spec/api-browser-window-spec.ts
  spec/drag-region-spec.ts
  spec/fixtures/pages/draggable-page.html
  spec/fixtures/pages/iframe.html
  spec/fixtures/pages/webview.html
  yarn.lock
Owners: none

feat: improve Windows Toast actions support
  docs/api/app.md
  docs/api/notification.md
  docs/api/structures/notification-action.md
  filenames.gni
  shell/browser/api/electron_api_app.cc
  shell/browser/api/electron_api_app.h
  shell/browser/api/electron_api_notification.cc
  shell/browser/api/electron_api_notification.h
  shell/browser/notifications/mac/cocoa_notification.mm
  shell/browser/notifications/notification.cc
  shell/browser/notifications/notification.h
  shell/browser/notifications/notification_delegate.h
  shell/browser/notifications/win/notification_presenter_win.cc
  shell/browser/notifications/win/windows_toast_activator.cc
  shell/browser/notifications/win/windows_toast_activator.h
  shell/browser/notifications/win/windows_toast_notification.cc
  shell/browser/notifications/win/windows_toast_notification.h
  shell/common/application_info.h
  shell/common/application_info_win.cc
Owners: none

fix: ensure MSIX compatibility
  shell/browser/notifications/win/windows_toast_activator.cc
Owners: none

test: add bad clsid format test
  spec/api-app-spec.ts
Owners: none

fix: make pointer lock work on Wayland
  patches/chromium/.patches
  patches/chromium/move_wayland_pointer_lock_overrides_to_common_code.patch
Owners: @electron/patch-owners

fix: frameless window resize in MAS builds
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
Owners: @electron/patch-owners

feat: expose Notification.getHistory()
  docs/api/notification.md
  lib/browser/api/notification.ts
  shell/browser/api/electron_api_notification.cc
  shell/browser/api/electron_api_notification.h
  shell/browser/notifications/win/windows_toast_notification.cc
  shell/browser/notifications/win/windows_toast_notification.h
  typings/internal-ambient.d.ts
Owners: none

feat: add support for disclaiming utility processes (#49696)
  docs/api/utility-process.md
  patches/chromium/feat_configure_launch_options_for_service_process.patch
  patches/chromium/feat_enable_passing_exit_code_on_service_process_crash.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  shell/browser/api/electron_api_utility_process.cc
  shell/browser/api/electron_api_utility_process.h
  spec/api-utility-process-spec.ts
Owners: @electron/patch-owners

chore: fixup patches
  patches/chromium/loaf_add_feature_to_enable_sourceurl_for_all_protocols.patch
Owners: @electron/patch-owners

chore: fixup patches
  patches/chromium/loaf_add_feature_to_enable_sourceurl_for_all_protocols.patch
Owners: @electron/patch-owners

build: generate artifact attestions for released assets (#49769)
  .github/actions/build-electron/action.yml
  .github/workflows/linux-publish.yml
  .github/workflows/macos-publish.yml
  .github/workflows/pipeline-electron-lint.yml
  .github/workflows/pipeline-segment-electron-publish.yml
  .github/workflows/windows-publish.yml
  package.json
  script/copy-pipeline-segment-publish.js
  script/release/uploaders/upload.py
  yarn.lock
Owners: @electron/wg-infra, @electron/wg-releases

fix: menu close event missing after opening a submenu
  shell/browser/ui/cocoa/electron_menu_controller.mm
Owners: none

chore: add copilot-instructions
  .github/copilot-instructions.md
Owners: none

doc: align Buffer.concat documentation with behavior
  patches/node/support_v8_sandboxed_pointers.patch
Owners: @electron/patch-owners

chore: fixup patches
  patches/node/.patches
  patches/node/api_promote_deprecation_of_v8_context_and_v8_object_api_methods.patch
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/build_add_gn_build_files.patch
  patches/node/build_enable_perfetto.patch
  patches/node/build_ensure_native_module_compilation_fails_if_not_using_a_new.patch
  patches/node/build_modify_js2c_py_to_allow_injection_of_original-fs_and_custom_embedder_js.patch
  patches/node/build_restore_clang_as_default_compiler_on_macos.patch
  patches/node/build_restore_macos_deployment_target_to_12_0.patch
  patches/node/chore_disable_deprecation_ftbfs_in_simdjson_header.patch
  patches/node/expose_get_builtin_module_function.patch
  patches/node/feat_disable_js_source_phase_imports_by_default.patch
  patches/node/fix_add_default_values_for_variables_in_common_gypi.patch
  patches/node/fix_allow_disabling_fetch_in_renderer_and_worker_processes.patch
  patches/node/fix_allow_passing_fileexists_fn_to_legacymainresolve.patch
  patches/node/fix_array_out-of-bounds_read_in_boyer-moore_search.patch
  patches/node/fix_avoid_external_memory_leak_on_invalid_tls_protocol_versions.patch
  patches/node/fix_cppgc_initializing_twice.patch
  patches/node/fix_crypto_tests_to_run_with_bssl.patch
  patches/node/fix_ensure_traverseparent_bails_on_resource_path_exit.patch
  patches/node/fix_expose_readfilesync_override_for_modules.patch
  patches/node/fix_expose_the_built-in_electron_module_via_the_esm_loader.patch
  patches/node/fix_handle_boringssl_and_openssl_incompatibilities.patch
  patches/node/fix_lazyload_fs_in_esm_loaders_to_apply_asar_patches.patch
  patches/node/fix_suppress_nodiscard_warning_for_copy_options_operator.patch
  patches/node/pass_all_globals_through_require.patch
  patches/node/refactor_attach_cppgc_heap_on_v8_isolate_creation.patch
  patches/node/src_handle_der_decoding_errors_from_system_certificates.patch
  patches/node/src_stop_using_v8_propertycallbackinfo_t_this.patch
  patches/node/support_v8_sandboxed_pointers.patch
  patches/node/test_formally_mark_some_tests_as_flaky.patch
  patches/node/test_make_buffer_sizes_32bit-aware_in.patch
Owners: @electron/patch-owners

fix: generate_config_gypi needs to generate valid JSON
  patches/node/.patches
  patches/node/fix_generate_config_gypi_needs_to_generate_valid_json.patch
Owners: @electron/patch-owners

src: fix off-thread cert loading in bundled cert mode
  script/node-disabled-tests.json
Owners: none

build: fix extraneous includes
  patches/node/api_promote_deprecation_of_v8_context_and_v8_object_api_methods.patch
  patches/node/fix_avoid_external_memory_leak_on_invalid_tls_protocol_versions.patch
  patches/node/fix_expose_readfilesync_override_for_modules.patch
Owners: @electron/patch-owners

feat: allow defaulting to printer default page size
  docs/api/web-contents.md
  docs/api/webview-tag.md
  lib/browser/api/web-contents.ts
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/printing/printing_utils.cc
  shell/browser/printing/printing_utils.h
  spec/api-web-contents-spec.ts
Owners: none

build: use spawn instead of spawnSync for build
  .github/actions/install-build-tools/action.yml
Owners: @electron/wg-infra

build: lint commits on Chromium roller branches
  package.json
  script/lib/utils.js
  script/lint-roller-chromium-changes.mjs
  script/release/notes/notes.ts
Owners: @electron/wg-releases

chore: add ability to skip linting CLs by adding #nolint
  script/lint-roller-chromium-changes.mjs
Owners: none

feat: improve Windows Toast actions support (#48132)
  docs/api/app.md
  docs/api/notification.md
  docs/api/structures/notification-action.md
  filenames.gni
  shell/browser/api/electron_api_app.cc
  shell/browser/api/electron_api_app.h
  shell/browser/api/electron_api_notification.cc
  shell/browser/api/electron_api_notification.h
  shell/browser/notifications/mac/cocoa_notification.mm
  shell/browser/notifications/notification.cc
  shell/browser/notifications/notification.h
  shell/browser/notifications/notification_delegate.h
  shell/browser/notifications/win/notification_presenter_win.cc
  shell/browser/notifications/win/windows_toast_activator.cc
  shell/browser/notifications/win/windows_toast_activator.h
  shell/browser/notifications/win/windows_toast_notification.cc
  shell/browser/notifications/win/windows_toast_notification.h
  shell/common/application_info.h
  shell/common/application_info_win.cc
  spec/api-app-spec.ts
Owners: none

test: remove redundent feedURL test
  spec/api-auto-updater-spec.ts
  spec/lib/codesign-helpers.ts
Owners: none

chore: cherry-pick e045399a1ecb from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-e045399a1ecb.patch
Owners: @electron/patch-owners

chore: cherry-pick e045399a1ecb from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-e045399a1ecb.patch
Owners: @electron/patch-owners

chore: cherry-pick e045399a1ecb from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-e045399a1ecb.patch
Owners: @electron/patch-owners

chore: update patch
  patches/chromium/cherry-pick-e045399a1ecb.patch
Owners: @electron/patch-owners

chore: cherry-pick e045399a1ecb from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-e045399a1ecb.patch
Owners: @electron/patch-owners

chore: cherry-pick e045399a1ecb from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-e045399a1ecb.patch
Owners: @electron/patch-owners

chore: update patch
  patches/chromium/cherry-pick-e045399a1ecb.patch
Owners: @electron/patch-owners

chore: update patch
  patches/chromium/cherry-pick-e045399a1ecb.patch
Owners: @electron/patch-owners

chore: update patch
  patches/chromium/cherry-pick-e045399a1ecb.patch
Owners: @electron/patch-owners

chore: update patch
  patches/chromium/cherry-pick-e045399a1ecb.patch
Owners: @electron/patch-owners

chore: cherry-pick e045399a1ecb from chromium (#49790)
  patches/chromium/.patches
  patches/chromium/cherry-pick-e045399a1ecb.patch
Owners: @electron/patch-owners

chore: cherry-pick e045399a1ecb from chromium (#49791)
  patches/chromium/.patches
  patches/chromium/cherry-pick-e045399a1ecb.patch
Owners: @electron/patch-owners

chore: cherry-pick e045399a1ecb from chromium (#49789)
  patches/chromium/.patches
  patches/chromium/cherry-pick-e045399a1ecb.patch
Owners: @electron/patch-owners

chore: fix older method in patch
  patches/chromium/cherry-pick-e045399a1ecb.patch
Owners: @electron/patch-owners
