Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra

chore: cherry-pick 62af07e96173 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-62af07e96173.patch
Owners: @electron/patch-owners

chore: update patches
  patches/v8/cherry-pick-62af07e96173.patch
Owners: @electron/patch-owners

test: add tests for fs.cp methods with ASAR
  spec/asar-spec.ts
Owners: none

refactor: rename BaseWindow.clearWindowState to clearPersistedState
  docs/api/base-window.md
  lib/browser/api/browser-window.ts
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  shell/browser/native_window.cc
  spec/api-browser-window-spec.ts
Owners: none

refactor: rename event restored-window-state to restored-persisted-state
  docs/api/base-window.md
  shell/browser/api/electron_api_base_window.cc
  spec/api-browser-window-spec.ts
Owners: none

chore: fixup types after yarn v4 migration
  lib/browser/api/net-fetch.ts
  lib/browser/api/protocol.ts
  lib/browser/init.ts
  spec/api-context-bridge-spec.ts
  spec/api-ipc-spec.ts
Owners: none

chore: update nan yarn.lock file
  patches/nan/chore_add_yarnrc_yml_and_yarn_lock_file_to_use_yarn_v4.patch
Owners: @electron/patch-owners

chore: cherry-pick 62af07e96173 from v8 (#49015)
  .github/workflows/build.yml
  patches/v8/.patches
  patches/v8/cherry-pick-62af07e96173.patch
Owners: @electron/wg-infra, @electron/patch-owners

chore: fixup types after yarn v4 migration
  lib/browser/api/net-fetch.ts
  lib/browser/api/protocol.ts
  lib/browser/init.ts
  spec/api-context-bridge-spec.ts
  spec/api-ipc-spec.ts
Owners: none

chore: update nan yarn.lock patch
  patches/nan/chore_add_yarnrc_yml_and_yarn_lock_file_to_use_yarn_v4.patch
Owners: @electron/patch-owners

fix: revert the parent window remained interactive after the modal window was opened (#48977)
  shell/browser/native_window_views.cc
Owners: none

build: automatically install git for dugite
  .github/actions/install-dependencies/action.yml
  package.json
  yarn.lock
Owners: @electron/wg-infra

build: automatically install git for dugite
  .github/actions/install-dependencies/action.yml
  package.json
  yarn.lock
Owners: @electron/wg-infra

build: automatically install git for dugite
  .github/actions/install-dependencies/action.yml
  package.json
  yarn.lock
Owners: @electron/wg-infra

build: automatically install git for dugite
  .github/actions/install-dependencies/action.yml
  package.json
  yarn.lock
Owners: @electron/wg-infra

docs: better docs for virtual display addon
  docs/development/multi-monitor-testing.md
Owners: none

docs: better docs for virtual display addon
  docs/development/multi-monitor-testing.md
Owners: none

fix: ensure only single display before multi monitor tests
  spec/api-browser-window-spec.ts
  spec/fixtures/native-addon/virtual-display/lib/virtual-display.js
Owners: none

emove libXScrnSaver
  docs/development/build-instructions-linux.md
Owners: none

fix: only call popup closecallback for top-level menu
  shell/browser/ui/cocoa/electron_menu_controller.mm
Owners: none

dependencies
  docs/tutorial/linux-dependencies.md
Owners: none

lint error
  docs/development/build-instructions-linux.md
  docs/tutorial/linux-dependencies.md
  docs/tutorial/menus.md
  yarn.lock
Owners: none

reverted touching dependencies
  docs/tutorial/linux-dependencies.md
Owners: none

Revert yarn.lock to original state
  yarn.lock
Owners: none

feat: Add navigator.setUA() method to override User-Agent Client Hints and userAgent is now using session based data
  patches/chromium/.patches
  patches/chromium/feat_add_navigator_setua_method_to_override_user-agent_client.patch
  shell/browser/electron_browser_client.cc
  shell/browser/electron_browser_client.h
Owners: @electron/patch-owners

chore: backport 744f40f from devtools-frontend
  patches/devtools_frontend/.patches
  patches/devtools_frontend/fix_element_tree_flickering_with_node_inspection.patch
Owners: @electron/patch-owners

fix: exception when reading system certificates via nodejs
  patches/node/.patches
  patches/node/src_handle_der_decoding_errors_from_system_certificates.patch
Owners: @electron/patch-owners

build: automatically install git for dugite (#49022)
  .github/actions/install-dependencies/action.yml
  package.json
  yarn.lock
Owners: @electron/wg-infra

docs: update linux build instructions
  docs/development/build-instructions-linux.md
Owners: none

docs: fix initiator field list grammar
  docs/api/web-contents.md
Owners: none

fix(patch-conflict): update picture-in-picture for gesture handling refactor
  patches/chromium/picture-in-picture.patch
Owners: @electron/patch-owners

fix(patch-conflict): update protocol handler check for upstream null guard
  patches/chromium/chore_disable_protocol_handler_dcheck.patch
Owners: @electron/patch-owners

chore: update patch hunk headers
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/disable_hidden.patch
  patches/chromium/expose_setuseragent_on_networkcontext.patch
  patches/chromium/feat_allow_code_cache_in_custom_schemes.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/fix_move_autopipsettingshelper_behind_branding_buildflag.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/network_service_allow_remote_certificate_verification_logic.patch
  patches/chromium/revert_code_health_clean_up_stale_macwebcontentsocclusion.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/scroll_bounce_flag.patch
  patches/devtools_frontend/chore_expose_ui_to_allow_electron_to_set_dock_side.patch
  patches/reclient-configs/fix_add_python_remote_wrapper.patch
  patches/webrtc/fix_handle_pipewire_capturer_initialization_and_management.patch
Owners: @electron/patch-owners

docs: clarify how to create transparent BaseWindow
  docs/api/structures/base-window-options.md
Owners: none

Update docs/development/build-instructions-linux.md
  docs/development/build-instructions-linux.md
Owners: none

Update docs/development/build-instructions-linux.md
  docs/development/build-instructions-linux.md
Owners: none

feat: import shared texture supports nv12. (#48922)
  docs/api/structures/shared-texture-import-texture-info.md
  shell/common/api/electron_api_shared_texture.cc
Owners: none

fix: exception when reading system certificates via nodejs (#49028)
  patches/node/.patches
  patches/node/src_handle_der_decoding_errors_from_system_certificates.patch
Owners: @electron/patch-owners

chore: backport 744f40f from devtools-frontend (#49027)
  patches/devtools_frontend/.patches
  patches/devtools_frontend/fix_element_tree_flickering_with_node_inspection.patch
Owners: @electron/patch-owners

fix: only call popup closecallback for top-level menu (#49017)
  shell/browser/ui/cocoa/electron_menu_controller.mm
Owners: none
