Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra

Improve Electron child process lifecycle handling (#49257)
  script/start.js
Owners: none

fix: include custom macOS packages (LSTypeIsPackage) in file dialog filters
  shell/browser/ui/file_dialog_mac.mm
Owners: none

fix: main process net failed after network service restart
  shell/browser/electron_browser_context.cc
  shell/browser/electron_browser_context.h
Owners: none

fix: pulseaudio stream and icon names
  patches/chromium/.patches
  patches/chromium/fix_pulseaudio_stream_and_icon_names.patch
  shell/browser/feature_list.cc
Owners: @electron/patch-owners

feat: import shared texture supports p010le.
  docs/api/structures/shared-texture-import-texture-info.md
  shell/common/api/electron_api_shared_texture.cc
Owners: none

fix: default to DIR_HOME if DIR_DEFAULT_DOWNLOADS is not defined
  shell/browser/electron_browser_client.cc
Owners: none

feat: support LoAF script attribution for non-HTTPS URLs
  patches/chromium/.patches
  patches/chromium/feat_expose_loaf_script_attribution_for_non_https.patch
  spec/api-loaf-spec.ts
  spec/fixtures/pages/loaf-test.html
Owners: @electron/patch-owners

feat: expose LoAF script attribution for non-HTTPS source URLs
  LOAF_FIX_README.md
Owners: none

chore: remove internal documentation from PR
  LOAF_FIX_README.md
Owners: none

chore: update patches (trivial only)
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_partial_revert_of.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/extend_apply_webpreferences.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_expose_raw_response_headers_from_urlloader.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/gritsettings_resource_ids.patch
  patches/chromium/printing.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/refactor_unfilter_unresponsive_events.patch
  patches/chromium/revert_partial_remove_unused_prehandlemouseevent.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/web_contents.patch
  patches/chromium/webview_fullscreen.patch
Owners: @electron/patch-owners

[bytesize] Migrate network data in Task Manager to ByteSize.
  shell/browser/net/url_loader_network_observer.h
  shell/common/api/electron_api_url_loader.h
Owners: none

fix: make pointer lock work on Wayland
  shell/browser/ui/electron_desktop_window_tree_host_linux.cc
  shell/browser/ui/electron_desktop_window_tree_host_linux.h
Owners: none

chore: cherry-pick e0052e7af9c9 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-e0052e7af9c9.patch
Owners: @electron/patch-owners

chore: cherry-pick e0052e7af9c9 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-e0052e7af9c9.patch
Owners: @electron/patch-owners

build: add dawn config
  patches/config.json
  patches/dawn/.patches
Owners: @electron/patch-owners

chore: cherry-pick 7369bddb2b51 from dawn
  patches/dawn/.patches
  patches/dawn/cherry-pick-7369bddb2b51.patch
Owners: @electron/patch-owners

chore: update patches
  patches/dawn/cherry-pick-7369bddb2b51.patch
Owners: @electron/patch-owners

chore: update patches
  patches/v8/cherry-pick-e0052e7af9c9.patch
Owners: @electron/patch-owners

chore: update patches
  patches/v8/cherry-pick-e0052e7af9c9.patch
Owners: @electron/patch-owners

chore: update patches
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/chore_add_electron_deps_to_gitignores.patch
  patches/chromium/chore_expose_isolate_parameter_in_script_lifecycle_observers.patch
  patches/chromium/gritsettings_resource_ids.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
Owners: @electron/patch-owners

chore: cherry-pick e0052e7af9c9 from v8 (#49287)
  patches/v8/.patches
  patches/v8/cherry-pick-e0052e7af9c9.patch
Owners: @electron/patch-owners

chore: cherry-pick e0052e7af9c9 from v8 (#49286)
  patches/v8/.patches
  patches/v8/cherry-pick-e0052e7af9c9.patch
Owners: @electron/patch-owners

feat: add restart network service test case
  shell/browser/api/electron_api_utility_process.h
  shell/common/api/electron_api_testing.cc
  spec/api-net-spec.ts
  spec/lib/spec-helpers.ts
Owners: none

chore: update patches
  patches/chromium/blink_local_frame.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/disable_hidden.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/fix_restore_original_resize_performance_on_macos.patch
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/revert_partial_remove_unused_prehandlemouseevent.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/webview_fullscreen.patch
Owners: @electron/patch-owners

[InputVizard] Fix missing touch cancel in InputTransferHandlerAndroid using InputEventSource
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
Owners: none

fix: make toplevel icon Wayland protocol work
  shell/browser/api/electron_api_base_window.cc
Owners: none

chore: update patches
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/gritsettings_resource_ids.patch
Owners: @electron/patch-owners

feat: suppress devtools console logging
  shell/browser/ui/inspectable_web_contents.cc
  shell/browser/ui/inspectable_web_contents.h
Owners: none

fix window sizing and content sizing on Linux when CSD is in use
  shell/browser/native_window_views.cc
  shell/browser/native_window_views.h
  shell/browser/ui/electron_desktop_window_tree_host_linux.cc
  shell/browser/ui/electron_desktop_window_tree_host_linux.h
  shell/browser/ui/views/client_frame_view_linux.cc
  shell/browser/ui/views/client_frame_view_linux.h
  shell/browser/ui/views/frameless_view.cc
  shell/browser/ui/views/frameless_view.h
  shell/browser/ui/views/opaque_frame_view.h
Owners: none

debug: lld-link /verbose
  .github/actions/build-electron/action.yml
  patches/chromium/.patches
  patches/chromium/debug_lld-link_verbose.patch
Owners: @electron/wg-infra, @electron/patch-owners

docs: improve build-tools instructions
  docs/development/build-instructions-gn.md
Owners: none

disable more CI stuff
  .github/workflows/build.yml
  .github/workflows/pipeline-electron-build-and-test.yml
Owners: @electron/wg-infra

fixed size constraints
  shell/browser/ui/views/client_frame_view_linux.cc
  shell/browser/ui/views/client_frame_view_linux.h
Owners: none

layout helper
  filenames.gni
  shell/browser/native_window_views.cc
  shell/browser/native_window_views.h
  shell/browser/ui/electron_desktop_window_tree_host_linux.cc
  shell/browser/ui/electron_desktop_window_tree_host_linux.h
  shell/browser/ui/views/client_frame_view_linux.cc
  shell/browser/ui/views/client_frame_view_linux.h
  shell/browser/ui/views/frameless_view.cc
  shell/browser/ui/views/frameless_view.h
  shell/browser/ui/views/linux_csd_layout.cc
  shell/browser/ui/views/linux_csd_layout.h
  shell/browser/ui/views/opaque_frame_view.cc
  shell/browser/ui/views/opaque_frame_view.h
Owners: none

CSD shadows for frameless windows on Linux
  filenames.gni
  shell/browser/native_window.cc
  shell/browser/native_window_views.cc
  shell/browser/native_window_views.h
  shell/browser/ui/electron_desktop_window_tree_host_linux.cc
  shell/browser/ui/views/client_frame_view_linux.cc
  shell/browser/ui/views/client_frame_view_linux.h
  shell/browser/ui/views/frameless_view.cc
  shell/browser/ui/views/frameless_view.h
  shell/browser/ui/views/linux_csd_layout.cc
  shell/browser/ui/views/linux_csd_layout.h
  shell/browser/ui/views/linux_frame_layout.cc
  shell/browser/ui/views/linux_frame_layout.h
  shell/browser/ui/views/opaque_frame_view.cc
  shell/browser/ui/views/opaque_frame_view.h
Owners: none

simplify min/max size calculation
  shell/browser/ui/views/client_frame_view_linux.cc
  shell/browser/ui/views/client_frame_view_linux.h
  shell/browser/ui/views/frameless_view.cc
Owners: none

fix: make toplevel icon Wayland protocol work
  shell/browser/ui/electron_desktop_window_tree_host_linux.cc
  shell/browser/ui/electron_desktop_window_tree_host_linux.h
Owners: none

use base window size for min/max
  shell/browser/ui/views/frameless_view.cc
Owners: none

respect HasShadow option
  shell/browser/native_window_views.cc
  shell/browser/ui/views/opaque_frame_view.cc
Owners: none

moved windows min/max size overrides
  shell/browser/ui/views/frameless_view.cc
  shell/browser/ui/views/win_frame_view.cc
  shell/browser/ui/views/win_frame_view.h
Owners: none
