Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra

style: make linter actually happy
  spec/fixtures/crash-cases/dialog-on-invalid-url/index.js
Owners: none

refactor: remove additional URL parsing entirely when showing dialogs
  lib/browser/api/web-contents.ts
Owners: none

fix: fallback to opaque URL when needed inside dialog callback
  lib/browser/api/web-contents.ts
Owners: none

refactor: exit on events instead of on timeout for dialog crash test
  spec/fixtures/crash-cases/dialog-on-invalid-url/index.js
Owners: none

test: add crash test case for URL-less dialogs
  spec/fixtures/crash-cases/dialog-on-invalid-url/index.html
  spec/fixtures/crash-cases/dialog-on-invalid-url/index.js
Owners: none

docs: address that feature cannot be disabled again
  docs/api/app.md
Owners: none

fix: address failing `safeDialogs` tests
  lib/browser/api/web-contents.ts
Owners: none

build: update NMV to 146
  build/args/all.gn
Owners: none

fix: preserve staged update dir when pruning orphaned updates on macOS (#50210)
  patches/squirrel.mac/.patches
  patches/squirrel.mac/fix_clean_up_old_staged_updates_before_downloading_new_update.patch
  patches/squirrel.mac/fix_clean_up_orphaned_staged_updates_before_downloading_new_update.patch
  spec/api-autoupdater-darwin-spec.ts
  spec/fixtures/auto-update/update-race/index.js
  spec/fixtures/auto-update/update-race/package.json
  spec/fixtures/auto-update/update-triple-stack/index.js
  spec/fixtures/auto-update/update-triple-stack/package.json
Owners: @electron/patch-owners

chore: update patches
  patches/squirrel.mac/.patches
Owners: @electron/patch-owners

build: update NMV to 146 (#50214)
  build/args/all.gn
Owners: none

chore: update patches
  patches/squirrel.mac/.patches
Owners: @electron/patch-owners

chore: update patches
  patches/squirrel.mac/.patches
Owners: @electron/patch-owners

docs: note Linux performance for getApplicationNameForProtocol
  docs/api/app.md
Owners: none

ci: add timeout to test step (#50211)
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

ci: add timeout to test step (#50206)
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

chore: update actions/cache to 5.0.3
  .github/actions/checkout/action.yml
  .github/actions/install-dependencies/action.yml
Owners: @electron/wg-infra

docs: add API history (G-I) (#50194)
  CLAUDE.md
  docs/CLAUDE.md
  docs/api/global-shortcut.md
  docs/api/image-view.md
  docs/api/in-app-purchase.md
  docs/api/ipc-main.md
  docs/api/ipc-renderer.md
  filenames.auto.gni
Owners: none

ci: add timeout to test step (#50212)
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

ci: update actions/checkout to v6.0.2
  .github/workflows/archaeologist-dig.yml
  .github/workflows/build-git-cache.yml
  .github/workflows/build.yml
  .github/workflows/linux-publish.yml
  .github/workflows/macos-publish.yml
  .github/workflows/pipeline-electron-docs-only.yml
  .github/workflows/pipeline-electron-lint.yml
  .github/workflows/pipeline-segment-electron-build.yml
  .github/workflows/pipeline-segment-electron-gn-check.yml
  .github/workflows/pipeline-segment-electron-publish.yml
  .github/workflows/pipeline-segment-electron-test.yml
  .github/workflows/pipeline-segment-node-nan-test.yml
  .github/workflows/scorecards.yml
  .github/workflows/windows-publish.yml
Owners: @electron/wg-infra

feat: add `ELECTRON_INSTALL_` env vars (#49981)
  docs/breaking-changes.md
  docs/tutorial/installation.md
  npm/install.js
Owners: @electron/wg-releases

chore: backport running mac app icons from chromium (crrev.com/c/7239386) (#50188)
  patches/chromium/.patches
  patches/chromium/fix_mac_high_res_icons.patch
Owners: @electron/patch-owners

feat: add nativeTheme.shouldDifferentiateWithoutColor on macOS
  docs/api/native-theme.md
  shell/browser/api/electron_api_native_theme.cc
  shell/browser/api/electron_api_native_theme.h
  shell/browser/api/electron_api_native_theme_mac.mm
  spec/api-native-theme-spec.ts
Owners: none

fix: use uppercase trace event phases for perfetto compatibility
  patches/node/build_enable_perfetto.patch
  spec/chromium-spec.ts
Owners: @electron/patch-owners

put electron in builduser home dir
  script/qemu-init.sh
  script/run-qemu-64k.sh
Owners: none

feat: support notification priority on Windows
  docs/api/notification.md
  shell/browser/notifications/notification.h
  shell/browser/notifications/win/windows_toast_notification.cc
  shell/browser/notifications/win/windows_toast_notification.h
Owners: none

fix: alt-space not firing keydown event
  shell/browser/ui/win/electron_desktop_window_tree_host_win.cc
  shell/browser/ui/win/electron_desktop_window_tree_host_win.h
Owners: none

fix: prefer browser runtime over node in DevTools HostRuntime detection
  patches/devtools_frontend/.patches
  patches/devtools_frontend/fix_prefer_browser_runtime_over_node_in_hostruntime_detection.patch
Owners: @electron/patch-owners

fix: correct utility process exit code on Windows
  shell/browser/api/electron_api_utility_process.cc
Owners: none

ci: link node 24 for linux arm testing
  .github/workflows/pipeline-segment-electron-test.yml
Owners: @electron/wg-infra

fix: add ASAR support for additional copy methods
  lib/node/asar-fs-wrapper.ts
Owners: none

test: add tests for ASAR support for additional copy messages
  spec/asar-spec.ts
Owners: none

remove refs from package json and yarn lock
  package.json
  yarn.lock
Owners: none

update process in yarn lock
  yarn.lock
Owners: none

chore: cherry-pick 0cab3e4ee34b from skia
  patches/skia/.patches
  patches/skia/cherry-pick-0cab3e4ee34b.patch
Owners: @electron/patch-owners

chore: cherry-pick 0cab3e4ee34b from skia
  patches/skia/.patches
  patches/skia/cherry-pick-0cab3e4ee34b.patch
Owners: @electron/patch-owners

chore: cherry-pick 7911bee5d90e from skia
  patches/skia/.patches
  patches/skia/cherry-pick-7911bee5d90e.patch
Owners: @electron/patch-owners

chore: cherry-pick 7911bee5d90e from skia
  patches/skia/.patches
  patches/skia/cherry-pick-7911bee5d90e.patch
Owners: @electron/patch-owners

chore: make linter happy
  shell/browser/notifications/win/windows_toast_notification.cc
Owners: none

chore: cherry-pick d5b0cb2acffe from v8
  patches/v8/.patches
  patches/v8/cherry-pick-d5b0cb2acffe.patch
Owners: @electron/patch-owners
