Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

docs: update
  docs/api/view.md
Owners: none

chore: typo
  docs/api/view.md
Owners: none

address comments
  docs/development/build-instructions-gn.md
Owners: none

fix: show custom macOS packages in file dialog filters
  shell/browser/ui/file_dialog_mac.mm
Owners: none

update directory structure
  docs/development/source-code-directory-structure.md
Owners: none

update
  docs/development/build-instructions-gn.md
Owners: none

nits
  docs/development/build-instructions-gn.md
Owners: none

feat: add `become-key` and `resign-key` events on `BrowserWindow` (macOS)
  docs/api/base-window.md
  docs/api/browser-window.md
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  shell/browser/api/electron_api_browser_window.cc
Owners: none

feat: ready-to-show event on webContents
  docs/api/web-contents-view.md
  shell/browser/api/electron_api_web_contents_view.cc
  spec/api-web-contents-view-spec.ts
Owners: none

refactor: fix lint error
  docs/api/web-contents-view.md
  shell/browser/api/electron_api_web_contents_view.cc
Owners: none

test: fix flaky BrowserWindow test
  spec/api-browser-view-spec.ts
Owners: none

fix: drag regions in child windows (manual backport 40-x-y) (#49312)
  shell/browser/api/electron_api_web_contents.cc
Owners: none

chore: remove stakeholders mention from PR template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

refactor: GetXdgAppId() now returns std::optional<std::string>
  shell/browser/native_window_views.cc
  shell/browser/notifications/linux/libnotify_notification.cc
  shell/common/platform_util.h
  shell/common/platform_util_linux.cc
Owners: none

refactor: slightly simplify app.setDesktopName() ts calls
  default_app/main.ts
  lib/browser/init.ts
Owners: none

refactor: add better documentation for dekstop-entry in XDG notifications
  shell/browser/notifications/linux/libnotify_notification.cc
  shell/common/platform_util.h
Owners: none

fix: make pointer lock work on Wayland
  patches/chromium/.patches
  patches/chromium/move_wayland_pointer_lock_overrides_to_common_code.patch
Owners: @electron/patch-owners

chore: remove `patches/v8/cherry-pick-e0052e7af9c9` (#49309)
  patches/v8/.patches
  patches/v8/cherry-pick-e0052e7af9c9.patch
Owners: @electron/patch-owners

build: use @electron-ci/dev-root for package.json default
  package.json
  script/release/bin/publish-to-npm.ts
  yarn.lock
Owners: @electron/wg-releases

build: use @electron-ci/dev-root for package.json default (#49154)
  package.json
  script/release/bin/publish-to-npm.ts
  yarn.lock
Owners: @electron/wg-releases

spec: add view animation test
  spec/api-view-spec.ts
Owners: none

Promote `DCHECK_IS_ON()` to preprocessor check
  shell/browser/ui/inspectable_web_contents.cc
Owners: none

node -> electron_node
  docs/development/source-code-directory-structure.md
Owners: none

fxiup
  yarn.lock
Owners: none

fix: clean up old staged updates before downloading new update
  patches/reclient-configs/fix_add_python_remote_wrapper.patch
  patches/squirrel.mac/.patches
  patches/squirrel.mac/fix_clean_up_old_staged_updates_before_downloading_new_update.patch
  spec/api-autoupdater-darwin-spec.ts
Owners: @electron/patch-owners

docs: document `ELECTRON_SKIP_BINARY_DOWNLOAD`
  docs/api/environment-variables.md
Owners: none

docs: remove stale example and standardize `DevTools` capitalization
  docs/api/app.md
  docs/api/command-line-switches.md
  docs/api/debugger.md
  docs/api/extensions-api.md
  docs/api/native-theme.md
  docs/api/session.md
  docs/api/web-contents.md
  docs/api/web-frame.md
Owners: none

7399531: [GTK] Don't preselect file dialog accept buttons | https://chromium-review.googlesource.com/c/chromium/src/+/7399531
  patches/chromium/feat_add_support_for_missing_dialog_features_to_shell_dialogs.patch
Owners: @electron/patch-owners

chore: update patches
  patches/boringssl/expose_ripemd160.patch
  patches/boringssl/feat_expose_several_extra_cipher_functions.patch
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/build_partial_revert_mac_fullscreen_top_chrome_mouse_events.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_add_electron_deps_to_gitignores.patch
  patches/chromium/chore_partial_revert_of.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/disable_hidden.patch
  patches/chromium/extend_apply_webpreferences.patch
  patches/chromium/feat_allow_code_cache_in_custom_schemes.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_separate_content_settings_callback_for_sync_and_async_clipboard.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/fix_restore_original_resize_performance_on_macos.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/refactor_unfilter_unresponsive_events.patch
  patches/chromium/revert_partial_remove_unused_prehandlemouseevent.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/web_contents.patch
  patches/chromium/webview_fullscreen.patch
Owners: @electron/patch-owners

feat: lazy electron download
  npm/index.js
  npm/package.json
Owners: @electron/wg-releases

refactor: deduplicate printing logic in WebContents
  lib/browser/api/printing-utils.ts
  lib/browser/api/web-contents.ts
Owners: none

build: use python instead of python3 in version detection
  script/lib/get-version.js
Owners: none

build: standardize python binary detection
  script/check-patch-diff.ts
  script/lib/get-version.js
  script/lib/utils.js
  script/lint.js
  script/node-spec-runner.js
  script/spec-runner.js
Owners: none

build: use @electron-ci/dev-root for package.json default (#49319)
  package.json
  script/release/bin/publish-to-npm.ts
  yarn.lock
Owners: @electron/wg-releases

build: use @electron-ci/dev-root for package.json default
  package.json
  script/release/bin/publish-to-npm.ts
  yarn.lock
Owners: @electron/wg-releases

Update docs/api/web-contents.md
  docs/api/web-contents.md
Owners: none

build: standardize python binary detection in npm scripts
  package.json
  script/python.js
Owners: none

better error messaging?
  npm/index.js
Owners: @electron/wg-releases

feat: update WebContentsView visibility tests and docs per review
  docs/api/web-contents-view.md
  docs/api/web-contents.md
  docs/breaking-changes.md
  shell/browser/api/electron_api_web_contents_view.cc
  spec/api-web-contents-view-spec.ts
  spec/visibility-state-spec.ts
Owners: @electron/wg-releases

fix: avoid startup crash when V8 sandbox is disabled
  patches/chromium/fix_harden_blink_scriptstate_maybefrom.patch
Owners: @electron/patch-owners

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra
