Repository electron/electron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/patch-owners, @electron/wg-upgrades, @electron/wg-releases, @electron/wg-security, @electron/wg-infra

refactor: decouple `api::WebRequest` from `api::BrowserContext` (#48848)
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_session.h
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_request.cc
  shell/browser/api/electron_api_web_request.h
Owners: none

refactor: decouple `api::WebRequest` from `api::BrowserContext` (#48848)
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_session.h
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_request.cc
  shell/browser/api/electron_api_web_request.h
Owners: none

Update electron_bluetooth_delegate.h
  shell/browser/bluetooth/electron_bluetooth_delegate.h
Owners: none

build: add missing header for SetStackDumpFirstChanceCallback
  shell/common/v8_util.cc
  shell/renderer/electron_renderer_client.cc
Owners: none

fix: ESM-from-CJS import when CJK is in path (#48855)
  patches/node/.patches
  patches/node/src_use_cp_utf8_for_wide_file_names_on_win32.patch
Owners: @electron/patch-owners

fix: ESM-from-CJS import when CJK is in path (#48855)
  patches/node/.patches
  patches/node/src_use_cp_utf8_for_wide_file_names_on_win32.patch
Owners: @electron/patch-owners

refactor: remove unused `ExtensionActionAPI` methods & fields (#48850)
  shell/browser/extensions/api/extension_action/extension_action_api.cc
  shell/browser/extensions/api/extension_action/extension_action_api.h
Owners: none

refactor: remove unused `ExtensionActionAPI` methods & fields (#48850)
  shell/browser/extensions/api/extension_action/extension_action_api.cc
  shell/browser/extensions/api/extension_action/extension_action_api.h
Owners: none

build: add missing header for SetStackDumpFirstChanceCallback (#48860)
  shell/common/v8_util.cc
  shell/renderer/electron_renderer_client.cc
Owners: none

build: add missing header for SetStackDumpFirstChanceCallback (#48860)
  shell/common/v8_util.cc
  shell/renderer/electron_renderer_client.cc
Owners: none

7119882: Reorganize //ui/gfx GN build target
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
Owners: @electron/patch-owners

chore: update patches
  patches/chromium/build_allow_electron_mojom_interfaces_to_depend_on_blink.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_modify_chromium_handling_of_mouse_events.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/enable_reset_aspect_ratio.patch
  patches/chromium/expose_setuseragent_on_networkcontext.patch
  patches/chromium/feat_allow_code_cache_in_custom_schemes.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_enable_offscreen_rendering_with_viz_compositor.patch
  patches/chromium/feat_expose_raw_response_headers_from_urlloader.patch
  patches/chromium/fix_aspect_ratio_with_max_size.patch
  patches/chromium/fix_check_for_file_existence_before_setting_mtime.patch
  patches/chromium/fix_remove_caption-removing_style_call.patch
  patches/chromium/fix_resolve_dynamic_background_material_update_issue_on_windows_11.patch
  patches/chromium/network_service_allow_remote_certificate_verification_logic.patch
  patches/chromium/render_widget_host_view_mac.patch
  patches/chromium/revert_code_health_clean_up_stale_macwebcontentsocclusion.patch
  patches/chromium/revert_partial_remove_unused_prehandlemouseevent.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/scroll_bounce_flag.patch
Owners: @electron/patch-owners

Reland "[temporal] Unflag Temporal"
  patches/node/.patches
  patches/node/reland_temporal_unflag_temporal.patch
Owners: @electron/patch-owners

Replace includes with forward declares in rect_conversions.h
  shell/common/gin_converters/gfx_converter.cc
Owners: none

Replace ContentPluginInfo with WebPluginInfo
  shell/app/electron_content_client.cc
  shell/app/electron_content_client.h
  shell/common/electron_constants.h
  shell/common/plugin_info.h
Owners: none

Add ssl info to TrustedHeaderClient
  shell/browser/net/proxying_url_loader_factory.cc
  shell/browser/net/proxying_url_loader_factory.h
  shell/browser/net/proxying_websocket.cc
  shell/browser/net/proxying_websocket.h
Owners: none

fix: don't overwrite "Show hidden files" setting in Linux/GNOME
  patches/chromium/feat_add_support_for_missing_dialog_features_to_shell_dialogs.patch
Owners: @electron/patch-owners

feat: support WebSocket authentication handling
  docs/api/web-request.md
  shell/browser/api/electron_api_web_request.cc
  shell/browser/api/electron_api_web_request.h
  shell/browser/net/proxying_websocket.cc
  shell/browser/net/proxying_websocket.h
Owners: none

test: add a test
  spec/api-web-request-spec.ts
Owners: none

refactor: route through login instead
  docs/api/web-request.md
  shell/browser/api/electron_api_web_request.cc
  shell/browser/api/electron_api_web_request.h
  shell/browser/login_handler.cc
  shell/browser/login_handler.h
  shell/browser/net/proxying_websocket.cc
  shell/browser/net/proxying_websocket.h
  spec/api-web-request-spec.ts
Owners: none

fix: the parent window remained interactive after the modal window was opened (#48770)
  shell/browser/native_window.cc
  shell/browser/native_window_views.cc
  shell/common/options_switches.h
Owners: none

fix: the parent window remained interactive after the modal window was opened (#48770)
  shell/browser/native_window.cc
  shell/browser/native_window_views.cc
  shell/common/options_switches.h
Owners: none

add trace logs for copying
  patches/chromium/.patches
  patches/chromium/add_trace_logs_for_copying.patch
Owners: @electron/patch-owners

docs: update macOS version support in README (#48785)
  README.md
Owners: none

docs: update macOS version support in README (#48785)
  README.md
Owners: none

chore: fixup patch indices
  patches/boringssl/feat_expose_several_extra_cipher_functions.patch
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/build_allow_electron_mojom_interfaces_to_depend_on_blink.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_add_electron_deps_to_gitignores.patch
  patches/chromium/chore_grandfather_in_electron_views_and_delegates.patch
  patches/chromium/chore_modify_chromium_handling_of_mouse_events.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/enable_reset_aspect_ratio.patch
  patches/chromium/feat_allow_code_cache_in_custom_schemes.patch
  patches/chromium/feat_allow_usage_of_sccontentsharingpicker_on_supported_platforms.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_enable_offscreen_rendering_with_viz_compositor.patch
  patches/chromium/fix_aspect_ratio_with_max_size.patch
  patches/chromium/fix_move_autopipsettingshelper_behind_branding_buildflag.patch
  patches/chromium/fix_remove_caption-removing_style_call.patch
  patches/chromium/fix_resolve_dynamic_background_material_update_issue_on_windows_11.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/revert_code_health_clean_up_stale_macwebcontentsocclusion.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/scroll_bounce_flag.patch
  patches/chromium/webview_fullscreen.patch
  patches/chromium/worker_context_will_destroy.patch
  patches/chromium/worker_feat_add_hook_to_notify_script_ready.patch
  patches/devtools_frontend/chore_expose_ui_to_allow_electron_to_set_dock_side.patch
Owners: @electron/patch-owners

ci: exclude top-level docs files from full CI
  .github/workflows/build.yml
Owners: @electron/wg-infra

chore: update .patches after trop
  patches/node/.patches
Owners: @electron/patch-owners

fix: ESM-from-CJS import when CJK is in path
  patches/node/.patches
  patches/node/src_use_cp_utf8_for_wide_file_names_on_win32.patch
Owners: @electron/patch-owners

build: add missing header for SetStackDumpFirstChanceCallback
  shell/common/v8_util.cc
  shell/renderer/electron_renderer_client.cc
Owners: none

build: remove track SSL_ERROR_ZERO_RETURN explicitly patch
  patches/boringssl/.patches
  patches/boringssl/revert_track_ssl_error_zero_return_explicitly.patch
Owners: @electron/patch-owners

fix: ESM-from-CJS import when CJK is in path (#48873)
  patches/node/.patches
  patches/node/src_use_cp_utf8_for_wide_file_names_on_win32.patch
Owners: @electron/patch-owners

feat: support WebSocket authentication handling (#48512)
  shell/browser/api/electron_api_web_request.cc
  shell/browser/api/electron_api_web_request.h
  shell/browser/login_handler.cc
  shell/browser/login_handler.h
  shell/browser/net/proxying_websocket.cc
  shell/browser/net/proxying_websocket.h
  spec/api-web-request-spec.ts
Owners: none

feat: support WebSocket authentication handling (#48512)
  shell/browser/api/electron_api_web_request.cc
  shell/browser/api/electron_api_web_request.h
  shell/browser/login_handler.cc
  shell/browser/login_handler.h
  shell/browser/net/proxying_websocket.cc
  shell/browser/net/proxying_websocket.h
  spec/api-web-request-spec.ts
Owners: none

docs: deprecate clipboard API access from renderer processes
  docs/api/clipboard.md
  docs/breaking-changes.md
  lib/renderer/api/clipboard.ts
Owners: @electron/wg-releases

docs: remove electronegativity
  docs/tutorial/security.md
Owners: none

chore: update patches
  patches/node/.patches
  patches/node/src_use_cp_utf8_for_wide_file_names_on_win32.patch
Owners: @electron/patch-owners

feat: add bypassCustomProtocolHandlers option to net.request (#47331)
  docs/api/client-request.md
  lib/common/api/net-client-request.ts
  spec/api-protocol-spec.ts
Owners: none

feat: add bypassCustomProtocolHandlers option to net.request (#47331)
  docs/api/client-request.md
  lib/common/api/net-client-request.ts
  spec/api-protocol-spec.ts
Owners: none

feat: enable resetting accent color (#48852)
  docs/api/base-window.md
  docs/api/browser-window.md
  shell/browser/api/electron_api_base_window.cc
  spec/api-browser-window-spec.ts
Owners: none

.github/CODEOWNERS:

# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @electron/patch-owners
DEPS                                    @electron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @electron/wg-releases
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases

# Security WG
/lib/browser/devtools.ts                @electron/wg-security
/lib/browser/guest-view-manager.ts      @electron/wg-security
/lib/browser/rpc-server.ts              @electron/wg-security
/lib/renderer/security-warnings.ts      @electron/wg-security

# Infra WG
/.github/actions/                       @electron/wg-infra
/.github/workflows/*-publish.yml        @electron/wg-infra
/.github/workflows/build.yml            @electron/wg-infra
/.github/workflows/pipeline-*.yml       @electron/wg-infra
