Repository electron/electron, pull requests merged in 2021-10, with the labels that each got.

#31238 chore: manually revert v15.1.0
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Labels: fast-track 🚅, semver/none

#31255 fix: fix typo in description of secureDnsMode
  docs/api/app.md
Labels: documentation :notebook:, semver/none, target/15-x-y, target/16-x-y

#31221 fix: remove expired DST Root CA X3
  patches/boringssl/.patches
  patches/boringssl/enable_x509_v_flag_trusted_first_flag.patch
  patches/node/.patches
  patches/node/fix_remove_expired_dst_root_ca_x3.patch
Labels: semver/patch, backport-check-skip, 14-x-y

#31220 fix: remove expired DST Root CA X3
  patches/boringssl/.patches
  patches/boringssl/enable_x509_v_flag_trusted_first_flag.patch
  patches/node/.patches
  patches/node/fix_remove_expired_dst_root_ca_x3.patch
Labels: semver/patch, backport-check-skip, target/12-x-y, 13-x-y

#31190 fix: persist permission granted to serial ports
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/electron_permission_manager.cc
  shell/browser/electron_permission_manager.h
  shell/browser/serial/electron_serial_delegate.cc
  shell/browser/serial/serial_chooser_context.cc
  shell/browser/serial/serial_chooser_context.h
  shell/browser/serial/serial_chooser_controller.cc
  shell/browser/serial/serial_chooser_controller.h
  shell/browser/web_contents_permission_helper.cc
  shell/browser/web_contents_permission_helper.h
Labels: backport, semver/patch, 13-x-y

#31193 fix: persist permission granted to serial ports
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/electron_permission_manager.cc
  shell/browser/electron_permission_manager.h
  shell/browser/serial/electron_serial_delegate.cc
  shell/browser/serial/serial_chooser_context.cc
  shell/browser/serial/serial_chooser_context.h
  shell/browser/serial/serial_chooser_controller.cc
  shell/browser/serial/serial_chooser_controller.h
  shell/browser/web_contents_permission_helper.cc
  shell/browser/web_contents_permission_helper.h
Labels: backport, semver/patch, 12-x-y

#31180 docs: dialog is not defined
  docs/fiddles/system/protocol-handler/launch-app-from-URL-in-another-app/main.js
Labels: documentation :notebook:, semver/none, target/14-x-y, target/15-x-y, target/16-x-y

#30720 feat: make desktopCapturer main-process-only
  docs/api/app.md
  docs/api/command-line-switches.md
  docs/api/desktop-capturer.md
  docs/api/web-contents.md
  filenames.auto.gni
  lib/browser/api/desktop-capturer.ts
  lib/browser/desktop-capturer.ts
  lib/browser/rpc-server.ts
  lib/common/ipc-messages.ts
  lib/renderer/api/desktop-capturer.ts
  lib/renderer/api/module-list.ts
  lib/sandboxed_renderer/api/module-list.ts
  shell/browser/electron_browser_client.cc
  shell/common/options_switches.cc
  shell/common/options_switches.h
  spec-main/api-app-spec.ts
  spec-main/api-desktop-capturer-spec.ts
Labels: semver/major, api-review/approved ✅, no-backport

#31227 chore: cherry-pick 5c4acf2ae64a from v8
  patches/v8/.patches
  patches/v8/cherry-pick-5c4acf2ae64a.patch
Labels: security 🔒, semver/patch, backport-check-skip, 14-x-y

#31228 chore: cherry-pick 5c4acf2ae64a from v8
  patches/v8/.patches
  patches/v8/cherry-pick-5c4acf2ae64a.patch
Labels: security 🔒, semver/patch, backport-check-skip, 13-x-y

#31229 chore: cherry-pick 5c4acf2ae64a from v8
  patches/v8/.patches
  patches/v8/cherry-pick-5c4acf2ae64a.patch
Labels: security 🔒, semver/patch, backport-check-skip, 12-x-y

#31235 chore: cherry-pick e8cb0e7aa32 from angle
  patches/angle/.patches
  patches/angle/fix_integer_overflow_in_blocklayoutencoder.patch
  patches/config.json
Labels: security 🔒, semver/patch, backport-check-skip, 14-x-y

#31236 chore: cherry-pick e8cb0e7aa32 from angle
  patches/angle/.patches
  patches/angle/fix_integer_overflow_in_blocklayoutencoder.patch
Labels: security 🔒, semver/patch, backport-check-skip, 13-x-y

#31237 chore: cherry-pick e8cb0e7aa32 from angle
  patches/angle/.patches
  patches/angle/fix_integer_overflow_in_blocklayoutencoder.patch
Labels: security 🔒, semver/patch, backport-check-skip, 12-x-y

#31239 chore: cherry-pick 4e528a5a8d83 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-4e528a5a8d83.patch
Labels: security 🔒, semver/patch, backport-check-skip, 14-x-y

#31240 chore: cherry-pick 4e528a5a8d83 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-4e528a5a8d83.patch
Labels: security 🔒, semver/patch, backport-check-skip, 13-x-y

#31241 chore: cherry-pick 4e528a5a8d83 from chromium
  patches/chromium/.patches
  patches/chromium/m90-lts_fsa_fix_race_condition_in_manager.patch
Labels: security 🔒, semver/patch, backport-check-skip, 12-x-y

#31245 chore: cherry-pick 096afc1c5428 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-096afc1c5428.patch
Labels: security 🔒, semver/patch, backport-check-skip, 14-x-y

#31246 chore: cherry-pick 096afc1c5428 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-096afc1c5428.patch
Labels: security 🔒, semver/patch, backport-check-skip, 13-x-y

#31247 chore: cherry-pick e8a5cefd1aac from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-e8a5cefd1aac.patch
Labels: security 🔒, semver/patch, backport-check-skip, 12-x-y

#31244 chore: cherry-pick efd8e01ac1a6 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-efd8e01ac1a6.patch
Labels: security 🔒, semver/patch, backport-check-skip, 12-x-y

#31243 chore: cherry-pick efd8e01ac1a6 from chromium
  patches/chromium/.patches
  patches/chromium/m90-lts_backgroundfetch_check_whether_the_sw_id_is_valid_for.patch
Labels: security 🔒, semver/patch, backport-check-skip, 13-x-y

#31242 chore: cherry-pick f2fd53c6d706 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-f2fd53c6d706.patch
Labels: security 🔒, semver/patch, backport-check-skip, 14-x-y

#31259 fix: "Failed to serialize arguments" when emitting 'context-menu' for webview
  shell/common/gin_converters/content_converter.cc
  shell/common/gin_helper/dictionary.h
Labels: semver/patch, fast-track 🚅, target/15-x-y, target/16-x-y

#29884 chore: add logging for print_backend failures
  shell/browser/api/electron_api_printing.cc
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
Labels: semver/patch, target/14-x-y, target/15-x-y, target/16-x-y

#31295 refactor: only access memory coordinator interface from browser process
  lib/browser/rpc-server.ts
  lib/common/ipc-messages.ts
  lib/renderer/init.ts
  lib/sandboxed_renderer/init.ts
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/common/api/electron_bindings.cc
  shell/common/api/electron_bindings.h
  typings/internal-electron.d.ts
Labels: semver/patch, new-pr 🌱, target/12-x-y, target/13-x-y, target/14-x-y, target/15-x-y, target/16-x-y

#31280 test: add missing context-menu event spec for <webview>
  spec/webview-spec.js
Labels: semver/none, target/15-x-y, target/16-x-y

#31277 docs: add missing 'context-menu' event to webview-tag.md
  docs/api/webview-tag.md
Labels: documentation :notebook:, semver/patch, target/13-x-y, target/14-x-y, target/15-x-y, target/16-x-y

#31181 chore: refactor persisting permission granted to serial ports
  docs/api/session.md
  docs/tutorial/devices.md
  shell/browser/electron_browser_context.cc
  shell/browser/electron_browser_context.h
  shell/browser/electron_permission_manager.cc
  shell/browser/serial/electron_serial_delegate.cc
  shell/browser/serial/serial_chooser_context.cc
  shell/browser/serial/serial_chooser_context.h
  shell/browser/serial/serial_chooser_context_factory.cc
  shell/browser/serial/serial_chooser_controller.cc
  shell/browser/serial/serial_chooser_controller.h
  shell/browser/web_contents_permission_helper.cc
  shell/browser/web_contents_permission_helper.h
Labels: semver/minor, api-review/requested 🗳, target/14-x-y, target/15-x-y, target/16-x-y
