Repository electron/electron, pull requests merged in 2022-02, with the labels that each got.

#32673 docs: fix missing tag end in clipboard example
  docs/api/clipboard.md
Labels: documentation :notebook:, semver/none, target/15-x-y, target/16-x-y, target/17-x-y

#25873 feat: add focus and blur events for WebContents
  docs/api/web-contents.md
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  spec-main/api-web-contents-spec.ts
Labels: semver/minor, api-review/requested 🗳, api-review/approved ✅, backport/approved ✅, no-backport

#32667 docs: fix typo in BrowserWindow description
  docs/api/browser-window.md
Labels: semver/none, target/15-x-y, target/16-x-y, target/17-x-y

#32691 ci: fixup gclient cache on ubuntu 20
  .circleci/build_config.yml
Labels: semver/none, no-backport

#32632 fix: crash on printer dialog cancellation
  patches/chromium/printing.patch
Labels: semver/patch, target/17-x-y

#32692 fix: some frameless windows showing a frame on Windows
  shell/browser/native_window_views.cc
Labels: semver/patch, target/14-x-y, target/15-x-y, target/16-x-y, target/17-x-y

#32672 fix: WCO window hover on window controls on Windows
  shell/browser/ui/win/electron_desktop_window_tree_host_win.cc
  shell/browser/ui/win/electron_desktop_window_tree_host_win.h
Labels: semver/patch, target/14-x-y, target/15-x-y, target/16-x-y, target/17-x-y

#32456 refactor: use QuickLookThumbnailing where applicable
  BUILD.gn
  shell/common/api/electron_api_native_image_mac.mm
Labels: semver/patch, no-backport

#32715 chore: bump chromium to 96.0.4664.174 (16-x-y)
  DEPS
  patches/chromium/can_create_window.patch
  patches/chromium/disable_hidden.patch
  patches/chromium/printing.patch
  patches/chromium/revert_do_not_display_grammar_error_if_there_it_overlaps_with_spell.patch
  patches/chromium/webview_fullscreen.patch
  patches/v8/fix_disable_implies_dcheck_for_node_stream_array_buffers.patch
Labels: semver/patch, backport-check-skip, 16-x-y

#32703 chore: bump NMV for Electron 19
  build/args/all.gn
Labels: new-pr 🌱, no-backport

#32731 build: Support cygwin in script/lib/util.py
  script/lib/util.py
Labels: semver/none, no-backport

#32727 test: improve `webContents.savePage()` specs
  spec-main/api-browser-window-spec.ts
Labels: semver/none, target/17-x-y, target/18-x-y

#32728 fix: savePage throw on relative paths
  docs/api/web-contents.md
  shell/browser/api/electron_api_web_contents.cc
  spec-main/api-browser-window-spec.ts
Labels: semver/patch, target/15-x-y, target/16-x-y, target/17-x-y, target/18-x-y

#32753 docs: clarify meaning of cssOrigin
  docs/api/web-contents.md
Labels: documentation :notebook:, semver/none, target/17-x-y, target/18-x-y

#32767 fix: failure to print on macOS
  patches/chromium/.patches
  patches/chromium/drop_extra_printingcontext_calls_to_newpage_pagedone.patch
Labels: semver/patch, target/17-x-y

#32775 chore: cherry-pick fix for 1284367 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-1284367.patch
Labels: security 🔒, semver/patch, backport-check-skip, 15-x-y

#32776 chore: cherry-pick fix for 1284367 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-1284367.patch
Labels: security 🔒, semver/patch, backport-check-skip, 14-x-y

#32801 chore: cherry-pick bab8254c3 and 2dd23f757 from v8
  patches/v8/.patches
  patches/v8/regexp_arm_fix_regexp_assembler_abortion.patch
  patches/v8/regexp_ensure_regress-1255368_runs_only_with_irregexp.patch
Labels: security 🔒, semver/patch, backport-check-skip, 16-x-y

#32740 chore: cherry-pick 27bc67f761e6 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-27bc67f761e6.patch
Labels: security 🔒, semver/patch, backport-check-skip, 14-x-y

#32713 build: rebuild the `dist_zip`s when the deps get modified
  BUILD.gn
Labels: semver/none, target/15-x-y, target/16-x-y, target/17-x-y, target/18-x-y

#32739 chore: cherry-pick 27bc67f761e6 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-27bc67f761e6.patch
Labels: security 🔒, semver/patch, backport-check-skip, 15-x-y

#32794 chore: cherry-pick 55f6cb37 from chromium
  patches/chromium/.patches
  patches/chromium/merge_m-97_serial_check_for_detached_buffers_when_writing.patch
Labels: security 🔒, semver/patch, backport-check-skip, 15-x-y

#32795 chore: cherry-pick ce8b70863 from angle
  patches/angle/.patches
  patches/angle/m96_validate_samplerformat.patch
Labels: security 🔒, semver/patch, backport-check-skip, 15-x-y

#32789 chore: cherry-pick 5f8ddef5a6 from chromium
  patches/chromium/.patches
  patches/chromium/fire_iframe_onload_for_cross-origin-initiated_same-document.patch
Labels: security 🔒, semver/patch, backport-check-skip, 15-x-y

#32369 fix: pointer lock escape handling
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/web_contents_permission_helper.cc
  shell/browser/web_contents_permission_helper.h
Labels: semver/patch, target/16-x-y, target/17-x-y, target/18-x-y

#32834 test: disable the test that makes spec runner hang on exit
  spec/chromium-spec.js
Labels: semver/none, target/14-x-y, target/15-x-y, target/16-x-y, target/17-x-y, target/18-x-y

#32804 chore: cherry-pick 5f8ddef5a6 from chromium
  patches/chromium/.patches
  patches/chromium/fire_iframe_onload_for_cross-origin-initiated_same-document.patch
Labels: security 🔒, semver/patch, backport-check-skip, 16-x-y

#32741 chore: cherry-pick 9db9911e1242 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-9db9911e1242.patch
Labels: security 🔒, semver/patch, backport-check-skip, 15-x-y

#32790 chore: cherry-pick 349a35b19 from chromium
  patches/chromium/.patches
  patches/chromium/handle_potentiallydanglingmarkup_for_cssimagevalue.patch
Labels: security 🔒, semver/patch, backport-check-skip, 15-x-y

#32791 chore: cherry-pick efdfe711dc5 from chromium
  patches/angle/.patches
  patches/angle/vangle_change_the_default_vulkan_device_choose_logic.patch
  patches/chromium/.patches
  patches/chromium/do_not_select_vulkan_device_based_on_the_passed_in_gpu_info_on_linux.patch
Labels: security 🔒, semver/patch, backport-check-skip, 15-x-y

#32792 chore: cherry-pick 91fbf1798 and cff03c22c5 from chromium
  patches/chromium/.patches
  patches/chromium/fix_preview_state_detection.patch
  patches/chromium/pin_scrolltop_to_0_during_autofill_preview.patch
Labels: security 🔒, semver/patch, backport-check-skip, 15-x-y

#32798 chore: cherry-pick 5c41beab6 from chromium
  patches/chromium/.patches
  patches/chromium/96_take_local_copy_of_ump_local_sources_to_iterate.patch
Labels: security 🔒, semver/patch, backport-check-skip, 15-x-y

#32793 chore: cherry-pick 06504ff3b1 from chromium
  patches/chromium/.patches
  patches/chromium/m97_webcodecs_various_decodertemplate_shutdown_cleanups.patch
Labels: security 🔒, semver/patch, backport-check-skip, 15-x-y

#32779 chore: cherry-pick fix for 1283371 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-1283371.patch
Labels: security 🔒, semver/patch, backport-check-skip, 15-x-y

#32770 chore: cherry-pick c1700c5 from v8
  patches/v8/.patches
  patches/v8/regexp_fix_uaf_in_regexpmacroassembler.patch
Labels: semver/patch, backport-check-skip, 15-x-y

#32802 chore: cherry-pick efdfe711d from chromium
  patches/angle/.patches
  patches/angle/vangle_change_the_default_vulkan_device_choose_logic.patch
  patches/chromium/.patches
  patches/chromium/do_not_select_vulkan_device_based_on_the_passed_in_gpu_info_on_linux.patch
  patches/config.json
Labels: security 🔒, semver/patch, backport-check-skip, 16-x-y

#32854 build: add stack_trace.h to main delegate
  .circleci/build_config.yml
  build/args/all.gn
  shell/app/electron_main_delegate.cc
Labels: fast-track 🚅, semver/none, no-backport

#32860 chore: cherry-pick 5841c2bf1 from devtools-frontend
  patches/config.json
  patches/devtools_frontend/.patches
  patches/devtools_frontend/revert_include_group_children_if_group_parent_header_is_filtered.patch
Labels: semver/patch, backport-check-skip, 16-x-y

#32855 fix: will-attach-webview handler modifying params.instanceId does not break <webview>
  lib/browser/guest-view-manager.ts
  lib/renderer/web-view/web-view-impl.ts
  spec/static/main.js
  spec/webview-spec.js
  typings/internal-electron.d.ts
Labels: backport, semver/patch, 15-x-y

#32777 chore: cherry-pick fix for 1283375 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-1283375.patch
Labels: security 🔒, semver/patch, backport-check-skip, 15-x-y

#32844 docs: fix relative link in developer documentation
  docs/development/pull-requests.md
Labels: documentation :notebook:, semver/none, target/17-x-y, target/18-x-y

#32911 chore: cherry-pick 11505c3867 from chromium
  patches/chromium/.patches
  patches/chromium/cleanup_pausablecriptexecutor_usage.patch
Labels: security 🔒, semver/patch, backport-check-skip, 16-x-y

#32781 chore: cherry-pick fix for 1283198 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-1283198.patch
Labels: security 🔒, semver/patch, backport-check-skip, 15-x-y

#32782 chore: cherry-pick fix for 1283198 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-1283198.patch
Labels: security 🔒, semver/patch, backport-check-skip, 14-x-y

#32907 chore: cherry-pick 05e714a87c from chromium
  patches/chromium/.patches
  patches/chromium/m98_fs_fix_fileutil_lifetime_issue.patch
Labels: security 🔒, semver/patch, backport-check-skip, 16-x-y

#32902 docs: update checklists
  docs/tutorial/performance.md
  docs/tutorial/security.md
Labels: documentation :notebook:, semver/none, target/17-x-y, target/18-x-y

#32918 chore: cherry-pick 0081bb347e67 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-0081bb347e67.patch
Labels: security 🔒, semver/patch, backport-check-skip, 16-x-y

#32809 chore: cherry-pick ebddaedee from v8
  patches/v8/.patches
  patches/v8/cherry-pick-27bc67f761e6.patch
  patches/v8/skip_non-compilation_functions_in_optimizeosr.patch
Labels: security 🔒, semver/patch, backport-check-skip, 16-x-y

#32778 chore: cherry-pick fix for 1283375 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-1283375.patch
Labels: security 🔒, semver/patch, backport-check-skip, 14-x-y

#32783 chore: cherry-pick fix for 1282354 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-1282354.patch
Labels: security 🔒, semver/patch, backport-check-skip, 15-x-y

#32796 chore: cherry-pick 1c93e2afc8 from v8
  patches/v8/.patches
  patches/v8/merged_wasm_32-bit_platforms_lower_kv8maxwasmmemorypages_by_1.patch
Labels: security 🔒, semver/patch, backport-check-skip, 15-x-y

#32807 chore: cherry-pick a1c1ec1ea9 from chromium
  patches/chromium/.patches
  patches/chromium/use_axnodeid_rather_than_axnode_in_axeventgenerator_tree_events.patch
Labels: security 🔒, semver/patch, backport-check-skip, 16-x-y

#32858 chore: improve error catching in NodeBindings
  shell/common/node_bindings.cc
Labels: semver/patch, no-backport

#32856 chore: backport EPROTOTYPE fixes from libuv
  patches/node/.patches
  patches/node/darwin_bump_minimum_supported_version_to_10_15_3406.patch
  patches/node/darwin_remove_eprototype_error_workaround_3405.patch
  patches/node/darwin_translate_eprototype_to_econnreset_3413.patch
Labels: semver/patch, target/16-x-y, target/17-x-y, target/18-x-y

#32829 fix: `webContents.openDevTools({mode})` not working
  patches/config.json
  patches/devtools_frontend/.patches
  patches/devtools_frontend/fix_expose_globals_to_allow_patching_devtools_dock.patch
Labels: semver/patch, target/17-x-y, target/18-x-y

#32916 chore: cherry-pick be50c60b4225 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-be50c60b4225.patch
Labels: security 🔒, semver/patch, backport-check-skip, 16-x-y

#32919 chore: cherry-pick 0081bb347e67 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-0081bb347e67.patch
Labels: security 🔒, semver/patch, backport-check-skip, 15-x-y

#32950 chore: update patch to fix CI
  patches/devtools_frontend/fix_expose_globals_to_allow_patching_devtools_dock.patch
Labels: fast-track 🚅, semver/none, no-backport

#32904 chore: cherry-pick b790affce3 and 9c1efd3def from angle
  patches/angle/.patches
  patches/angle/m98_vulkan_fix_vkcmdresolveimage_extents.patch
  patches/angle/m98_vulkan_fix_vkcmdresolveimage_offsets.patch
Labels: security 🔒, semver/patch, backport-check-skip, 15-x-y

#32903 chore: cherry-pick b790affce3 and 9c1efd3def from angle
  patches/angle/.patches
  patches/angle/m98_vulkan_fix_vkcmdresolveimage_extents.patch
  patches/angle/m98_vulkan_fix_vkcmdresolveimage_offsets.patch
Labels: security 🔒, semver/patch, backport-check-skip, 16-x-y

#32785 chore: cherry-pick fix for 1281979 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-1281979.patch
Labels: security 🔒, semver/patch, backport-check-skip, 15-x-y

#32780 chore: cherry-pick fix for 1283371 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-1283371.patch
Labels: security 🔒, semver/patch, backport-check-skip, 14-x-y

#32900 chore: cherry-pick e3805f29fed7 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-e3805f29fed7.patch
Labels: security 🔒, semver/patch, backport-check-skip, 16-x-y

#32914 chore: cherry-pick ebc188ad769e from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-ebc188ad769e.patch
Labels: security 🔒, semver/patch, backport-check-skip, 15-x-y

#32935 build: use gen2 macOS resources for tests
  .circleci/build_config.yml
Labels: semver/none, no-backport

#32743 chore: cherry-pick 22f27676515e from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-22f27676515e.patch
Labels: security 🔒, semver/patch, backport-check-skip, 14-x-y

#32742 chore: cherry-pick 9db9911e1242 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-9db9911e1242.patch
Labels: security 🔒, semver/patch, backport-check-skip, 14-x-y

#32786 chore: cherry-pick fix for 1277917 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-1277917.patch
Labels: security 🔒, semver/patch, backport-check-skip, 15-x-y

#32888 fix: stale renderer process on quit
  shell/browser/electron_browser_main_parts.cc
Labels: semver/patch, target/14-x-y, target/15-x-y, target/16-x-y, target/17-x-y, target/18-x-y

#32784 chore: cherry-pick fix for 1282354 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-1282354.patch
Labels: security 🔒, semver/patch, backport-check-skip, 14-x-y

#32934 docs: fix broken link to GNOME notifications spec
  docs/tutorial/notifications.md
Labels: semver/none, target/16-x-y, target/17-x-y, target/18-x-y

#32963 chore: add @electron/wg-security to patches/ CODEOWNERS
  .github/CODEOWNERS
Labels: semver/none, no-backport

#32797 chore: cherry-pick ebddaedee from v8
  patches/v8/.patches
  patches/v8/cherry-pick-27bc67f761e6.patch
  patches/v8/skip_non-compilation_functions_in_optimizeosr.patch
Labels: security 🔒, semver/patch, backport-check-skip, 15-x-y

#32803 chore: cherry-pick 349a35b19 from chromium
  patches/chromium/.patches
  patches/chromium/handle_potentiallydanglingmarkup_for_cssimagevalue.patch
Labels: security 🔒, semver/patch, backport-check-skip, 16-x-y

#32953 fix: command string for windows protocol handler
  shell/browser/browser_win.cc
Labels: semver/patch, target/14-x-y, target/15-x-y, target/16-x-y, target/17-x-y, target/18-x-y

#32799 chore: cherry-pick e8379497e from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-9db9911e1242.patch
  patches/chromium/mojo_reject_addbrokerclient_on_non-broker_nodes.patch
Labels: security 🔒, semver/patch, backport-check-skip, 15-x-y

#32917 chore: cherry-pick be50c60b4225 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-be50c60b4225.patch
Labels: security 🔒, semver/patch, backport-check-skip, 15-x-y

#32978 chore: cherry-pick ebc188ad769e from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-ebc188ad769e.patch
Labels: security 🔒, semver/patch, backport-check-skip, 14-x-y

#32870 fix: don't restore maximized BrowserWindow when calling showInactive
  patches/chromium/.patches
  patches/chromium/fix_don_t_restore_maximized_windows_when_calling_showinactive.patch
  spec-main/api-browser-window-spec.ts
Labels: semver/patch, target/16-x-y, target/17-x-y, target/18-x-y

#32985 chore: fix typos
  lib/browser/api/net.ts
  shell/browser/api/electron_api_power_monitor_win.cc
  shell/browser/api/electron_api_url_loader.cc
  shell/browser/auto_updater_mac.mm
  shell/browser/browser_mac.mm
  shell/browser/native_window_mac.mm
  shell/browser/native_window_views_win.cc
  shell/browser/ui/message_box_win.cc
  shell/browser/ui/win/electron_desktop_window_tree_host_win.cc
  shell/common/gin_helper/function_template.h
  shell/common/platform_util_linux.cc
  shell/renderer/electron_render_frame_observer.cc
  shell/renderer/electron_renderer_client.cc
  spec-main/index.js
Labels: semver/none, no-backport

#32806 chore: cherry-pick 55f6cb375 from chromium
  patches/chromium/.patches
  patches/chromium/merge_m-97_serial_check_for_detached_buffers_when_writing.patch
Labels: security 🔒, semver/patch, backport-check-skip, 16-x-y

#32908 chore: cherry-pick 05e714a87c from chromium
  patches/chromium/.patches
  patches/chromium/m98_fs_fix_fileutil_lifetime_issue.patch
Labels: security 🔒, semver/patch, backport-check-skip, 15-x-y

#32983 chore: cherry-pick 11505c3867 from chromium
  patches/chromium/.patches
  patches/chromium/cleanup_pausablecriptexecutor_usage.patch
Labels: security 🔒, semver/patch, backport-check-skip, 14-x-y

#32986 chore: cherry-pick 0081bb347e67 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-0081bb347e67.patch
Labels: security 🔒, semver/patch, backport-check-skip, 14-x-y

#32912 chore: cherry-pick 11505c3867 from chromium
  patches/chromium/.patches
  patches/chromium/cleanup_pausablecriptexecutor_usage.patch
Labels: security 🔒, semver/patch, backport-check-skip, 15-x-y

#32977 chore: cherry-pick 05e714a87c from chromium
  patches/chromium/.patches
  patches/chromium/m98_fs_fix_fileutil_lifetime_issue.patch
Labels: security 🔒, semver/patch, backport-check-skip, 14-x-y

#33030 chore: fix out-of-date chromium patch
  patches/chromium/fix_don_t_restore_maximized_windows_when_calling_showinactive.patch
Labels: fast-track 🚅, semver/none, no-backport

#33015 fix: crash on printer dialog cancellation
  patches/chromium/printing.patch
Labels: backport, semver/patch, 17-x-y

#33017 fix: savePage throw on relative paths
  docs/api/web-contents.md
  shell/browser/api/electron_api_web_contents.cc
  spec-main/api-browser-window-spec.ts
Labels: backport, semver/patch, 16-x-y

#33018 fix: savePage throw on relative paths
  docs/api/web-contents.md
  shell/browser/api/electron_api_web_contents.cc
  spec-main/api-browser-window-spec.ts
Labels: backport, semver/patch, 15-x-y

#32800 chore: cherry-pick a1c1ec1ea from chromium
  patches/chromium/.patches
  patches/chromium/use_axnodeid_rather_than_axnode_in_axeventgenerator_tree_events.patch
Labels: security 🔒, semver/patch, backport-check-skip, 15-x-y

#32808 chore: cherry-pick 7fabaa4d from chromium
  patches/chromium/.patches
  patches/chromium/m97_unseasoned-pdf_call_pdfviewwebplugin_a11y_methods_asyncly.patch
Labels: security 🔒, semver/patch, backport-check-skip, 16-x-y

#32787 chore: cherry-pick fix for 1277917 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-1277917.patch
Labels: security 🔒, semver/patch, backport-check-skip, 14-x-y

#32939 feat: add WCO height option
  docs/api/browser-window.md
  shell/browser/native_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_mac.mm
  shell/browser/native_window_views.cc
  shell/browser/ui/cocoa/window_buttons_proxy.h
  shell/browser/ui/cocoa/window_buttons_proxy.mm
  shell/browser/ui/views/win_caption_button.cc
  shell/browser/ui/views/win_caption_button.h
  shell/browser/ui/views/win_caption_button_container.cc
  shell/browser/ui/views/win_caption_button_container.h
  shell/browser/ui/views/win_frame_view.cc
  shell/browser/ui/views/win_frame_view.h
  shell/common/options_switches.cc
  shell/common/options_switches.h
  spec-main/api-browser-window-spec.ts
Labels: backport, semver/minor, backport/requested 🗳, 17-x-y

#31314 feat: Added ability to configure if window should close when opener closes
  docs/api/window-open.md
  lib/browser/api/web-contents.ts
  lib/browser/guest-window-manager.ts
  typings/internal-electron.d.ts
Labels: semver/minor, api-review/requested 🗳, api-review/approved ✅, no-backport

#32885 fix: broken OSR transparent option
  shell/browser/api/electron_api_web_contents.cc
Labels: semver/patch, target/16-x-y, target/17-x-y, target/18-x-y

#33035 fix: DCHECK when calling app.exit()
  shell/browser/window_list.cc
Labels: semver/patch, target/16-x-y, target/17-x-y, target/18-x-y

#33073 build: add logging validate release
  script/release/release.js
Labels: fast-track 🚅, backport-check-skip, semver/none

#33040 fix: incorrect tray garbage collection
  shell/browser/api/electron_api_tray.cc
  shell/browser/api/electron_api_tray.h
Labels: semver/patch, target/15-x-y, target/16-x-y, target/17-x-y, target/18-x-y

#33039 docs: fiddle ipc pattern 2 example update
  docs/fiddles/ipc/pattern-2/main.js
Labels: documentation :notebook:, semver/patch, target/17-x-y, target/18-x-y, documentation 📓

#33064 feat: add WCO height option
  docs/api/browser-window.md
  shell/browser/native_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_mac.mm
  shell/browser/native_window_views.cc
  shell/browser/ui/cocoa/window_buttons_proxy.h
  shell/browser/ui/cocoa/window_buttons_proxy.mm
  shell/browser/ui/views/win_caption_button.cc
  shell/browser/ui/views/win_caption_button.h
  shell/browser/ui/views/win_caption_button_container.cc
  shell/browser/ui/views/win_caption_button_container.h
  shell/browser/ui/views/win_frame_view.cc
  shell/browser/ui/views/win_frame_view.h
  shell/common/options_switches.cc
  shell/common/options_switches.h
  spec-main/api-browser-window-spec.ts
Labels: backport, semver/minor, backport/approved ✅, 15-x-y

#33061 feat: add WCO height option
  docs/api/browser-window.md
  shell/browser/native_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_mac.mm
  shell/browser/native_window_views.cc
  shell/browser/ui/cocoa/window_buttons_proxy.h
  shell/browser/ui/cocoa/window_buttons_proxy.mm
  shell/browser/ui/views/win_caption_button.cc
  shell/browser/ui/views/win_caption_button.h
  shell/browser/ui/views/win_caption_button_container.cc
  shell/browser/ui/views/win_caption_button_container.h
  shell/browser/ui/views/win_frame_view.cc
  shell/browser/ui/views/win_frame_view.h
  shell/common/options_switches.cc
  shell/common/options_switches.h
  spec-main/api-browser-window-spec.ts
Labels: backport, semver/minor, backport/approved ✅, 16-x-y

#32964 docs: consolidate info docs
  README.md
  docs/README.md
  docs/development/issues.md
  docs/tutorial/electron-timelines.md
  docs/tutorial/electron-versioning.md
  docs/tutorial/support.md
Labels: documentation :notebook:, semver/none, no-backport

#33026 fix: macOS tray icon alternate images
  shell/browser/ui/tray_icon_cocoa.mm
Labels: semver/patch, target/15-x-y, target/16-x-y, target/17-x-y, target/18-x-y
