Repository electron/electron, pull requests merged in 2022-11, with the labels that each got.

#36202 build: fix building with enable_plugins = false
  BUILD.gn
  filenames.gni
Labels: backport, semver/none, 21-x-y

#36155 test: re-enable window.open referrer test
  spec/api-web-contents-spec.ts
Labels: semver/none, no-backport

#36092 feat: Add BrowserWindow option to hide window in Mission Control (macOS)
  docs/api/browser-window.md
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  shell/browser/native_window.h
  shell/browser/native_window_mac.h
  shell/browser/native_window_mac.mm
  shell/common/options_switches.cc
  shell/common/options_switches.h
  spec/api-browser-window-spec.ts
Labels: semver/minor, api-review/requested 🗳, no-backport

#35116 docs: Fixed outdated documentation (uploading to App Store)
  docs/tutorial/mac-app-store-submission-guide.md
Labels: documentation :notebook:, semver/patch, target/20-x-y, target/21-x-y, target/22-x-y

#36229 build: use python3 for appveyor commands
  appveyor.yml
Labels: backport, semver/none, 19-x-y

#36231 build: use python3 for appveyor commands
  appveyor.yml
Labels: backport, semver/none, 20-x-y

#36205 chore: cherry-pick 194bcc127f21 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-194bcc127f21.patch
Labels: security 🔒, semver/patch, backport-check-skip, 19-x-y

#36220 chore: cherry-pick 67c9cbc784d6 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-67c9cbc784d6.patch
Labels: security 🔒, semver/patch, backport-check-skip, 20-x-y

#36206 chore: cherry-pick 194bcc127f21 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-194bcc127f21.patch
Labels: security 🔒, semver/patch, backport-check-skip, 20-x-y

#36215 chore: cherry-pick d5ffb4dd4112 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-d5ffb4dd4112.patch
Labels: security 🔒, semver/patch, backport-check-skip, 19-x-y

#36209 chore: cherry-pick b8636b57b8f2 from angle
  patches/angle/.patches
  patches/angle/cherry-pick-b8636b57b8f2.patch
Labels: security 🔒, semver/patch, backport-check-skip, 19-x-y

#36210 chore: cherry-pick b8636b57b8f2 from angle
  patches/angle/.patches
  patches/angle/cherry-pick-b8636b57b8f2.patch
Labels: security 🔒, semver/patch, backport-check-skip, 20-x-y

#36216 chore: cherry-pick eef098d1c7d5 from webrtc
  patches/webrtc/.patches
  patches/webrtc/cherry-pick-eef098d1c7d5.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#36217 chore: cherry-pick eef098d1c7d5 from webrtc
  patches/webrtc/.patches
  patches/webrtc/cherry-pick-eef098d1c7d5.patch
Labels: security 🔒, semver/patch, backport-check-skip, 20-x-y

#36218 chore: cherry-pick eef098d1c7d5 from webrtc
  patches/webrtc/.patches
  patches/webrtc/cherry-pick-eef098d1c7d5.patch
Labels: security 🔒, semver/patch, backport-check-skip, 19-x-y

#36219 chore: cherry-pick 67c9cbc784d6 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-67c9cbc784d6.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#36207 chore: cherry-pick 06c87f9f42ff from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-06c87f9f42ff.patch
Labels: security 🔒, semver/patch, backport-check-skip, 19-x-y

#36221 chore: cherry-pick 67c9cbc784d6 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-67c9cbc784d6.patch
Labels: security 🔒, semver/patch, backport-check-skip, 19-x-y

#36224 chore: cherry-pick 933cc81c6bad from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-933cc81c6bad.patch
Labels: security 🔒, semver/patch, backport-check-skip, 19-x-y

#36223 chore: cherry-pick 933cc81c6bad from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-933cc81c6bad.patch
Labels: security 🔒, semver/patch, backport-check-skip, 20-x-y

#36225 chore: cherry-pick ec236fef54b8 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-ec236fef54b8.patch
Labels: security 🔒, semver/patch, backport-check-skip, 19-x-y

#36226 chore: cherry-pick ec236fef54b8 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-ec236fef54b8.patch
Labels: security 🔒, semver/patch, backport-check-skip, 20-x-y

#36214 chore: cherry-pick d5ffb4dd4112 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-d5ffb4dd4112.patch
Labels: security 🔒, semver/patch, backport-check-skip, 20-x-y

#36246 docs: fix driverId -> deviceId typo
  docs/api/app.md
Labels: documentation :notebook:, semver/patch, target/21-x-y, target/22-x-y

#36247 fix: arm linux glibc dependency
  script/sysroots.json
Labels: semver/patch, target/22-x-y

#36230 refactor: move draggable regions to WebContents
  filenames.gni
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_browser_view.cc
  shell/browser/api/electron_api_browser_view.h
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/api/electron_api_browser_window.h
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/api/electron_api_web_contents_view.cc
  shell/browser/api/electron_api_web_contents_view.h
  shell/browser/draggable_region_provider.h
  shell/browser/native_browser_view_mac.mm
  shell/browser/native_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_mac.mm
  shell/browser/native_window_views.cc
  shell/browser/ui/inspectable_web_contents_view.h
  shell/browser/ui/inspectable_web_contents_view_mac.h
  shell/browser/ui/inspectable_web_contents_view_mac.mm
  shell/browser/ui/views/frameless_view.cc
  shell/browser/ui/views/inspectable_web_contents_view_views.cc
  shell/browser/ui/views/inspectable_web_contents_view_views.h
Labels: semver/patch, no-backport

#36262 revert: cherry-pick eef098d1c7d5 from webrtc
  patches/webrtc/.patches
  patches/webrtc/cherry-pick-eef098d1c7d5.patch
Labels: security 🔒, semver/patch, backport-check-skip, 19-x-y

#36273 chore: remove unsupported OS_FREEBSD flag check
  shell/common/gin_converters/std_converter.h
Labels: semver/none, no-backport

#36264 revert: cherry-pick eef098d1c7d5 from webrtc
  patches/webrtc/.patches
  patches/webrtc/cherry-pick-eef098d1c7d5.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#36263 revert: cherry-pick eef098d1c7d5 from webrtc
  patches/webrtc/.patches
  patches/webrtc/cherry-pick-eef098d1c7d5.patch
Labels: security 🔒, semver/patch, backport-check-skip, 20-x-y

#36285 fix: crash in AXNodeObject::TextFromDescendants()
  patches/chromium/.patches
  patches/chromium/refresh_cached_attributes_before_name_computation_traversal.patch
  patches/chromium/review_add_clear_children_checks_during_accname_traversal.patch
Labels: semver/patch, backport-check-skip, 19-x-y

#36305 chore: cherry-pick ac4785387fff from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-ac4785387fff.patch
Labels: security 🔒, semver/patch, backport-check-skip, 19-x-y

#36299 chore: cherry-pick 80ed4b917477 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-80ed4b917477.patch
Labels: security 🔒, semver/patch, backport-check-skip, 19-x-y

#36296 chore: cherry-pick 2ac0620a5bbb from v8
  patches/v8/.patches
  patches/v8/cherry-pick-2ac0620a5bbb.patch
Labels: security 🔒, semver/patch, backport-check-skip, 20-x-y

#36297 chore: cherry-pick a1cbf05b4163 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-a1cbf05b4163.patch
Labels: security 🔒, semver/patch, backport-check-skip, 19-x-y

#36304 chore: cherry-pick ac4785387fff from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-ac4785387fff.patch
Labels: security 🔒, semver/patch, backport-check-skip, 20-x-y

#35999 chore: upgrade to Node.js v18
  DEPS
  patches/node/.patches
  patches/node/api_pass_oomdetails_to_oomerrorcallback.patch
  patches/node/be_compatible_with_cppgc.patch
  patches/node/build_add_gn_build_files.patch
  patches/node/build_ensure_native_module_compilation_fails_if_not_using_a_new.patch
  patches/node/build_ensure_v8_pointer_compression_sandbox_is_enabled_on_64bit.patch
  patches/node/build_modify_js2c_py_to_allow_injection_of_original-fs_and_custom_embedder_js.patch
  patches/node/chore_add_context_to_context_aware_module_prevention.patch
  patches/node/chore_allow_the_node_entrypoint_to_be_a_builtin_module.patch
  patches/node/chore_read_nobrowserglobals_from_global_not_process.patch
  patches/node/drop_deserializerequest_move_constructor_for_c_20_compat.patch
  patches/node/enable_-wunqualified-std-cast-call.patch
  patches/node/expose_get_builtin_module_function.patch
  patches/node/feat_add_knostartdebugsignalhandler_to_environment_to_prevent.patch
  patches/node/feat_initialize_asar_support.patch
  patches/node/fix_add_default_values_for_variables_in_common_gypi.patch
  patches/node/fix_crypto_tests_to_run_with_bssl.patch
  patches/node/fix_expose_lookupandcompile_with_parameters.patch
  patches/node/fix_expose_the_built-in_electron_module_via_the_esm_loader.patch
  patches/node/fix_expose_tracing_agent_and_use_tracing_tracingcontroller_instead.patch
  patches/node/fix_failing_node_js_test_on_outdated.patch
  patches/node/fix_handle_boringssl_and_openssl_incompatibilities.patch
  patches/node/fix_override_createjob_in_node_platform.patch
  patches/node/fix_parallel_test-v8-stats.patch
  patches/node/fix_preserve_proper_method_names_as-is_in_error_stack.patch
  patches/node/fix_prevent_changing_functiontemplateinfo_after_publish.patch
  patches/node/fix_serdes_test.patch
  patches/node/fixup_for_wc_98-compat-extra-semi.patch
  patches/node/heap_remove_allocationspace_map_space_enum_constant.patch
  patches/node/pass_all_globals_through_require.patch
  patches/node/refactor_allow_embedder_overriding_of_internal_fs_calls.patch
  patches/node/refactor_alter_child_process_fork_to_use_execute_script_with.patch
  patches/node/repl_fix_crash_when_sharedarraybuffer_disabled.patch
  patches/node/src_allow_embedders_to_provide_a_custom_pageallocator_to.patch
  patches/node/src_fix_ssize_t_error_from_nghttp2_h.patch
  patches/node/src_iwyu_in_cleanup_queue_cc.patch
  patches/node/src_update_importmoduledynamically.patch
  patches/node/support_v8_sandboxed_pointers.patch
  patches/node/worker_thread_add_asar_support.patch
  script/node-disabled-tests.json
  shell/browser/javascript_environment.cc
  shell/browser/javascript_environment.h
  shell/common/node_bindings.cc
  shell/common/node_bindings.h
  shell/common/node_includes.h
  shell/common/node_util.cc
  shell/renderer/electron_renderer_client.cc
  shell/renderer/web_worker_observer.cc
  spec/api-net-spec.ts
Labels: semver/major, api-review/requested 🗳, no-backport

#36298 chore: cherry-pick a1cbf05b4163 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-a1cbf05b4163.patch
Labels: security 🔒, semver/patch, backport-check-skip, 20-x-y

#36301 chore: cherry-pick 1894458e04a2 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-1894458e04a2.patch
Labels: security 🔒, semver/patch, backport-check-skip, 19-x-y

#36312 chore: cherry-pick 81cb17c24788 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-81cb17c24788.patch
Labels: security 🔒, semver/patch, backport-check-skip, 19-x-y

#36300 chore: cherry-pick 80ed4b917477 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-80ed4b917477.patch
Labels: security 🔒, semver/patch, backport-check-skip, 20-x-y

#36313 docs: update tutorials for Forge 6
  docs/tutorial/code-signing.md
  docs/tutorial/mac-app-store-submission-guide.md
  docs/tutorial/tutorial-1-prerequisites.md
  docs/tutorial/tutorial-5-packaging.md
  docs/tutorial/tutorial-6-publishing-updating.md
Labels: documentation :notebook:, semver/patch, new-pr 🌱, target/21-x-y, target/22-x-y

#36318 fix: crash-on-close for Mac UDP sockets
  patches/chromium/.patches
  patches/chromium/fix_crash-on-close_for_mac_udp_sockets.patch
Labels: semver/patch, backport-check-skip

#36295 chore: cherry-pick 2ac0620a5bbb from v8
  patches/v8/.patches
  patches/v8/cherry-pick-2ac0620a5bbb.patch
Labels: security 🔒, semver/patch, backport-check-skip, 19-x-y

#36302 chore: cherry-pick 1894458e04a2 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-1894458e04a2.patch
Labels: security 🔒, semver/patch, backport-check-skip, 20-x-y

#36303 chore: cherry-pick 177e8bcd3584 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-177e8bcd3584.patch
Labels: security 🔒, semver/patch, backport-check-skip, 20-x-y

#36329 build: provide moduleVersion to docs-parser directly
  package.json
  script/create-api-json.js
  yarn.lock
Labels: semver/none, target/19-x-y, target/20-x-y, target/21-x-y, target/22-x-y

#36338 build: fix filenames.auto
  filenames.auto.gni
Labels: fast-track 🚅, semver/none

#36130 fix: abort ShipIt installation attempt at the final mile if the app is running
  patches/squirrel.mac/.patches
  patches/squirrel.mac/fix_abort_installation_attempt_at_the_final_mile_if_the_app_is.patch
  spec/api-autoupdater-darwin-spec.ts
  spec/fixtures/auto-update/update/index.js
  spec/package.json
  spec/yarn.lock
Labels: semver/patch, target/20-x-y, target/21-x-y, target/22-x-y

#36332 refactor: change defined(MAS_BUILD) to IS_MAS_BUILD()
  BUILD.gn
  build/config/BUILD.gn
  patches/chromium/.patches
  patches/chromium/build_only_use_the_mas_build_config_in_the_required_components.patch
  patches/chromium/disable_compositor_recycling.patch
  patches/chromium/feat_ensure_mas_builds_of_the_same_application_can_use_safestorage.patch
  patches/chromium/mas-cgdisplayusesforcetogray.patch
  patches/chromium/mas_avoid_usage_of_private_macos_apis.patch
  patches/chromium/mas_blink_no_private_api.patch
  patches/chromium/mas_disable_custom_window_frame.patch
  patches/chromium/mas_disable_remote_accessibility.patch
  patches/chromium/mas_disable_remote_layer.patch
  patches/chromium/mas_no_private_api.patch
  patches/chromium/mas_use_public_apis_to_determine_if_a_font_is_a_system_font.patch
  patches/chromium/render_widget_host_view_mac.patch
  shell/app/electron_main_delegate.cc
  shell/app/electron_main_mac.cc
  shell/app/node_main.cc
  shell/browser/api/electron_api_app.cc
  shell/browser/api/electron_api_app.h
  shell/browser/api/electron_api_crash_reporter.cc
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/process_metric.cc
  shell/browser/auto_updater.cc
  shell/browser/browser_mac.mm
  shell/browser/notifications/mac/notification_center_delegate.mm
  shell/browser/ui/file_dialog_mac.mm
  shell/common/api/electron_bindings.cc
  shell/common/node_bindings.cc
  shell/renderer/api/electron_api_crash_reporter_renderer.cc
Labels: new-pr 🌱, semver/none, no-backport

#36340 build: provide moduleVersion to docs-parser directly
  package.json
  script/create-api-json.js
  yarn.lock
Labels: backport, semver/none, 19-x-y

#36339 build: provide moduleVersion to docs-parser directly
  package.json
  script/create-api-json.js
  yarn.lock
Labels: backport, semver/none, 20-x-y

#36311 chore: cherry-pick 81cb17c24788 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-81cb17c24788.patch
Labels: security 🔒, semver/patch, backport-check-skip, 20-x-y

#36336 build: provide moduleVersion to docs-parser directly
  package.json
  script/create-api-json.js
  yarn.lock
Labels: backport, semver/none, 21-x-y

#36335 build: provide moduleVersion to docs-parser directly
  package.json
  script/create-api-json.js
  yarn.lock
Labels: backport, semver/none, 22-x-y

#35741 chore: enable scorecard github action
  .github/workflows/scorecards.yml
Labels: semver/none, no-backport

#36342 ci: pin version of actions/checkout
  .github/workflows/release_dependency_versions.yml
Labels: semver/none, no-backport

#36341 ci: pin amannn/action-semantic-pull-request
  .github/workflows/semantic.yml
Labels: semver/none, no-backport

#36345 docs: update README.md to use correct twitter handle
  README.md
Labels: documentation :notebook:, semver/patch, new-pr 🌱, target/21-x-y, target/22-x-y

#36344 build: make src cache smaller
  .circleci/config/base.yml
Labels: semver/none, target/19-x-y, target/20-x-y, target/21-x-y, target/22-x-y

#36355 build: remove out cache
  .circleci/config/base.yml
Labels: semver/none, target/19-x-y, target/20-x-y, target/21-x-y, target/22-x-y

#36367 docs: update SECURITY.md with new GHSA reporting feature
  SECURITY.md
Labels: documentation :notebook:, new-pr 🌱, semver/none, no-backport

#36362 fix: abort ShipIt installation attempt at the final mile if the app is running
  patches/squirrel.mac/.patches
  patches/squirrel.mac/fix_abort_installation_attempt_at_the_final_mile_if_the_app_is.patch
  spec/api-autoupdater-darwin-spec.ts
  spec/fixtures/auto-update/update/index.js
  spec/package.json
  spec/yarn.lock
Labels: backport, semver/patch, 22-x-y

#36354 build: build mas and darwin simultaneously
  .circleci/config/base.yml
Labels: semver/none, no-backport

#36369 chore: compile addons with --gnu++17
  patches/node/.patches
  patches/node/chore_enable_c_17_for_native_modules.patch
Labels: semver/patch, backport-check-skip, target/20-x-y, target/21-x-y, 22-x-y

#36377 ci: use AppVeyor workflows
  appveyor.yml
Labels: backport, semver/none, 20-x-y

#36389 docs: add EOL dates to timeline doc
  docs/tutorial/electron-timelines.md
Labels: backport, semver/patch, 21-x-y

#36379 chore: fix dangling promise in npm install
  npm/install.js
Labels: semver/patch, target/20-x-y, target/21-x-y, target/22-x-y

#36401 build: force ninja binary to the right arch after src cache restore
  .circleci/config/base.yml
Labels: fast-track 🚅, semver/none, target/19-x-y, target/20-x-y, target/21-x-y, target/22-x-y

#35396 ci: bake appveyor images automatically, run sync on depshash change
  .github/workflows/update_appveyor_image.yml
  appveyor-bake.yml
  appveyor.yml
  build/profile_toolchain.py
  script/lib/utils.js
  script/prepare-appveyor.js
  script/release/ci-release-build.js
  script/setup-win-for-dev.bat
  spec/api-browser-view-spec.ts
  spec/api-browser-window-spec.ts
Labels: semver/none, target/21-x-y, target/22-x-y

#36422 build: update devcontainer and use latest codespaces features
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/on-create-command.sh
  .devcontainer/update-content-command.sh
Labels: semver/none, no-backport

#36289 feat: add support for WebUSB
  docs/api/session.md
  docs/api/structures/usb-device.md
  docs/fiddles/features/web-usb/index.html
  docs/fiddles/features/web-usb/main.js
  docs/fiddles/features/web-usb/renderer.js
  docs/tutorial/devices.md
  filenames.auto.gni
  filenames.gni
  shell/browser/electron_browser_client.cc
  shell/browser/electron_browser_client.h
  shell/browser/electron_browser_context.cc
  shell/browser/feature_list.cc
  shell/browser/hid/hid_chooser_context.cc
  shell/browser/hid/hid_chooser_context.h
  shell/browser/serial/serial_chooser_context.h
  shell/browser/usb/electron_usb_delegate.cc
  shell/browser/usb/electron_usb_delegate.h
  shell/browser/usb/usb_chooser_context.cc
  shell/browser/usb/usb_chooser_context.h
  shell/browser/usb/usb_chooser_context_factory.cc
  shell/browser/usb/usb_chooser_context_factory.h
  shell/browser/usb/usb_chooser_controller.cc
  shell/browser/usb/usb_chooser_controller.h
  shell/browser/web_contents_permission_helper.h
  shell/common/electron_constants.cc
  shell/common/electron_constants.h
  shell/common/gin_converters/content_converter.cc
  shell/common/gin_converters/usb_device_info_converter.h
  spec/chromium-spec.ts
Labels: semver/minor, api-review/approved ✅, no-backport

#36429 build: fixup appveyor image for release
  appveyor.yml
  script/setup-win-for-dev.bat
Labels: fast-track 🚅, semver/none, no-backport

#36428 docs: add missing event-emitter link to utility-process docs
  docs/api/utility-process.md
Labels: documentation :notebook:, semver/patch, new-pr 🌱, target/22-x-y

#36447 chore: cherry-pick 6b4af5d82083 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-6b4af5d82083.patch
Labels: security 🔒, semver/patch, backport-check-skip, 19-x-y

#36458 chore: cherry-pick 7196a42b42ce from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-7196a42b42ce.patch
Labels: semver/patch, backport-check-skip, 22-x-y

#36444 chore: cherry-pick 6b4af5d82083 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-6b4af5d82083.patch
Labels: security 🔒, semver/patch, backport-check-skip, 20-x-y

#36333 fix: reimplement Tray with StatusIconLinuxDbus on Linux
  BUILD.gn
  docs/api/tray.md
  patches/chromium/.patches
  patches/chromium/fix_tray_icon_gone_on_lock_screen.patch
  shell/browser/ui/gtk/app_indicator_icon.cc
  shell/browser/ui/gtk/app_indicator_icon.h
  shell/browser/ui/gtk/app_indicator_icon_menu.cc
  shell/browser/ui/gtk/app_indicator_icon_menu.h
  shell/browser/ui/gtk/gtk_status_icon.cc
  shell/browser/ui/gtk/gtk_status_icon.h
  shell/browser/ui/gtk/status_icon.cc
  shell/browser/ui/gtk/status_icon.h
  shell/browser/ui/tray_icon_gtk.cc
  shell/browser/ui/tray_icon_gtk.h
Labels: semver/patch, target/20-x-y, target/21-x-y, target/22-x-y

#36463 fix: remove unneeded --turbo-profiling-input arg from mksnapshot_args…
  .circleci/config/base.yml
  appveyor.yml
Labels: backport, semver/patch, 22-x-y

#36460 fix: enable crashpad for ELECTRON_RUN_AS_NODE processes
  filenames.gni
  patches/node/.patches
  patches/node/enable_crashpad_linux_node_processes.patch
  shell/app/node_main.cc
  shell/common/api/crashpad_support.cc
  shell/common/node_bindings.cc
  spec/api-crash-reporter-spec.ts
  spec/fixtures/apps/crash/fork.js
  spec/fixtures/apps/crash/main.js
  spec/fixtures/apps/crash/node-extra-args.js
Labels: semver/patch, target/22-x-y

#36483 fix: enable crashpad for ELECTRON_RUN_AS_NODE processes
  filenames.gni
  patches/node/.patches
  patches/node/enable_crashpad_linux_node_processes.patch
  shell/app/node_main.cc
  shell/common/api/crashpad_support.cc
  shell/common/node_bindings.cc
  spec/api-crash-reporter-spec.ts
  spec/fixtures/apps/crash/fork.js
  spec/fixtures/apps/crash/main.js
  spec/fixtures/apps/crash/node-extra-args.js
Labels: backport, semver/patch, 22-x-y

#36475 docs: update E23 release dates
  docs/tutorial/electron-timelines.md
Labels: documentation :notebook:, semver/patch, new-pr 🌱, target/22-x-y

#36474 docs: change pull request template to include mentions of templates and examples
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation :notebook:, semver/patch, no-backport

#36464 chore: update NMV for Electron 23
  build/args/all.gn
Labels: semver/major, wip ⚒, new-pr 🌱, api-review/requested 🗳, no-backport

#36476 refactor: improve accelerator check failed message
  shell/browser/ui/accelerator_util.cc
Labels: semver/patch, no-backport

#36494 build: fix building with enable_plugins = false
  BUILD.gn
  filenames.gni
Labels: backport, semver/none, 20-x-y

#36477 fix: handle Notification requireInteraction option
  shell/browser/notifications/platform_notification_service.cc
Labels: semver/patch, target/21-x-y, target/22-x-y, target/23-x-y

#36462 ci: bake appveyor images automatically, run sync on depshash change
  .github/workflows/update_appveyor_image.yml
  appveyor-bake.yml
  appveyor.yml
  build/profile_toolchain.py
  script/lib/utils.js
  script/prepare-appveyor.js
  script/release/ci-release-build.js
  script/setup-win-for-dev.bat
  spec/api-browser-view-spec.ts
  spec/api-browser-window-spec.ts
Labels: backport, semver/none, 22-x-y

#36486 docs: document outlivesOpener option in window open handler
  docs/api/web-contents.md
Labels: documentation :notebook:, semver/patch, target/21-x-y, target/22-x-y, target/23-x-y
