Repository electron/electron, pull requests merged in 2022-12, with the labels that each got.

#36427 chore: drop support for Windows 7 / 8 / 8.1
  README.md
  docs/breaking-changes.md
  docs/tutorial/notifications.md
  filenames.gni
  patches/chromium/.patches
  patches/chromium/chore_allow_chromium_to_handle_synthetic_mouse_events_for_touch.patch
  patches/chromium/disable-redraw-lock.patch
  patches/chromium/enable_reset_aspect_ratio.patch
  patches/chromium/fix_aspect_ratio_with_max_size.patch
  patches/chromium/fix_remove_caption-removing_style_call.patch
  patches/node/.patches
  patches/node/fix_crash_caused_by_gethostnamew_on_windows_7.patch
  patches/node/fix_suppress_clang_-wdeprecated-declarations_in_libuv.patch
  shell/browser/api/electron_api_power_monitor_win.cc
  shell/browser/browser_win.cc
  shell/browser/notifications/win/notification_presenter_win.cc
  shell/browser/notifications/win/notification_presenter_win7.cc
  shell/browser/notifications/win/notification_presenter_win7.h
  shell/browser/notifications/win/win32_desktop_notifications/common.h
  shell/browser/notifications/win/win32_desktop_notifications/desktop_notification_controller.cc
  shell/browser/notifications/win/win32_desktop_notifications/desktop_notification_controller.h
  shell/browser/notifications/win/win32_desktop_notifications/toast.cc
  shell/browser/notifications/win/win32_desktop_notifications/toast.h
  shell/browser/notifications/win/win32_desktop_notifications/toast_uia.cc
  shell/browser/notifications/win/win32_desktop_notifications/toast_uia.h
  shell/browser/notifications/win/win32_notification.cc
  shell/browser/notifications/win/win32_notification.h
  shell/browser/ui/views/win_frame_view.cc
  shell/browser/ui/win/electron_desktop_window_tree_host_win.cc
  shell/browser/ui/win/electron_desktop_window_tree_host_win.h
  shell/common/application_info_win.cc
  shell/common/language_util_win.cc
  shell/common/platform_util_win.cc
  spec/fixtures/version-bumper/fixture_support.md
Labels: semver/major, api-review/requested 🗳, target/23-x-y

#36465 chore: update NMV for Electron 24
  build/args/all.gn
Labels: semver/major, new-pr 🌱, api-review/requested 🗳, no-backport

#32452 feat: expose window.invalidateShadow()
  docs/api/browser-window.md
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  shell/browser/native_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_mac.h
  shell/browser/native_window_mac.mm
Labels: semver/minor, api-review/approved ✅, target/23-x-y

#36531 build: fixup mksnapshot args on linux
  .circleci/config/base.yml
Labels: semver/patch, target/21-x-y, target/22-x-y, target/23-x-y

#36518 chore: cherry-pick 3235c1d1955b from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-3235c1d1955b.patch
Labels: semver/patch, backport-check-skip, 22-x-y

#36500 refactor: make StatusIconType an enum class
  shell/browser/ui/tray_icon_gtk.cc
  shell/browser/ui/tray_icon_gtk.h
Labels: semver/patch, target/23-x-y

#36556 docs: link net.request options to ClientRequestConstructorOptions
  docs/api/net.md
Labels: documentation :notebook:, semver/patch, new-pr 🌱, target/22-x-y, target/23-x-y

#36553 chore: cherry-pick 27fa951ae4a3 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-27fa951ae4a3.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#36532 ci(not-really): autoclose issues with blocked/need-repro and no response
  .github/workflows/issue-labeled.yml
  .github/workflows/stale.yml
Labels: semver/none, no-backport

#36593 chore: cherry-pick f98adc846aad from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-f98adc846aad.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#36603 docs: add mdn link to web-request-filter.md
  docs/api/structures/web-request-filter.md
Labels: documentation :notebook:, semver/patch, target/21-x-y, target/22-x-y, target/23-x-y

#36580 chore: cherry-pick c79148742421 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-c79148742421.patch
Labels: security 🔒, semver/patch, wip ⚒, backport-check-skip, 21-x-y

#36594 chore: cherry-pick f98adc846aad from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-f98adc846aad.patch
Labels: security 🔒, semver/patch, backport-check-skip, 20-x-y

#36591 chore: cherry-pick 2ef09109c0ec from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-2ef09109c0ec.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#36576 chore: cherry-pick 42e15c2055c4 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-42e15c2055c4.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#35902 feat: added username to IAP purchaseProduct method
  docs/api/in-app-purchase.md
  lib/browser/api/in-app-purchase.ts
  shell/browser/api/electron_api_in_app_purchase.cc
  shell/browser/mac/in_app_purchase.h
  shell/browser/mac/in_app_purchase.mm
  spec/api-in-app-purchase-spec.ts
Labels: semver/minor, api-review/requested 🗳, no-backport

#36589 chore: cherry-pick f46db6aac3e9 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-f46db6aac3e9.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#36625 chore: cherry-pick 09ae62b from node
  patches/node/.patches
  patches/node/cherry-pick-09ae62b.patch
Labels: semver/patch, backport-check-skip, 21-x-y

#36626 chore: cherry-pick 09ae62b from node
  patches/node/.patches
  patches/node/cherry-pick-09ae62b.patch
Labels: semver/patch, backport-check-skip, 20-x-y

#36592 chore: cherry-pick 2ef09109c0ec from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-2ef09109c0ec.patch
Labels: security 🔒, semver/patch, backport-check-skip, 20-x-y

#36582 chore: cherry-pick 176c526846cb from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-176c526846cb.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#36540 chore: update markdownlint
  .markdownlint.json
  package.json
  yarn.lock
Labels: semver/none, no-backport

#36649 chore: update AppVeyor image to include latest Windows updates
  appveyor-bake.yml
  appveyor.yml
  script/prepare-appveyor.js
Labels: fast-track 🚅, semver/none, target/23-x-y

#36641 fix: strip branded binaries
  script/add-debug-link.py
  script/copy-debug-symbols.py
  script/lib/config.py
  script/lib/util.py
  script/strip-binaries.py
Labels: semver/patch, target/21-x-y, target/22-x-y, target/23-x-y

#36590 chore: cherry-pick f46db6aac3e9 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-f46db6aac3e9.patch
Labels: security 🔒, semver/patch, backport-check-skip, 20-x-y

#36567 fix: blend node and blink code generation policy when both are loaded
  patches/chromium/.patches
  patches/chromium/expose_v8initializer_codegenerationcheckcallbackinmainthread.patch
  patches/node/.patches
  patches/node/allow_embedder_to_control_codegenerationfromstringscallback.patch
  shell/common/node_bindings.cc
  spec/chromium-spec.ts
Labels: semver/patch, target/22-x-y, target/23-x-y

#36651 chore: cherry-pick 32b7dc86a763 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-32b7dc86a763.patch
Labels: semver/patch, backport-check-skip, no-backport, main

#36623 chore: cherry-pick 09ae62b from node
  patches/node/.patches
  patches/node/cherry-pick-09ae62b.patch
Labels: semver/patch, backport-check-skip, 23-x-y

#36653 test: replace (webContents as any).destroy() with webContents.destroy()
  spec/api-browser-view-spec.ts
  spec/api-browser-window-spec.ts
  spec/api-ipc-renderer-spec.ts
  spec/api-protocol-spec.ts
  spec/api-service-workers-spec.ts
  spec/api-web-contents-spec.ts
  spec/api-web-request-spec.ts
  spec/chromium-spec.ts
  spec/node-spec.ts
Labels: semver/none, target/23-x-y

#36579 chore: cherry-pick 65ad70274d4b from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-65ad70274d4b.patch
Labels: security 🔒, semver/patch, backport-check-skip, 20-x-y

#36670 ci: update Windows image to e-108.0.5359.125
  appveyor.yml
Labels: backport-check-skip, semver/none

#36675 chore: cherry-pick 136ef25acbf7 from webrtc
  patches/webrtc/.patches
  patches/webrtc/cherry-pick-136ef25acbf7.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#36676 chore: cherry-pick 136ef25acbf7 from webrtc
  patches/webrtc/.patches
  patches/webrtc/cherry-pick-136ef25acbf7.patch
Labels: security 🔒, semver/patch, backport-check-skip, 20-x-y

#36677 chore: cherry-pick d1d654d73222 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-d1d654d73222.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#36678 chore: cherry-pick d1d654d73222 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-d1d654d73222.patch
Labels: security 🔒, semver/patch, backport-check-skip, 20-x-y

#36684 chore: cherry-pick fcf671adc2f3 from libaom
  patches/config.json
  patches/libaom/.patches
  patches/libaom/rtc_avoid_scene_detection_on_resize.patch
Labels: security 🔒, semver/patch, backport-check-skip, 20-x-y

#36683 chore: cherry-pick fcf671adc2f3 from libaom
  patches/config.json
  patches/libaom/.patches
  patches/libaom/rtc_avoid_scene_detection_on_resize.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#36679 chore: cherry-pick eed5a4de2c40 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-eed5a4de2c40.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#36680 chore: cherry-pick eed5a4de2c40 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-eed5a4de2c40.patch
Labels: security 🔒, semver/patch, backport-check-skip, 20-x-y

#36685 chore: cherry-pick 9b3d0e2f1aab from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-9b3d0e2f1aab.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#36686 chore: cherry-pick 9b3d0e2f1aab from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-9b3d0e2f1aab.patch
Labels: security 🔒, semver/patch, backport-check-skip, 20-x-y

#36585 chore: cherry-pick 65d46507a0c9 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-65d46507a0c9.patch
Labels: security 🔒, semver/patch, backport-check-skip, 20-x-y

#36584 chore: cherry-pick 65d46507a0c9 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-65d46507a0c9.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#36583 chore: cherry-pick 176c526846cb from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-176c526846cb.patch
Labels: security 🔒, semver/patch, backport-check-skip, 20-x-y

#36700 docs: Fix incorrect highlight in an example snippet
  docs/tutorial/tutorial-3-preload.md
Labels: documentation :notebook:, semver/patch, target/23-x-y

#36688 chore: cherry-pick 819d876e1bb8 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-819d876e1bb8.patch
Labels: security 🔒, semver/patch, backport-check-skip, 20-x-y

#36687 chore: cherry-pick 819d876e1bb8 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-819d876e1bb8.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#36578 chore: cherry-pick 65ad70274d4b from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-65ad70274d4b.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#36587 chore: cherry-pick 0d4862e31aca and c4e7fe2f2e1b from chromium
  patches/chromium/.patches
  patches/chromium/mojo_disable_sync_call_interrupts_in_the_browser.patch
  patches/chromium/mojo_validate_that_a_message_is_allowed_to_use_the_sync_flag.patch
Labels: security 🔒, semver/patch, backport-check-skip, 20-x-y

#36682 chore: cherry-pick 77208afba04d from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-77208afba04d.patch
Labels: security 🔒, semver/patch, backport-check-skip, 20-x-y

#36666 fix: use chrome headers in net.request for everything except cookie
  lib/browser/api/net.ts
  shell/browser/api/electron_api_url_loader.cc
  spec/api-net-spec.ts
  typings/internal-ambient.d.ts
Labels: semver/patch, no-backport

#36577 chore: cherry-pick 42e15c2055c4 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-42e15c2055c4.patch
Labels: security 🔒, semver/patch, backport-check-skip, 20-x-y

#36702 docs: update visual studio min version
  docs/development/build-instructions-windows.md
Labels: documentation :notebook:, semver/patch, target/22-x-y, target/23-x-y
