Repository electron/electron, pull requests merged in 2023-03, with the labels that each got.

#37381 fix: `Notification` with reply obscuring first action on macOS
  shell/browser/notifications/mac/cocoa_notification.mm
Labels: semver/patch, target/22-x-y, target/23-x-y, target/24-x-y

#37420 fix: handle closing `webContents` in `BrowserView`s
  shell/browser/api/electron_api_browser_view.cc
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/api/electron_api_web_contents.cc
  spec/api-browser-view-spec.ts
Labels: semver/patch, target/22-x-y, target/23-x-y, target/24-x-y

#37315 feat: add enableLocalEcho flag to setDisplayMediaRequestHandler() callback
  docs/api/session.md
  shell/browser/electron_browser_context.cc
Labels: semver/minor, api-review/approved ✅, no-backport

#37306 fix: min/max width/height enforcement when `aspectRatio` is set
  shell/browser/ui/cocoa/electron_ns_window_delegate.mm
Labels: semver/patch, target/22-x-y, target/23-x-y, target/24-x-y

#37434 chore: improve `contents.takeHeapSnapshot` error messages
  shell/browser/api/electron_api_web_contents.cc
  spec/api-web-contents-spec.ts
Labels: semver/patch, target/22-x-y, target/23-x-y, target/24-x-y

#37439 fix: DCHECK in MessageSync in rare cases
  shell/browser/api/electron_api_web_contents.cc
Labels: semver/patch, no-backport

#37438 docs(clipboard): fix an issue of demo code
  docs/api/clipboard.md
Labels: documentation :notebook:, semver/patch, no-backport

#37466 fix: draggable regions on MAS
  shell/browser/ui/cocoa/electron_ns_window.mm
Labels: semver/patch, new-pr 🌱, target/23-x-y, target/24-x-y

#36606 feat: net.fetch() supports custom protocols
  docs/api/net.md
  docs/api/session.md
  lib/browser/api/net-client-request.ts
  lib/browser/api/net-fetch.ts
  shell/browser/api/electron_api_url_loader.cc
  shell/browser/api/electron_api_url_loader.h
  spec/api-net-spec.ts
  spec/fixtures/hello.txt
Labels: semver/minor, api-review/approved ✅, no-backport

#37452 refactor: leverage Skia helpers for NSColor ANSI logic
  filenames.gni
  shell/browser/api/electron_api_system_preferences_mac.mm
  shell/browser/ui/cocoa/NSColor+Hex.h
  shell/browser/ui/cocoa/NSColor+Hex.mm
  shell/browser/ui/cocoa/NSString+ANSI.mm
Labels: semver/patch, target/23-x-y, target/24-x-y

#37481 chore: cherry-pick aeec1ba5893d from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-aeec1ba5893d.patch
Labels: security 🔒, semver/patch, backport-check-skip, 22-x-y

#37464 fix: don't double-log unhandled rejections
  shell/browser/electron_browser_main_parts.cc
  shell/renderer/electron_renderer_client.cc
  spec/fixtures/api/unhandled-rejection-handled.js
  spec/fixtures/api/unhandled-rejection.js
  spec/node-spec.ts
Labels: semver/patch, target/22-x-y, target/23-x-y, target/24-x-y

#37485 chore: cherry-pick 218b56e51638 from webrtc
  patches/webrtc/.patches
  patches/webrtc/cherry-pick-218b56e51638.patch
Labels: security 🔒, semver/patch, backport-check-skip, 22-x-y

#37478 chore: cherry-pick 999cc7185e93 and 0f0b3a54c53c from chromium
  patches/chromium/.patches
  patches/chromium/m108-lts_further_simplify_webmediaplayermscompositor_lifetime.patch
  patches/chromium/m108-lts_simplify_webmediaplayermscompositor_destruction.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#37440 fix: Showing the about panel is async on all platforms
  docs/api/app.md
  shell/browser/browser_linux.cc
  shell/browser/browser_win.cc
  spec/api-app-spec.ts
Labels: semver/patch, target/24-x-y

#37483 chore: cherry-pick 06851790480e from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-06851790480e.patch
Labels: security 🔒, semver/patch, backport-check-skip, 22-x-y

#37480 chore: cherry-pick e79b89b47dac from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-e79b89b47dac.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#37366 feat: expose `audio-state-changed` on `webContents`
  docs/api/web-contents.md
  shell/browser/api/electron_api_web_contents.cc
  spec/api-web-contents-spec.ts
Labels: semver/minor, api-review/approved ✅, target/24-x-y

#37514 docs: remove misleading info from will-finish-launching docs
  docs/api/app.md
Labels: documentation :notebook:, new-pr 🌱, semver/none, target/23-x-y, target/24-x-y

#37441 fix: WebUSB on ARM64 macs
  patches/chromium/.patches
  patches/chromium/chore_defer_usb_service_getdevices_request_until_usb_service_is.patch
  shell/browser/feature_list.cc
Labels: semver/patch, target/23-x-y, target/24-x-y

#37484 chore: cherry-pick 06851790480e from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-06851790480e.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#37479 chore: cherry-pick e79b89b47dac from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-e79b89b47dac.patch
Labels: security 🔒, semver/patch, backport-check-skip, 22-x-y

#37486 chore: cherry-pick 218b56e51638 from webrtc
  patches/webrtc/.patches
  patches/webrtc/cherry-pick-218b56e51638.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#37455 docs: fixup WebUSB fiddle
  docs/fiddles/features/web-usb/main.js
  docs/fiddles/features/web-usb/renderer.js
Labels: documentation :notebook:, semver/patch, target/23-x-y, target/24-x-y

#37511 fix: fallback to X11 capturer if pipewire fails on Wayland
  patches/config.json
  patches/webrtc/.patches
  patches/webrtc/fix_fallback_to_x11_capturer_on_wayland.patch
  shell/browser/api/electron_api_desktop_capturer.cc
Labels: semver/patch, target/23-x-y, target/24-x-y

#37523 docs: remove outdated ipc example
  docs/api/web-contents.md
Labels: documentation :notebook:, semver/none, target/23-x-y, target/24-x-y

#37482 chore: cherry-pick aeec1ba5893d from chromium
  patches/chromium/.patches
  patches/chromium/fix_uaf_problem_in_anglevulkanimagebacking.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#37362 refactor: `createThumbnailFromPath` takes `size` not `maxSize`
  docs/api/native-image.md
  docs/breaking-changes.md
  shell/common/api/electron_api_native_image_win.cc
  spec/api-native-image-spec.ts
  spec/fixtures/assets/capybara.png
Labels: semver/major, api-review/approved ✅, target/24-x-y

#37477 chore: cherry-pick 999cc7185e93 and 0f0b3a54c53c from chromium
  patches/chromium/.patches
  patches/chromium/m108-lts_further_simplify_webmediaplayermscompositor_lifetime.patch
  patches/chromium/m108-lts_simplify_webmediaplayermscompositor_destruction.patch
Labels: security 🔒, semver/patch, backport-check-skip, 22-x-y

#37567 chore: fixup filenames.libcxx.gni
  filenames.libcxx.gni
Labels: fast-track 🚅, semver/none, no-backport

#37496 refactor: DEPS: remove squirrel.mac from recursedeps
  DEPS
Labels: semver/none, no-backport

#37564 docs: clarify `open-url` not preventable
  docs/api/app.md
Labels: documentation :notebook:, semver/patch, target/22-x-y, target/23-x-y, target/24-x-y

#37530 fix: don't set delegate for `QLPreviewPanel`
  shell/browser/ui/cocoa/electron_ns_window.mm
  spec/api-browser-window-spec.ts
Labels: semver/patch, target/22-x-y, target/23-x-y, target/24-x-y

#37570 refactor: replace deprecated base::Value::Set<Type>Key usage
  shell/browser/hid/hid_chooser_context.cc
  shell/browser/ui/inspectable_web_contents.cc
  shell/browser/usb/usb_chooser_context.cc
  shell/browser/web_contents_preferences.cc
  shell/common/gin_converters/hid_device_info_converter.h
Labels: semver/patch, no-backport

#37588 chore: update filenames.libcxx.gni
  filenames.libcxx.gni
Labels: fast-track 🚅, semver/none, no-backport

#37580 docs: delete synopsis.md
  docs/README.md
  docs/api/synopsis.md
  filenames.auto.gni
  spec/ts-smoke/electron/main.ts
Labels: documentation :notebook:, semver/patch, target/23-x-y, target/24-x-y

#37610 docs: update broken links
  docs/api/app.md
  docs/api/notification.md
  docs/api/push-notifications.md
  docs/development/creating-api.md
  docs/development/debugging-on-windows.md
  docs/tutorial/code-signing.md
  docs/tutorial/tutorial-6-publishing-updating.md
Labels: documentation :notebook:, semver/patch, target/23-x-y, target/24-x-y

#37591 chore: remove unnecessary casting to base::Value
  shell/browser/api/electron_api_debugger.cc
  shell/browser/api/electron_api_web_request.cc
  shell/browser/ui/inspectable_web_contents.cc
  shell/browser/ui/webui/accessibility_ui.cc
  shell/common/gin_converters/net_converter.cc
Labels: semver/patch, no-backport

#37599 fix: invoke `app.dock.{hide|show}` instead of duplicating logic
  shell/browser/native_window_mac.mm
Labels: semver/patch, target/22-x-y, target/23-x-y, target/24-x-y

#37604 feat: Allow usage of an absolute path for partitions used in a session
  docs/api/session.md
  lib/browser/api/session.ts
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_session.h
  shell/browser/electron_browser_context.cc
  shell/browser/electron_browser_context.h
  spec/api-session-spec.ts
  typings/internal-ambient.d.ts
Labels: semver/minor, new-pr 🌱, api-review/requested 🗳, no-backport

#37626 ci: make sure that strip_binary.gni is properly preserved
  .circleci/config/base.yml
Labels: semver/none, no-backport

#37603 docs: change MSDN links to new Microsoft docs
  docs/api/app.md
  docs/api/auto-updater.md
  docs/api/browser-window.md
  docs/api/native-image.md
  docs/api/system-preferences.md
  docs/faq.md
  docs/fiddles/menus/customize-menus/index.html
  docs/tutorial/recent-documents.md
  docs/tutorial/using-native-node-modules.md
Labels: documentation :notebook:, semver/patch, target/23-x-y, target/24-x-y

#37602 docs: update notifications tutorial
  docs/api/notification.md
  docs/images/notification-main.png
  docs/images/notification-renderer.png
  docs/tutorial/notifications.md
Labels: documentation :notebook:, semver/patch, target/23-x-y, target/24-x-y

#37648 chore: cherry-pick 26bfa5807606 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-26bfa5807606.patch
Labels: security 🔒, semver/patch, backport-check-skip, 22-x-y

#37672 chore: cherry-pick 546e00df97ac from v8
  patches/v8/.patches
  patches/v8/cherry-pick-546e00df97ac.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#37656 chore: cherry-pick 55e2b6daba9d from angle
  patches/angle/.patches
  patches/angle/cherry-pick-55e2b6daba9d.patch
Labels: security 🔒, semver/patch, backport-check-skip, 22-x-y

#37666 chore: cherry-pick d202ad3c6aeb from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-d202ad3c6aeb.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#37663 chore: cherry-pick f6ddbf42b1ea from v8
  patches/v8/.patches
  patches/v8/cherry-pick-f6ddbf42b1ea.patch
Labels: security 🔒, semver/patch, backport-check-skip, 22-x-y

#37664 chore: cherry-pick f6ddbf42b1ea from v8
  patches/v8/.patches
  patches/v8/cherry-pick-f6ddbf42b1ea.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#37671 chore: cherry-pick 546e00df97ac from v8
  patches/v8/.patches
  patches/v8/cherry-pick-546e00df97ac.patch
Labels: security 🔒, semver/patch, backport-check-skip, 22-x-y

#37668 chore: cherry-pick 38de42d2bbc3 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-38de42d2bbc3.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#37669 chore: cherry-pick 86fc0e9bedaf and 8d52bc14b306 from chromium
  patches/chromium/.patches
  patches/chromium/m108-lts_do_not_register_browser_watcher_activity_report_with.patch
  patches/chromium/m108-lts_prevent_potential_integer_overflow_in.patch
Labels: security 🔒, semver/patch, backport-check-skip, 22-x-y

#37683 ci: update appveyor image to e-112.0.5615.29
  appveyor-bake.yml
  appveyor-woa.yml
  appveyor.yml
  script/prepare-appveyor.js
Labels: backport-check-skip, semver/none, 24-x-y

#37685 ci: update appveyor image to e-110.0.5481.208
  appveyor-bake.yml
  appveyor-woa.yml
  appveyor.yml
  script/prepare-appveyor.js
Labels: backport-check-skip, semver/none, 23-x-y

#37601 fix: allow cancelling of bluetooth requests
  docs/api/web-contents.md
  docs/fiddles/features/web-bluetooth/index.html
  docs/fiddles/features/web-bluetooth/main.js
  docs/fiddles/features/web-bluetooth/preload.js
  docs/fiddles/features/web-bluetooth/renderer.js
  shell/browser/lib/bluetooth_chooser.cc
  shell/browser/lib/bluetooth_chooser.h
Labels: semver/patch, target/22-x-y, target/23-x-y, target/24-x-y

#37698 chore: cherry-pick a0d16d18d072 from pdfium
  patches/config.json
  patches/pdfium/.patches
  patches/pdfium/cherry-pick-a0d16d18d072.patch
Labels: security 🔒, semver/patch, backport-check-skip, 22-x-y

#37706 docs: change MSDN links to new Microsoft docs
  docs/api/app.md
  docs/api/auto-updater.md
  docs/api/browser-window.md
  docs/api/native-image.md
  docs/api/system-preferences.md
  docs/faq.md
  docs/fiddles/menus/customize-menus/index.html
  docs/tutorial/recent-documents.md
  docs/tutorial/using-native-node-modules.md
Labels: backport, semver/patch, 23-x-y

#37708 chore: cherry-pick 6da1a8953313 from angle
  patches/angle/.patches
  patches/angle/cherry-pick-6da1a8953313.patch
Labels: security 🔒, semver/patch, backport-check-skip, 23-x-y

#37699 chore: cherry-pick a0d16d18d072 from pdfium
  patches/config.json
  patches/pdfium/.patches
  patches/pdfium/cherry-pick-a0d16d18d072.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#37696 chore: cherry-pick ce029c91a662 from angle
  patches/angle/.patches
  patches/angle/cherry-pick-ce029c91a662.patch
Labels: security 🔒, semver/patch, backport-check-skip, 22-x-y

#37692 chore: cherry-pick 1235110fce18 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-1235110fce18.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#37691 chore: cherry-pick 1235110fce18 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-1235110fce18.patch
Labels: security 🔒, semver/patch, backport-check-skip, 22-x-y

#37687 docs: delete synopsis.md
  docs/README.md
  docs/api/synopsis.md
  filenames.auto.gni
  spec/ts-smoke/electron/main.ts
Labels: backport, semver/patch, 24-x-y

#37711 docs: fixup incorrect value for disabling sandbox
  docs/tutorial/sandbox.md
Labels: documentation :notebook:, semver/patch, target/22-x-y, target/23-x-y, target/24-x-y

#37662 chore: cherry-pick 0407102d19b9 and 183a57f4eabc from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-0407102d19b9.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#37585 fix: crash in `MessagePortMain` with some `postMessage` params
  shell/browser/api/message_port.cc
  spec/api-ipc-spec.ts
Labels: semver/patch, target/22-x-y, target/23-x-y, target/24-x-y

#37658 chore: cherry-pick 8731bd8a30f6 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-8731bd8a30f6.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#37655 chore: cherry-pick aeceeb2187a6 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-aeceeb2187a6.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#37659 chore: cherry-pick bfd926be8178 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-bfd926be8178.patch
Labels: security 🔒, semver/patch, backport-check-skip, 22-x-y

#37652 chore: cherry-pick 56bd20b295b4 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-56bd20b295b4.patch
Labels: security 🔒, semver/patch, backport-check-skip, 22-x-y

#37661 chore: cherry-pick 0407102d19b9 and 183a57f4eabc from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-0407102d19b9.patch
  patches/chromium/fix_crash_in_annotationagentimpl.patch
Labels: security 🔒, semver/patch, backport-check-skip, 22-x-y

#37593 chore: generator objects can't be sent over the context bridge
  shell/renderer/api/electron_api_context_bridge.cc
Labels: semver/patch, target/22-x-y, target/23-x-y, target/24-x-y

#37670 chore: cherry-pick 86fc0e9bedaf and 8d52bc14b306 from chromium
  patches/chromium/.patches
  patches/chromium/m108-lts_do_not_register_browser_watcher_activity_report_with.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#37695 chore: cherry-pick b041159d06ad from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-b041159d06ad.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#37720 fix: allow cancelling of bluetooth requests
  docs/api/web-contents.md
  docs/fiddles/features/web-bluetooth/index.html
  docs/fiddles/features/web-bluetooth/main.js
  docs/fiddles/features/web-bluetooth/preload.js
  docs/fiddles/features/web-bluetooth/renderer.js
  shell/browser/lib/bluetooth_chooser.cc
  shell/browser/lib/bluetooth_chooser.h
Labels: backport, semver/patch, target/22-x-y, 23-x-y

#37594 fix: draggable regions shouldn't capture clicks on frames windows
  shell/browser/api/electron_api_web_contents.cc
Labels: semver/patch, target/23-x-y, target/24-x-y

#37554 docs: updated package.json content and electron version in build first app guide
  docs/tutorial/tutorial-2-first-app.md
Labels: documentation :notebook:, semver/patch, target/23-x-y, target/24-x-y

#34418 feat: add `will-frame-navigate` event
  docs/api/web-contents.md
  docs/api/webview-tag.md
  lib/browser/guest-view-manager.ts
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/electron_navigation_throttle.cc
  spec/api-browser-window-spec.ts
  spec/fixtures/pages/webview-will-navigate-in-frame.html
  spec/webview-spec.ts
Labels: semver/minor, api-review/approved ✅, target/24-x-y

#37738 chore: cherry-pick 86fc0e9bedaf from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-86fc0e9bedaf.patch
  patches/chromium/cherry-pick-d202ad3c6aeb.patch
Labels: semver/patch, backport-check-skip, 21-x-y

#37694 chore: cherry-pick b041159d06ad from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-b041159d06ad.patch
Labels: security 🔒, semver/patch, backport-check-skip, 22-x-y

#37693 chore: cherry-pick b5c9e5efe5dd from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-b5c9e5efe5dd.patch
Labels: security 🔒, semver/patch, backport-check-skip, 22-x-y

#37707 docs: update docs.microsoft.com links to learn.microsoft.com
  docs/api/app.md
  docs/api/structures/printer-info.md
  docs/api/tray.md
  docs/development/azure-vm-setup.md
  docs/development/debugging-on-windows.md
  docs/development/testing.md
  docs/glossary.md
  docs/tutorial/code-signing.md
  docs/tutorial/tutorial-2-first-app.md
  docs/tutorial/windows-arm.md
  docs/tutorial/windows-taskbar.md
Labels: documentation :notebook:, semver/patch, target/23-x-y, target/24-x-y

#37651 chore: cherry-pick 9aa4c45f21b1 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-9aa4c45f21b1.patch
Labels: security 🔒, semver/patch, backport-check-skip, 21-x-y

#37755 chore: update line endings on HTML files
  docs/fiddles/menus/customize-menus/index.html
  docs/fiddles/menus/shortcuts/index.html
  docs/fiddles/native-ui/dialogs/error-dialog/index.html
  docs/fiddles/native-ui/dialogs/information-dialog/index.html
  docs/fiddles/native-ui/dialogs/open-file-or-directory/index.html
  docs/fiddles/native-ui/dialogs/save-dialog/index.html
  docs/fiddles/native-ui/drag-and-drop/index.html
  docs/fiddles/native-ui/external-links-file-manager/index.html
  docs/fiddles/native-ui/notifications/index.html
  docs/fiddles/native-ui/tray/index.html
  docs/fiddles/windows/manage-windows/frameless-window/index.html
  docs/fiddles/windows/manage-windows/manage-window-state/index.html
  docs/fiddles/windows/manage-windows/window-events/index.html
  spec/fixtures/api/frame-subscriber.html
  spec/fixtures/api/offscreen-rendering.html
  spec/fixtures/api/service-workers/index.html
  spec/fixtures/api/service-workers/logs.html
Labels: fast-track 🚅, semver/none, no-backport

#37745 ci: don't use pull_request_target with semantic PR title check
  .github/workflows/semantic.yml
Labels: semver/none, no-backport

#37760 docs: add links to IPC event structures
  docs/api/structures/ipc-main-event.md
  docs/api/structures/ipc-main-invoke-event.md
  docs/api/structures/ipc-renderer-event.md
Labels: documentation :notebook:, semver/patch, new-pr 🌱, target/23-x-y, target/24-x-y

#37754 docs: fixup WebUSB fiddle
  docs/fiddles/features/web-usb/main.js
  docs/fiddles/features/web-usb/renderer.js
Labels: backport, semver/patch, 23-x-y

#37765 build: fix build-tools schema in config
  .devcontainer/on-create-command.sh
Labels: semver/none, target/23-x-y, target/24-x-y

#37747 build: remove request dependency
  appveyor-woa.yml
  appveyor.yml
  spec/package.json
  spec/yarn.lock
Labels: semver/none, no-backport

#37766 fix: set background color for menu bar on Windows
  shell/browser/ui/views/menu_bar.cc
  shell/browser/ui/views/menu_bar.h
Labels: semver/patch, target/23-x-y, target/24-x-y
