Repository electron/electron, pull requests merged in 2024-05, with the labels that each got.

#41983 chore: cherry-pick 2 changes from 1-M124
  patches/DirectXShaderCompiler/.patches
  patches/DirectXShaderCompiler/cherry-pick-bc18aec94c82.patch
  patches/angle/.patches
  patches/angle/cherry-pick-ba3b4e239620.patch
Labels: security 🔒, semver/patch, backport-check-skip, 28-x-y

#41990 chore: fixup gn check when enable_pdf_viewer is false
  shell/app/electron_content_client.cc
  shell/browser/electron_browser_client.cc
  shell/renderer/renderer_client_base.cc
Labels: semver/none, in-flight/30-x-y, target/31-x-y

#42006 chore: disable tests that require nut.js
  spec/api-browser-window-spec.ts
  spec/disabled-tests.json
  spec/package.json
  spec/yarn.lock
Labels: semver/patch, fast-track 🚅, target/28-x-y, target/29-x-y, target/30-x-y, target/31-x-y

#42022 chore: disable tests that require nut.js
  spec/disabled-tests.json
  spec/package.json
  spec/yarn.lock
Labels: backport, semver/none, target/28-x-y, 29-x-y

#41997 chore: fixup gn check when enable_pdf_viewer is false
  shell/app/electron_content_client.cc
  shell/browser/electron_browser_client.cc
  shell/renderer/renderer_client_base.cc
Labels: backport, semver/none, 30-x-y

#42007 chore: cherry-pick 2 changes from 2-M124
  patches/DirectXShaderCompiler/.patches
  patches/DirectXShaderCompiler/cherry-pick-bd7aa9779873.patch
  patches/chromium/.patches
  patches/chromium/cherry-pick-98bcf9ef5cdd.patch
Labels: security 🔒, semver/patch, backport-check-skip, 29-x-y

#41984 chore: cherry-pick 1 changes from 0-M124
  patches/chromium/.patches
  patches/chromium/bindings_refactor_domdatastore.patch
  patches/chromium/merge_fix_domarraybuffer_isdetached_and_comment_out_a_check.patch
Labels: security 🔒, semver/patch, backport-check-skip, 29-x-y

#42028 docs: fix lint command
  docs/development/coding-style.md
Labels: documentation :notebook:, semver/patch, no-backport

#42008 chore: cherry-pick 2 changes from 2-M124
  patches/DirectXShaderCompiler/.patches
  patches/DirectXShaderCompiler/cherry-pick-bd7aa9779873.patch
  patches/chromium/.patches
  patches/chromium/cherry-pick-98bcf9ef5cdd.patch
Labels: security 🔒, semver/patch, backport-check-skip, 28-x-y

#42049 fix: cherry-pick fix thumbnail size patch for macOS
  patches/chromium/.patches
  patches/chromium/cherry-pick-c1f25647c2fc.patch
Labels: backport, semver/patch, backport-check-skip, 29-x-y

#42046 fix: do not defer construction by one microtick in stream
  patches/node/.patches
  patches/node/stream_do_not_defer_construction_by_one_microtick.patch
Labels: backport, semver/patch, backport-check-skip, 30-x-y

#42052 docs: update formatting for mdx3 compatibility
  docs/api/base-window.md
  docs/api/browser-window.md
  docs/api/net.md
  docs/api/session.md
  docs/development/debugging-with-symbol-server.md
  docs/tutorial/esm.md
  docs/tutorial/tutorial-1-prerequisites.md
  docs/tutorial/tutorial-2-first-app.md
Labels: documentation :notebook:, semver/patch, needs-manual-bp/30-x-y, target/31-x-y

#42057 chore: cherry-pick 22871e619f from chromium
  patches/chromium/.patches
  patches/chromium/a11y_avoid_clearing_resetting_focus_on_an_already_focus_event.patch
Labels: semver/patch, backport-check-skip, target/28-x-y

#42047 fix: do not defer construction by one microtick in streams
  patches/node/.patches
  patches/node/stream_do_not_defer_construction_by_one_microtick.patch
Labels: backport, semver/patch, backport-check-skip, 29-x-y

#42042 ci: keep GitHub Actions up to date with GitHub's Dependabot
  .github/dependabot.yml
Labels: semver/none, no-backport

#42068 chore: cherry-pick 013961609785 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-013961609785.patch
Labels: semver/patch, backport-check-skip, 30-x-y

#42069 chore: cherry-pick 013961609785 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-013961609785.patch
Labels: semver/patch, backport-check-skip, 29-x-y

#42090 chore: cherry-pick 1 changes from 3-M124
  patches/angle/.patches
  patches/angle/cherry-pick-c67f290ef0f0.patch
Labels: security 🔒, semver/patch, backport-check-skip, 29-x-y

#42093 chore: cherry-pick 8a3bfd4b7403 from devtools-frontend
  patches/devtools-frontend/.patches
  patches/devtools-frontend/cherry-pick-8a3bfd4b7403.patch
Labels: semver/patch, backport-check-skip, 28-x-y

#42098 chore: cherry-pick b2cc7b7ac538 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-b2cc7b7ac538.patch
Labels: semver/patch, backport-check-skip, 28-x-y

#42097 chore: cherry-pick b2cc7b7ac538 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-b2cc7b7ac538.patch
Labels: semver/patch, backport-check-skip, 29-x-y

#42096 chore: cherry-pick b2cc7b7ac538 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-b2cc7b7ac538.patch
Labels: semver/patch, backport-check-skip, 30-x-y

#42095 chore: cherry-pick b2cc7b7ac538 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-b2cc7b7ac538.patch
Labels: semver/patch, backport-check-skip, 31-x-y

#42092 chore: cherry-pick 013961609785 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-013961609785.patch
Labels: semver/patch, backport-check-skip, 28-x-y

#42091 chore: cherry-pick 1 changes from 3-M124
  patches/angle/.patches
  patches/angle/cherry-pick-c67f290ef0f0.patch
Labels: security 🔒, semver/patch, backport-check-skip, 28-x-y

#42048 fix: `BrowserWindow.center()` should center relative to screen
  shell/browser/native_window_views.cc
Labels: semver/patch, target/30-x-y, target/31-x-y

#42099 docs: update formatting for mdx3 compatibility
  docs/api/base-window.md
  docs/api/browser-window.md
  docs/api/net.md
  docs/api/session.md
  docs/api/web-contents.md
  docs/development/debugging-with-symbol-server.md
  docs/tutorial/esm.md
  docs/tutorial/tutorial-1-prerequisites.md
  docs/tutorial/tutorial-2-first-app.md
Labels: backport, semver/patch, 30-x-y

#42067 fix: CHECK when adding view as its own child
  shell/browser/api/electron_api_view.cc
  spec/api-view-spec.ts
Labels: semver/patch, target/30-x-y, target/31-x-y

#42045 refactor: use `//ui/shell_dialogs` on Linux
  BUILD.gn
  filenames.gni
  patches/chromium/.patches
  patches/chromium/feat_add_support_for_missing_dialog_features_to_shell_dialogs.patch
  patches/chromium/make_gtk_getlibgtk_public.patch
  shell/browser/electron_browser_main_parts.cc
  shell/browser/ui/file_dialog_gtk.cc
  shell/browser/ui/file_dialog_linux.cc
Labels: semver/patch, target/29-x-y, target/30-x-y, target/31-x-y

#41991 perf: avoid protocol registry redundant lookup
  shell/browser/api/electron_api_protocol.cc
  shell/browser/protocol_registry.cc
  shell/browser/protocol_registry.h
  shell/browser/ui/inspectable_web_contents.cc
  shell/common/api/electron_api_url_loader.cc
Labels: performance :checkered_flag:, semver/patch, no-backport

#42103 chore: cherry-pick 19a4eebd05a7 from devtools-frontend
  patches/devtools-frontend/.patches
  patches/devtools-frontend/cherry-pick-19a4eebd05a7.patch
Labels: semver/patch, backport-check-skip, 28-x-y

#42085 fix: View reordering on re-addition to same parent
  docs/api/view.md
  shell/browser/api/electron_api_view.cc
  shell/browser/api/electron_api_view.h
  spec/api-view-spec.ts
  spec/api-web-contents-view-spec.ts
Labels: semver/patch, target/30-x-y, target/31-x-y

#42078 chore: update @electron/lint-roller to 2.1.0
  .lint-roller.json
  .markdownlint.json
  docs/api/context-bridge.md
  docs/tutorial/offscreen-rendering.md
  docs/tutorial/progress-bar.md
  package.json
  yarn.lock
Labels: semver/none, no-backport

#42123 chore: cherry-pick f320600cd1f4 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-f320600cd1f4.patch
Labels: semver/patch, backport-check-skip, 29-x-y

#42124 chore: cherry-pick f320600cd1f4 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-f320600cd1f4.patch
Labels: semver/patch, backport-check-skip, 28-x-y

#42120 chore: cherry-pick f320600cd1f4 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-f320600cd1f4.patch
Labels: semver/patch, main, merged/28-x-y, merged/29-x-y, in-flight/30-x-y, in-flight/31-x-y

#42121 chore: cherry-pick f320600cd1f4 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-f320600cd1f4.patch
Labels: semver/patch, backport-check-skip, 31-x-y

#42128 fix: backport patches making io_uring backend opt-in for libuv
  patches/node/.patches
  patches/node/deps_disable_io_uring_support_in_libuv_by_default.patch
  patches/node/src_deps_disable_setuid_etc_if_io_uring_enabled.patch
Labels: security 🔒, semver/minor, fast-track 🚅, backport-check-skip, no-backport, 29-x-y

#42132 fix: ensure originalFs.promises.cp works
  patches/node/build_add_gn_build_files.patch
  patches/node/build_only_create_cppgc_heap_on_non-32_bit_platforms.patch
Labels: semver/patch, new-pr 🌱, target/30-x-y, target/31-x-y

#42056 fix: BrowserView autoresizing conversion error
  lib/browser/api/browser-view.ts
  shell/common/gin_converters/gfx_converter.cc
  spec/api-browser-window-spec.ts
Labels: semver/patch, target/30-x-y, target/31-x-y

#42044 ci: auto label bug issues with version label
  .github/workflows/issue-opened.yml
Labels: semver/none, no-backport

#42112 docs: fixing typo in dark mode fiddle and doc
  docs/fiddles/features/dark-mode/index.html
  docs/tutorial/dark-mode.md
Labels: documentation :notebook:, semver/patch, no-backport

#42111 docs: improve protocol.handle file examples
  docs/api/protocol.md
Labels: semver/patch, target/30-x-y, target/31-x-y

#42122 chore: cherry-pick f320600cd1f4 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-f320600cd1f4.patch
Labels: semver/patch, backport-check-skip, 30-x-y

#41169 refactor: use base::Value::Take*()
  shell/browser/extensions/electron_extension_system.cc
  shell/common/asar/archive.cc
  shell/common/gin_converters/net_converter.cc
  shell/common/gin_converters/value_converter.cc
Labels: semver/patch, no-backport

#42126 fix: partially revert invalidate focus ring
  patches/chromium/.patches
  patches/chromium/fix_partially_revert_invalidate_focusring.patch
Labels: semver/patch, target/30-x-y, target/31-x-y

#42129 test: add tests for electron fuses
  shell/common/asar/archive.cc
  spec/api-autoupdater-darwin-spec.ts
  spec/asar-integrity-spec.ts
  spec/fixtures/apps/hello/hello.js
  spec/lib/codesign-helpers.ts
  spec/lib/fs-helpers.ts
  spec/node-spec.ts
  spec/package.json
  spec/yarn.lock
Labels: semver/none, target/30-x-y, target/31-x-y

#42144 refactor: use `//ui/shell_dialogs` on Linux
  BUILD.gn
  filenames.gni
  patches/chromium/.patches
  patches/chromium/feat_add_support_for_missing_dialog_features_to_shell_dialogs.patch
  patches/chromium/make_gtk_getlibgtk_public.patch
  shell/browser/electron_browser_main_parts.cc
  shell/browser/ui/file_dialog_gtk.cc
  shell/browser/ui/file_dialog_linux.cc
Labels: backport, semver/patch, 29-x-y

#42148 test: add tests for electron fuses
  shell/common/asar/archive.cc
  spec/api-autoupdater-darwin-spec.ts
  spec/asar-integrity-spec.ts
  spec/fixtures/apps/hello/hello.js
  spec/lib/codesign-helpers.ts
  spec/lib/fs-helpers.ts
  spec/node-spec.ts
  spec/package.json
  spec/yarn.lock
Labels: backport, semver/none, 30-x-y

#42153 chore: update patches after #42126 was merged
  patches/chromium/fix_partially_revert_invalidate_focusring.patch
Labels: fast-track 🚅, semver/none, no-backport

#42156 chore: update patches after #42126 was merged
  patches/chromium/fix_partially_revert_invalidate_focusring.patch
Labels: fast-track 🚅, backport-check-skip, semver/none, 31-x-y

#42173 chore: cherry-pick b3c01ac1e60a from v8
  patches/v8/.patches
  patches/v8/cherry-pick-b3c01ac1e60a.patch
Labels: semver/patch, backport-check-skip, 31-x-y

#42177 build: ignore node version mismatch for electron 30 tests
  script/spec-runner.js
Labels: backport-check-skip, semver/none, no-backport

#42175 chore: cherry-pick b3c01ac1e60a from v8
  patches/v8/.patches
  patches/v8/cherry-pick-b3c01ac1e60a.patch
Labels: semver/patch, backport-check-skip, 29-x-y

#42151 fix: `setTitleBarOverlay` should be implemented on `BaseWindow`
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/api/electron_api_browser_window.h
Labels: backport, semver/patch, 30-x-y

#42127 chore: enable no autolink markdownlint rule
  .markdownlint.json
Labels: semver/none, no-backport

#42139 fix: `webContents.navigationHistory` should be enumerable
  lib/browser/api/web-contents.ts
  spec/api-web-contents-spec.ts
Labels: semver/patch, target/30-x-y, target/31-x-y

#42176 chore: cherry-pick b3c01ac1e60a from v8
  patches/v8/.patches
  patches/v8/cherry-pick-b3c01ac1e60a.patch
Labels: semver/patch, backport-check-skip, 28-x-y

#42179 fix: fix cast in ElectronDesktopWindowTreeHostLinux
  shell/browser/ui/electron_desktop_window_tree_host_linux.cc
Labels: semver/patch, fast-track 🚅, target/30-x-y, target/31-x-y

#42172 chore: cherry-pick b3c01ac1e60a from v8
  patches/v8/.patches
  patches/v8/cherry-pick-b3c01ac1e60a.patch
Labels: semver/patch, backport-check-skip, main, in-flight/28-x-y, in-flight/29-x-y, in-flight/30-x-y, in-flight/31-x-y

#42180 fix: restore non-panel focus behavior
  shell/browser/native_window_mac.mm
Labels: semver/patch, fast-track 🚅, target/30-x-y, target/31-x-y

#42174 chore: cherry-pick b3c01ac1e60a from v8
  patches/v8/.patches
  patches/v8/cherry-pick-b3c01ac1e60a.patch
Labels: semver/patch, backport-check-skip, 30-x-y

#42183 chore: remove focus ring patch
  patches/chromium/.patches
  patches/chromium/fix_partially_revert_invalidate_focusring.patch
Labels: semver/patch, new-pr 🌱, target/30-x-y, target/31-x-y

#42189 chore: remove focus ring patch
  patches/chromium/.patches
  patches/chromium/fix_partially_revert_invalidate_focusring.patch
Labels: backport, semver/patch, 30-x-y

#42027 docs: troubleshooting advice for rbe auth 'token not valid' error
  docs/development/build-instructions-gn.md
Labels: documentation :notebook:, semver/patch, no-backport

#42195 fix: `win.center()` on Windows
  shell/browser/native_window_views.cc
Labels: semver/patch, new-pr 🌱, target/30-x-y, target/31-x-y

#42152 fix: `setTitleBarOverlay` should be implemented on `BaseWindow`
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/api/electron_api_browser_window.h
Labels: backport, semver/patch, 29-x-y

#42053 feat: remove File.path
  docs/README.md
  docs/api/file-object.md
  docs/breaking-changes.md
  filenames.auto.gni
  patches/chromium/.patches
  patches/chromium/blink_file_path.patch
  spec/ts-smoke/electron/renderer.ts
Labels: semver/major, api-review/approved ✅, no-backport, deprecation-review/complete ✅

#42192 chore: use markdownlint-cli2 directly for linting Markdown
  .autofix.markdownlint-cli2.jsonc
  .markdownlint-cli2.jsonc
  .markdownlint.autofix.json
  .markdownlint.json
  package.json
  script/lint.js
  yarn.lock
Labels: new-pr 🌱, semver/none, no-backport

#42114 refactor: use raw_ref in RootView
  shell/browser/ui/views/root_view.cc
  shell/browser/ui/views/root_view.h
Labels: semver/patch, no-backport

#42193 build: cancel in-progress runs on new commits
  .github/workflows/macos-build.yml
Labels: semver/none, no-backport

#42213 docs: fix broken anchors
  docs/api/environment-variables.md
Labels: documentation :notebook:, semver/patch, new-pr 🌱, target/30-x-y, target/31-x-y

#42212 fix: rename patches/devtools_frontend to patches/devtools-frontend
  patches/config.json
  patches/devtools-frontend/.patches
  patches/devtools-frontend/cherry-pick-19a4eebd05a7.patch
  patches/devtools-frontend/cherry-pick-8a3bfd4b7403.patch
  patches/devtools-frontend/chore_expose_ui_to_allow_electron_to_set_dock_side.patch
  patches/devtools-frontend/fix_support_for_worklet_targets.patch
  patches/devtools_frontend/.patches
Labels: semver/patch, backport-check-skip

#42220 chore: cherry-pick 3 changes from 0-M125
  patches/DirectXShaderCompiler/.patches
  patches/DirectXShaderCompiler/cherry-pick-2a434fd0af6b.patch
  patches/chromium/.patches
  patches/chromium/cherry-pick-03609e39be8c.patch
  patches/v8/.patches
  patches/v8/cherry-pick-6503a987d966.patch
Labels: security 🔒, semver/patch, backport-check-skip, 29-x-y

#42226 fix: ensure showInactive actually shows
  shell/browser/native_window_mac.mm
Labels: semver/patch, fast-track 🚅, target/31-x-y

#42221 chore: cherry-pick 3 changes from 0-M125
  patches/DirectXShaderCompiler/.patches
  patches/DirectXShaderCompiler/cherry-pick-2a434fd0af6b.patch
  patches/chromium/.patches
  patches/chromium/cherry-pick-03609e39be8c.patch
  patches/v8/.patches
  patches/v8/cherry-pick-6503a987d966.patch
Labels: security 🔒, semver/patch, backport-check-skip, 28-x-y

#41360 refactor: prefer to inherit observer classes privately
  shell/browser/api/electron_api_desktop_capturer.h
  shell/browser/api/electron_api_global_shortcut.h
  shell/browser/api/electron_api_view.h
  shell/browser/api/frame_subscriber.h
  shell/browser/api/gpuinfo_manager.h
  shell/browser/api/save_page_handler.h
  shell/browser/browser.h
  shell/browser/cookie_change_notifier.h
  shell/browser/electron_autofill_driver_factory.h
  shell/browser/hid/hid_chooser_controller.h
  shell/browser/serial/serial_chooser_controller.h
  shell/browser/ui/autofill_popup.h
  shell/browser/usb/usb_chooser_controller.h
  shell/browser/web_contents_zoom_controller.h
  shell/browser/web_view_guest_delegate.h
  shell/renderer/electron_autofill_agent.h
  shell/renderer/electron_render_frame_observer.h
  shell/renderer/pepper_helper.h
Labels: semver/patch, no-backport

#42249 fix: fix TSF hang when using non-English IMEs
  patches/chromium/.patches
  patches/chromium/revert_fix_ime_prevent_tsf_hang_chromium_window_when_dpi_changed.patch
Labels: semver/patch, fast-track 🚅, backport-check-skip, 30-x-y

#42257 chore: cherry-pick 3e037e195e50 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-3e037e195e50.patch
Labels: semver/patch, backport-check-skip, 28-x-y

#42256 chore: cherry-pick 3e037e195e50 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-3e037e195e50.patch
Labels: semver/patch, backport-check-skip, 29-x-y

#42150 fix: `setTitleBarOverlay` should be implemented on `BaseWindow`
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/api/electron_api_browser_window.h
Labels: backport, semver/patch, 31-x-y

#42253 chore: cherry-pick 3e037e195e50 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-3e037e195e50.patch
Labels: semver/patch, new-pr 🌱, no-backport

#42255 chore: cherry-pick 3e037e195e50 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-3e037e195e50.patch
Labels: security 🔒, semver/patch, backport-check-skip, 30-x-y

#42254 chore: cherry-pick 3e037e195e50 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-3e037e195e50.patch
Labels: security 🔒, semver/patch, backport-check-skip, 31-x-y

#42275 fix: fixed the type of `WebviewTag.webpreferences`
  docs/api/structures/web-preferences.md
  docs/api/webview-tag.md
Labels: documentation :notebook:, semver/patch, target/30-x-y, target/31-x-y

#42260 fix: potential null dereference in normalizeSpawnArguments() patch
  patches/node/enable_crashpad_linux_node_processes.patch
Labels: semver/patch, target/29-x-y, target/30-x-y, target/31-x-y

#42235 docs: ensure all links are on a single line
  CODE_OF_CONDUCT.md
  README.md
  docs/api/app.md
  docs/api/auto-updater.md
  docs/api/content-tracing.md
  docs/api/environment-variables.md
  docs/api/extensions.md
  docs/api/ipc-renderer.md
  docs/api/net.md
  docs/api/protocol.md
  docs/api/session.md
  docs/api/web-contents.md
  docs/api/web-frame-main.md
  docs/breaking-changes.md
  docs/development/coding-style.md
  docs/development/source-code-directory-structure.md
  docs/tutorial/application-debugging.md
  docs/tutorial/application-distribution.md
  docs/tutorial/asar-archives.md
  docs/tutorial/code-signing.md
  docs/tutorial/launch-app-from-url-in-another-app.md
  docs/tutorial/notifications.md
Labels: documentation :notebook:, semver/patch, target/30-x-y, target/31-x-y

#42300 fix: restore original BrowserWindow.show() behavior
  shell/browser/native_window_mac.mm
Labels: semver/patch, fast-track 🚅, target/30-x-y, target/31-x-y

#42243 docs: fix broken notification-spec markdown link
  docs/tutorial/notifications.md
Labels: documentation :notebook:, semver/patch, target/31-x-y

#42285 build: update typescript-definitions to 8.15.6
  yarn.lock
Labels: backport, semver/none, 29-x-y

#42286 build: update typescript-definitions to 8.15.6
  yarn.lock
Labels: backport, semver/none, 30-x-y

#42237 refactor: inherit Observer classes privately, pt. 2
  shell/browser/api/electron_api_app.h
  shell/browser/api/electron_api_auto_updater.h
  shell/browser/api/electron_api_base_window.h
  shell/browser/api/electron_api_browser_window.h
  shell/browser/api/electron_api_debugger.h
  shell/browser/api/electron_api_download_item.h
  shell/browser/api/electron_api_in_app_purchase.h
  shell/browser/api/electron_api_menu.h
  shell/browser/api/electron_api_native_theme.h
  shell/browser/api/electron_api_power_monitor.h
  shell/browser/api/electron_api_push_notifications.h
  shell/browser/api/electron_api_screen.h
  shell/browser/api/electron_api_service_worker_context.h
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_session.h
  shell/browser/api/electron_api_tray.h
  shell/browser/api/electron_api_web_contents.h
  shell/browser/api/electron_api_web_contents_view.h
  shell/browser/electron_api_ipc_handler_impl.h
  shell/browser/electron_browser_client.h
  shell/browser/electron_web_contents_utility_handler_impl.h
  shell/browser/file_select_helper.h
  shell/browser/hid/electron_hid_delegate.cc
  shell/browser/login_handler.h
  shell/browser/native_window_views.h
  shell/browser/osr/osr_render_widget_host_view.h
  shell/browser/osr/osr_web_contents_view.h
  shell/browser/serial/electron_serial_delegate.h
  shell/browser/ui/electron_desktop_window_tree_host_linux.h
  shell/browser/ui/inspectable_web_contents.h
  shell/browser/ui/message_box_gtk.cc
  shell/browser/ui/views/autofill_popup_view.h
  shell/browser/ui/views/client_frame_view_linux.h
  shell/browser/ui/views/menu_bar.h
  shell/browser/ui/views/win_caption_button_container.h
  shell/browser/usb/electron_usb_delegate.cc
  shell/common/api/electron_api_url_loader.h
  shell/renderer/api/electron_api_ipc_renderer.cc
  shell/renderer/api/electron_api_web_frame.cc
Labels: semver/patch, no-backport

#42312 build: update NMV to 125
  build/args/all.gn
Labels: semver/none, target/31-x-y

#42304 chore: cherry-pick 22db6918bac9 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-22db6918bac9.patch
Labels: semver/patch, target/31-x-y

#42086 feat: Allow WebContentsView to accept webContents object.
  docs/api/web-contents-view.md
  shell/browser/api/electron_api_web_contents_view.cc
  spec/api-web-contents-view-spec.ts
Labels: semver/minor, api-review/approved ✅, target/31-x-y

#42315 fix: dialogs should work with BaseWindows internally
  lib/browser/api/dialog.ts
Labels: semver/patch, target/30-x-y, target/31-x-y

#42236 build: add GitHub Actions publishing pipeline for macOS
  .github/workflows/config/evm.mas.json
  .github/workflows/macos-build.yml
  .github/workflows/macos-publish.yml
  script/actions/move-artifacts.sh
  script/actions/restore-artifacts.sh
  script/lib/azput.js
  script/release/ci-release-build.js
  script/release/find-github-release.js
  script/release/prepare-release.js
  script/release/publish-to-npm.js
  script/release/release.js
  script/release/uploaders/upload-to-github.ts
Labels: semver/none, no-backport, gh-actions-migration
